/* Global style of theme */

@import 'variables.less';

.wrapper {
    margin: 0 auto;
    position: relative;
	
	// Box layout
	&.box-layout {
		max-width: 1230px;
	}
	.page-wrapper {
		float: left;
		width: 100%;
	}
}
.count-down{
	display: none;
}
.container-fluid {
	padding: 0;
}
// Front page
.vc_row {

	.row-container {
		display: block;
		margin: 0 auto;
		max-width: 1200px;
		width: 100%;
		
		&:after{
			clear: both;
			content: "";
			display: block;
			height: 0;
			line-height: 0;
			visibility: hidden;
		}
	}
}
.front-page {
	.wpb_content_element {
		margin-bottom: 30px;
		
		.wpb_wrapper {
			& > h3 {
				color: @headingcolor;
				display: block;
				position: relative;
				font-weight: 600;
				font-size: 18px;
				text-transform: uppercase;
				font-family: @headingfont;
				letter-spacing: 5.5px;
				text-align: center;
			}
		}
		&.title-1 {
			text-align: center;
			margin-bottom: 35px;
			.wpb_wrapper {
				& > h3 {
					display: inline-block;
					padding-bottom: 30px;
					&:before {
						border: 2px double #ebebeb;
						border-left: 2px double #fff;
						border-right: 2px double #fff;
						bottom: 8px;
						content: "";
						display: block;
						height: 7px;
						left: 0;
						margin: 0 auto;
						position: absolute;
						right: 0;
					}
					&:after {
						background: #fff;
						display: block;
						color: @primarycolor;
						content: "\e650";
						font-family: "Pe-icon-7-stroke";
						font-size: 18px;
						margin: 0 auto;
						text-align: center;
						width: 31px;
						padding: 0 7px;
						position: absolute;
						bottom: 0;
						left: 0;
						right: 0;
					}
				}
			}
		}
		&.title-2 {
			border-bottom: 1px solid @bordercolor;
			margin-bottom: 35px;
			.wpb_wrapper {
				& > h3 {
					text-align: left;
					line-height: 40px;
					color: #848484;
					font-size: 16px;
					letter-spacing: 1.8px;
					&:after {
						width: 55px;
						height: 1px;
						content: "";
						display: block;
						background: @primarycolor;
					}
				}
			}
		}
		&.title-3 {
			margin-bottom: 35px;
			.wpb_wrapper {
				position: relative;
				&:before {
					background: @bordercolor;
				    content: "";
				    display: block;
				    height: 1px;
				    left: 0;
				    position: absolute;
				    right: 92px;
				    top: 50%;
				    z-index: 1;
				}
				& > h3 {
					text-align: left;
					color: @darkcolor;
					font-size: 24px;
					font-weight: bold;
					letter-spacing: 0;
					background: @white;
					text-transform: uppercase;
					display: inline-block;
					position: relative;
					z-index: 2;
					padding-right: 30px;
					&:before {
						content: "";
						display: block;
						width: 3px;
						height: 32px;
						background: @darkcolor;
						float: left;
						margin-right: 15px;
					}
				}
			}
		}
		&.no-bottom {
			.wpb_wrapper {
				& > h3 {
					padding: 0;
					&:before,
					&:after {
						display: none;
					}
				}
			}
		}
		&.grey {
			.wpb_wrapper {
				& > h3 {
					color: #848484;
				}
			}
		}
	}
	.vc_row {
		margin-bottom: 60px;
		
		.row-container {
			display: block;
			margin: 0 auto;
			max-width: 1200px;
			width: 100%;
			
			&:after{
				clear: both;
			    content: "";
			    display: block;
			    height: 0;
			    line-height: 0;
			    visibility: hidden;
			}
		}
	}
	.alignnone {
		margin: 0;
	}
	.aligncenter {
		margin: 0;
	}
	.alignright {
		margin: 0;
	}
	.alignleft {
		margin: 0;
	}
}
.section {
	-webkit-transition: all 1.5s ease;
	transition: all 1.5s ease;
}
.global-table {
	display: table;
	width: 100%;
	
	.global-row{
		display: table-row;
		
		.global-cell{
			display: table-cell;
			vertical-align: middle;
		}
	}
}
.group_table {
	float: left;
	width: 100%;
	
	.group-row {
		float: left;
		margin: 0 0 10px;
		width: 100%;
	}
}
.fancybox-title {
    font-family: @bodyfont;
    font-size: 14px;
}
.fancybox-social {
    display: inline-block;
    float: right;
    text-align: right;
}
.widget_wysija {
	position: relative;
}
.formError {
    left: 0 !important;
    top: 40px !important;
}

// Carousel buttons
.wrapper {
	.slick-slider {
		margin: 0;
		&:hover {
			button {
				opacity: 1;
				right: 0;

				&.slick-prev{
					left: 0;
				}
			}
		}
		.slick-list {
			// padding-top:30px;
			// padding-bottom: 5px;
		}
		.slick-slide {
			text-align: center;
			
			a {
				display: inline-block;
				max-width: 100%;
				vertical-align: middle;
			}
		}
		.slick-next,
		.slick-prev {
			height: 50px;
			width: 50px;
			text-align: center;
			line-height: 50px;
			display: block;
			right: 20px;
			left: auto;
			margin-top: -25px;
			opacity: 0;
			position: absolute;
			border: 2px solid @darkcolor;
			top: 50%;
			text-align: center;
			text-indent: -9999px;
			z-index: 2;
			-webkit-transition: all 0.3s ease;
			transition: all 0.3s ease;
			
			&:before {
				display: inline-block;
				color: @darkcolor;
				content: "\f0da";
				font-family: FontAwesome;
				font-size: 24px;
				text-indent: 0;
				position: absolute;
				top: 0;
				left: 0;
				bottom: 0;
				right: 0;
				line-height: 50px;
				text-align: center;
				.opacity(1);
			}
			&.slick-prev {
				left: 20px;
				right: auto;
				
				&:before {
					content: "\f0d9";
				}
			}
			&:hover {
				border-color: @primarycolor;
				&:before {
					color: @primarycolor;	
				}
			}
		}
		.slick-dots{
			bottom: 12px;
			right: 15px;
			margin: 10px 0 0;
			position: absolute;
			padding: 0;
			list-style: none;
			text-align: center;
			width: auto;
	
			li {
				display: inline-block;
				height: 10px;
				margin: 0 5px 0 0;
				width: 10px;
				border: 1px solid #cecece;
				border-radius: 100%;
				background: transparent;
				&:last-child {
					margin: 0;
				}
				&:hover, 
				&.slick-active {
					border-color: @primarycolor;	
					background: @primarycolor;			

					button {
						background: @primarycolor;
					}
				}
				button{
					background: #fff;
					border: none;
					height: 100%;
					width: 100%;
					border-radius: 100%;
					left: 0;
					right: 0;
					margin: auto;
					bottom: 0;
					top: 0;
					padding: 0;
					opacity: 1;

					&:before {
						display: none;
					}
				}
			}
		}
	}
	.slide-type-2 {
		.slick-slider {
			.slick-prev,
			.slick-next {
				left: auto !important;
				top: -43px;
				width: 30px;
				height: 30px;
				background: @white;
				border: none;
				.opacity(1);
				&:before {
					border: 1px solid @bordercolor;
					line-height: 30px;
					font-size: 14px;
					color: #b3b3b3;
					width: 30px;
					height: 100%;
					position: static;
					float: left;
				}
				&:hover {
					&:before {
						border-color: @primarycolor;
						color: @primarycolor;
					}
				}
			}
			.slick-prev {
				right: 50px !important;
			}
			.slick-next {
				right: 15px !important;
			}
		}
	}
}
.shadow {
	background: @primarycolor;
    height: 100%;
    left: 0;
    opacity: 0;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 2;
    -webkit-transition: all 0.4s ease;
    transition: all 0.4s ease;
}

.logo {
	text-align: center;
	float: left;
	a {
		display: inline-block;
		max-width: 100%;
	}
}
.widget-separator {
    float: left;
    width: 100%;
    height: 1px;
}
.bachastip {
    background: @darkcolor;
    color: #fff;
    display: block;
    float: left;
    font-size: 11px;
    left: 0;
    padding: 4px 8px;
    position: absolute;
    // top: -25px;
    top: -45px;
    white-space: nowrap;
    width: auto;
    z-index: 2;
	line-height: 2;
	&:after {
		background: none;
		border-left: 5px solid transparent;
		border-right: 5px solid transparent;
		border-top: 6px solid @darkcolor;
		bottom: -6px;
		content: "";
		display: block;
		height: 0;
		left: 50%;
		margin-left: -5px;
		position: absolute;
		transform: none;
		width: 0;
	}
}

// Header default
.header-container {
	background: #fff;
	color: @lightgreycolor;
	float: left;
	position: relative;
	width: 100%;
	z-index: 2000;

	&.navbar-fixed-top {
		box-shadow: 0 1px 3px rgba(0,0,0,0.3);
	}
	.global-table {
		height: 106px;
	}
	.logo-wrap {
		float: left;
	}
	.menu-wrap {
		float: left;
		margin-left: 42px;
	}
	.content-header {
		float: right;
		.clearfix();
	}
	.widget-title, .widgettitle {
		display: none;
	}
	.vmenu-toggler {
		float: left;
	    position: relative;

	    &:hover {
	    	.vmenu-toggler-button {
	    		span {
	    			color: @headerlinkhovercolor;
	    		}
	    	}
	    }
	    .vmenu-toggler-button {
	    	cursor: pointer;
	    	padding: 36px 0 36px 19px;
	    	span {
		    	color: @headerlinkcolor;
		    	display: block;
		    	font-size: 20px;
	    	}
	    }

		.vmenu-content {
			background: @submenubg;
			display: none;
			min-width: 150px;
			padding: 20px;
			position: absolute;
			z-index: 9999;
			right: 0;
			top: 100%;
			border: 1px solid @bordercolor;
			.box-shadow-submenu();
			.submenu-margintop();

			.top-menu-container {
				float: left;
				width: 100%;

			}
			.title-vmenu {
				border-bottom: 1px solid #e5e5e5;
				color: @darkcolor;
				float: left;
				width: 100%;
				font-size: 12px;
				font-weight: bold;
				margin-bottom: 15px;
			}
			ul {
				list-style: none;
				padding: 0;

				li {
					a {
						color: @submenucolor;
						font-size: 12px;
						line-height: 29px;

						&:hover {
							color: @primarycolor;
						}
					}
				}
			}
			.wcml_currency_switcher {
				display: block !important;
				border: none;
				float: left;
				padding-bottom: 10px !important;
				width: 100%;

				li {
					background: none;
					border: none;
					color: @submenucolor;
					font-size: 12px;
					padding: 0;
					text-transform: uppercase;	

					&:before {
						content: "\f096";
						display: block;
						float: left;
						font-family: FontAwesome;
						margin-right: 10px;
						width: 12px;
					}

					&:hover, &.wcml-active-currency {
						color: @primarycolor;
						&:before {
							content: "\f046";
						}
					}
				}
			}
			.chosen-container {
				display: none;
			}
			#lang_sel_list {
				float: left;
				height: auto;
				width: 100%;

				ul {
					border: none;
					height: auto;
					margin-top: 6px !important;
					float: left;

					li {
						margin-right: 8px !important;

						a {
							background: none;
							border: none;
							color: @submenucolor;
							font-size: 12px;
							line-height: 29px;
							padding: 0;
							&:hover,
							&.lang_sel_sel {
								color: @primarycolor;
							}
							img {
								margin-right: 5px;
								position: relative;
								top: -2px;
							}
						}
					}
				}		
			}
		}
	}

	.widget_shopping_cart {
		float: left;
	    position: relative;
	    &:before {
	    	content: "";
	    	display: block;
	    	width: 2px;
	    	height: 15px;
	    	background: #ececec;
	    	position: absolute;
	    	top: 50%;
	    	right: -2px;
	    	.transform(translateY(-50%));
	    }
		&:hover{
			.widget_shopping_cart_content {
				.cart-toggler {
					a {
						color: @primarycolor;
					}
					.mini-cart-link {
						span {
							color: @primarycolor;
						}
					}
				}
			}
		}
		.widget_shopping_cart_content {
			padding: 36px 19px;
			.cart-toggler {
				position: relative;
				
				a {
					color: @textcolor;
					display: block;
					font-size: 16px;
					font-weight: bold;
					font-family: @headingfont;
				}
				.mini-cart-link {
					span {
						color: @headerlinkcolor;
						display: block;
						font-size: 20px;
					}
				}
				.cart-quantity {
					background: @primarycolor;
					color: @white;
					display: block;
					height: 20px;
					font-size: 10px;
					font-weight: normal;
					line-height: 20px;
					position: absolute;
					text-align: center;
					right: -10px;
					top: -10px;
					width: 20px;
					z-index: 9;
					.border-radius(100%);
				}
			}
			.mini_cart_content {
				background: #fff;
				color: @headingcolor;
				font-family: @headingfont;
				font-size: 14px;
				height: 0;
				overflow: hidden;
				line-height: 1.5;
				padding: 0;
				position: absolute;
				right: 0;
				top:100%;
				width: 300px;
				z-index: 12000;
				.box-shadow-submenu();
				.submenu-margintop();
				
				.mini_cart_inner {
					border: 1px solid @bordercolor;
					float: left;
					padding: 15px 5px;
					width: 100%;	
				}
				ul.cart_list {
					float: left;
					margin-bottom: 10px;
					width: 100%;
						
					li {
						overflow: hidden;
						padding: 10px;
						-webkit-transition: all 0.3s ease;
						transition: all 0.3s ease;
						border-bottom: 1px solid @bordercolor;
						.product-image {
							border: 1px solid @bordercolor;
							float: left;
							position: relative;
							width: 50px;
							
							img {
								box-shadow: none;
								width: 50px;
							}
							.quantity {
								background: -webkit-linear-gradient(lighten(@darkcolor, 20%), @darkcolor); /* For Safari 5.1 to 6.0 */
								background: -o-linear-gradient(lighten(@darkcolor, 20%), @darkcolor); /* For Opera 11.1 to 12.0 */
								background: -moz-linear-gradient(lighten(@darkcolor, 20%), @darkcolor); /* For Firefox 3.6 to 15 */
								background: linear-gradient(lighten(@darkcolor, 20%), @darkcolor); /* Standard syntax */
								border-radius: 40px;
								color: #fff;
								font-family: @bodyfont;
								font-size: 11px;
								font-weight: bold;
								height: 20px;
								left: -10px;
								line-height: 20px;
								overflow: visible;
								position: absolute;
								text-align: center;
								top: -10px;
								width: 20px;
								z-index: 1;
							}
							&:hover {
								border: 1px solid @primarycolor;
							}
						}
						.product-details {
							margin-left: 60px;
							position: relative;
								
							.product-name {
								color: @darkcolor;
								font-size: 14px;
								font-weight: normal;
								line-height: 20px;
								margin: 0 0 5px;
								width: 190px;
								text-align: left;
								
								&:hover {
									color: @primarycolor;
								}
							}
							.variation {
								border: none;
								display: none;
								float: left;
								padding: 2px 0 0;
							}
							.remove {
								background: none;
								color: @greycolor !important;
								display: block;
								font-size: 18px;
								left: auto;
								position: absolute;
								right: 0;
								top: 15px;
								z-index: 1;
								
								&:hover {
									color: @primarycolor !important;
								}
							}
							.quantity {
								color: @textcolor;
								float: left;
								text-align: left;
								width: 100%;
							}
						}
					}
				}
				.total {
					border: none;
					color: @darkcolor;
					float: left;
					font-size: 13px;
					line-height: 40px;
					margin: 0 0 15px;
					padding: 0 10px;
					text-align: left;
					text-transform: uppercase;
					width: 100%;
					font-weight: bold;
					font-family: @headingfont;
					.amount {
						float: right;
						font-size: 18px;
						font-weight: normal;
					}
				}
				.buttons {
					float: right;
					margin: 0;
					padding: 0 10px;
					width: 100%;
					text-align: center;
					
					a {
						.buttonMixin();
						width: 100%;
						text-transform: uppercase;
						border: 1px solid @bordercolor;
					}
				}
				ul.cart_empty {
					margin: 0;
					padding: 0;
					
					li {
						font-size: 12px;
						list-style: none;
						padding-left: 10px;
						text-align: left;
						
						&.total {
							padding-top: 20px;
						}
					}
				}
				.loading {
					background-color: #fff;
					background-image: url('../images/loader.gif');
					background-repeat: no-repeat;
					background-position: center center;
					display: none;
					height: 100%;
					left: 0;
					opacity: 0.7;
					position: absolute;
					top: 0;
					width: 100%;
					z-index: 2;
				}
				&.loading {
					.loading {
						display: block;
					}
				}
			}
		}
	}
	.header-search {
		cursor: pointer;
		float: left;
	    position: relative;
		&:before {
		    content: "";
		    display: block;
		    width: 2px;
		    height: 15px;
		    background: #ececec;
		    position: absolute;
		    top: 50%;
		    right: -2px;
		    .transform(translateY(-50%));
		}
	    &:hover {
	    	.search-icon {
	    		span {
	    			color: @headerlinkhovercolor;
	    		}
	    	}
	    }

		.search-icon {
	    	padding: 36px 19px;
		   span {
		   		color: @headerlinkcolor;
		   		display: block;
		   		font-size: 20px;
		   }
		}
	}
	.widget {
		&.widget_product_search {
			display: none;
			float: left;
			position: absolute;
			z-index: 9999;
			right: -12px;
			top: 100%;
			.box-shadow-submenu();
			.submenu-margintop();

			#searchform {
				background: @white;
				position: relative;
				label {
					display: none;
				}
				#ws {
					border: 1px solid @bordercolor;
					color: #232323;
					font-family: @bodyfont;
					font-size: @textsize;
					font-weight: 300;
					height: 75px;
					margin: 0;
					outline: none;
					padding: 0 0 0 25px;
					width: 300px;
				}
				#wsearchsubmit {
					background: none;
					border: none;
					border-radius: 0;
					box-shadow: none;
					color: @darkcolor;
					display: block;
					font-size: 20px;
					margin: 0;
					outline: none;
					padding: 15px;
					position: absolute;
					right: 20px;
					text-align: center;
					top: 50%;
					.transform(translateY(-50%));
					&:hover {
						color: @primarycolor;
					}
					&:before {
						content: "\e618";
						font-family: 'Pe-icon-7-stroke';
					}
					.fa {
						display: none;
					}
				}
			}
		}
	}
	.header {
		min-height:50px;
		
		.logo-small {
			display: none;
			max-width: 100px;
			padding: 15px 0;
			position: absolute;
			top: 0;
		}
		.headerSpace {
			display: none;
		}
		.header-sticky {
			&.ontop {			
				left: 0;
				min-height: 50px;
				position: fixed;
				top: -50px;
				-webkit-transition: all 0.5s ease;
				transition: all 0.5s ease;
				padding-top: 0;
				width: 100%;
				-webkit-box-shadow: 0 1px 3px rgba(0,0,0,0.11);
				-moz-box-shadow: 0 1px 3px rgba(0,0,0,0.11);
				box-shadow: 0 1px 3px rgba(0,0,0,0.11);
				
				.logo-small {
					display: block;
				}
				&.show {
					top: 0;
					
					&.with-admin-bar {
						top: 32px;
					}
				}
			}
		}

		.horizontal-menu {
			div.nav-menu { /* for default wordpress menu (not selected menu location) */
				float: left;
				width: 100%;
				padding: 18px 0;

				& > ul {
					margin: 0;
					padding: 0;
					
					li {
						float: left;
						list-style: none;
						position: relative;
						
						&:first-child {
							a {
								border: none;
							}
						}
						&.current_page_item, &.current_page_ancestor, &.current_page_parent {
							& > a {
								color: @primarycolor;
							}
						}
						&:hover, &.sfHover {
							& > ul {
								display: block;
							}
							& > a {
								color: @primarycolor;
							}
						}
						a {
							color: @menucolor;
							display: block;
							font-family: @menufont;
							font-size: @menufontsize;
							line-height: 50px;
							padding: 0 18px;
							position: relative;
							text-decoration: none;
							text-transform: uppercase;
							font-weight: @menufontweight;
						}
						.children {
							background: @submenubg;
							border: 1px solid @bordercolor;
							display: none;
							left: 0;
							margin: 0;
							position: absolute;
							top: 100%;
							min-width: 215px;
							z-index: 99;
							padding: 25px 0;
							.box-shadow-megamenu();
							
							li {
								float: left;
								width: 100%;
								
								&.current_page_item, &.current_page_ancestor, &.current_page_parent {
									& > a {
										color: @primarycolor;
									}
								}
								&:hover, &.sfHover {
									& > ul {
										display: block;
									}
									& > a {
										color: @primarycolor;
									}
								}
								a {
									font-size: 12px;
									border: none;
									color: @submenucolor;
									float: left;
									font-family: @menufont;
									font-weight: normal;
									line-height: 36px;
									text-transform: none;
									width: 100%;
								}
								.children {
									top: 0;
									left: 100%;
								}
							}
						}
					}
				}
			}
			.primary-menu-container { /* for default wordpress menu (selected menu location) */
				float: left;
				width: 100%;
				
				ul.nav-menu {
					margin: 0;
					padding: 0;
					.clearfix();
					
					li {
						float: left;
						list-style: none;
						position: relative;
						
						&.current-menu-item, &.current-menu-ancestor, &.current-menu-parent {
							& > a {
								color: @primarycolor;
							}
						}
						&:hover, &.sfHover {
							& > ul {
								display: block;
							}
							& > a {
								color: @primarycolor;
							}
						}
						a {
							color: @menucolor;
							display: inline-block;
							font-family: @menufont;
							font-size: @menufontsize;
							font-weight: @menufontweight;
							padding: 28px 25px;
							text-transform: uppercase;
							-webkit-transition: all 0.4s ease;
							transition: all 0.4s ease;	
						}
						.sub-menu {
							background: @submenubg;
							border: 1px solid @bordercolor;
							display: none;
							left: 0;
							padding: 18px 0;
							position: absolute;
							top: 100%;
							min-width: 190px;
							z-index: 99;
							.submenu-margintop();
							
							li {
								padding: 0 25px;
								float: left;
								width: 100%;
								
								&:first-child, &.first {
									
								}
								&.current-menu-item, &.current-menu-ancestor, &.current-menu-parent {
									& > a {
										color: @primarycolor;
									}
								}
								&:hover, &.sfHover {
									& > ul {
										display: block;
									}
									& > a {
										color: @primarycolor;
									}
								}
								a {
									border: none;
									color: @submenucolor;
									float: left;
									font-family: @menufont;
									line-height: 36px;
									padding: 0;
									text-transform: none;
									width: 100%;
									font-size: 12px;
									font-weight: normal;
								}
								.sub-menu {
									top: 0;
									left: 100%;
								}
							}
						}
					}
				}
			}
			#mega_main_menu_first {
			
				& > .menu_holder {
					width: 100%;
					
					.menu_inner {
						width: 100%;
						
						.nav_logo {
							display: none;
						}
						& > ul {
							// text-align: right;
							
							& > li {
								display: inline-block;
								
								&.nav_search_box {
									display: none;
								}
								&.first {
									& > a.item_link {
										// padding-left: 0;
									}
								}
								&:hover {
									& > a {
										&.item_link {
											.link_text, i {
												color: @primarycolor;
											}
										}
									}
								}
								&.current-menu-ancestor, &.current-menu-item {
									&:hover {
										& > a {
											&.item_link {
												
												.link_text {
													color: @primarycolor;
												}
												i {
													color: @primarycolor;
												}
											}
										}
									}
									& > a {
										&.item_link {

											.link_text {
												color: @primarycolor;
											}
											i {
												color: @primarycolor;
											}
										}
									}
								}
								&.menu-item-has-children {
									
									& > a {
										&.item_link {
											
											&:after {
												border: none;
												color: #fff;
												content: "\f107";
												display: none;
												font-family: FontAwesome;
												font-size: 14px;
												margin: 0;
												position: absolute;
												right: 5px;
												top: 0;
												width: auto;
											}
											&:hover {
												&:after {
													color: @primarycolor;
												}
											}
										}
									}
								}
								//first level
								& > a {
									&.item_link {
										background: none;
										float: left;
										line-height: 40px;
										min-height: 40px;
										padding: 23px 25px;

										.link_text {
											color: @menucolor;
											font-family: @menufont;
											font-size: @menufontsize;
											font-weight: @menufontweight;
											line-height: 40px;
											min-height: 40px;
											text-transform: uppercase;
											-webkit-transition: all 0.4s ease;
											transition: all 0.4s ease;
										}
										&:before {
											background: none;
										}
										&:after {
											display: none;
										}
										&:hover {
											.link_text {
												color: @primarycolor;
											}
										}
									}
								}
								ul.mega_dropdown {
									.post_item {
										padding-bottom: 10px;
										
										.processed_image {
											a.icon {
												i {
													position: absolute;
												}
												&:hover {
													background: rgba(red(@primarycolor), green(@primarycolor), blue(@primarycolor), 0.4);
												}
											}
										}
									}
									.post_details {
										background: @submenubg;
										box-shadow: none;
										padding: 0 10px 10px;
										
										.processed_image {
											&:hover {
												img {
													opacity: 0.7;
												}
											}
											img {
												-webkit-transition: all 0.4s ease;
												transition: all 0.4s ease;
											}
										}
										.post_title {
											color: @submenucolor;
											font-size: @menufontsize;
											margin-bottom: 5px;
											text-transform: uppercase;
										}
										.post_description {
											color: @submenucolor;
										}
										.post_icon, .post_icon * {
											color: @submenucolor;
										}
									}
									.recent-posts {
										ul {
											li {
												float: left;
												list-style: none;
												margin: 0 0 25px;
												width: 100%;
												
												.post-thumb {
													float: left;
													width: 25%;
													
													a {
														padding: 0;
														
														img {
															width: 100%;
														}
													}
												}
												.post-info {
													float: left;
													padding-left: 30px;
													width: 75%;
													
													.post-title {
														line-height: 1;
														
														a {
															color: @submenucolor;
															font-size: @menufontsize;
															font-weight: normal;
															padding: 3px 0;
														}
													}
													.post-date {
														color: @submenucolor;
														font-size: 12px;
													}
												}
											}
										}
									}
									.product_list_widget {
										li {
											margin: 0 0 25px;
											padding: 0;
											
											.product-image {
												float: left;
												width: 25%;
												
												a {
													display: block;
													float: left;
													padding: 0;
													width: 100%;
													
													img {
														width: 100%;
													}
												}
											}
											.product-info {
												float: left;
												padding-left: 30px;
												width: 75%;
												
												a {
													font-size: @menufontsize;
													font-weight: normal;
													margin: 0 0 5px;
													padding: 3px 0;
													text-transform: uppercase;
													
													.product-title {
														color: @submenucolor;
													}
												}
												.star-rating {
													height: 22px;
													
													& > * {
														color: @submenucolor;
													}
												}
												.special-price {
													.amount {
														color: @submenucolor;
														font-size: @menufontsize;
														font-weight: bold;
													}
												}
												.old-price {
													.amount {
														color: @submenucolor;
														font-size: 13px;
														margin-left: 10px;
														text-decoration: line-through;
													}
												}
											}
										}
									}
								}
								&.default_dropdown {
								
									ul.mega_dropdown {
										background: @submenubg;
										padding: 25px 0;
										min-width: 215px;
										.box-shadow-submenu();
										.submenu-margintop();
										
										li {
											width: auto;
											
											&:first-child {
												border-top: none;
											}
											a.item_link {
												background: none;
												border: none;
												padding: 9px 25px;
												text-transform: none;
												
												.link_text {
													color: @submenucolor;
													font-family: @bodyfont;
													font-size: 12px;
												}
												i {
													color: @submenucolor;
													font-size: 14px;
													line-height: 25px;
													padding-right: 6px;
													position: static;
													margin: 8px 0 0 0;
												}
												&:hover {
													i {
														color: @primarycolor;
													}
												}
												&:focus {
													background: none;
												}
												&:before {
													display: none;
												}
												&:hover {
													color: @primarycolor;
												}
											}
											&:hover, &.current-menu-ancestor, &.current-menu-item {
												& > a.item_link {
													.link_text {
														color: @primarycolor;
													}
												}
											}
										}
									}
								}
								&.multicolumn_dropdown {
								
									& > ul.mega_dropdown {
										background: @submenubg;
										box-shadow: none;
										padding: 30px 25px 0 25px;
										.box-shadow-submenu();
										.submenu-margintop();
				
										& > li {
											margin-bottom: 8px;
											a {
												background: none;
												padding: 0;
												text-transform: none;
												.link_text {
													color: @submenucolor;
													display: block;
													font-family: @bodyfont;
													font-size: 12px;
													line-height: 30px;
												}
												i {
													color: @submenucolor;
													font-size: 14px;
													line-height: 25px;
													padding-right: 6px;
													position: static;
													margin: 8px 0 0 0;
												}
												&:hover {
													.link_text, i {
														color: @primarycolor;
													}
												}
												&:focus {
													background: none;
												}
												&:before {
													display: none;
												}
											}
											//first sub level
											& > a {
												margin: 0 0 18px;
												&:after {
													background: #c6c6c6;
													content: "";
													display: block;
													height: 1px;
													width: 165px;
												}
												
												.link_text {
													border: none;
													color: #3c3c3c;
													font-size: 12px;
													font-weight: bold;
													padding: 0;
												}
												&:before {
													display: none;
												}
												&:hover {
													color: @primarycolor;
												}
											}
										}
										li {
											&.current-menu-item {
												& > a.item_link {
													.link_text {
														color: @primarycolor;
													}
												}
											}
										}
									}
								}
								&.tabs_dropdown, &.widgets_dropdown, &.post_type_dropdown {
								
									& > ul.mega_dropdown {
										background: @submenubg;
										box-shadow: none;
										margin: 0;
										padding: 30px 0 0 0;
										.submenu-margintop();
										.box-shadow-megamenu();
				
										& > li {
											padding: 0 10px;
											
											&.post_item {
												padding-bottom: 20px;
											}
											a {
												background: none;
												padding: 12px 15px;
												text-transform: none;
											
												.link_text {
													color: @submenucolor;
													font-family: @bodyfont;
													font-size: 14px;
													font-weight: normal;
												}
												&:focus {
													background: none;
												}
												&:before {
													display: none;
												}
												&:hover {
													background: lighten(@submenubg, 3%);
												}
												i {
													color: @submenucolor;
													font-size: 14px;
													line-height: 25px;
													padding-right: 6px;
													position: static;
													margin: 8px 0 0 0;
												}
												&:hover {
													i {
														color: @primarycolor;
													}
												}
											}
											//first sub level
											& > a {
												background: none;
												margin: 0 0 10px;
												text-transform: uppercase;
												
												.link_text {
													font-weight: bold;
												}
												&:before {
													display: none;
												}
												&:hover {
													background: lighten(@submenubg, 3%);
												}
											}
											&:hover, &.current-menu-ancestor, &.current-menu-item {
												& > a.item_link {
													.link_text {
														color: @primarycolor;
													}
												}
											}
										}
										li {
											&.current-menu-item {
												& > a.item_link {
													.link_text {
														color: @primarycolor;
													}
												}
											}
										}
										// recent comment
										ul li {
											margin-bottom: 20px;
											.post-wrapper {
												.clearfix();
												.post-thumb {
													float: left;
													margin-right: 15px;
												}
												.post-info {
													float: left;
													font-size: @textsize;
													color: @darkcolor;
												}
											}
										}
									}
								}
								&.submenu_full_width {
									& > ul.mega_dropdown {
										width: 100%;
									}
								}
							}
						}
					}
					.mmm_fullwidth_container {
						display: none;
					}
				}
			}
		}
		.categories-menu {
			float: left;
			position: relative;
			width: 100%;
			
			.catemenu-toggler {
				color:#fff;
				cursor: pointer;
				font-family: @headingfont;
				font-size: 15px;
				font-weight: bold;
				height: 80px;
				line-height: 80px;
				padding-left: 18px;
				text-transform: uppercase;
				width: 100%;
				border-right: 1px solid @borderheader;
				border-left: 1px solid @borderheader;
				i {
					float: right;
					line-height: 80px;
					height: 80px;
					width: 80px;
					text-align: center;
					border-left: 1px solid @borderheader;
					font-size: 24px;
					-webkit-transition: all 0.4s ease 0s;
   					transition: all 0.4s ease 0s;
					&:hover{
						background: #fff;
						color: @greycolor;
					}
				}
			}
			#mega_main_menu {
				display: none;
			}
			& > ul { /* for default wordpress menu (not selected menu location) */
				display: none;
				margin: 0;
				padding: 0;
				position: relative;
				z-index: 100;
				
				& > li {
					list-style: none;
					
					&:hover {
						& > a {
							background-color: #313131 !important;
						}
					}
					&:last-child {

						& > a {
							//background-color: lighten(@primarycolor, 10%) !important;
							//height: 50px !important;
							//line-height: 49px !important;
						}
					}
					.children {
						display: none;
					}
					//first level
					& > a {
						background-color: @primarycolor;
						background-image: none;
						border-bottom: 1px solid darken(@primarycolor, 5%);
						color: @menucolor;
						display: block;
						font-family: @menufont;
						font-size: 12px;
						font-weight: normal;
						height: 48px;
						line-height: 47px;
						padding: 0 20px;
						text-decoration: none;
						text-transform: uppercase;
						word-wrap: break-word;
						-webkit-transition: all 0.4s ease;
						transition: all 0.4s ease;

						&:hover {
							background-color: #313131;
							background-image: none;
						}
					}
				}
			}
			.categories-menu-container { /* for default wordpress menu (selected menu location) */
				display: none;
				position: relative;
				z-index: 100;
				
				ul {
					margin: 0;
					padding: 0;
					
					& > li {
						list-style: none;
						
						&:hover {
							& > a {
								background-color: #313131 !important;
							}
						}
						&:last-child {

							& > a {
								//background-color: lighten(@primarycolor, 10%) !important;
								//height: 50px !important;
								//line-height: 49px !important;
							}
						}
						.sub-menu {
							display: none;
						}
						//first level
						& > a {
							background-color: @primarycolor;
							background-image: none;
							border-bottom: 1px solid darken(@primarycolor, 5%);
							color: @menucolor;
							display: block;
							font-family: @menufont;
							font-size: 12px;
							font-weight: normal;
							height: 48px;
							line-height: 47px;
							padding: 0 20px;
							text-decoration: none;
							text-transform: uppercase;
							word-wrap: break-word;
							-webkit-transition: all 0.4s ease;
							transition: all 0.4s ease;

							&:hover {
								background-color: #313131;
								background-image: none;
							}
						}
					}
				}
			}
		}
		.morelesscate {
			bottom: 0;
			left: 0;
			position: absolute;
			width: 100%;
			z-index: 10000;
			display: none;
			span {
				background-color: @primarycolor !important;
				background-image: none;
				color: @menucolor;
				cursor: pointer;
				display: block;
				font-family: @menufont;
				font-size: 12px;
				font-weight: normal;
				height: 48px;
				line-height: 47px;
				padding: 0 20px;
				text-decoration: none;
				text-transform: uppercase;
				word-wrap: break-word;
				-webkit-transition: all 0.4s ease;
				transition: all 0.4s ease;
				
				i {
					font-size: 14px;
					height: 47px;
					line-height: 47px;
					padding-right: 15px;
					color: @menucolor;
				}
				&.lesscate {
					display: none;
				}
			}
		}
		#mega_main_menu {
			background: #fff;
			height: auto;
			
			& > .menu_holder {
				width: 100%;
				border: 1px solid @bordercolor;
				.menu_inner {
					width: 100%;
					
					.nav_logo {
						display: none;
					}
					& > ul {
					
						& > li {
							background: none;
							
							&:hover {
								& > a {
									&.item_link {
										background-color: @bordercolor;
									}
								}
							}
							&.nav_search_box {
								display: none !important;
							}
							&.current-menu-ancestor, &.current-menu-item, &.current-product-ancestor {
								& > a {
									&.item_link {
										background-color: @bordercolor !important;
										background-image: none !important;
									}
								}
								&.menu-item-has-children {
									& > a {
										&.item_link {
											background-image: none !important;
											background-color: @bordercolor !important;
										}
									}
								}
							}
							&.menu-item-has-children {
								
								& > a {
									&.item_link {
										// background-color: @primarycolor;
										background-image: none !important;
										
										&:before {
											display: none;
										}
										&:after {
											border: none;
											content: "\f105";
											display: inline-block;
											font-family: FontAwesome;
											font-size: 13px;
											right: 25px;
											top: 0;
										}
									}
								}
							}
							//first level
							& > a {
								&.item_link {
									background-color: #fff;
									background-image: none;
									border-bottom: 1px solid @bordercolor;
									color: @colorvmenu;
									display: block;
									height: 48px;
									line-height: 47px;
									padding: 0 20px;
									text-decoration: none;
									word-wrap: break-word;
									
									i {
										font-size: 14px;
										height: 47px !important;
										line-height: 47px !important;
										padding-right: 15px;
										color: @colorvmenu;
									}
									.link_content {
										height: 47px !important;
										line-height: 47px !important;
										margin: 0 !important;
									}
									.link_text {
										color: @colorvmenu;
										font-family: @menufont;
										font-size: 13px;
										font-weight: bold;
										height: 47px !important;
										line-height: 47px !important;
										text-transform: capitalize;
										-webkit-transition: all 0.4s ease;
										transition: all 0.4s ease;
									}
									&:before {
										background: none;
									}
									&:after {
										display: none;
									}
									&:hover {
										background-color: @bordercolor;
										background-image: none;
									}
								}
							}
							&.default_dropdown {
								
								ul.mega_dropdown {
									background: #fff;
									box-shadow: none;
									border-width: 1px 1px 3px 1px;
									border-style: solid;
									border-color: @bordercolor @bordercolor @primarycolor @bordercolor;
									padding: 0 15px !important;
									
									li {
										border-bottom: 1px solid @bordercolor;
										width: 100%;
										
										&:last-child {
											border-bottom: none;
										}
										a.item_link {
											background: none;
											border: none;
											padding: 0;
											text-transform: none;
											
											.link_text {
												color: @textcolor;
												font-family: @bodyfont;
												font-weight: normal;
												font-size: 12px;
												line-height: 47px;
											}
											i {
												color: @textcolor;
												float: left;
												height: 47px;
												line-height: 47px;
												padding-right: 9px;
												position: static;
											}
											&:focus {
												background: none;
											}
											&:before {
												display: none;
											}
											&:hover {
												background: none;
												
												.link_text {
													color: @primarycolor;
												}
												i {
													color: @primarycolor;
												}
											}
										}
										&:hover, &.current-menu-ancestor, &.current-menu-item, &.current-product-ancestor {
											& > a.item_link {
												background: none;
												
												.link_text {
													color: @primarycolor;
												}
												i {
													color: @primarycolor;
												}
											}
											& > .item_link * {
												color: @primarycolor;
											}
										}
									}
								}
							}
							&.multicolumn_dropdown {
							
								& > ul.mega_dropdown {
									background: #fff;
									box-shadow: none;
									border-width: 1px 1px 3px 1px;
									border-style: solid;
									border-color: @bordercolor @bordercolor @primarycolor @bordercolor;
									padding: 0 15px !important;
			
									& > li {
										margin: 0;
										
										a {
											background: none;
											padding: 0;
											text-transform: none;
											
											.link_text {
												color: @textcolor;
												font-family: @bodyfont;
												font-size: 12px;
												font-weight: normal;
												line-height: 36px;
											}
											i {
												color: @textcolor;
												float: left;
												height: 36px;
												line-height: 36px;
												padding-right: 9px;
												position: static;
											}
											&:focus {
												background: none;
											}
											&:before {
												display: none;
											}
											&:hover {
												background: none;
												
												.link_text {
													color: @primarycolor;
												}
												i {
													color: @primarycolor;
												}
											}
										}
										//first sub level
										& > a {
											border-bottom: 1px solid @bordercolor;
											display: inline-block;
											margin-bottom: 10px;
											text-transform: uppercase;
											width: 100%;
											
											.link_text {
												color: @textcolor;
												font-family: @menufont;
												font-size: 14px !important;
												font-weight: normal;
												line-height: 47px;
											}
											i {
												height: 47px;
												line-height: 47px;
											}
											&:before {
												display: none;
											}
											&:hover {
												.link_text {
													color: @primarycolor;
												}
												i {
													color: @primarycolor;
												}
											}
										}
										ul.mega_dropdown {
											padding-bottom: 10px;
										}
									}
									li {
										&.current-menu-item, &.current-product-parent {
											& > .item_link * {
												color: @primarycolor;
											}
										}
									}
								}
							}
							&.widgets_dropdown {
							
								& > ul.mega_dropdown {
									background: #fff;
									box-shadow: none;
									border-width: 1px 1px 3px 1px;
									border-style: solid;
									border-color: @bordercolor @bordercolor @primarycolor @bordercolor;
									padding: 0 15px !important;
									
									& > li {
										margin: 0;
										
										&.widget_menu {
											padding: 0;
											position: absolute;
											right: 20px;
											top: 32px;
											width: 170px !important;
											
											.widget {
												font-size: 12px;
												line-height: 1.5;
												margin: 0;
												padding-left: 0;
												padding-right: 0;
												width: 100%;
												
												.widgettitle {
													background: none;
													border-bottom: 1px solid @bordercolor;
													margin: 0 0 8px;
													padding: 0 0 5px;
													text-transform: uppercase;
												}
												p {
													float: left;
													margin: 0;
													width: 100%;
													
													&:first-child {
														margin-left: 0;
													}
												}
												a {
													display: block;
													float: left;
													overflow: hidden;
													padding: 0;
													position: relative;
													width: 100%;
													
													img {
														margin: 0;
														-webkit-transition: -webkit-transform 0.3s ease;
														transition: transform 0.3s ease;
													}
													&:before {
														background: #000;
														content: "";
														display: block;
														height: 100%;
														left: 0;
														opacity: 0;
														position: absolute;
														top: 0;
														-webkit-transition: all 0.3s ease;
														transition: all 0.3s ease;
														width: 100%;
														z-index: 1;
													}
													&:hover {
														img {
															-webkit-transform: scale(1.05);
															transform: scale(1.05);
														}
														&:before {
															opacity: 0.2;
														}
													}
												}
												img {
													float: left;
												}
											}
										}
										a {
											background: none;
											padding: 0;
											text-transform: none;
											
											.link_text {
												color: @textcolor;
												font-family: @bodyfont;
												font-size: 12px;
												font-weight: normal;
												line-height: 36px;
											}
											i {
												color: @textcolor;
												float: left;
												height: 36px;
												line-height: 36px;
												padding-right: 9px;
												position: static;
											}
											&:focus {
												background: none;
											}
											&:before {
												display: none;
											}
											&:hover {
												background: none;
												
												.link_text {
													color: @primarycolor;
												}
												i {
													color: @primarycolor;
												}
											}
										}
										//first sub level
										& > a {
											border-bottom: 1px solid @bordercolor;
											display: inline-block;
											margin-bottom: 10px;
											text-transform: uppercase;
											width: 100%;
											
											.link_text {
												color: @textcolor;
												font-family: @menufont;
												font-size: 14px !important;
												font-weight: normal;
												line-height: 47px;
											}
											i {
												height: 47px;
												line-height: 47px;
											}
											&:before {
												display: none;
											}
											&:hover {
												.link_text {
													color: @primarycolor;
												}
												i {
													color: @primarycolor;
												}
											}
										}
										& > ul.mega_dropdown {
											padding-bottom: 10px;
										}
									}
									li {
										&.current-menu-item, &.current-product-parent {
											& > .item_link * {
												color: @primarycolor;
											}
										}
									}
								}
							}
							&.submenu_full_width {
								& > ul.mega_dropdown {
									width: 100%;
								}
							}
						}
					}
				}
				.mmm_fullwidth_container {
					display: none;
				}
			}
		}
		.menu-primary-menu-container {
			ul#menu-primary-menu {
				margin: 0;
				padding: 0;
				
				& > li {
					list-style: none;
				}
			}
		}
	}
}
.home {
	.categories-menu {
		#mega_main_menu {
			display: none;
		}
		.morelesscate {
			display: none;
		}
		&.show_home {
			#mega_main_menu {
				display: block;
			}
			.morelesscate {
				display: block;
			}
		}
	}
	.main-container .page-content {
		padding-bottom: 0;
	}
	.header-container.layout2 {
		position: absolute;
		background: none;
		.header {
			background: none;
		}
	}
}
// Footer default
.footer {
	background:@footerbg;
	color: @footercolor;
	line-height: 25px;
    float: left;
    width: 100%;
	
	.widget-title,
	.widgettitle {
		margin: 0 0 35px 0;
		color: #919191;
		text-transform: uppercase;
		font-size: 14px;
		font-weight: bold;
	}
	.widget_menu {
		ul {
			list-style: none;
			margin: -4px 0 0 0;
			padding: 0;
			li {
				a {
					color: @footercolor;
					display: block;
					line-height: 31px;
					&:hover {
						color: @footerlinkhovercolor;
					}
				}
			}
		}
	}
	a {
		color: @footercolor;
		
		&:hover {
			color: @primarycolor;
		}
	}
	.footer-main {
		padding: 45px 0 30px 0;
	}

	.social-icons {
		margin: 27px 0 0 0;
		padding: 0;
		.clearfix();
		li {
			list-style: none;
			float: left;
			position: relative;
			margin-right: 12px;
			&:last-child {
				margin-right: 0;
			}
			> a {
				font-size: 12px;
				color: #505050;
				width: 31px;
				height: 31px;
				text-align: center;
				line-height: 31px;
				display: block;
				border: 1px dashed #505050;
				.border-radius(100%);
				&:hover {
					color: @primarycolor;
					border-color: @primarycolor;
				}
			}
		}
	}
	.widget_contact_us {
		ul {
			padding: 0;
			li {
				list-style: none;
				margin-bottom: 8px;
				padding-left: 50px;
				position: relative;
				.clearfix();
				&:last-child {
					margin-bottom: 0;
				}
				> span {
					display: block;
					position: absolute;
					left: 0;
					top: 0;
					width: 33px;
					height: 33px;
					text-align: center;
					line-height: 33px;
					border: 2px solid #70757b;
					color: @white;
					font-size: 14px;
					.border-radius(100%);
				}
				p {
					line-height: 21px;
					margin: 0;
				}
				&.email {
					p {
						line-height: 33px;
						span {
							color: @white;
						}
					}
				}
			}
		}
	}

	.footer-bottom {
		color: @white;
		line-height: 34px;
		float: left;
		width: 100%;
		padding: 16px 0;
		border-top: 1px solid #3b3b3b;

		p {
			margin: 0;
		}
		.widget-logo {
			float: left;
			margin-right: 40px;
			margin-left: 15px;
		}
		
		.widget-copyright {
			float: left;

			a{
				color: @primarycolor;
				&:hover{
					text-decoration: underline;
				}
			}
		}
		.widget-payment {
			float: right;
			
			img {
				margin: 0 0 0 6px;
			}
		}
	}
}
// Google map
.map-wrapper {
	float: left;
    margin: 0;
    width: 100%;

	#map {
		float: left;
		height: 500px;
		width: 100%;
		
		img {
			max-width: none;
		}
	}
	.mfp-bg {
		z-index: 12000;
	}
	.mfp-wrap {
		z-index: 13000;
	}
	.gmap_marker {
		line-height: 1.7;
		
		strong {
			font-family: @headingfont;
			display: inline-block;
			font-family: @headingfont;
			font-weight: normal;
			margin: 0 0 6px;
			text-transform: uppercase;
			
			i {
				font-size: 18px;
				margin-right: 5px;
			}
		}
		i {
			margin-right: 8px;
		}
	}
}
.map-custom {
	float: left;
	font-size: 14px;
	width: 100%;
	
	h2 {
		margin: 0 0 30px;
	}
	p {
		margin: 0 0 30px;
	}
	i {
		color: @primarycolor;
		font-size: 24px;
		margin-right: 10px;
	}
	strong {
		color: @primarycolor;
		font-family: @headingfont;
		font-size: 24px;
		font-weight: 400;
	}
}
.contact-fom-info {
    float: left;
    width: 100%;
}

// Archive 

.archive {
	&.tax-product_cat {
		.main-container .page-content .shop_header {
			background: url(../images/bg-category.png) repeat-x;
			height: 200px;
		}
	}
	.header-container {
		
		.content-header {
			border: none;
		}
	}
}
// Content
.main-container {
    float: left;
    margin: 0;
    padding: 0;
	position: relative;
    width: 100%;
	
	.woocommerce-breadcrumb, 
	.breadcrumbs {
		display: block;
		font-size: 12px;
		margin: 0;
		color: @primarycolor;
		text-transform: none;
		text-align: left;
		font-weight: 500;
		a {
			color: #3c3c3c;
			display: inline-block;
				
			&:hover {
				color: @primarycolor;
			}
		}
		span {
			display: inline-block;
			
			&.separator {
				color: #3c3c3c;
				margin: -2px 8px 0 8px;
			}
		}
	}
	.category-desc {
		float: left;
		position: relative;
		width: 100%;
		
		.category_header {
			background: @lightgreycolor url("../images/bg-category.png") repeat-x scroll 0 0;
			display: block;
			float: left;
			margin: 0 0 50px;
			padding: 50px 0;
			width: 100%;
			
			h1 {
				color: @headingcolor;
				font-size: 35px;
				font-weight: 700;
				letter-spacing: 1.5px;
				margin: 0 0 5px;
				position: relative;
				text-align: center;
				text-transform: uppercase;
			}
		}
		.category-desc-inner {
			float: left;
			margin: 0 0 50px;
			width: 100%;
			display: none;
		}
		&.sidebar {
			.category-image-desc{
				margin-bottom: 40px;
			}		
		}
		.category-image-desc {
			margin: 0;
			text-align: center;
		}
		.term-description {
			margin: 10px 0 0;
		}
	}
	.search-title {
		border-bottom: 1px solid @lightgreycolor;
		font-family: @bodyfont;
		font-size: 20px;
		font-weight: normal;
		line-height: 18px;
		margin: 0 0 25px;
		padding: 0 0 5px;
		overflow: hidden;
		width: 100%;
	}
	
	// Page header
	.entry-header {
		float: left;
		margin: 60px 0 40px 0;
		width: 100%;
		text-align: center;
		
		&.project{
			margin-top: 40px;
		}
		.entry-title {
			color: @darkcolor;
			font-size: 35px;
			font-weight: 700;
			margin: 0;
			position: relative;
			text-align: center;
			text-transform: uppercase;
			letter-spacing: 1.5px;
		}
	}
	// Page content
	.page-content {
		float: left;
		padding: 0;
		width: 100%;
		
		&.front-page {
			padding: 0;
		}
		.page {
			float: left;
			width: 100%;
		}
		label {
			display: inline-block;
			font-weight: normal;
			margin: 0;
		}
		.input-text, input[type="text"], .form-row .input-text {
			background: lighten(@bordercolor, 5%);
			border: none;
			border-radius: 0;
			height: 32px;
			max-width: 100%;
			padding: 0 0 0 10px;
		}
		textarea {
			background: lighten(@bordercolor, 5%);
			border: none;
			border-radius: 0;
			max-width: 100%;
			padding: 10px;
		}
		.button, .button.alt, #submit {
			.buttonMixin();
			
			&.alt {
				margin-left: 10px;
			}
		}
		.form-row {
			margin: 0 0 10px;
			padding: 0;
		}
		.entry-content {
			float: left;
			width: 100%;
			
			.ui-accordion {
				
				.wpb_accordion_section {
					margin: 0 0 10px;
					
					.ui-accordion-header {
						border: 1px solid @bordercolor;
						background: lighten(@bordercolor, 5%);
						font-family: @headingfont;
						line-height: 1.5;
						margin: 0;
						padding: 0;
						
						a {
							color: @textcolor;
							padding: 15px 10px 15px 25px;
						}
						.ui-accordion-header-icon {
							margin-top: -8px;
							top: 50%;
						}
						&.ui-accordion-header-active {
							border-bottom: none;
							border-color: @primarycolor;

							a {
								color: @primarycolor;
							}
						}
					}
					.ui-accordion-content {
						border-bottom: 1px solid @primarycolor;
						border-left: 1px solid @primarycolor;
						border-right: 1px solid @primarycolor;
						border-top: 1px solid @bordercolor;
						padding: 20px 25px;
					}
				}
			}
			
		}
	}
	
}
// Sidebars
#secondary {
	margin-bottom: 30px;
	color: #797979;
	//shop sidebar
	&.sidebar-shop {
		.widget {
			.widget-title {
				span {
					font-size: 12px;
					color: @black;
					text-transform: uppercase;
					display: block;
					border-top: 2px solid @darkcolor;
					border-bottom: 2px solid @darkcolor;
					padding: 18px 0 15px 0;
				}
			}
			&.widget_price_filter {
				.widget-title {
					width: 100%;
				}
				.price_slider_wrapper {
					width: 100%;
				}
			}
			
		}
		.widget_text {
			.widget-title {
				margin: 0;
			}
		}
		.widget_product_categories,
		.widget_price_filter,
		.widget_layered_nav {
			padding-left: 20px;
			.widget-title {
				span {
					border: none;
					border-bottom: 1px solid @bordercolor;
					padding: 0 0 10px 0;
				}
			}
		}
		.widget_layered_nav,
		.widget_product_categories {
			ul li {
				a {
					&:before {
						content: "\f101";
						font-family: FontAwesome;
						font-size: 14px;
						margin-right: 5px;
					}
				}
			}
		}
	}
	//category filter, sidebar
	&.shop-sidebar-filter {
		.sidebar-category {
			float: left;
			padding-top: 75px;
			text-align: center;
			width: 100%;
			
			.widget{
				.widget-title {
					font-size: 14px;
					font-weight: 400;
				}
				&.widget_text {
					.widget-title {
						font-size: 24px;
						font-weight: 700;
						padding-bottom: 25px;
						position: relative;
						
						&:after {
							background: @primarycolor;
							bottom: 0;
							content: "";
							display: block;
							height: 4px;
							left: 50%;
							margin-left: -20px;
							position: absolute;
							width: 40px;
						}
					}
				}
			}
		}
		.sidebar-filter {
			background: lighten(@bordercolor, 7%);
			float: left;
			padding: 120px 70px 75px;
			width: 100%;
			
			.widget {
				margin: 0 0 35px;
				
				&.widget_product_categories, &.widget_nav_menu {
					.widget-title {
						float: left;
						line-height: 30px;
						margin: 0;
						width: 25%;
					}
					& > ul, & > div {
						float: left;
						width: 75%;
					}
					ul {
						li {
							float: left;
							margin-right: 26px;
							width: auto;
						}
					}
				}
			}
		}
	}
	//blog sidebar
	.sidebar-border {
		float: left;
		width: 100%;
		//Social Widget
		ul.social-widget {
			li {
				display: inline-block;
				margin: 0 10px 0 0;
				width: auto;

				a {
					display: block;
					font-size: 18px;
					color: #fff;

					i {
						height: 40px;
						line-height: 40px;
						width: 40px;
						border-radius: 100%;
						text-align: center;
						-webkit-transition: all 0.5s ease;
						transition: all 0.5s ease;

						&:hover {
							background: @primarycolor !important;
						}
						&.fa-facebook {
							background: #2b80e0;
						}
						&.fa-twitter {
							background: #1fb8ff;
						}
						&.fa-youtube {
							background: #da2c2c;
						}
						&.fa-instagram {
							background: #2595cf;
						}
						&.fa-dribbble {
							background: #d842a2;
						}
					}
				}
			}
		}
		&.right {
			
		}
		&.left {
			
		}
		.widget {
		
		}
		.widget-title {
			span {
				font-size: 12px;
				color: #000000;
				text-transform: uppercase;
				display: block;
				border-top: 2px solid #363636;
				border-bottom: 2px solid #363636;
				padding: 18px 0 15px 0;
			}
		}
	}
	.input_text, input[type="text"] {
		border: 1px solid @bordercolor;
		height: 34px;
		padding: 0 0 0 10px;
		width: 100%;
	}
	select {
		max-width: 100%;
	}
	ul, ol {
		float: left;
		margin: 0;
		padding: 0;
		width: 100%;
		
		&.sub-menu {
			padding-left: 10px;
		}
		.children {
			padding: 8px 0 8px 18px;
		}
		&.menu {
			> li {
				margin-bottom: 20px;
			}
		}
		li {
			float: left;
			list-style: none;
			margin: 0 0 11px 0;
			width: 100%;
			&:last-of-type {
				margin-bottom: 0;
			}
			a {
				color: #797979;
				&:hover {
					color: @linkhovercolor;
				}
			}
			&:hover {
				.count {
					color: @linkhovercolor;
				}
			}
			.count {
				color: #797979;
			    float: right;
			}
			&.chosen {
				width: 100%;
				
				a {
					background: @primarycolor;
					border: none;
					border-radius: 3px;
					color: #fff;
					padding: 5px 10px;
					
					&:before {
						background: none;
						color: #fff;
						content: "\f00d";
						font-family: FontAwesome;
						margin-right: 8px;
						top: -2px;
					}
					&:hover {
						background: @greycolor;
					}
				}
				
			}
			&.menu-item-has-children {
				> a {
					display: block;
					margin-bottom: 12px;
				}
			}
		}
	}
	.widget {
		float: left;
		margin: 0 0 45px;
		width: 100%;
		
		&:last-child {
			margin-bottom: 0;
		}
		.widget_content {
			float: left;
			width: 100%;
		}
		iframe {
			max-width: 100%;
		}
		.bachastabs {
			color: #363636;
			display: block;
			font-family: @bodyfont;
			font-size: 14px;
			font-weight: normal;
			line-height: 14px;
			padding: 0;
			width: 100%;
			
			li {
				background: @bordercolor;
				border-top: 2px solid @bordercolor;
				cursor: pointer;
				float: left;
				list-style: none;
				margin: 0;
				padding: 10px 0;
				text-align: center;
				width: 50%;
				
				&.active {
					border-top: 2px solid @primarycolor;
					background: none;
					cursor: default;
					
					&:hover {
						background: none;
					}
				}
				&:hover {
					background: #eee;
				}
			}
		}
		.su-accordion {
			
			.su-spoiler {
				border-bottom: 1px solid @bordercolor;
				
				&:hover {
					.su-spoiler-icon {
						background: @primarycolor;
					}
					.su-spoiler-title {
						color: @primarycolor;
					}
				}
				&.su-spoiler-closed {
					.su-spoiler-content {
						padding: 0;
					}
				}
			}
			.su-spoiler-title {
				font-weight: normal;
			}
			.su-spoiler-icon {
				background: @greycolor;
				color: #fff;
				font-size: 10px;
				line-height: 20px;
				-webkit-transition: all 0.3s ease;
				transition: all 0.3s ease;
			}
			.su-spoiler-content {
				padding: 15px 0;
			}
		}
		.su-vimeo {
			margin: 0;
		}
		&.widget_rss {
			ul {
				li {
					margin: 0 0 25px;
					
					.rsswidget {
						color: @darkcolor;
						display: block;
						font-weight: bold;
						margin-bottom: 8px;
						
						&:hover {
							color: @primarycolor;
						}
					}
					.rss-date {
						color: @greycolor;
						display: block;
						
						&:before {
							content: "\f073";
							display: inline-block;
							font-family: FontAwesome;
							margin-right: 5px;
						}
					}
					.rssSummary {
						display: block;
						margin: 10px 0;
					}
					cite {
						display: block;
						text-transform: uppercase;
						&:before {
							content: "\f007";
							display: inline-block;
							font-family: FontAwesome;
							margin-right: 5px;
						}
					}
				}
			}
		}
		&.widget_search {
			margin-bottom: 55px;
			.widget-title {
				margin-bottom: 35px;
			}
			.form-input {
				background: #fff;
				border: 1px solid @bordercolor;
				color: @greycolor;
				font-family: @headingfont;
				float: left;
				width: 100%;
				position: relative;
				
				.input_text {
					border: none;
					float: left;
					height: 34px;
					width: 100%;
					padding-right: 50px;
					outline: none;
				}
				.button {
					background: none;
					border: none;
					height: 34px;
					width: 34px;
					position: absolute;
					top: 0;
					right: 0;

					&:hover {
						color: @primarycolor;
					}
				}
			}
		}
		&.widget_price_filter {
			.widget-title {
				float: left;
				line-height: 30px;
				margin: 0;
				width: 25%;
			}
			.price_slider_wrapper {
				float: left;
				margin-top:30px;
				padding: 0;
				width: 75%;
				
				.price_slider {
					background: #dbdbdb;
					box-shadow: none;
					height: 5px;
					// margin: 0 9px 40px;
					margin: 0 0 40px;
					
					.ui-slider-range {
						background: @primarycolor;
						border: none;
						border-radius: 0px;
						box-shadow: none;
						height: 5px;
						cursor: pointer;
					}
					.ui-slider-handle {
						box-shadow: none;
						border-radius: 0;
						margin-left: -2.5px;
						top: -9px;
						width: 5px;
						height: 20px;
						background: @primarycolor;
						
						&:hover {
							background: darken(@primarycolor, 10%);
						}
						&:last-child {
							// margin-left: -9px;
						}
						&.ui-state-hover {
							
						}
						&.ui-state-active {
							
						}
					}
				}
				.price_slider_amount {
					float: left;
					width: 100%;
					
					.price_label {
						float: right;
						margin: 0 0px 5px;
						color: #797979;
						height: 35px;
						line-height: 35px;
						font-weight: bold;
						span {
							padding: 0 10px;
							display: inline-block;
							border: 1px solid @bordercolor;
						}
					}
					.button {
						border: 1px solid @bordercolor;
						height: 35px;
						line-height: 35px;
						padding: 0 20px;
						margin-bottom: 5px;
					}
				}
			}
		}
		&.widget_products {
			ul {
				li {
					margin: 0 0 25px;
				}
			}
			.product-image {
				float: left;
				width: 25%;
				
				a {
					display: block;
					
					img {
						margin: 0;
						width: 100%;
					}
				}
			}
			.product-info {
				float: left;
				padding-left: 10px;
				text-align: left;
				width: 75%;
				.special-price{
					font-size: 14px;
					font-weight: 400;
					color: @primarycolor;
					display: block;
					line-height: 1;
				}
				.old-price{
					color: @greycolor;
					font-size: 16px;
					font-weight: 500;
					text-decoration: line-through;
				}
			}
		}
		&.yith-woocompare-widget {
			.widget_content {
				background: none;
				padding: 0;
			}
			ul.products-list {
				margin: 0 0 20px;
				
				li {
					font-size: 14px;
					padding: 0;
					a {
						&:before {
							display: none;
						}
					}
					
					a.remove {
						background: none;
						border-radius: 0;
						color: @greycolor !important;
						display: block;
						font-size: 14px;
						height: 29px;
						line-height: 29px;
						margin: 0;
						overflow: hidden;
						position: relative;
						text-align: center;
						text-indent: 9999px;
						width: 18px;
						
						&:after {
							content: "\f00d";
							display: inline-block;
							font-family: FontAwesome;
							height: 100%;
							left: 0;
							position: absolute;
							text-indent: 0;
							top: 3px;
							width: 100%;
						}
						&:hover {
							color: @primarycolor !important;
						}
					}
				}
			}
			.clear-all {
				font-weight: 500;
				float: left;
				line-height: 35px;
			}
			a.button {
				border: 1px solid @bordercolor;
				height: 35px;
				line-height: 35px;
			}
		}
		&.widget_top_rated_products {
			.product_list_widget {
				margin-top: 20px;

				li {
					margin-bottom: 25px;
				}
				.product-image {
					float: left;
					width: 30%;

					img {
						width: 100%;
					}
				}
				.product-info {
					float: left;
					padding-left: 20px;
					width: 70%;

					a {
						color: @linkcolor;
						font-size: 12px;

						&:hover {
							
						}
					}
					.star-rating {
						float: left;
						margin: 5px 0 10px 0;
						width: 100%;

						&:before {
							font-size: 12px;
						}
						span {
							&:before {
								color: @ratecolor;
								font-size: 12px;
							}
						}
					}
					.special-price {
						color: @primarycolor;
						font-size: 14px;
						font-weight: bold;
					}
					.old-price {
						color: #909295;
						float: left;
						font-weight: bold;
						margin-right: 10px;
					}
					
				}
			}
		}
		&.widget_text {
			
		}
		.shop-products {
			margin: 0;
			
			.item-col {
				margin: 0 0 30px;
				padding: 0;
				
				&.first {
					clear: none;
				}
				.onsale {
					display: none;
				}
				.list-col4 {
					float: left;
					width: 30%;
				}
				.list-col8 {
					float: left;
					padding-left: 18px;
					width: 70%;
					
					.listview {
						display: block;
						text-align: left;
						
						.ratings, .product-name, .product-desc, .actions {
							display: none;
						}
						.price-box {
							border: none;
							color: @primarycolor;
							font-size: 12px;
							margin: 0;
							padding: 0;
							
							.old-price {
								.amount {
									background: @headingcolor;
									border-radius: 3px;
									color: #fff;
									display: inline-block;
									font-size: 10px;
									height: 17px;
									line-height: 17px;
									padding: 0 6px;
								}
							}
						}
					}
				}
				.product-wrapper {
					.product-image {
						.price-rate, .actions {
							display: none;
						}
						a .shadow {
							display: none;
						}
					}
					h2.product-name {
						margin: 10px 0 15px;
						text-align: left;
						text-transform: none;
					}
				}
			}
		}
		&.widget_categories, 
		&.widget_archive {
			ul {
				li {
					a {
						&:before {
							content: "\f101";
						    font-family: FontAwesome;
						    font-size: 14px;
						    margin-right: 5px;
						}
					}
				}
			}
		}
		&.blog-tabs {
			margin-bottom: 0;
		}
		&.widget_bachas_widgets {
			
			&.active {
				//display: block;
			}
			.widget-title {
				//display: none;
			}
			.widget_content {
				padding: 0 18px 5px;
			}
			ul {
				li {
					line-height: 1.35;
					margin: 20px 0 0;
					padding: 15px 0 0;
					
					&:first-child {
						border: none;
						margin: 0;
						padding: 0;
					}
					a {
						&:before {
							display: none;
						}
					}
					.post-wrapper {
						float: left;
						margin: 0;
						padding: 0;
						width: 100%;
						
						.post-thumb {
							float: left;
							
							a {
								border: 2px solid transparent;
								display: inline-block;
								
								&:hover {
									border: 2px solid @primarycolor;
									padding-left: 0;
								}
							}
						}
						.post-info {
							margin-left: 65px;
							
							.post-title {
								font-size: 12px;
								font-weight: normal;
								margin: 0 0 5px;
								
								a {
									font-size: inherit;
									&:hover {
										color: @primarycolor;
										padding-left: 0;
									}
								}
							}
							.post-date {
								color: @darkcolor;
								font-family: @bodyfont;
								text-transform: uppercase;
								font-size: 11px;
							}
							p {
								color: @darkcolor;
								margin: 5px 0;
							}
							& > a {
								font-family: @bodyfont;
								font-size: 11px;
									
								&:hover {
									color: @primarycolor;
									padding-left: 0;
								}
							}
						}
					}
				}
			}
		}
		&.widget_recent_entries {
			
			ul {
				li {
					a {
						display: inline-block;
						line-height: 21px;
						margin: 0 0 10px;
					}
					.post-date {
						color: @greycolor;
						float: left;
						font-size: 12px;
						line-height: 12px;
						width: 100%;
						
						&:before {
							content: "\f073";
							display: inline-block;
							font-family: FontAwesome;
							margin-right: 5px;
						}
					}
				}
			}
		}
		&.widget_recent_comments {
			
			ul {
				li {
					color: @darkcolor;
					a {
						float: none;
					}
				}
			}
		}
		&.widget_calendar {
			table#wp-calendar {
				width: 100%;
				
				caption {
					font-weight: bold;
					margin: 0 0 10px;
				}
			}
		}
	}
	.tagcloud {
		a {
			color: #797979;
		    display: inline-block;
		    margin: 0 5px 10px 0;
		    font-size: 12px !important;
		    padding: 8px 23px 6px;
		    border: 1px solid @bordercolor;
		    line-height: 1;
			&:hover {
				border-color: @linkhovercolor;
				color: @linkhovercolor;
			}
		}
	}
}
.title-breadcrumb {
    background: #f0efef;
    padding: 27px 0;
    margin: 0 0 50px 0;

    .title-breadcrumb-inner {
		// display: none;
    }
    .entry-header {
    	display: none;
    }
    h1 {
    	color: @textcolor;
		font-size: 35px;
		font-weight: 700;
		margin: 0 0 5px 0;
		position: relative;
		text-align: center;
		text-transform: uppercase;
		letter-spacing: 1.5px;
    }
}

#back-top {
    background: url("../images/back-top.png") no-repeat center center @primarycolor;
    bottom: -38px;
    cursor: pointer;
    height: 50px;
    opacity: 0;
    position: fixed;
    right: 12px;
    transition: all 0.3s ease 0s;
    visibility: hidden;
    width: 50px;
    z-index: 9999;
    -webkit-transition: all 0.6s ease;
    transition: all 0.6s ease;
    border: 2px solid #ddd;
    border-radius: 100%;
	
	&.show {
		bottom: 100px;
		opacity: 1;
		visibility: visible;
	}
	&:hover {
		border-color: @primarycolor;
	}
}
.gm-style img { max-width: none; }
.gm-style label { width: auto; display: inline; }
.gm-style-iw, .gm-style-iw > div { width: auto !important;}
.popupshadow {
    background: #000;
	display: none;
    height: 100%;
    left: 0;
    opacity: 0.5;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 10000;
}
#_atssh {
    display: none;
}

#yith-wcwl-popup-message {display: none;}

.woocommerce table.my_account_orders {
	th, td {
		border-bottom: none;
	}
}