/* Layouts */

@import 'variables.less';

.heightzero {
    height: 0px;
    overflow: hidden;
}
.wrapper.box-layout {
	.home-slider {
		margin-left: 0;
		margin-right: 0;
	}
}
.main-container .full-width {
	.row-container {
		margin-left: 0;
		margin-right: 0;
		max-width: 100%;
		width: 100%;
		padding-left: 15px;
		padding-right: 15px;
	}
}
.main-container .home-slider.full-width{
	padding-top: 0;
	margin-left: 0;
	margin-right: 0;
	padding-left: 0;
	padding-right: 0;

	.wpb_content_element {
		margin-bottom: 0;
	}

	.row-container {
		padding-right: 0;
		padding-left: 0;
	}
	.vc_column_container{
		padding-right: 0;
		padding-left: 0;
	}
}


.main-container .no-gap {
	margin: 0;
	
	.row-container {
		max-width: 1170px;
	}
	.vc_column_container {
		padding: 0;
	}
	img {
		width: 100%;
	}
}
// Slider

.main-container .wpb_revslider_element .tp-caption a {
	color: inherit;
	.transition(inherit);
	&:hover {
		color: inherit;
	}
}

.front-page .wpb_content_element {
	&.wpb_revslider_element {
		margin-bottom: 0;
		.tparrows {
			&.custom {
				height: 50px;
			    width: 50px;
			    text-align: center;
			    display: block;
			    border: 2px solid @darkcolor;
			    background: none;
				&:before {
					display: block;
					color: @darkcolor;
					font-family: FontAwesome;
					font-size: 24px;
			    	line-height: 50px;
				}
				&:hover {
					border-color: @primarycolor;
					&:before {
						color: @primarycolor;
					}
				}
			}
		}
		.tp-leftarrow.custom {
			&:before {
				content: "\f0d9";
			}
		}
		.tp-rightarrow.custom {
			&:before {
				content: "\f0da";
			}
		}
	}
}
// Image hover
.front-page {
	.wpb_single_image {
		margin-bottom: 0;
		a {
			.image-hover-effect();
		}
	}
}

.single-image {
	.image-hover-effect();
}

.banner {
	.wpb_wrapper {
		width: 100%;
		a,
		img {
			width: 100%;
		}
	}
}

// Home tabs
.main-container .home-tabs {
	.wpb_content_element {
		margin-bottom: 0;
		
		.wpb_wrapper {
			& > h3 {
				display: none;
			}
		}
	}
	.home-tabs-title {
	    height: auto;
	    line-height: 30px;
	    margin: -8px 0 38px 0;
	    padding: 0;
	    text-align: center;

	    li {
		    display: inline-block;
		    list-style: none;
		    margin: 0 40px 0 0;
		    padding: 0;
		    &:last-child {
		    	margin-right: 0;
		    }

		    a {
		    	color: #a4a4a4;
		    	font-size: 12px;
			    text-transform: uppercase;
			    letter-spacing: 2px;
			    font-weight: 600;

			    &:hover, 
			    &.active {
			    	color: @linkhovercolor;
			    }
			}
		}
	}
	.shop-products {
		.item-col {
			margin-bottom: 20px;
			max-width: 500px;
			width: 100%;
			
			&.first {
				clear: none;
			}
		}
	}
}
.main-container .home-tabs.layout3 {
	.home-tabs-title {
		border-bottom: 1px solid @bordercolor;
		text-align: left;
		margin: 0 0 35px 0;
	    li {
		    margin: 0 60px 0 0;
		    &:last-child {
		    	margin-right: 0;
		    }

		    a {
		    	color: #848484;
		    	font-size: 16px;
		    	position: relative;
				&:after {
					content: "";
					display: block;
					width: 0;
					height: 1px;
					background: @primarycolor;
					position: absolute;
					left: 0;
					bottom: -5px;
					.transition();
				}
			    &:hover, 
			    &.active {
			    	&:after {
			    		width: 55px;
			    	}
			    }
			}
		}
	}
}

.main-container .products-carousel {
	.shop-products {
		margin: 0 -5px;
		.item-col {
			margin-bottom: 30px;
			width: 400px;
			padding: 0 6px;
			
			&.first {
				clear: none;
			}
			a {
				display: block;
			}
			.product-wrapper {
				&:hover {
					h2.product-name {
						.opacity(1);
					}
					.price-ratings {
						.price-box {
							.old-price {
								color: @white;
							}
						}
					}
				}
				h2.product-name {
					text-align: center;
					margin-bottom: 8px;
					.opacity(0);
					.transition();
					a {
						color: @white;
					}
				}
				.price-ratings {
					.price-box {
						font-size: 17px;
						font-weight: 600;
						width: 100%;
						text-align: center;
						.old-price {
							color: #aeaeae;
							font-size: 12px;
							font-weight: 500;
						}
					}
					.ratings {
						display: none;
					}
				}
				.list-col4 {
					margin: 0;
				}
				.list-col8 {
					position: absolute;
					z-index: 101;
					bottom: 25px;
					display: inline-block;
					width: auto;
					left: 50%;
					.transform(translate(-50%));
				}
			}
		}
		&.slick-slider {
			&:hover {
				button {
					&.slick-prev {
						left: 6px;
					}
					&.slick-next {
						right: 4px;
					}
				}
			}
		}
	}
}
.main-container .products-carousel2 {
	.shop-products {
		.item-col {
			margin-bottom: 20px;
			&.first {
				clear: none;
			}
		}
		.group {
			.item-col {
				max-width: 500px;
				width: 100%;
				
				.product-name {
					padding: 0;
					
					&:after {
						display: none;
					}
				}
			}
		}
	}
}

.main-container .products-carousel3 {
	.shop-products {
		margin: 0 -5px;
		.item-col {
			margin-bottom: 30px;
			width: 400px;
			padding: 0 6px;
			
			&.first {
				clear: none;
			}
			a {
				display: block;
			}
		}
		&.slick-slider {
			&:hover {
				button {
					&.slick-prev {
						left: 6px;
					}
					&.slick-next {
						right: 4px;
					}
				}
			}
		}
	}
}

.main-container .products-carousel4 {
	.shop-products {
		.item-col {
			margin-bottom: 20px;
			&.first {
				clear: none;
			}
		}
		.group {
			.item-col {
				max-width: 500px;
				width: 100%;
				
				.product-name {
					padding: 0;
					
					&:after {
						display: none;
					}
				}
			}
		}
	}
}

// Single Product
.home-single-product {
	.shop-products {
		.item-col {
			width: 100%;
			.product-wrapper {
				.list-col4  {
					margin-bottom: 43px;
				}
				h2.product-name {
					margin-bottom: 20px;
					a {
						font-size: 16px;
					}
				}
				.price-box {
					font-size: 16px;
					.old-price {
						font-size: 13px;
					}
				}
			}
		}
	}
}

// Blog carousel

.latest-posts {
	.posts-carousel {
		margin-left: -15px;
		margin-right: -15px;
		.item-col {
			padding: 0 15px;
		}
		&.slick-slider {
			.slick-prev,
			.slick-next {
				top: 40%;
			}
			&:hover {
				.slick-prev {
					left: 15px;
				}
				.slick-next {
					right: 15px;
				}
			}
		}
	}
	.post-thumb {
		position: relative;
		margin-bottom: 22px;
		overflow: hidden;
		a.link {
			width: 100%;
			&:hover {
				img {
					.transform(scale(1.1));
				}
			}
			img {
				width: 100%;
				.transition();
			}
		}
		.post-date {
			background: @primarycolor;
			text-align: center;
			position: absolute;
			bottom: 0;
			left: 0;
			padding: 8px 20px;
			line-height: 1.35;
			.day {
				font-size: 20px;
				color: @white;
				font-weight: bold;
				display: block;
			}
			.month {
				font-size: 14px;
				color: @white;
				text-transform: uppercase;
				display: block;
			}
		}
	}
	.post-info {
		text-align: left;
		.post-title {
			margin-bottom: 15px;
			a {
				display: block;
				font-size: 12px;
				color: #484848;
				font-weight: 600;
				text-transform: uppercase;
				&:hover {
					color: @linkhovercolor;
				}
			}
			&:after {
				content: "";
				display: block;
				width: 32px;
				height: 3px;
				background: #484848;
				margin-top: 8px;
			}
		}
		.post-meta {
			display: none;
		}
		.post-excerpt {
			line-height: 2;
		}
		a.readmore {
			color: #484848;
			font-size: 10px;
			font-weight: 600;
			display: inline-block;
			border-bottom: 1px solid #484848;
			line-height: 1.7;
			&:hover {
				color: @linkhovercolor;
				border-bottom: 1px dashed @linkhovercolor;
			}
		}
	}
}

.latest-posts2 {
	.posts-carousel {
		margin-left: -15px;
		margin-right: -15px;
		.item-col {
			padding: 0 15px;
		}
		&.slick-slider {
			&:hover {
				.slick-prev {
					left: 15px;
				}
				.slick-next {
					right: 15px;
				}
			}
		}
	}
	.post-thumb {
		float: left;
		width: 52%;
		padding-right: 25px;
		a.link {
			position: relative;
			overflow: hidden;
			width: 100%;
			&:hover {
				img {
					.transform(scale(1.1));
				}
			}
			img {
				width: 100%;
				.transition();
			}
		}
		.post-date {
			background: @primarycolor;
			text-align: center;
			position: absolute;
			top: 0;
			right: 0;
			padding: 5px 20px;
			.day {
				font-size: 20px;
				color: @white;
				font-weight: bold;
				display: block;
			}
			.month {
				font-size: 14px;
				color: @white;
				text-transform: uppercase;
				display: block;
			}
		}
	}
	.post-info {
		float: right;
		text-align: left;
		width: 48%;
		.post-title {
			margin-bottom: 15px;
			a {
				display: block;
				font-size: 12px;
				color: #484848;
				font-weight: 600;
				text-transform: uppercase;
				&:hover {
					color: @linkhovercolor;
				}
			}
			&:after {
				content: "";
				display: block;
				width: 32px;
				height: 3px;
				background: #484848;
				margin-top: 8px;
			}
		}
		.post-excerpt {
			line-height: 2;
		}
		.post-meta {
			text-align: right;
			.post-author {
				display: inline-block;
				margin-right: 40px;
			}
			.post-comment {
				display: inline-block;
			}
			a {
				font-size: 10px;
				font-style: italic;
			}
			.fa {
				margin-right: 7px;
			}

		}
		a.readmore {
			color: #484848;
			font-size: 10px;
			font-weight: 600;
			display: inline-block;
			border-bottom: 1px solid #484848;
			line-height: 1.7;
			margin-top: 10px;
			&:hover {
				color: @linkhovercolor;
				border-bottom: 1px dashed @linkhovercolor;
			}
		}
	}
}
// Policy box
.main-container .policy {
	max-width: 1170px;
	margin-left: auto;
	margin-right: auto;
	.wpb_text_column {
		margin-bottom: 0;
	}
}
.box-policy {
	text-align: center;
	&:hover {
		.box-inner {
			.icon {
				.animation(rotate 2s infinite);
				span:before {
					color: @primarycolor;
				}
			}
			.text {
				h4,
				p {
					color: @primarycolor;
				}
			}
		}
	}
	.box-inner {
		display: inline-block;
		vertical-align: middle;
		.clearfix();
		.icon {
			float: left;
			margin-right: 25px;
			span {
				font-size: 0;
				&:before {
					font-size: 48px;
					color: #484848;
				}
			}
		}
		.text {
			float: left;
			text-align: left;
			max-width: 205px;
			h4 {
				font-size: 12px;
				font-weight: 600;
				color: #545454;
				text-transform: uppercase;
				letter-spacing: 2px;
				margin-bottom: 12px;
			}
			p {
				font-size: 11px;
				color: #afafaf;
				line-height: 1.8;
				word-spacing: 6px;
			}
		}
	}
}
// Brands
.main-container .brands {
	max-width: 1170px;
	margin-left: auto;
	margin-right: auto;
	.vc_column-inner  {
		padding-left: 0;
		padding-right: 0;
	}
	&.layout2 {
		max-width: 100%;
	}
	.brands-carousel:hover {
		.slick-prev {
			left: 10px;
		}
		.slick-next {
			right: 10px;
		}
	}
}


.brands-logo.other-page {
	padding: 30px 0;
	border-top: 1px dashed @bordercolor;
	border-bottom: 1px dashed @bordercolor;
}
// Newsletter
.newsletter {
	text-align: center;
	.wpb_content_element {
		.wpb_wrapper {
			> h3 {
				margin-bottom: 0;
			}
		}
	}
	// Other pages
	&.other-page {
		margin: 66px 0;
		.newsletter-title {
			color: @darkcolor;
			font-size: 18px;
			font-weight: 600;
			text-transform: uppercase;
			letter-spacing: 5.5px;
			margin-bottom: 18px;
		}
		.newsletter-text {
			color: #868686;
			margin-bottom: 45px;
		}
		.widget_wysija {
			.widgettitle {
				display: none;
			}
		}
	}
}
.widget_wysija_cont {
	.widget_wysija {
		display: inline-block;
		vertical-align: middle;
		.clearfix();
		.wysija-paragraph {
			float: left;
			position: relative;
			margin: 0;

			&:before {
				content: "\e629";
				font-family: 'Pe-icon-7-stroke';
				font-size: 24px;
				color: #565555;
				width: 43px;
				height: 43px;
				display: block;
				text-align: center;
				line-height: 43px;
				position: absolute;
				right: 0;
				top: 0;
			}
			label {
			    float: left;
			    line-height: 43px;
			    margin-right: 10px;
			}
			input {
				width: 420px;
				height: 43px;
				border: 2px dashed #a5a5a5;
				outline: none;
				font-size: 13px;
				font-weight: 300;
				letter-spacing: 0.5px;
				color: #565555;
				padding: 0 50px 0 15px;
			}
			.formErrorContent {
				top: 15px;
			}
		}
		.wysija-submit {
			float: left;
			margin: 0 0 0 15px;
			border: 2px solid #282a40;
			text-align: center;
			height: 43px;
			line-height: 43px;
			padding: 0 40px;
			font-size: 14px;
			color: #282a40;
			text-transform: uppercase;
			background: @white;
			font-weight: bold;
			.transition(0.2s ease);
			&:hover {
				border-color: @primarycolor;
				background: @primarycolor;
				color: @white;
			}
		}
	}
}

// Testimonials
.testimonials {
	border: 1px solid @bordercolor;
	.testimonials-text {
		border: none;
		font-size: 12px;
		color: @greycolor;
		font-style: italic;
		text-align: left;
		padding: 18px 45px;
	}
	.quote {
		position: relative;
		.author {
			width: 100%;
			display: block;
			background: #f4f4f4;
			padding: 40px 47px 30px 135px;
			text-align: left;
			position: relative;
			&:before {
			    content: "";
			    display: block;
				background: @white;
			    height: 14px;
			    left: 80px;
			    position: absolute;
			    top: -7px;
			    width: 14px;
			    .transform(rotate(45deg));
			}
			span[itemprop="name"] {
				font-size: 12px;
				font-weight: 600;
				color: @primarycolor;
				text-transform: uppercase;
			}
			span[itemprop="jobTitle"] {
				font-size: 10px;
				color: @greycolor;
				margin-left: 5px;
				&:before {
					content: "-";
					font-weight: bold;
					margin-right: 8px;
					color: @primarycolor;
					position: relative;
					top: 1px;
				}
			}
			.url {
				display: block;
				position: absolute;
				bottom: 9px;
				a {
					color: @linkhovercolor;
					&:hover {
						text-decoration: underline;
					}
				}
			}
		}
		.avatar-link,
		.avatar {
			position: absolute;
			z-index: 99;
			left: 52px;
			bottom: 15px;
			display: block;
			width: 61px;
			height: 61px;
			.border-radius(100%);
		}
		.avatar-link {
			img {
				position: static;
			}
		}
		.avatar {
			overflow: hidden;
			.transition();
			&:hover {
				.transform(scale(1.1));
			}
		}
	}
}

// Static block

.static-block-4 {
	text-align: center;
	.wpb_text_column.wpb_content_element {
		margin-bottom: 0;
	}
	.static-block-box {
		background: @white;
		text-align: center;
		max-width: 750px;
		display: inline-block;
		padding: 32px 75px 36px 75px;
		h4 {
			font-size: 14px;
			font-weight: normal;
			color: #3f3f3f;
			text-transform: uppercase;
			margin-bottom: 20px;
		}
		h2 {
			font-size: 40px;
			color: #3f3f3f;
			text-transform: uppercase;
			margin-bottom: 20px;
		}
		p {
			font-size: 12px;
			color: #848484;
			line-height: 25px;
			margin-bottom: 30px;
		}
		.static-button {
			text-align: center;
			a {
				font-size: 14px;
				color: @primarycolor;
				display: inline-block;
				font-weight: bold;
				text-transform: uppercase;
				padding: 0 50px;
				height: 46px;
				line-height: 46px;
				border: 2px dashed @primarycolor;
				margin-right: 30px;
				&:last-child {
					margin-right: 0;
					padding: 0 42px;
				}
				&:hover {
					background: @primarycolor;
					border-color: @primarycolor;
					color: @white;
				}
			}
		}
	}
}


// Newsletter and Brand in other pages
.brand-newsletter {
	float: left;
	width: 100%;
}


// Footer 
.footer {
	.footer-middle .widget.widget-social .social-icons li a i {
		line-height: 35px;
	}
	&.layout6, &.layout7 {
		border-top: 4px solid @primarycolor;

		.widget {
			&.widget_menu {
				ul {
					li {
						a {
							font-size: 14px;
							text-transform: capitalize;
						}
					}
				}
			}
			&.widget_corporate_about{
				float: left;
				width: 100%;
				border-bottom: 1px solid #292929;

				ul{
					list-style: none;
					margin: 0;
					padding: 0;
					li{
						float: left;
						width: 25%;
						letter-spacing: 0.5px;
						text-align: left;
						padding: 46px 0;

						i{
							float: left;
							width: 50px;
							height: 50px;
							text-align: center;
							line-height: 50px;
							background-color: #db527f;
							color: #fff;
							border-radius: 100%;
							margin-right: 15px;
						}
						h3{
							color: #fff;
							font-size:15px;
							text-transform: uppercase;
						}
						p{
							font-size: 14px;
							margin: 0;
						}
					}
					li:nth-child(2){
						i{
							background-color: #3792d0;
						}
					}
					li:nth-child(3){
						i{
							background-color: #79b425;
						}
					}
					li:nth-child(4){
						i{
							background-color: #bf6cce;
						}
					}
				}
			}
		}
		.footer-middle {
			.widget.widget_wysija {
				margin-bottom: 10px;
				form.widget_wysija, .widget_wysija_cont {
					.widget_wysija{
						width: 100%;
						display: inline-block;
						position: relative;			
						.wysija-paragraph {
							float: left;

							.wysija-input {
								width: 218px;
							}
						}
					}
				}
			}
		}	
	}
	&.layout7 {
		border: none;
		background: #fff;

		.widget-title, .widgettitle {
			color: @textcolor;
		}
		a {
			color: lighten(@textcolor, 22%);

			&:hover {
				color: @primarycolor;
			}
		}
		.footer-top {
			background: #f4f4f4;

			.widget.widget_corporate_about {
				border: none;
				color: #5a5a5a;

				ul {
					li {
						h3 {
							color: @textcolor;
						}
					}
				}
			}
		}
		.footer-middle {
			.widget {
				&.widget_about_us {
					ul {
						li {
							color: lighten(@textcolor, 22%);
						}
					}
				}
				&.widget-social {
					.social-icons {
						li {
							a {
								border: 1px solid #d6d6d6;

								&:hover {
									border-color: @primarycolor;
								}
							}
						}
					}
				}
			}
			.widget.widget_wysija {
				form.widget_wysija, .widget_wysija_cont {
					.widget_wysija{
						width: 100%;
						display: inline-block;
						position: relative;			
						.wysija-paragraph {
							float: left;

							.wysija-input {
								width: 230px;
								border-radius: 0;
								border-color: #d6d6d6;
							}
						}
						.wysija-submit {
							background-color: #d6d6d6;
							background-position: 0 100%;
							float: left;
							border-radius: 0;

							&:hover {
								background-color: @primarycolor;
							}
						}
					}
				}
			}
		}
		.footer-bottom {
			.footer-bottom-inner {
				border-top-color: #e9e9e9;
			}
		}
	}
}
.main-container .collapse-menu {
	.widget_nav_menu {
		text-align: left;
		padding-left: 40px;
	}
	ul.menu {
		margin: 0;
		padding: 0;
		
		li {
			list-style: none;
			margin: 0;
			padding-left: 25px;
			position: relative;
			
			a {
				color: #fff;
				display: block;
				font-family: @menufont;
				font-size: 12px;
				font-weight: bold;
				letter-spacing: 0.5px;
				text-transform: uppercase;
			}
			&:hover, &.current-menu-ancestor, &.current-menu-item {
				& > a {
					color: @primarycolor;
				}
			}
		}
		ul.sub-menu {
			display: none;
			margin: 0;
			padding: 10px 0 0 0;
			
			li {
				line-height: 38px;
				
				a {
					font-weight: normal;
					font-size: 14px;
					text-transform: none;
				}
				.fa {
					top: 5px;
				}
			}
		}
		& > li {
			padding: 20px 0 16px;
			border-bottom: 1px solid #3c3c3c;
			
			& > a {
				font-size: 14px;
				text-transform: uppercase;
				z-index: 2;
			}
		}
		.fa {
			color: #fff;
			cursor: pointer;
			display: block;
			float: right;
			height: 20px;
			right: 0;
			line-height: 20px;
			position: absolute;
			text-align: center;
			top: 20px;
			width: 10px;
			font-size: 10px;
			
			&:hover {
				color: @primarycolor;
			}
		}
	}
}

// .products-category...
.main-container{
	.products-category{
		.shop-products{
			margin-bottom: 0;
			.slick-list{
				padding-top: 0;
			}
		}
	}
}

// icon-boxes

.main-container{
	.allen-icon-box{
		.ibox-icon{
			font-size: 0;
			width: 70px;
			height: 70px;
			line-height: 70px;
			text-align: center;
			color: @primarycolor;
			margin-right: 10px;
			-webkit-transition: all 0.4s ease-out;
			-moz-transition: all 0.4s ease-out;
			-ms-transition: all 0.4s ease-out;
			-o-transition: all 0.4s ease-out;
			transition: all 0.4s ease-out;
			&:before{
				font-size: 35px;
			}
		}
		&:hover{
			.ibox-icon{
				background: @primarycolor;
				color: #fff;
				border-radius: 100%;
			}
		}

		h3{
			font-size: 15px !important;
		}
	}
}
// buttons
.main-container{
	.allen-button{
		position: relative;
		display: inline-block;
		-webkit-transition: all 0.2s linear;
		-moz-transition: all 0.2s linear;
		-ms-transition: all 0.2s linear;
		-o-transition: all 0.2s linear;
		transition: all 0.2s linear;
		font-size: 15px;
		line-height: 1.6;
		font-weight: 400;
		text-align: center;
		&.style1{
			border:2px solid #fff;
			background: @primarycolor;
			color: #fff;
			&:hover{
				background: @darkcolor;

			}
		}
		&.style2{
			background: none;
			border:2px solid @bordercolor;
			color: @textcolor;
			&:hover{
				background: @primarycolor;
				color: #fff;
				border-color: @primarycolor;
			}
		}
		&.button-1x{
			min-width: 140px;
			padding: 4px 15px;
		}
		&.button-2x{
			min-width: 140px;
			padding: 7px 20px;
		}
		&.button-3x{
			min-width: 160px;
    		padding: 10px 20px;
		}
	}
}


// Call To Action
.main-container{
	.allen-call-action{
		&.style2{
			h4{
				color: #fff;
				margin: 10px 0 0;
			}
			.allen-button{
				background: #fff;
				border-color: #fff;
				&:hover{
					background: @primarycolor;
					color: #fff;
					border-color: @primarycolor;
				}
			}
		}
	}
}
