/* Less Variables */
@import 'variables.less';

.main-container {

	// Full width template
	&.full-width {
		.wpb_row {
			margin-bottom: 0;
		}
		blockquote {
			background: lighten(@bordercolor, 20%);
			border: none;
			font-size: 14px;
			font-style: italic;
			margin: 20px 0;
			padding: 30px 45px;
		}
	}
	// .about-page
	&.about-page {
		img {
			margin: 0;
		}
		.vc_column_container {
			.wpb_wrapper {
				h3 {
					border: none;
					font-size: 16px;
					font-weight: normal;
					margin: 0 0 10px;
					text-transform: uppercase;
					&:after {
						background: @bordercolor;
						content: "";
						display: block;
						height: 1px;
						margin-top: 4px;
						width: 100%;
					}
				}
			}
			.vc_progress_bar {
				.vc_single_bar {
					background: #ebebeb;
					box-shadow: none;
					margin: 0 0 35px;
					.border-top-right-radius(100px);
					.border-bottom-right-radius(100px);
					
					.vc_bar {
						.border-top-right-radius(100px);
						.border-bottom-right-radius(100px);
					}
					.vc_label {
						color: @white;
						font-size: 12px;
						height: 30px;
						line-height: 30px;
						padding-bottom: 0;
						padding-left: 60px;
						padding-top: 0;
						text-transform: uppercase;
						
						.vc_label_units {
							background: @primarycolor;
							border-radius: 100%;
							color: #fff;
							display: block;
							font-size: 16px;
							height: 50px;
							left: -10px;
							line-height: 50px;
							position: absolute;
							text-align: center;
							text-shadow: none;
							top: -10px;
							width: 50px;
						}
					}
				}
			}
			ul {
				padding: 0;
				
				li {
					list-style: none;
					padding-left: 0;
					position: relative;
				}
			}
			.about-text {
				h2 {
					color: @black;
					font-size: 21px;
					font-weight: normal;
					text-transform: uppercase;
				}
				.button {
					font-size: 14px;
					letter-spacing: 1px;
					margin-top: 20px;
				}
			}
			.content {
				.number {
					background: #ebebeb;
					color: #7d7d7d;
					display: block;
					float: left;
					height: 42px;
					line-height: 42px;
					margin-right: 10px;
					text-align: center;
					width: 42px;
					.border-radius(100%);
					.transition();
				}
				h4.title {
					color: @black;
					font-size: 14px;
					font-weight: normal;
					text-transform: uppercase;
				}
				li {
					.clearfix();
					margin-bottom: 20px;
					&:hover {
						.number {
							background: @primarycolor;
							color: @white;
						}
					}
					&:last-child {
						margin-bottom: 0;
					}
				}
			}
		}
	}
	// Blog page
	.blog-page {
		&.blog-sidebar {
			&.right-sidebar {
				padding: 0;
			}
			&.left-sidebar {
				padding: 0;
			}
			.post-thumbnail {
				margin: 0 0 50px;
				width: 100%;
			}
			.postinfo-wrapper {

			}
		}
		&.blog-nosidebar {
			article {
				float: left;
				width: 100%;
				margin: 0 0 40px 0;
				padding-bottom: 40px;
				border-bottom: 1px solid @bordercolor;
			}
			.post-thumbnail {
				float: left;
				width: 36%;
				margin-bottom: 20px;
			    position: relative;
			}
			.postinfo-wrapper {
				float: left;
				width: 64%;	
				padding: 0 0 0 35px;
				
				&.no-thumbnail {
					padding-left: 0;
				}
			}
		}
		&.blog-large {
			.large-only {
				display: inline-block;
			}
			.post {
				
				.post-thumbnail{
					margin: 0 0 25px;
					width: 100%;
				}
				.postinfo-wrapper{
					padding: 0;
					width: 100%;
				}
				.post-category {
					display: inline-block;
				}
				.post-author {
					display: none;
					
					&.large-only {
						display: inline-block;
					}
					&:after {
						display: none;
					}
				}
				.post-separator {
					display: inline-block;
					margin: 0 20px;
				}
				.entry-title {
					font-size: 25px;
					
					&:after {
						background: #e9e9e9;
						content: "";
						display: block;
						height: 1px;
						margin-top: 12px;
						width: 60px;
					}
				}
			}
		}
		.post {
			float: left;
			margin: 0 0 40px;
			width: 100%;
			padding-bottom: 40px;
			border-bottom: 1px solid #e9e9e9;
		
			&.sticky {
				.entry-title {
					a {
						color: @primarycolor;
					}
				}
			}
			.post-thumbnail{
				float: left;
				margin: 0;
				position: relative;
				width: 35%;
				.su-slider-centered{
					margin-bottom: 0;
				}
				.su-responsive-media-yes{
					margin-bottom: 0;
				}
				.su-slider-slide-title {
					display: none;
				}
			}
			.postinfo-wrapper{
				float: left;
				padding: 0 0 0 35px;
				width: 65%;

				&.no-thumbnail{
					padding: 0;
					width: 100%;
				}
			} 
			.post-info {
				float: left;
				width: 100%;
			}
		}
		.entry-header {
			background: none;
			border: none;
			margin: 0 0 20px;
			position: relative;
			text-align: left;
			padding-left: 100px;
		}
		.entry-title {
			font-size: 20px;
			text-align: left;
			padding: 0;
			text-transform: uppercase;
			margin-bottom: 10px;
			font-weight: 600;
			display: inline-block;

			&:after {
				content: "";
				display: block;
				background: @bordercolor;
				width: 100%;
				height: 1px;
				margin-top: 5px;
			}
			a {
				color: @darkcolor;
				&:hover {
					color: @linkhovercolor;
				}
			}
		}
		.post-meta {
			float: left;
			font-size: 12px;
		}
		.su-responsive-media-yes {
			margin-bottom: 0;
		}
		.player{
			float: left;	
			margin-bottom: 20px;	
			width: 100%;
		}
		.archive-title {
			font-size: 21px;
			margin: 0 0 10px;
			padding: 0;
		}
		.entry-summary {
			color: @textcolor;
		}
		.entry-summary, 
		.entry-content {
			float: left;
			margin: 0;
			width: 100%;
		}
		blockquote {
			background: lighten(@bordercolor, 20%);
			font-size: 14px;
			font-style: italic;
			margin: 40px 0 40px 40px;
			padding: 30px 45px;
			border: 1px solid @bordercolor;
			border-left: 5px solid @primarycolor;
			line-height: 26px;
		}
		.post-date {
			background: @black;
			text-align: center;
			padding: 5px 20px;
			position: absolute;
			left: 0;
			top: 0;

		    .day {
			    font-size: 20px;
		        color: @white;
		        font-weight: bold;
		        display: block;
			}
			.month {
				font-size: 14px;
				color: @white;
				text-transform: uppercase;
				display: block;
			}
		}
		.post-category, 
		.post-author {
			display: inline-block;
			font-style: italic;

			.post-by {
				color: @greycolor;
			}
		}
		.comment {
			display: inline-block;
		}
		.post-small {
			color: @darkcolor;
			font-style: normal;
		}
		.post-separator {
			display: inline-block;
			margin: 0 10px;
		}
		
		a.button {
			border-width: 1px;
			font-size: 11px;
			height: 35px;
			line-height: 33px;
			margin-top: 11px;
		}
		.entry-meta {
			border-bottom: 1px solid @bordercolor;
			border-top: 1px solid @bordercolor;
			color: @greycolor;
			float: left;
			font-size: 12px;
			margin: 0 0 30px;
			padding: 5px 0;
			width: 100%;
			text-transform: uppercase;
			a {
				color: @darkcolor;
				text-transform: none;
				&:hover {
					color: @linkhovercolor;
				}
			}
		}

		.social-sharing {
			float: left;
			margin: 0 0 40px;
			width: 100%;
			
			.widget-title {
				background: none;
				float: left;
				font-size: 14px;
				line-height: 40px;
				margin: 0 20px 0 0;
				text-transform: uppercase;
				width: auto;
			}
			.social-icons {
				float: left;
				margin: 0;
				padding: 0;
				
				li {
					float: left;
					list-style: none;
					position: relative;
					
					&:first-child {
						border-left: none;
					}
					.roadtip {
						line-height: 1.5;
					}
					.social-icon {
						display: inline-block;
						font-size: 18px;
						line-height: 40px;
						height: 40px;
						width: 40px;
						text-align: center;
						color: #fff;
						border-radius: 100%;
						margin-right: 10px;

						&:hover {
							background: @primarycolor !important;
						}
						i {
							line-height: 40px;
						}
						&.facebook {
							background: #3B579D;
						}
						&.twitter {
							background: #3ACAFF;
						}
						&.pinterest {
							background: #CB2027;
						}
						&.gplus {
							background: #D11717;
						}
						&.linkedin {
							background: #0097BD;
						}
					}
				}
			}
		}
		.author-info {
			float: left;
			margin: 0;
			width: 100%;
			
			h2 {
				font-size: 16px;
				margin: 0 0 10px;
			}
			.author-avatar {
				float: left;
				
				img {
					border-radius: 100%;
				}
			}
			.author-description {
				color: @greycolor;
				margin-left: 100px;
				a {
					margin-left: 12px;
				}
			}
		}
		.moretag {
			color: @primarycolor;
			
			&:hover {
				color: @primarycolor;
			}
		}
		.navigation {
			.newer {
				float: left;
				
				a:before {
					content: "\f177";
					display: inline-block;
					font-family: FontAwesome;
					font-size: 12px;
					margin-right: 5px;
				}
			}
			.older {
				float: right;

				a:after {
					content: "\f178";
					display: inline-block;
					font-family: FontAwesome;
					font-size: 12px;
					margin-left: 5px;
				}
			}
		}
		.pagination {
			border-radius: 0;
			float: right;
			margin: 0 0 50px;
			padding: 6px 0 0;
			position: relative;
			text-align: center;
		
			a, span {
				background: none;
				color: @textcolor;
				display: inline-block;
				vertical-align: middle;
				font-family: @bodyfont;
				font-size: 12px;
				font-weight: 700;
				line-height: 32px;
				height: 32px;
				border: 1px solid #dcdcdc;
				padding: 0;
				width: 32px;
				margin: 0 5px;

				&:hover, 
				&.current {
					color: #fff;
					border-color: @primarycolor;
					background-color: @primarycolor;
				}
				&.next, 
				&.prev {
					text-indent: -9999px;
					overflow: hidden;

					&:before {
						display: block;
						text-indent: 0;
						font-family: FontAwesome;
					}
				}
				&.next {
					&:before {
						content: "\f105";
					}
				}
				&.prev {
					&:before {
						content: "\f104";
					}
				}
			}
		}
		.page-links {
			margin: 15px 0;
			
			a {
				background: none;
				border-bottom: 2px solid transparent;
				color: @headingcolor;
				display: inline-block;
				font-family: @headingfont;
				font-size: 12px;
				line-height: 34px;
				padding: 0 8px;
				text-transform: uppercase;
				
				&:hover {
					color: @primarycolor;
					border-bottom: 2px solid @primarycolor;
				}
			}
			& > span {
				background: none;
				border-bottom: 2px solid transparent;
				color: @headingcolor;
				display: inline-block;
				font-family: @headingfont;
				font-size: 12px;
				line-height: 34px;
				padding: 0 8px;
				text-transform: uppercase;
			}
		}
		.comments-area {
			float: left;
			margin: 0 0 60px;
			width: 100%;
			
			.comments-title, 
			.comment-reply-title {
				font-size: 17px;
				margin: 0 0 30px;
				position: relative;
				display: inline-block;
				padding: 0 0 20px;
				text-transform: uppercase;
				border: none;
			}
			.commentlist {
				margin: 0;
				padding: 0;
				
				li.comment {
					list-style: none;
					
					article.comment {
						margin: 0 0 20px;
						border: 1px solid @bordercolor;
						padding: 30px;
						width: 100%;
						.comment-avatar {
							float: left;
						}
						.comment-info {
							border: none;
							margin-left: 75px;	
							position: relative;
							
							.reply {
								float: right;
								display: inline-block;
								margin-left: 10px;
								position: absolute;
								right: 0;
								top: -14px;

								a {
									background: none;
									border: 2px solid @bordercolor;
									border-radius: 20px;
									box-shadow: none;
									color: @primarycolor;
									display: inline-block;
									font-family: @headingfont;
									font-size: 11px;
									font-weight: bold;
									height: 28px;
									line-height: 24px;
									padding: 0 20px;
									text-shadow: none;
									text-transform: uppercase;
									white-space: nowrap;
									-webkit-transition: all 0.3s ease;
									transition: all 0.3s ease;


									&:hover {
										border-color: @primarycolor;
										background: @primarycolor;
										color: #fff;
									}
								}
							}
						}
					}
				}
				.children {

				}
				.comment-meta {
					color: @greycolor;
					line-height: 1;
					margin: 0 0 15px;
					float: left;
					width: 100%;
					
					img {
						margin-right: 10px;
					}
					cite {
						float: left;

						.fn {
							a {
								color: @darkcolor;
								&:hover {
									color: @linkhovercolor;
								}
							}
						}
						span {
							display: none;
						}
					}
					time {
						float: left;
						margin-left: 20px;
					}
				}
				.comment-content {
					color: @greycolor;

					p:last-child{
						margin-bottom: 0;
					}
					.comment-edit-link {
						color: @linkhovercolor;
						&:hover {
							text-decoration: underline;
						}
					}
				}
			}
			.pagination {
				margin: 15px 0;
				width: 100%;
				
				.next, .prev {
					position: relative;
					text-indent: -9999px;
					
					&:after {
						content: "\f054";
						display: inline-block;
						font-family: FontAwesome;
						height: 34px;
						left: 0;
						position: absolute;
						text-align: center;
						text-indent: 0;
						top: 0;
						width: 34px;
					}
				}
				.prev {
					&:after {
						content: "\f053";
					}
				}
			}
			.comment-respond {
				float: left;
				margin: 40px 0;
				width: 100%;
				
				.comment-form {
					label {
						color: @greycolor;
						display: block;
						margin: 0 0 5px;
					}
					.comment-notes, .form-allowed-tags {
						color: @greycolor;
						font-size: 12px;
					}
					.comment-input {
						margin: 0 -10px;
					}
					.comment-form-author, .comment-form-email, .comment-form-url {
						float: left;
						padding: 0 10px;
						width: 33.3333%;
						
						input {
							width: 100%;
						}
					}
					#comment {
						width: 100%;
						height: 130px;
					}
				}
			}
		}
		.nav-single {
			border-bottom: 1px solid @bordercolor;
			border-top: 1px solid @bordercolor;
			float: left;
			font-size: 13px;
			padding: 10px 0;
			width: 100%;
			
			a {
				color: @greycolor;
				
				&:hover {
					color: @primarycolor;
				}
			}
			.nav-previous {
				float: left;
			}
			.nav-next {
				float: right;
			}
		}
		.btn, .btn-primary, #searchsubmit, #wsearchsubmit {
			background: @primarycolor;
			border: none;
			border-radius: 2px;
			box-shadow: none;
			color: #fff;
			font-size: 14px;
			font-weight: normal;
			height: 26px;
			line-height: 26px;
			padding: 0 10px;
			text-shadow: none;
			-webkit-transition: all 0.4s ease;
			transition: all 0.4s ease;
			
			&:hover {
				background: @greycolor;
			}
		}
		.archive-header {
			border-bottom: 1px solid @bordercolor;
			margin-bottom: 30px;
			
			span {
				text-transform: uppercase;
			}
		}
		.author-info.archives {
			margin: 0 0 60px;
			
			.author-avatar {
				margin-right: 0;
			}
			.author-description {
				margin-left: 82px;
				
				h2 {
					border-bottom: 1px solid @bordercolor;
					margin: 0 0 10px;
				}
			}
		}
		.attachment {
			.navigation {
				border-bottom: 1px solid @bordercolor;
				border-top: 1px solid @bordercolor;
				margin: 0 0 25px;
				padding: 5px 0;
			}
		}
		&.single {
			.author-info {
				padding-bottom: 40px;
				border-bottom: 1px solid @bordercolor;
				margin-bottom: 40px;
			}
			.relatedposts {
				margin: 0 0 20px 0; 
				float: left; 
				font-size: 12px;
				width: 100%;

				h3 {
					text-align: center;
					margin-bottom: 35px;
					span {
						display: inline-block;
						color: #444444;
						position: relative;
						font-weight: 600;
						font-size: 18px;
						text-transform: uppercase;
						letter-spacing: 5.5px;
						padding-bottom: 30px;
						&:before {
							border: 2px double #ebebeb;
							border-left: 2px double #fff;
							border-right: 2px double #fff;
							bottom: 8px;
							content: "";
							display: block;
							height: 7px;
							left: 0;
							margin: 0 auto;
							position: absolute;
							right: 0;
						}
						&:after {
							content: "\e650";
							font-family: "Pe-icon-7-stroke";
							display: block;
							background: #fff;
							color: #cf5c7c;
							font-size: 18px;
							position: absolute;
							left: 0;
							margin: 0 auto;
							bottom: 0;
							right: 0;
							text-align: center;
							width: 30px;
						}
					}
				}
			}
			.relatedthumb {
				float: left;
				text-align: center;

				.image {
					position: relative;
					margin-bottom: 25px;
				}
				.post-category {
					margin-bottom: 15px;

					a {
						font-size: 12px;
						color: @linkhovercolor;


						&:hover {
							text-decoration: underline;
						}
					}
				}
				.post-date {
					background: @primarycolor;
					text-align: center;
					position: absolute;
					bottom: 0;
					top: auto;
					left: 0;
					padding: 5px 20px;

					span {
					    &.day {
						    font-size: 20px;
					        color: @white;
					        font-weight: bold;
					        display: block;
						}
						&.month {
							font-size: 14px;
							color: @white;
							text-transform: uppercase;
							display: block;
						}
					}
				}
				.short-description {
					color: #727272;
					margin-bottom: 15px;
					text-align: justify;
				}
				h4 {
					font-size: 14px;
					text-transform: uppercase;
					margin-bottom: 15px;
					a {
						color: @darkcolor;
						&:hover {
							color: @linkhovercolor;
						}
					}
				}
				img {
					padding: 0;
					width: 100%;
				}

				a {
					text-decoration: none; 
					display:inline-block; 
				}
			}
			.post{
				background: none;
				.player{
					float: right;
					max-width: none;
					padding: 0;
				}
			}
			.post-thumbnail {
				width: 100%;
			}
			.postinfo-wrapper {
				padding: 0;
				float: right;
				width: 100%;

				.entry-header {
					padding-top: 0;
					margin: 30px 0 20px;
					
					.entry-title {
						color: @headingcolor;
					}
				}
			}
			.comments-area {
				max-width: none;
				float: right;
				padding: 0;
			}
		}
	}
	// Contact page
	&.contact-page {
		.page-content {
			padding-bottom: 0;
		}
		.contact-desc {
			.wpb_text_column {
				margin-bottom: 20px;
			}
			h3 {
				font-size: 20px;
				font-weight: normal;
				text-transform: uppercase;
			}
			ul {
				list-style: none;
				padding: 0;
				li {
					line-height: 40px;
					max-width: 450px;
					margin-bottom: 10px;
					.clearfix();
					.fa {
						border: 1px solid @bordercolor;
						float: left;
						font-size: 16px;
						height: 40px;
						line-height: 40px;
						margin-right: 10px;
						text-align: center;
						width: 40px;
						.border-radius(100%);
					}
				}
			}
		}
		.contact-form {
			h3 {
				font-size: 20px;
				font-weight: normal;
				margin: 0 0 20px;
				text-transform: uppercase;
			}
		}
		.wpcf7 {
			margin: 0 0 50px;
		}
		.contact-input {
			display: block;
			margin: 0 -10px;
			
			&:after {
				clear: both;
				content: "";
				display: table;
			}
			span {
				float: left;
				margin: 0 0 20px;
				padding: 0 10px;
				width: 50%;
				
				&.wpcf7-not-valid-tip {
					margin: 0;
				}
				&.your-subject {
					width: 100%;
				}
				span {
					width: 100%;
				}
				input, .wpcf7-text {
					background: none;
					border: 1px solid #e3e3e3;
					border-radius: 0;
					height: 46px;
					padding-left: 15px;
					width: 100%;
				}
			}
		}
		.contact-message {
			float: left;
			margin: 0 0 20px;
			width: 100%;
			
			span {
				float: left;
				width: 100%;
			}
			textarea, .wpcf7-textarea {
				background: none;
				border: 1px solid #e3e3e3;
				border-radius: 0;
				height: 135px;
				padding: 15px;
				width: 100%;
			}
		}
		.wpcf7-submit {
			background: @primarycolor;
			border: none;
			color: #fff;
			float: right;
			font-family: @headingfont;
			font-size: 14px;
			font-weight: 700;
			height: 42px;
			line-height: 45px;
			padding: 0 36px;
			text-transform: uppercase;
			
			&:hover {
				background: darken(@primarycolor, 10%);
			}
		}
	}
	
	// Default page template
	&.default-page {
		.entry-header {
			
		}
		blockquote {
			background: lighten(@lightgreycolor, 20%);
			border: none;
			font-size: 14px;
			font-style: italic;
			margin: 20px 0;
			padding: 30px 45px;
		}
		.comments-area {
			clear: both;
			float: left;
			margin: 0 0 60px;
			width: 100%;
			
			.comments-title, .comment-reply-title {
				border-top: 1px solid @bordercolor;
				font-size: 24px;
				margin: 0 0 50px;
				padding: 22px 0 0;
				text-transform: uppercase;
			}
			.commentlist {
				margin: 0 0 60px;
				padding: 0;
				
				li.comment {
					list-style: none;
					
					article.comment {
						margin: 0 0 20px;
						
						.comment-avatar {
							float: left;
						}
						.comment-info {
							border: 1px solid #ececec;
							border-radius: 3px;
							margin-left: 60px;
							padding: 10px;
							position: relative;
							
							:before {
								background: #fff;
								border-bottom: 1px solid #ececec;
								border-left: 1px solid #ececec;
								content: "";
								display: block;
								height: 10px;
								left: -5px;
								position: absolute;
								top: 10px;
								transform: rotate(45deg);
								width: 10px;
							}
							
							.reply {
								display: inline-block;
								margin-left: 10px;
								
								.comment-reply-link {
									color: #999;
									
									&:hover {
										color: @primarycolor;
									}
									&:after {
										content: "\f112";
										display: inline-block;
										font-family: FontAwesome;
										margin-left: 5px;
									}
								}
							}
						}
					}
				}
				.children {

				}
				.comment-meta {
					color: @greycolor;
					line-height: 1;
					margin: 0 0 15px;
					
					img {
						margin-right: 10px;
					}
					cite {
						margin-right: 10px;
					}
				}
				.comment-content {
					color: @greycolor;
					font-size: 13px;
				}
			}
			.comment-respond {
				float: left;
				margin-top: 25px;
				width: 100%;
			}
			.comment-form {
				label {
					color: @greycolor;
					display: block;
				}
				.comment-notes, .form-allowed-tags {
					color: @greycolor;
					font-size: 95%;
				}
				.comment-input {
					margin: 0 -10px;
				}
				.comment-form-author, .comment-form-email, .comment-form-url {
					float: left;
					padding: 0 10px;
					width: 33.3333%;
					
					input {
						width: 100%;
					}
				}
				#comment {
					width: 100%;
					height: 130px;
				}
			}
		}
	}
	// Error 404 page
	&.error404 {
		min-height: 200px;
		text-align: center;
		border-top: 1px solid #f0f0f0;

		.search-form-wrapper{
			padding: 112px 0;

			h1 {
				font-size: 200px;
				line-height: 160px;
				font-weight: 300;
				color: @primarycolor;
			}
			h2{
				color: @textcolor;
				font-size: 35px;
				text-transform: uppercase;
			}
			p{
				font-size: 22px;
				width: 60%;
				text-align: center;
				margin: 20px auto 30px;
				font-weight: 300;
				color: #151515;
			}			
			.form-input{
				margin: 0 auto;
				position: relative;
				height: 45px;
				background: #f8f8f8;
				width: 450px;
				border-radius: 30px;
				border: 1px solid #e9e9e9;

				.input_text{
					height: 100%;
					width: 100%;
					background: none;
					border: 0;
					padding-left: 20px;
					padding-right: 80px;
					outline: none;
				}
				.button{
					position: absolute;
					right: 0;
					top: 0;
					height: 100%;
					width: 50px;
					border: 0;
					background: none;
					color: #4f4f4f;
					font-size: 18px;
					&:hover{
						color: @primarycolor;
					}
				}
			}
			a.button{
			    background: @primarycolor;
			    border-radius: 35px;
			    box-shadow: none;
			    color: #fff;
			    display: inline-block;
			    font-family: @headingfont;
			    font-weight: bold;
			    height: 40px;
			    line-height: 40px;
			    padding: 0 30px;
			    text-shadow: none;
			    text-transform: uppercase;
			    white-space: nowrap;
			    -webkit-transition: all 0.3s ease;
			    transition: all 0.3s ease;
			    margin-top: 60px;

			    &:hover {
			    	background: darken(@primarycolor, 10%)
			    }
			}
		}
	}
	
}