// Typography

@bodyfont: @body_font, Arial, Helvetica, sans-serif;
@textcolor: @text_color;
@textsize: @text_size;
@textselectedcolor: @text_selected_color;
@textselectedbg: @text_selected_bg;

@headingfont: @heading_font, Arial, Helvetica, sans-serif;
@headingcolor: @heading_color;
@headingfontweight: @heading_font_weight;

@menufont: @menu_font, Arial, Helvetica, sans-serif;
@menucolor: @menu_color;
@menufontsize: @menu_font_size;
@menufontweight: @menu_font_weight;

@submenubg: @sub_menu_bg;
@submenucolor: @sub_menu_color;

@vmenufont: @vmenu_font, Arial, Helvetica, sans-serif;
@vmenucolor: @vmenu_color;
@vmenufontsize: @vmenu_font_size;
@vmenufontweight: @vmenu_font_weight;

@vsubmenubg: @vsub_menu_bg;

@linkcolor: @link_color;
@linkhovercolor: @link_hover_color;
@linkactivecolor: @link_active_color;


// Colors

@primarycolor: @primary_color;
@salecolor: @sale_color;
@saletextcolor: @saletext_color;
@ratecolor: @rate_color;

//Topbar

@topbarbg: @topbar_bg;
@topbarcolor: @topbar_color;
@topbarlinkcolor: @topbar_link_color;
@topbarlinkhovercolor: @topbar_link_hover_color;
@topbarlinkactivecolor: @topbar_link_active_color;

//Header

@headerbg: @header_bg;
@headercolor: @header_color;
@headerlinkcolor: @header_link_color;
@headerlinkhovercolor: @header_link_hover_color;
@headerlinkactivecolor: @header_active_hover_color;

@headerstickybg: @header_sticky_bg;

//Footer

@footerbg: @footer_bg;
@footercolor: @footer_color;
@footerlinkcolor: @footer_link_color;
@footerlinkhovercolor: @footer_link_hover_color;
@footerlinkactivecolor: @footer_link_active_color;

// Defined colors

@darkcolor: #363636;
@greycolor: #999999;
@lightgreycolor: #bababa;
@bordercolor: #e5e5e5;
@white: #ffffff;
@black: #000000;

.buttonMixin() {
	background: @primarycolor;
	border: 2px solid @primarycolor;
	border-radius: 0px;
	box-shadow: none;
	color: #fff;
	display: inline-block;
	font-family: @headingfont;
	font-size: 12px;
	font-weight: bold;
	height: 42px;
	line-height: 42px;
	padding: 0 30px;
	text-shadow: none;
	text-transform: uppercase;
	white-space: nowrap;
	-webkit-transition: all 0.3s ease;
	transition: all 0.3s ease;
	
	&:hover {
		background: darken(@primarycolor, 15%);
		border-color: darken(@primarycolor, 15%);
		color: #fff;
	}
}
.noneTextSelect() {
	-webkit-user-select: none;  /* Chrome all / Safari all */
	-moz-user-select: none;     /* Firefox all */
	-ms-user-select: none;      /* IE 10+ */
	user-select: none;          /* Likely future */      
}


/**********MIXINS********/
.box-shadow-submenu (@shadow: -3px 3px 10px rgba(0,0,0,0.15)) {
	-webkit-box-shadow: @shadow; // iOS <4.3 & Android <4.1
	   -moz-box-shadow: @shadow;
	        box-shadow: @shadow;
}
.submenu-margintop (@margintop: 1px) {
	margin-top: @margintop;
}

// Hover effect
.image-hover-effect() {
  display: inline-block;
  position: relative;
    &:before {
       background: rgba(255, 255, 255, 0.1);
       bottom: 15px;
       content: "";
       left: 15px;
       position: absolute;
       right: 15px;
       top: 15px;
       .transform(scale(0));
       .transition();
    }
    &:hover {
        &:before {
          .transform(scale(1));
        }
    }
}

// CSS3 PROPERTIES
// --------------------------------------------------

// Opacity
.opacity(@opacity) {
  opacity: @opacity;
  // IE8 filter
  @opacity-ie: (@opacity * 100);
  filter: ~"alpha(opacity=@{opacity-ie})";
}


// Clearfix
// Source: http://nicolasgallagher.com/micro-clearfix-hack/
//
// For modern browsers
// 1. The space content is one way to avoid an Opera bug when the
//    contenteditable attribute is included anywhere else in the document.
//    Otherwise it causes space to appear at the top and bottom of elements
//    that are clearfixed.
// 2. The use of `table` rather than `block` is only necessary if using
//    `:before` to contain the top-margins of child elements.

.clearfix() {
  &:before,
  &:after {
    content: " "; /* 1 */
    display: table; /* 2 */
  }
  &:after {
    clear: both;
  }
}
.border-radius(@radius: 4px) {
  -webkit-border-radius: @radius;
     -moz-border-radius: @radius;
          border-radius: @radius;
}


// Drop shadows
.box-shadow(@shadow) {
  -webkit-box-shadow: @shadow; // iOS <4.3 & Android <4.1
     -moz-box-shadow: @shadow;
          box-shadow: @shadow;
}

.transform(@transform) {
   -webkit-transform: @transform;
      -moz-transform: @transform;
           transform: @transform;
 }

// Transitions
.transition(@transition: 0.3s ease) {
  -webkit-transition: @transition;
     -moz-transition: @transition;
      -ms-transition: @transition;
       -o-transition: @transition;
          transition: @transition;
}



.animation(@animation) {
  -webkit-animation: @animation;
     -moz-animation: @animation;
       -o-animation: @animation;
          animation: @animation;
}
// Single Corner Border Radius
.border-top-left-radius(@radius) {
  -webkit-border-top-left-radius: @radius;
      -moz-border-radius-topleft: @radius;
          border-top-left-radius: @radius;
}
.border-top-right-radius(@radius) {
  -webkit-border-top-right-radius: @radius;
      -moz-border-radius-topright: @radius;
          border-top-right-radius: @radius;
}
.border-bottom-right-radius(@radius) {
  -webkit-border-bottom-right-radius: @radius;
      -moz-border-radius-bottomright: @radius;
          border-bottom-right-radius: @radius;
}
.border-bottom-left-radius(@radius) {
  -webkit-border-bottom-left-radius: @radius;
      -moz-border-radius-bottomleft: @radius;
          border-bottom-left-radius: @radius;
}

// keyframe
//rotate
@-moz-keyframes rotate {
    0% {
      .transform(rotateY(0deg));
    }
    50% {
      .transform(rotateY(180deg));
    }
    100% {
      .transform(rotateY(0deg));
    }
}
@-webkit-keyframes rotate {
    0% {
      .transform(rotateY(0deg));
    }
    50% {
      .transform(rotateY(180deg));
    }
    100% {
      .transform(rotateY(0deg));
    }
}
@keyframes rotate { 
    0% {
      .transform(rotateY(0deg));
    }
    50% {
      .transform(rotateY(180deg));
    }
    100% {
      .transform(rotateY(0deg));
    }
}


