@import 'variables.less';

// WooCommerce onsale label
.woocommerce {
	.product-wrapper, .single-product-image {
		.onsale {
			background: @salecolor;
			border-radius: 100%;
			box-shadow: none;
			font-family: @headingfont;
			font-size: 11px;
			height: 45px;
			left: auto;
			right: 10px;
			line-height: 45px;
			position: absolute;
			text-align: center;
			text-shadow: none;
			text-transform: uppercase;
			top: 10px;
			width: 45px;
			z-index: 3;

			
			.sale-bg {
				display: none;
			}
			.sale-text {
				color: @saletextcolor;
			}
		}
	}
}
.price-box-small {
	display: none;
}
.actions-listview {
	display: none;
}
.widgettitleMixin {
	font-size: 14px;
	margin: 0 0 25px;
	text-transform: uppercase;
	width: 100%;
}
.widget-title, .widgettitle {
	.widgettitleMixin();
}
.woocommerce, .woocommerce-page {
	.ratings, .woocommerce-product-rating {
		margin: 0 0 10px;
		line-height: 1;
		.star-rating {
			display: inline-block;
			float: none;
			height: 15px;
			width: 68px;
			margin: 0;
			&:before {
				content: "\f005\f005\f005\f005\f005";
				font-family: FontAwesome;
				font-size: 12px;
				letter-spacing: 3px;
			}
			span {
				display: inline-block;
				height: 21px;
				width: 120px;
				
				&:before {
					color: @ratecolor;
					content: "\f005\f005\f005\f005\f005";
					font-family: FontAwesome;
					font-size: 12px;
					letter-spacing: 3px;
				}
			}
		}
	}
}
#yith-wcwl-popup-message {
    background: @primarycolor;
    border: none;
    border-radius: 0;
    color: #fff;
    padding: 0 20px;
}
// Added to cart popup
.atc-notice-wrapper {
	background: #fff;
    border-radius: 3px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.8);
	display: none;
	left: 50%;
	margin-left: -160px;
    max-width: 100%;
    position: fixed;
	top: 40%;
    width: 320px;
    z-index: 1000;
	
	.close {
		color: @greycolor;
		font-size: 22px;
		opacity: 1;
		position: absolute;
		right: 5px;
		top: 5px;
		-webkit-transition: color 0.3s ease;
		transition: color 0.3s ease;
		
		&:hover {
			color: @primarycolor;
		}
	}
	h3 {
		border-bottom: 1px solid @bordercolor;
		font-size: 16px;
		margin: 0 0 10px;
		padding: 10px 0;
		text-align: center;
		text-transform: uppercase;
	}
	.product-wrapper {
		float: left;
		padding: 0 10px;
		width: 100%;
	}
	.product-image {
		float: left;
		width: 25%;
	}
	.product-info {
		float: left;
		padding-left: 20px;
		width: 75%;
		
		h4 {
			font-size: 15px;
			font-weight: 600;
			margin: 0 0 10px;
		}
		.price {
			float: left;
			margin: 0;
			width: 100%;

			.special-price {
				color: @primarycolor;
				font-size: 18px;
				font-weight: bold;
			}
			.old-price {
				color: @lightgreycolor;
				font-size: 16px;
				margin-left: 10px;
				text-decoration: line-through;
			}
		}
	}
	.buttons {
		background: @bordercolor;
		border-radius: 0 0 3px 3px;
		float: left;
		margin: 10px 0 0;
		padding: 10px;
		width: 100%;
		
		.button {
			background: @primarycolor;
			border: none;
			border-radius: 0;
			box-shadow: none;
			color: #fff;
			display: inline-block;
			float: right;
			font-weight: 400;
			height: 30px;
			line-height: 34px;
			padding: 0 20px;
			text-shadow: none;
			text-transform: uppercase;
	
			&:hover {
				background: darken(@primarycolor, 10%);
				color: #fff;
			}
		}
	}
}
// Quick view
body.quickview {
    overflow: hidden;
}
.quickview-wrapper {
	background: rgba(0,0,0,0.7);
    bottom: 0;
    height: 100%;
    left: 0;
    opacity: 0;
    overflow-y: auto;
    position: fixed;
    right: 0;
    top: 0;
    visibility: hidden;
    width: 100%;
    z-index: 12000;
	-webkit-transition: all 0.5s ease;
	transition: all 0.5s ease;
	
	&.open {
		opacity: 1;
		visibility: visible;
		
		.quick-modal {
			top: 0;
		}
	}
	.qvbtn {
		border: 1px solid #fff;
		border-radius: 3px;
		color: #fff;
		cursor: pointer;
		display: block;
		font-size: 32px;
		height: 50px;
		left: 30px;
		position: absolute;
		text-align: center;
		top: 30%;
		width: 50px;
		-webkit-transition: all 0.3s ease;
		transition: all 0.3s ease;
	
		&:hover {
			background: @primarycolor;
		}
		&.qvnext {
			left: auto;
			right: 30px;
		}
		i {
			line-height: 48px;
		}
	}
	.quick-modal {
		background: #fff;
		border-radius: 3px;
		box-shadow: 0 0 10px rgba(0, 0, 0, 0.8);
		margin: 5% auto;
		max-width: 96%;
		min-height: 300px;
		padding: 20px;
		position: relative;
		top: -500px;
		width: 870px;
		z-index: 1000;
		-webkit-transition: all 0.5s ease;
		transition: all 0.5s ease;
		
		.qvloading {
			background: #fff url('../images/loading.gif') no-repeat center center;
			display: none;
			height: 100%;
			left: 0;
			position: absolute;
			top: 0;
			width: 100%;
			opacity: 0.7;
			z-index: 1;
		}
		.closeqv {
			border: 1px solid @greycolor;
			border-radius: 3px;
			color: @greycolor;
			cursor: pointer;
			display: block;
			height: 30px;
			line-height: 28px;
			position: absolute;
			right: 10px;
			text-align: center;
			top: 10px;
			width: 30px;
			z-index: 2;
			-webkit-transition: all 0.3s ease;
			transition: all 0.3s ease;
			
			&:hover {
				border: 1px solid @primarycolor;
				color: @primarycolor;
			}
		}
	}
	
	#quickview-content {
		background: #fff;
		
		.product-images {
			float: left;
			width: 40%;
			
			.quick-thumbnails {
				float: left;
				margin: 0;
				width: 100%;
				
				.slick-dots{
					bottom: auto;
					margin: 10px 0 0;
					position: static;
					padding: 0;
					list-style: none;
					text-align: center;
			
					li{
						display: inline-block;
						height: 13px;
						margin: 0 2px;
						width: 13px;
						
						button{
							background: none;
							border: 2px solid @bordercolor;
							border-radius: 100%;
							height: 100%;
							margin: 0;
							opacity: 1;
							overflow: hidden;
							padding: 0;
							position: static;
							text-indent: -9999px;
							visibility: visible;
							width: 100%;

							&:hover{
								background: @bordercolor;
							}
							&:before {
								display: none;
							}
						}
						&.slick-active{
							button{
								background: @bordercolor;
							}
						}
					}
				}
				.slick-slide {
					a {
						float: left;
						padding: 0 5px 5px;
						width: 100%;
						
						img {
							border: 1px solid @bordercolor;
						}
					}
				}
			}
			.main-image {
				float: left;
				margin-bottom: 10px;
				width: 100%;
				
				img {
					box-shadow: none;
				}
			}
		}
		.product-info {
			float: left;
			padding-left: 30px;
			width: 60%;
			
			h1 {
				font-size: 22px;
				font-weight: normal;
				margin: 0 0 20px;
			}
			.price-box {
				float: left;
				font-weight: 700;
				margin: 0 0 12px;
				width: 100%;
				
				p {
					margin: 0;
				}
				.special-price {
					color: @primarycolor;
					font-size: 24px;
				}
				.old-price {
					font-size: 14px;
					color: @greycolor;
					font-weight: normal;
					text-decoration: line-through;
					margin-left: 12px;
				}
			}
			.see-all {
				color: @greycolor;
				display: inline-block;
				margin-bottom: 40px;
				text-decoration: underline;
				width: 100%;
				
				&:hover {
					color: @primarycolor;
				}
			}
			.quick-add-to-cart {
				border-bottom: 1px solid @bordercolor;
				float: left;
				margin: 0 0 20px;
				padding: 0 0 38px;
				width: 100%;
				
				.product_title, .price-box {
					display: none;
				}
				.woocommerce-product-rating {
					float: left;
					margin: 0 0 20px;
					width: 100%;
					
					.star-rating {
						color: @ratecolor;
						float: left;
						font-size: 10px;
						height: 12px;
						margin-right: 5px;
						margin-top: 3px;
						
						&:before {
							color: #b7b7b7;
						}
					}
					a.woocommerce-review-link {
						color: @greycolor;
						float: left;
						font-style: italic;
						line-height: 14px;
						text-decoration: underline;
						
						&:hover {
							color: @primarycolor;
						}
					}
				}
				.group-row {
					margin-bottom: 20px;
					.label {
						a {
							font-size: 13px;
							font-weight: normal;
							color: @darkcolor;
							&:hover {
								color: @linkhovercolor;
							}
						}
					}
					.price {
						line-height: 1;
					}
				}
				.cart {
					float: left;
					margin-bottom: 10px;
					width: 100%;
					
					.quantity {
						border: 1px solid @bordercolor;
						float: left;
						margin-right: 5px;
						width: auto;
						
						.input-text {
							border: none;
							color: @darkcolor;
							font-family: @bodyfont;
							font-size: 14px;
							font-weight: normal;
							height: 41px;
							line-height: 41px;
							width: 50px;
						}
					}
					.button {
						.buttonMixin();
					}
					.variations {
						float: left;
						width: 100%;
						
						.variant {
							float: left;
							padding: 0 0 17px;
							width: 100%;
						}
						.label {
							display: block;
							font-size: 14px;
							padding: 0 0 5px;
							text-align: left;
							
							label {
								color: @darkcolor;
								font-weight: normal;
								line-height: 27px;
								margin: 0;
								text-transform: capitalize;
							}
						}
						select {
							border: 1px solid @bordercolor;
							height: 27px;
							line-height: 27px;
							margin-right: 10px;
							width: auto;
						}
						.reset_variations {
							line-height: 27px;
							font-size: 0.8em;
							display: block;
							margin-top: 5px;
						}
					}
					.single_variation {
						float: left;
						margin-bottom: 15px;
						width: 100%;
						
						.price {
							color: @textcolor;
							
							del {
								color: @greycolor;
								font-size: 18px;
								text-decoration: line-through;
							}
							ins {
								color: @primarycolor;
								font-size: 24px;
								text-decoration: none;
							}
						}
					}
				}
				.product_meta {
					display: none;
				}
				.yith-wcwl-add-to-wishlist {
					color: @greycolor;
					float: left;
					font-size: 12px;
					margin: 0;
					width: 100%;
					
					.feedback {
						display: none;
					}
					a {
						color: @greycolor;
						float: left;
						text-decoration: underline;
						
						&:hover {
							color: @primarycolor;
						}
					}
				}
			}
			.quick-desc {
				border-bottom: 1px solid @bordercolor;
				color: @darkcolor;
				float: left;
				font-size: 14px;
				line-height: 21px;
				margin: 0 0 25px;
				padding: 0 0 15px;
				width: 100%;
				
				ul, ol {
					margin: 0 0 10px;
					padding: 0;
					
					li {
						list-style: none;
						margin: 0 0 5px;
						
						&:before {
							content: "\f00c";
							display: inline-block;
							font-family: FontAwesome;
							margin-right: 6px;
						}
					}
				}
			}
		}
		.widget {
			float: left;
			width: 100%;
			
			.widget-title {
				background: none;
				color: @greycolor;
				float: left;
				line-height: 30px;
				margin: 0 0 5px;
				text-align: left;
				text-transform: uppercase;
				width: 100%;
			}
			.social-icons {
				float: left;
				margin: 0;
				padding: 0;
				
				li {
					float: left;
					line-height: 30px;
					list-style: none;
					margin-right: 10px;
					
					.social-icon {
						border: 1px solid @bordercolor;
						color: @greycolor;
						display: inline-block;
						font-size: 18px;
						line-height: 28px;
						text-align: center;
						width: 40px;
						
						&:hover {
							color: #fff;
						}
						&.facebook {
							&:hover {
								background: #3B579D;
								border: 1px solid #3B579D;
							}
						}
						&.twitter {
							&:hover {
								background: #3ACAFF;
								border: 1px solid #3ACAFF;
							}
						}
						&.pinterest {
							&:hover {
								background: #CB2027;
								border: 1px solid #CB2027;
							}
						}
						&.tumblr {
							&:hover {
								background: #304E6C;
								border: 1px solid #304E6C;
							}
						}
						&.gplus {
							&:hover {
								background: #D11717;
								border: 1px solid #D11717;
							}
						}
						&.linkedin {
							&:hover {
								background: #0097BD;
								border: 1px solid #0097BD;
							}
						}
					}
				}
			}
		}
	}
}

.main-container {
	// Shop toolbar
	.toolbar {
		float: left;
		margin: 0 0 30px;
		padding: 0 15px 10px;
		position: relative;
		text-align: right;
		width: 100%;
		
		&.tb-bottom {
			margin: 0 0 80px 0;
			padding: 0;
		}
		.view-mode {
			float: left;
			label {
				display: none;
			}
			a {
				color: @greycolor;
				float: left;
				font-size: 18px;
				margin-right: 8px;
				width: 40px;
				height: 40px;
				text-align: center;
				line-height: 40px;
				border: 1px solid @bordercolor;

				&:hover, 
				&.active {
					color: @primarycolor;
					border-color: @primarycolor;
				}
			}
		}
		.woocommerce-result-count {
			color: #3e3e3e;
			margin-bottom: 0;
			float: right;
			height: 40px;
			line-height: 40px;
			font-size: 12px;
			position: relative;
			padding-left: 20px;
			&:before {
				content: "";
				display: block;
				width: 1px;
				height: 20px;
				background: @darkcolor;
				position: absolute;
				left: 0;
				top: 50%;
				margin-top: -11px;
			}
		}
		.woocommerce-ordering {
			float: right;
			margin: 0;
			position: relative;
			
			.orderby-wrapper {
				padding: 0 0 0  10px;
				height: 40px;
				line-height: 40px;
				font-size: 12px;

				label {
					color: #3e3e3e;
					float: left;
					margin-right: 10px;
				}
				select {
					display: none;
					font-family: @headingfont;
					font-size: 12px;
					text-transform: uppercase;
				}
				.chosen-container {
					padding: 0 0 0 15px;
					.chosen-single {
						background: none;
						border: none;
						border-radius: 0;
						box-shadow: none;
						color: #3e3e3e;
						font-size: 12px;
						padding: 0 30px 0 0;
						&:hover {
							color: @linkhovercolor;
						}
						span {
							margin-right: 10px;
						}
						div {
							right: 15px;
							
							b {
								background: none !important;
								
								&:before {
									content: "\f107";
									font-family: FontAwesome;
									font-size: 13px;
									margin-top: -1px;
									float: left;
								}
							}
						}
					}
					&.chosen-with-drop {
						.chosen-single {
							color: @linkhovercolor;
						}
						.chosen-drop {
							left: auto;
							right: 0;
						}
					}
					.chosen-drop {
						border: 1px solid @bordercolor;
						box-shadow: 0px 0px 4px 0px rgba(0,0,0,0.14);
						font-family: @bodyfont;
						margin-top: 10px;
						width: 240px;
						
						
						ul {
							margin: 10px 0;
							padding: 0;
							
							li {
								font-size: 12px;
								margin: 0;
								padding: 10px 24px 10px 0;
								text-align: right;
								
								&.highlighted {
									background: lighten(@primarycolor, 10%);
								}
							}
						}
					}
				}
			}
		}
		.woocommerce-pagination {
			float: right;
			width: 100%;
			
			ul.page-numbers {
				float: left;
				padding: 20px 0;
				text-align: center;
				width: 100%;
				border: 1px solid #e3e3e3;
				border-left: none;
				border-right: none;
				
				li {
					border: none;
					display: inline-block;
					float: none;
					margin: 0 5px;
					
					a, span {
						background: none;
						color: @darkcolor;
						display: inline-block;
						vertical-align: middle;
						font-family: @bodyfont;
						font-size: 12px;
						font-weight: 700;
						line-height: 32px;
						height: 32px;
						border: 1px solid #dcdcdc;
						padding: 0;
						width: 32px;
						
						&.current, 
						&:hover {
							color: #fff;
							border-color: @primarycolor;
							background-color: @primarycolor;
						}
						
						&.next, 
						&.prev {
							text-indent: -9999px;
							overflow: hidden;

							&:before {
								display: block;
								text-indent: 0;
								font-family: FontAwesome;
							}
						}
						&.next {
							&:before {
								content: "\f105";
							}
						}
						&.prev {
							&:before {
								content: "\f104";
							}
						}
					}
				}
			}
		}
	}
	// List products
	.shop-products {
		// margin: 0 -10px;
		margin: 0 -15px;
		padding: 0;
		// Product slider
		&.slick-slider {
			&:hover {
				.slick-prev {
					left: 15px;
				}
				.slick-next {
					right: 15px;
				}
			}
		}

		.product-layout4 {
			display: none;
		}
		.product-category {
			float: left;
			width: 100%;
			margin: 0 0 30px;
			.category-image {
				float: left;
				width: 60%;
			}
			.category-info {
				float: left;
				padding: 0 0 0 70px;
				width: 40%;
				
				label {
					font-size: 30px;
				}
				h1 {
					color: @primarycolor;
					font-size: 40px;
					font-weight: 700;
					line-height: 1;
					text-transform: uppercase;
				}
				.category-desc {
					font-size: 18px;
					margin: 0 0 40px;
				}
				a {
					font-size: 14px;
					text-decoration: underline;
					text-transform: uppercase;
					
					&:hover {
						text-decoration: none;
					}
				}
			}
			&.even {
				.category-image {
					float: right;
				}
			}
		}
		.item-col {
			margin: 0 0 20px;
			padding: 0 15px;
			-webkit-transition: all 0.3s ease;
			transition: all 0.3s ease;
			
			&.first {
				clear: both;
			}
			.product-wrapper {
				float: left;
				position: relative;
				width: 100%;
				text-align: left;
				-webkit-transition: all 0.5s ease;
				transition: all 0.5s ease;
				
				a {
					display: block;
				}
				
				&:hover {

					.shadow {
						opacity: 0.6;
					}
					.product-image {
						a {
							img.secondary_image {
								opacity: 1;
							}
						}
					}
					.actions {
						visibility: visible;
						.add-to-links {
							li {
								.transform(scale(1));
							}
						}
					}
				}
				.roadtip {
					top: -40px;
				}
				
				.product-image {
					display: block;
					position: relative;
					text-align: center;
					a {
						display: block;
						position: relative;
						img {
							box-shadow: none;
							float: none;
							margin: 0;
							width: 100%;
							-webkit-transition: all 0.3s ease;
							transition: all 0.3s ease;
						}
						img.secondary_image {
							left: 0;
							opacity: 0;
							position: absolute;
							top: 0;
							z-index: 1;
						}
					}
				}
				.price-box {
					color: @darkcolor;
					font-size: 12px;
					font-weight: bold;
					
					.special-price {
						display: inline-block;
					}
					.old-price {
						display: inline-block;
						font-size: 10px;
						font-weight: normal;
						margin-left: 12px;
						color: @greycolor;
						text-decoration: line-through;
					}
				}
				.list-col4 {
					position: relative;
					margin-bottom: 16px;
				}
				.list-col8 {
					float: left;
					.gridview {
						display: block;
					}
					.listview {
						display: none;
					}
				}
				h2.product-name {
					font-size: 12px;
					font-weight: normal;
					margin: 0;
					a {
						color: #a5a5a5;
						&:hover {
							color: @primarycolor;
						}
					}
					
				}
				.actions {
					left: 0;
					margin: 0;
					position: absolute;
					z-index: 99;
					top: 50%;
					visibility: hidden;
					text-align: center;
					width: 100%;
					.transform(translateY(-50%));
					
					.add-to-links {
						list-style: none;
						display: inline-block;
						margin: 0;
						padding: 0;

						li {
							float: left;
							margin-right: 13px;
							.transform(scale(0));

							&.first {
								-webkit-transition: all 0.3s ease;
								transition: all 0.3s ease;
							}
							&.second {
								-webkit-transition: all 0.45s ease;
								transition: all 0.45s ease;
							}
							&.three {
								-webkit-transition: all 0.6s ease;
								transition: all 0.6s ease;
							}
							&.last {
								margin: 0;
								-webkit-transition: all 0.75s ease;
								transition: all 0.75s ease;
							}
						}
						.clear {
							display: none;
						}
						.add-to-cart {
							float: left;
							.add_to_cart_inline {
								border: none !important;
								float: left;
								margin: 0;
								padding: 0 !important;
								position: relative;
								
								.special-price, .old-price {
									display: none;
								}
								a.button {
									background: transparent;
									height: 41px;
									line-height: 41px;
									border: 1px dotted #fff;
									color: #fff;
									font-size: 20px;
									display: block;
									padding: 0;
									text-indent: -9999px;
									width: 41px;
									overflow: hidden;
									text-align: center;
									
									&:before{
										content: "\e66e";
										font-family: 'Pe-icon-7-stroke';
										text-indent: 0;
										display: block;	
									}
									&:hover, &.added {
										background: #fff;
										border-color: transparent;
										color: @primarycolor;
									}
								}
								a.added_to_cart {
									display: none;
								}
							}
						}
						.yith-wcwl-add-to-wishlist {
							float: left;
							margin: 0;
							
							.show {
								float: left;
								position: relative;
								width: 100%;
								
								.feedback {
									display: none;
								}
							}
							a, a.add_to_wishlist {
								    background: transparent;
								    display: block;
									height: 41px;
									line-height: 41px;
									border: 1px dotted #fff;
									color: #fff;
									font-size: 20px;
									padding: 0;
									text-indent: -9999px;
									width: 41px;
									overflow: hidden;
									text-align: center;
									.border-radius(0); 
								    &:before{
										content: "\e642";
										font-family: 'Pe-icon-7-stroke';
										text-indent: 0;
										display: block;	
								    }
								&:hover {
									background: #fff;
									border-color: transparent;
									color: @primarycolor;
								}
							}
							.yith-wcwl-wishlistexistsbrowse, 
							.yith-wcwl-wishlistaddedbrowse {
								a {
									background: #fff;
									display: block;
									height: 41px;
									line-height: 41px;
									border: 1px solid transparent;
									color: @primarycolor;
									font-size: 20px;
									padding: 0;
									text-indent: -9999px;
									width: 41px;
									overflow: hidden;
									text-align: center;
								}
							}
						}
						.compare-button {
							float: left;
							position: relative;
							
							a.compare {
								background: transparent;
							    display: block;
								height: 41px;
								line-height: 41px;
								border: 1px dotted #fff;
								color: #fff;
								font-size: 20px;
								padding: 0;
								text-indent: -9999px;
								width: 41px;
								overflow: hidden;
								text-align: center;
							    &:before{
									content: "\e665";
									font-family: 'Pe-icon-7-stroke';
									text-indent: 0;
									display: block;	
							    }
								
								&:hover {
									background: #fff;
									border-color: transparent;
									color: @primarycolor;
								}
								&.added {
									color: @primarycolor;
									&:hover {
										color: #fff;
										background: @primarycolor;
										border-color: @primarycolor;
									}
								}
							}
						}
						.quickviewbtn {
							a.quickview {
								background: transparent;
							    display: block;
								height: 41px;
								line-height: 41px;
								border: 1px dotted #fff;
								color: #fff;
								font-size: 20px;
								padding: 0;
								text-indent: -9999px;
								width: 41px;
								overflow: hidden;
								text-align: center;
								&:before{
									content: "\e618";
									font-family: 'Pe-icon-7-stroke';
									text-indent: 0;
									display: block;	
							    }
							    &:hover {
									background: #fff;
									border-color: transparent;
									color: @primarycolor;
								}
							}
						}
					}
				}
				.price-ratings{
					.clearfix();
					.price-box {
						float: left;
					}
					.ratings {
						float: right;
						margin: 0;
						height: 29px;
						.star-rating {
							position: relative;
							top: 9px;
						}
					}
				}
			}
		}
		&.grid-view {
			.item-col {
				.product-wrapper {
					
					.list-col8 {
						width: 100%;
					}
				}
			}
		}
		&.list-view {			
			.item-col {
				margin: 0 0 40px;
				width: 100%;
				
				.product-wrapper {
					width: auto;

					&:hover {
						box-shadow: none;
					}
					.shadow {
						display: none;
					}
					.list-col4 {
						margin: 0;
						.actions {
							display: none;
						}
					}
					.list-col8 {
						.gridview {
							display: none;
						}
						.listview {
							display: block;
						}
					}
					.product-name {
						margin-bottom: 20px;
						a {
							display: block;
							font-size: 18px;
							color: @darkcolor;
							font-weight: 500;
							&:hover {
								color: @primarycolor;
							}
						}
					}
					.price-ratings {
						padding-bottom: 15px;
						margin-bottom: 15px;
						border-bottom: 1px solid @bordercolor;
						.price-box {
							font-size: 16px;
							.old-price {
								font-size: 12px;
							}
						}
					}
					.product-desc {
						font-size: 13px;
						margin: 0 0 25px 0;
						color: #a5a5a5;
					}
					.actions {
						height: auto;
						padding: 0;
						position: static;
						visibility: visible;
						.transform(none);
						.add-to-links {
							display: block;
							li {
								-webkit-transform: scale(1);
								transform: scale(1);
							}
							.add-to-cart {
								float: left;
								.add_to_cart_inline {
									
									a.button {
										border: 1px dotted @darkcolor;
										color: @darkcolor;
										text-indent: 0;
										font-weight: bold;
										text-transform: uppercase;
										font-size: 14px;
										width: auto;
										padding: 0 20px;
										&:before {
											float: left;
											font-size: 20px;
											margin-right: 5px;
											position: relative;
											top: -3px;
										}
										&:hover, &.added {
											background: @primarycolor;
											border-color: @primarycolor;
											color: #fff;
										}
									}
								}
							}
							.yith-wcwl-add-to-wishlist {
								a, a.add_to_wishlist {
									    border: 1px dotted @darkcolor;
									    color: @darkcolor;
									&:hover {
										background: @primarycolor;
										border-color: @primarycolor;
										color: #fff;
									}
								}
								.yith-wcwl-wishlistexistsbrowse, 
								.yith-wcwl-wishlistaddedbrowse {
									a {
										background: @primarycolor;
										border-color: @primarycolor;
										color: #fff;
									}
								}
							}
							.compare-button {
								float: left;
								position: relative;
								
								a.compare {
									border: 1px dotted @darkcolor;
									color: @darkcolor;
								   
									&:hover {
										background: @primarycolor;
										border-color: @primarycolor;
										color: #fff;
									}
									&.added {
										color: @primarycolor;
										&:hover {
											color: #fff;
											background: @primarycolor;
											border-color: @primarycolor;
										}
									}
								}
							}
							.quickviewbtn {
								a.quickview {
									border: 1px dotted @darkcolor;
									color: @darkcolor;
								    &:hover {
										background: @primarycolor;
										border-color: @primarycolor;
										color: #fff;
									}
								}
							}
						}
					}
				}
			}
		}
	}
	.product-page {
		float: left;
		width: 100%;
	}
	// Product page
	.product-view {
		float: left;
		width: 100%;
		.single-product-image {
			float: left;
			margin-bottom: 10px;
			padding-right:0;
			position: relative;
			width: 100%;
			
			.onsale {
				display: none;
			}
			.images {
				float: left;
				margin: 0;
				position: relative;
				width: 100%;
				.yith_magnifier_zoom_wrap {
					a {
						img {
							box-shadow: none;
						}
					}
					.yith_magnifier_lens {
						background: #fff;
					}
					.yith_magnifier_mousetrap {
						cursor: move !important;
					}
				}
				.yith_magnifier_loading {
					//display: none;
				}
				.zoom_in_marker {
					background: none;
					border: 2px double #000;
					border-radius: 5px;
					bottom: 10px;
					color: #000;
					cursor: pointer;
					font-size: 20px;
					height: 50px;
					line-height: 50px;
					position: absolute;
					right: 10px;
					text-align: center;
					width: 50px;
					z-index: 1000;
					-webkit-transition: all 0.4s ease;
					transition: all 0.4s ease;
					
					&:hover {
						border-color:  @primarycolor;
						color: @primarycolor;
					}
				}
			}
			.images.nothumb{
				padding: 0;
			}
			.thumbnails.slider {
				float: left;
				width: 100%;
				padding: 30px 0;
				.caroufredsel_wrapper {
					margin: auto !important;

					ul {
						margin: auto !important;
						right: 0 !important;
						li {
							padding:5px 0;
							
							&:hover {
								a img {
									border-color: @primarycolor;
								}
							}
							a {
								margin: 0;
								text-align: center;

								img {
									border: 2px solid #fff;	
									-webkit-transition: all 0.4s ease;
									transition: all 0.4s ease;
								}
							}
						}
					}
				}
				#slider-prev, 
				#slider-next {
					color: @darkcolor;
					background: none;
					border: 1px solid @darkcolor;
					display: block !important;
					font-size: 14px;
					height: 30px;
					line-height: 30px;
					text-align: center;
					top: 50%;
					width: 30px;
					-webkit-transition: all 0.4s ease;
					transition: all 0.4s ease;
					.transform(translateY(-50%));
					
					&:hover {
						border-color: @primarycolor;
						color: @primarycolor;
					}
				}
				#slider-prev {
					left: 0;
					right: auto;
				}

				#slider-next {
					left: auto;
					right: 0;
				}
			}
		}
		.summary.single-product-info {
			float: left;
			margin: 0 0 60px;
			width: 100%;

			.product-nav {
				float: right;
				margin: -5px 0 0 0;
				.next-prev {
					float: right;
					
					a {
						border: 1px solid #d1d1d1;
						border-radius: 100%;
						color: #d1d1d1;
						display: block;
						float: left;
						font-size:15px;
						height: 30px;
						line-height: 28px;
						overflow: hidden;
						position: relative;
						text-align: center;
						text-indent: 9999px;
						width: 30px;
						
						&:after {
							content: "\f177";
							display: block;
							font-family: FontAwesome;
							left: 0;
							position: absolute;
							text-indent: 0;
							top: 0;
							height: 28px;
							width: 28px;
						}
						&:hover {
							background: @primarycolor;
							border-color: @primarycolor;
							color: #fff;
						}
					}
					.prev {
						float: left;
					}
					.next {
						float: left;
						margin-left:5px;
						
						a {
							&:after {
								content: "\f178";
							}
						}
					}
				}
			}
			h1.product_title {
				color: @darkcolor;
				font-size: 25px;
				font-weight: 600;
				margin: 0 0 12px 0;
				text-transform: capitalize;
			}
			.roadtip{
				top: -40px;
			}
			.price-box {
				clear: both;
				float: left;
				margin: 0 0 25px;
				width: 100%;
				&:after {
					content: "";
					display: block;
					height: 1px;
					width: 100%;
					background: @bordercolor;
					margin-top: 5px;
				}
				.price {
					color: @darkcolor;
					font-size: 18px;
					font-weight: bold;
					margin: 0;
					.special-price {
						display: inline-block;
					}
					.old-price {
						display: inline-block;
						color: #aeaeae;
						font-size: 14px;
						text-decoration: line-through;
						font-weight: 600;
						.amount {
							margin-left: 15px;
						}
					}
				}
			}
			.stock-status {
				color: @primarycolor;
				float: left;
				margin: 0 0 20px;
				width: 100%;
				
				p {
					margin: 0;
				}
			}
			.woocommerce-product-rating {
				float: left;
				margin: 0 0 25px 0;
				text-align: left;
				width: 50%;
				
				.star-rating {
					margin: 5px 0 0;
				}
				.woocommerce-review-link {
					display: none;
				}
			}
			.short-description {
				color: #a5a5a5;
				float: left;
				font-size: 13px;
				margin: 0 0 25px;
				width: 100%;

				p {
					margin: 0;
				}
			}
			.stock {
				color: @textcolor;
				float: left;
				width: 100%;
				font-size: 12px;
				text-transform: uppercase;
				font-weight: bold;
				margin-bottom: 25px;

				&.in-stock, &.out-of-stock {
					&:before {
						color: #81ca33;
						content: "\f058";
						font-family: FontAwesome;
						float: left;
						margin: -2px 8px 0 0;
						font-size: 14px;
					}
				}
				&.out-of-stock {
					&:before {
						color: #FA0001;
					}	
				}
			}
			.cart {
				margin: 0 0 30px;
				float: left;
				width: 100%;

				.variations {
					float: left;
					margin: 0 0 20px 0;
					width: 100%;
					
					.variant {
						float: left;
						margin: 0 0 20px;
						width: 100%;
					}
					.label {
						color: @headingcolor;
						float: left;
						font-size: 14px;
						margin: 0 0 10px;
						padding: 0;
						text-align: left;
						text-transform: capitalize;
					}
					.value {

						select {
							border: 1px solid @bordercolor;
							height: 42px;
							padding: 5px 5px 5px 15px;
							width: 100%;
							background-color: lighten(@bordercolor, 5%);
						}
					}
					.reset_variations {
						color: @greycolor;
						float: left;
						margin-top: 10px;
						font-size: 12px;
						&:hover {
							color: @primarycolor;
						}
					}
				}
				.single_variation_wrap {
					float: left;
					width: 100%;
					margin-bottom: 25px;
					.single_variation {
						float: left;
						margin-bottom: 20px;
						width: 100%;
					}
					.variations_button {
						float: left;
					}
					.price {
						border-bottom: 2px solid @headingcolor;
						border-top: 2px solid @headingcolor;
						color: @headingcolor;
						float: left;
						font-family: @headingfont;
						font-size: 26px;
						font-weight: 400;
						margin: 0;
						padding: 8px 0;
						
						ins {
							display: inline-block;
							text-decoration: none;
						}
						del {
							display: inline-block;
							color: @greycolor;
							font-size: 20px;
							text-decoration: line-through;
							
							.amount {
								margin-right: 10px;
							}
						}
					}
				}
				.quantity {
					background: none;
					border: 1px solid @bordercolor;
				    float: left;
				    height: 50px;
				    line-height: 48px;
				    margin-right: 15px;
					.input-text {
						background: none;
						border: none;
						color: @headingcolor;
						font-family: @headingfont;
						font-size: 16px;
					    font-weight: normal;
					    height: 100%;
					    padding: 0;
					    width: 60px;
					    outline: none;
					}
				}
				.single_add_to_cart_button {
					margin: 0;
					height: 50px;
					line-height: 50px;
					&:before {
					   	content: "\e66e";
					    font-family: 'Pe-icon-7-stroke';
					    font-size: 20px;
					    font-weight: normal;
					    text-indent: 0;
					    display: block;
					    float: left;
					    margin-right: 10px;
					    margin-top: -2px;
					}
				}
				.group_table {
					margin-bottom: 20px;
					.quantity-row {
						float: left;
						margin-right: 10px;
					}
					.label {
						display: inline-block;
						font-size: 14px;
						padding: 0;
						a {
							color: @darkcolor;
							font-weight: 500;
							&:hover {
								color: @linkhovercolor;
							}
						}
					}
					.price {
						font-size: 14px;
						font-weight: 600;
					}
				}
			}
			
			.compare {
				float: left;
				border: none;
				padding: 0;
				line-height: 40px;
				background: none;
				color: @darkcolor;
				text-transform: none;

				.roadtip {
					text-transform: capitalize;
					font-weight: normal;
				}
				span.comparetip{
					font-size: 13px;
					font-weight: normal;
					float: left;
					position: relative;

					&:before{
						content: "\e665";
						font-family: 'Pe-icon-7-stroke';
						display: inline-block;
						vertical-align: middle;
						font-size: 20px;
						color: @darkcolor;
						margin-right: 5px;
						margin-top: -4px;
					}
				}
				
				&:hover{
					span.comparetip {
						color: @linkhovercolor;
						&:before {
							color: @primarycolor;
						}	
					}
				}
			}
			.clear {
				clear: none;
			}
			.yith-wcwl-add-to-wishlist {
				float: left;
				margin: 0 20px 0 0;
				position: relative;
				a {
					font-size: 13px;
					height: 40px;
					line-height: 40px;
					overflow: hidden;
					font-weight: normal;
					color: @darkcolor;

					&:before {
						content: "\e642";
						font-family: 'Pe-icon-7-stroke';
						font-size: 20px;
						color: @darkcolor;
						display: inline-block;
						vertical-align: middle;
						margin-right: 5px;
						margin-top: -4px;
					}
					&:hover {
						color: @linkhovercolor;
						&:before {
							color: @linkhovercolor;
						}
					}
				}
				.feedback {
					display: none;
				}
			}
			.product_meta {
				float: left;
				margin-top: 15px;
				width: 100%;
				
				.chosen-container, 
				.wcml_currency_switcher {
					display: none;
				}
				.sku_wrapper, 
				.posted_in, 
				.tagged_as {
					font-size: 14px;
					font-weight: 600;
					margin-right: 35px;
					text-transform: uppercase;
				
					a, span {
						color: #b5b5b5;
						font-family: @bodyfont;
						font-weight: normal;
						font-size: 14px;
						text-transform: none;
					}
					a:hover {
						color: @linkhovercolor;
					}
				}
			}
			.share_buttons {
				border-top: 1px solid #ececec;
				float: left;
				// padding-top: 20px;
				// margin-bottom: 30px;
				padding-top: 15px;
				margin-bottom: 15px;
				width: 100%;
				
				.stButton, .stMainServices{
					height: auto;
					
					.stFb, .stTwbutton, .stArrow, .stButton_gradient {
						height: auto;
					}
				}
			}
		}
		.single-product-sharing {
			float: left;
			width: 100%;

			.widget-title {
				font-size: 14px;
				color: @darkcolor;
				font-weight: 600;
				margin-bottom: 15px;
			}
			ul.social-icons {
				list-style: none;
				padding: 0;

				li {
					display: inline-block;
					margin-right: 10px;
					position: relative;
					
					a {
						display: block;
						border: 1px solid #d1d1d1;
						border-radius: 100%;
						color: @textcolor;
						height: 35px;
						line-height: 33px;
						width: 35px;
						text-align: center;

						&:hover {
							background: @primarycolor;
							border-color: @primarycolor;
							color: #fff;
						}

						i {
							line-height: 33px;
						}
					}
				}
			}
		}
		.product {
			.woocommerce-tabs {
				float: left;
				margin: 0;
				width: 100%;

				ul.tabs {
					float: left;
					padding: 0;
					text-align: left;
					width: 100%;
					border-top: 1px solid @bordercolor;
					border-bottom: 1px solid @bordercolor;
					&:before {
						display: none;
					}
					
					li {
						background: none;
						border: none;
						box-shadow: none;
						list-style: none;
						margin: 0 40px 0 0;
						&.active, 
						&:hover {
							background: none;
							a {
								color: #484848;
							}
						}
						&:before,
						&:after {
							display: none;
						}
						&:last-child {
							margin: 0;
						}
						a {
							color: @greycolor;
							display: inline-block;
							font-size: 14px;
							font-weight: bold;
							padding: 10px 0;
							text-transform: uppercase;
							text-decoration: none;
							text-shadow: none;
						}
					}
				}
				.panel {
					border: none;
					box-shadow: none;
					border-radius: 0;
					float: left;
					margin: 0 0 30px 0;
					padding: 32px 35px;
					width: 100%;
					min-height: 160px;
					border: 1px solid @bordercolor;
					h2 {
						font-size: 16px;
						font-weight: normal;
						margin: 0 0 20px;
						text-transform: uppercase;
					}
					h3 {
						font-size: 14px;
						font-weight: normal;
						margin: 0 0 20px;
						text-transform: uppercase;
					}
					p {
						margin: 0;
					}
					.shop_attributes {
						border-bottom: none;
						border-left: 1px solid @bordercolor;
						border-right: none;
						border-top: 1px solid @bordercolor;
						
						th {
							color: @headingcolor;
							font-family: @headingfont;
							font-size: 12px;
							font-weight: normal;
							text-transform: uppercase;
						}
						td {
							padding: 8px;
						}
					}
				}
				#tab-reviews {
					#reviews {
						h3 {
							font-size: 13px;
							font-weight: bold;
							margin: 0 0 20px;
						}
						#comments {
							margin: 0 auto;
							max-width: 650px;
							width: 100%;
							
							h2 {
								font-size: 14px;
								font-weight: bold;
							}
							.commentlist {
								margin: 0 0 25px;
								padding: 0;
								
								li {
									.avatar {
										background: none;
										border: none;
										padding: 0;
										width: 60px;
									}
									.comment-text {
										border: 1px solid @bordercolor;
										border-radius: 3px;
										margin-left: 80px;
										position: relative;
										
										&:before {
											background: #fff;
											border-bottom: 1px solid @bordercolor;
											border-left: 1px solid @bordercolor;
											content: "";
											display: block;
											height: 10px;
											left: -6px;
											position: absolute;
											top: 10px;
											-webkit-transform: rotate(45deg);
											transform: rotate(45deg);
											width: 10px;
										}
										p.meta {
											// font-size: 16px;
											font-size: 12px;
										}
										.description {
											// font-size: 15px;
										}
										strong {
											font-family: @headingfont;
											text-transform: uppercase;
										}
										.star-rating {
											font-size: 13px;
											height: 16px;
											color: @ratecolor;
										}
									}
								}
							}
						}
						#review_form_wrapper {
							margin: 0 auto;
							max-width: 650px;
							width: 100%;
							
							.comment-form {
								label {
									font-family: @headingfont;
									font-weight: normal;
									margin: 0 0 5px;
									width: 100%;
								}
								textarea {
									border: 1px solid @bordercolor;
									border-radius: 3px;
									height: 80px;
									padding: 10px;
									width: 100%;
								}
								.stars {
									a {
										border: none;
										line-height: 14px;
										
										&:after {
											color: @lightgreycolor;
											font-family: FontAwesome;
											font-weight: normal;
										}
										&.star-1 {
											&:after {
												content: "\f006";
											}
										}
										&.star-2 {
											&:after {
												content: "\f006\f006";
											}
										}
										&.star-3 {
											&:after {
												content: "\f006\f006\f006";
											}
										}
										&.star-4 {
											&:after {
												content: "\f006\f006\f006\f006";
											}
										}
										&.star-5 {
											&:after {
												content: "\f006\f006\f006\f006\f006";
											}
										}
										&.active, &:hover {
											&:after {
												color: @ratecolor;
											}
										}
									}
								}
								.form-submit {
									
									#submit {
										.buttonMixin();
									}
								}
							}
						}
					}
				}
			}
		}
		.related_products_widget {
			.widget-title {
				border-bottom: 1px solid @bordercolor;
				margin-bottom: 35px;
				font-size: 18px;
				color: @darkcolor;
				font-weight: 600;
				span {
					text-align: left;
					line-height: 40px;
					&:after {
						width: 55px;
						height: 1px;
						content: "";
						display: block;
						background: #cf5c7c;
					}
					
				}
			}
			.item-col {
				margin-bottom: 5px;
				.product-wrapper {
					.list-col4 {
						float: left;
						width: 34%;
						max-width: 115px;
						.actions,
						.onsale {
							display: none;
						}
					}
					.list-col8 {
						float: left;
						width: 66%;
						padding-left: 20px;
						.product-name {
							font-weight: 500;
						}
						.price-box,
						.ratings {
							float: none;
						}
						.old-price {
							font-weight: 600;
						}
						.ratings {
							margin-top: 10px;
						}
					}
				}
				
			}
		}
		.upsells_products_widget {
			float: left;
			width: 100%;
			padding-top: 25px;
			margin-bottom: 50px;
			.widget-title{
				text-align: center;
				margin-bottom: 35px;

				span {
					display: inline-block;
					color: #444444;
					position: relative;
					font-weight: 600;
					font-size: 18px;
					text-transform: uppercase;
					letter-spacing: 5.5px;
					padding-bottom: 30px;
					&:before {
						border: 2px double #ebebeb;
						border-left: 2px double #fff;
						border-right: 2px double #fff;
						bottom: 8px;
						content: "";
						display: block;
						height: 7px;
						left: 0;
						margin: 0 auto;
						position: absolute;
						right: 0;
					}
					&:after {
						content: "\e650";
						font-family: "Pe-icon-7-stroke";
						display: block;
						background: #fff;
						color: #cf5c7c;
						font-size: 18px;
						position: absolute;
						left: 0;
						margin: 0 auto;
						bottom: 0;
						right: 0;
						text-align: center;
						width: 30px;
					}
				}
			}
			.upsells.products{
				border: none;
				box-shadow: none;
				float: left;
				width: 100%;
			}
			.shop-products {
				margin-bottom: 0;
				
				.slick-list {
					padding: 0;
				}
				.item-col {
					width: 300px;
					
					&.first {
						clear: none;
					}
					.product-wrapper {
						.actions, .count-down {
							//display: none;
						}
					}
				}
			}
		}
		.related_products_widget{
			margin-bottom: 10px;
		}
	}
	// cart page & checkout page
	.woocommerce {
		form {
			h3 {
				font-size: 20px;
				font-weight: bold;
				margin: 0 0 20px;
				text-transform: uppercase;
			}
			label {
				font-family: @headingfont;
				margin: 0 0 5px;
				&[for='rememberme'] {
					margin-left: 15px;
				}
			}
			fieldset {
				float: left;
				margin: 20px 0;
				width: 100%;
				
				legend {
					border-bottom: none;
					color: @primarycolor;
					font-family: @headingfont;
					font-size: 14px;
					margin: 0 0 10px;
					padding: 0;
					text-transform: uppercase;
				}
			}
		}
	}
	.shop_table {
		background: #fff;
		border-color: @bordercolor;
		border-width: 1px 0 0 1px;
		border-style: solid;
		border-radius: 0;
		margin: 0 0 50px;
		color: @darkcolor;
		&.cart {
			border-bottom: none;
			thead {
				background: lighten(@bordercolor, 5%);
				
				th {
					
				}
			}
			th, td {
				border-top: none;
				font-size: 15px;
				padding: 20px 10px;
			}
		}
		th {
			border-top: none;
			font-family: @headingfont;
			font-weight: normal;
			padding: 20px 10px;
			vertical-align: middle;
			white-space: nowrap;
			font-size: 15px;
			text-transform: uppercase;
			text-align: center;
			font-weight: bold;
			&.product-remove {
				text-align: right;	
				border-right: none;
			}
		}
		td {
			font-size: 12px;
			padding: 20px 10px;
			vertical-align: middle;
			text-align: center;
			font-weight: 500;

			&.product-thumbnail {
				img {
					width: 75px;
				}
			}
			&.product-name {
				width: 550px;
				text-align: center;
				a {
					color: @darkcolor;
					font-size: 16px;
					&:hover {
						color: @linkhovercolor;
					}
				}
				.variation {
					color: @textcolor;
					font-size: 12px;
					margin: 5px 0 0;
					
					dt {
						font-weight: normal;
						float: none;
					}
					dd {
						float: none;
						margin: 0 0 3px;
						padding: 0;
					}
				}
			}
			&.product-price {
				color: @darkcolor;
				.old-price {
					font-size: 0.8em;
					color: #aeaeae;
					text-decoration: line-through;
					margin-left: 10px;
				}
			}
			&.product-subtotal {
				color: @primarycolor;
				font-size: 15px;
				font-weight: bold;
			}
			&.product-remove {
				// border-left: 1px solid @bordercolor;
				border-right: none;
				text-align: center;
			}
			&.product-add-to-cart {
				.button.add_to_cart {
					margin: 0 25px;
				}
			}
		}
		.order {
			.order-actions {
				text-align: center;
			}
		}
		.cart_item:hover {
			background: lighten(@bordercolor, 8%);
		}
		a.remove {
			background: none;
			color: @darkcolor !important;
			display: inline-block;
			font-size: 20px;
			
			&:hover {
				color: @primarycolor !important;
			}
		}
		.quantity {
			height: 35px;
			width: 68px;
			margin: auto;
			.input-text {
				background: none;
				border: 2px solid @bordercolor;
				border-radius: 0;
				color: @darkcolor;
				font-family: @headingfont;
				font-size: 15px;
				font-weight: normal;
			}
		}
		.cart-subtotal, .shipping, .order-total {
			th {
				font-size: 14px;
			}
			td {
				min-height: 35px;
			}
		}
	}
	.buttons-cart {
		float: left;
		margin: 0 0 35px !important;
		width: 100%;
		
		.button {
			float: left;
			margin-right: 15px;
			padding: 0 30px !important;
		}
		.continue {
			float: left;
		}
	}
	.return-to-shop .button {
		margin-bottom: 80px;
	}
	.coupon {
		border: 1px solid @bordercolor;
		float: left;
		margin: 0 0 30px;
		padding: 15px 25px;
		width: 100%;
		
		h3 {
			font-size: 14px;
			font-weight: 400;
		}
		p {
			color: @greycolor;
			font-size: 13px;
			margin-bottom: 20px;
		}
		label {
			display: block;
			font-size: 18px;
			font-weight: bold;
			margin: 0 0 10px;
			text-transform: uppercase;
			width: 100%;
		}
		.input-text {
			border: 1px solid @bordercolor;
			float: left;
			height: 42px;
			margin: 0 0 22px;
			max-width: 100%;
			padding: 0 0 0 10px;
			width: 100%;
		}
	}
	.cart_totals {
		border: 1px solid @bordercolor;
		float: left;
		padding: 15px 25px;
		text-align: right;
		width: 100%;
		
		h2 {
			display: inline-block;
			font-size: 20px;
			font-weight: bold;
			margin: 0 0 20px;
			text-transform: uppercase;
		}
		table {
			border: none;
			float: right;
			margin: 0;
			text-align: right;
			color: @darkcolor;
			
			th {
				border: none;
				font-size: 12px;
				font-weight: bold;
				padding: 0 20px 12px 0;
				text-align: right;
				text-transform: uppercase;
				vertical-align: top;
			}
			td {
				background: none !important;
				border: none;
				padding: 0 0 12px;
				vertical-align: top;
				
				.amount {
					color: @primarycolor;
					float: right;
					font-size: 12px;
					font-weight: bold;
					text-align: right;
					text-transform: uppercase;
				}
				label {
					display: inline;
					margin: 0;
					white-space: normal;
				}
			}
			.shipping {
				text-align: left;
				
				ul#shipping_method {
					li {
						float: left;
						margin: 0 0 10px;
						padding: 0;
						text-indent: 0;
						width: 100%;
						
						.shipping_method {
							margin: 0;
							position: relative;
							top: 2px;
						}
						.amount {
							text-align: left;
						}
					}
				}
				p {
					display: inline-block;
				}
			}
			.order-total {
				th, .amount {
					font-size: 20px;
					text-transform: uppercase;
					white-space: nowrap;
				}
			}
		}
		.wc-proceed-to-checkout {
			.button {
				background: @primarycolor;
				color: #fff;
				font-size: 15px;
				margin-top: 20px;
				border-color: @primarycolor;
				&:hover {
					background: darken(@primarycolor, 10%);
					border-color: darken(@primarycolor, 10%);
				}
			}
		}
	}
	.shipping-calculator-form {
		background: lighten(@bordercolor, 5%);
		border-radius: 3px;
		float: right;
		margin-top: 20px;
		max-width: 100%;
		padding: 10px;
		
		.form-row {
			margin-bottom: 10px;
			padding: 0;
		}
		input, select {
			background: #fff;
			border: none;
			height: 32px;
			padding: 0 0 0 10px;
		}
	}
	.cart-form {
		position: relative;
		
		.loading {
			background-color: #fff;
			background-image: url('../images/loader.gif');
			background-repeat: no-repeat;
			background-position: center center;
			display: none;
			height: 100%;
			left: 0;
			opacity: 0.7;
			position: absolute;
			top: 0;
			width: 100%;
			z-index: 2;
		}
		&.loading {
			.loading {
				display: block;
			}
		}
	}
	.cross-sells {
		border: 1px solid @bordercolor;
		float: left;
		margin-bottom: 30px;
		padding: 15px 25px;
		width: 100%;
		
		h3 {
			font-size: 14px;
			font-weight: 400;
		}
		.cross-carousel {
			float: left;
			width: 100%;
		}
		.shop-products {
			.item-col {
				margin: 0;
				width: 150px;
				
				&.first {
					clear: none;
				}
				.product-wrapper {
					.product-image {
						.price-rate {
							bottom: 50px;
							
							.price-box {
								display: none;
							}
						}
						.actions {
							display: none;
						}
					}
					h2.product-name {
						font-weight: 400;
						margin: 10px 0 0;
						text-transform: none;
					}
				}
			}
			.slick-dots {
				li {
					margin: 0 2px;
				}
			}
		}
	}
	.woocommerce-checkout {
		.woocommerce-billing-fields, .woocommerce-shipping-fields {
			margin: 0 0 30px;
			
			h3 {
				border-bottom: 1px solid @bordercolor;
				font-size: 20px;
				margin: 0 0 20px;
				padding-bottom: 10px;
				text-transform: none;
				width: 100%;
				
				label {
					margin-right: 5px;
					font-weight: 700;
				}
			}
			.form-row {
				margin: 0 0 40px;
			}
			label {
				color: @headingcolor;
				font-family: @headingfont;
				margin: 0 0 5px;
			}
			.input-text {
				height: 42px;
			}
			select {
				border: 1px solid @bordercolor;
				height: 42px;
			}
			#order_comments {
				height: 90px;
				padding: 15px;
			}
		}
	}
	.order-box {
		background: lighten(@bordercolor, 5%);
		padding: 30px 40px 45px;
	}
	#order_review_heading {
		border-bottom: 1px solid darken(@bordercolor, 5%);
		font-size: 24px;
		margin: 0 0 20px;
		padding-bottom: 10px;
		text-transform: uppercase;
		width: 100%;
	}
	#order_review {
		.shop_table {
			background: none;
			border: none;
			
			th, td {
				border-bottom: 1px solid darken(@bordercolor, 5%);
				border-right: none;
				border-top: none;
				font-size: 14px;
				padding: 15px 0;
			}
			.shipping {
				th, td {
					vertical-align: top;
				}
				#shipping_method {
					width: 250px;
					
					li {
						float: left;
						margin: 0 0 10px;
						padding: 0;
						text-indent: 0;
						width: 100%;
						
						.shipping_method {
							position: relative;
							top: 2px;
						}
					}
				}
			}
			.order-total {
				th, td {
					border-bottom: none;
					font-size: 18px;
					
					.amount {
						color: @primarycolor;
					}
				}
			}
		}
		#payment {
			background: none;
			
			a {
				&.about_paypal {
					margin-left: 15px;
				}
			}
			.payment_methods  {
				border: none;
				padding: 0;
				
				li {
					margin: 0 0 15px;
				}
				label {
					font-family: @headingfont;
				}
				.payment_box {
					background: none;
					box-shadow: none;
					font-size: 12px;
					margin: 0;
					padding: 0;
					text-shadow: none;
					width: 100%;
					
					&:after {
						display: none;
					}
				}
				.input-radio {
					position: relative;
					top: 2px;
				}
			}
			.place-order {
				margin: 0;
				padding: 0;
				
				#place_order {
					background: @primarycolor;
					font-size: 14px;
					height: 50px;
					margin: 0;
					padding: 0;
					width: 100%;
					
					&:hover {
						background: darken(@primarycolor, 10%);
					}
				}
			}
		}
	}
	.checkout_coupon {
		border: none;
		padding: 0;
		
		.form-row {
			float: left;
			margin: 0;
			width: auto;
		}
		.input-text {
			height: 36px;
			width: 170px;
		}
		.button {
			background: @headingcolor;
			border: none;
			border-radius: 0;
			color: #fff;
			margin-left: 6px;
			
			&:hover {
				background: darken(@headingcolor, 10%);
			}
		}
	}
	.checkout-login {
		form.login {
			background: #fff;
			border: 1px solid @bordercolor;
			border-radius: 0;
			margin: 0 0 20px;
			
			.form-row {
				float: left;
				margin: 0;
				padding: 0;
				width: 100%;
			}
			label {
				font-family: @headingfont;
				margin-bottom: 5px;
			}
			#rememberme {
				margin: 0 3px 0 15px;
			}
			.lost_password {
				float: left;
				margin: 10px 0 0;
			}
			.input-text {
				border: 1px solid @bordercolor;
				height: 36px;
				margin: 0 0 14px;
				max-width: 100%;
				padding: 0 0 0 10px;
				width: 370px;
			}
		}
	}
	.checkout-done {
		& > p: first-child {
			font-family: @headingfont;
			font-size: 20px;
			font-weight: 700;
			line-height: 1.35;
			
			&:before {
				content: "\f00c";
				display: inline-block;
				font-family: FontAwesome;
				margin-right: 8px;
			}
		}
		h2, h2.title {
			font-size: 20px;
			margin: 50px 0 15px;
			padding-bottom: 0;
			text-transform: uppercase;
		}
		h3 {
			font-size: 13px;
			margin: 0 0 20px;
			padding: 0 0 0;
			width: 100%;
		}
		.order_summary {
			background: lighten(@bordercolor, 5%);
			float: left;
			font-size: 15px;
			margin: 20px 0 30px;
			padding: 25px;
			width: 100%;
			
			strong {
				font-family: @headingfont;
				font-weight: normal;
				margin-top: 5px;
			}
			li {
				margin: 0;
				padding-left: 10px;
			}
		}
		.bacs_details {
			padding: 0;
		}
		.shop_table {
			border: none;
			max-width: 650px;
			table-layout: fixed;
			
			th, td {
				border: 1px solid @bordercolor;
				border-right: none;
				border-top: none;
				font-size: 15px;
				padding: 15px 0;
			}
			tr {
				th,	td {
					&:last-child {
						border-right: 1px solid @bordercolor;
					}
				}
			}
			tr:first-child {
				th, td {
					border-top: 1px solid @bordercolor !important;
				}
			}
			th {
				font-weight: 700;
			}
			.product-name {
				a {
					color: @primarycolor;
				}
			}
			thead {
				th, td {
					border-bottom: none;
				}
			}
			tfoot {
				th {
					font-weight: 400;
					padding-right: 30px;
					text-align: right;
				}
			}
		}
	}
	.customer_login {
	
		form.login, form.register {
			border: none;
			float: left;
			margin: 0 0 30px;
			padding: 0;
			width: 100%;
			
			.form-fields {
				border-bottom: none;
				border-left: 1px solid @bordercolor;
				border-right: 1px solid @bordercolor;
				border-top: 1px solid @bordercolor;
				float: left;
				padding: 20px 25px;
				width: 100%;
				
				h2 {
					border-bottom: 1px solid @bordercolor;
					font-size: 18px;
					margin: 0 0 15px;
					padding: 0 0 5px;
					text-transform: uppercase;
				}
				.form-row {
					margin: 0 0 8px;
					padding: 0;
				}
			}
			.form-action {
				background: lighten(@bordercolor, 5%);
				border-bottom: 1px solid @bordercolor;
				border-left: 1px solid @bordercolor;
				border-right: 1px solid @bordercolor;
				border-top: none;
				float: left;
				padding: 15px 10px;
				width: 100%;
				
				.lost_password {
					float: left;
					line-height: 36px;
					margin: 0;
				}
				
				label {
					float: right;
					font-weight: normal;
					line-height: 36px;
					margin: 0 20px 0 0;
					
					#rememberme {
						margin-right: 3px;
						margin-top: 0;
						position: relative;
						top: 1px;
					}
				}
				.button {
					float: right;
				}
			}
		}
	}
	.recent-orders-title {
		font-size: 18px;
		margin: 0 0 20px;
		text-transform: uppercase;
	}
	.address-box {
		float: left;
		margin: 0 0 30px;
		width: 100%;
		
		&.recent-orders, &.my-address {
			border: none;
			padding: 0;
		}
		h2, h2.title {
			font-size: 18px;
			text-transform: uppercase;
		}
		table.shop_table {
			font-size: 14px;
			
			th, td {
				text-align: center;
				vertical-align: middle;
			}
			.order-number {
				border-left: none;
			}
			.button {
				margin: 0;
				padding: 0 30px;
			}
			&.order_details {
				th, .product-name {
					text-align: left;
				}
				td, .product-total {
					text-align: right;
				}
				.product-name {
					border-left: none;
				}
				tfoot th {
					border-left: none;
					border-top: none;
				}
			}
		}
		.lost_reset_password {
			float: left;
			width: 100%;
			
			.form-row {
				.button {
					float: left;
				}
			}
		}
	}
	.addresses {
		line-height: 2;
		
		.title {
			h3 {
				border-bottom: 1px solid @bordercolor;
				font-size: 16px;
				margin: 0 0 10px;
				padding: 15px 0;
				width: 100%;
			}
		}
		address {
			line-height: 2;
		}
	}
	.myaccount_user {
		color: #666;
		margin: 0 0 30px;
		padding: 0;
		
		a {
			text-decoration: underline;
		}
	}
	#yith-wcwl-form {
		.wishlist_table {
			border-right: none;
			border-bottom: none;
			.product-remove {
				border-left: none;
			}
			tr {
				td{
					&.product-stock-status {
						span.wishlist-in-stock {
							color: @primarycolor;
						}
					}
				}
			}
		}
		.yith-wcwl-share {
			ul {
				margin: 0;
				padding: 0;
			}
		}
	}
}