@-moz-keyframes rotate {
  0% {
    -webkit-transform: rotateY(0deg);
    -moz-transform: rotateY(0deg);
    transform: rotateY(0deg);
  }
  50% {
    -webkit-transform: rotateY(180deg);
    -moz-transform: rotateY(180deg);
    transform: rotateY(180deg);
  }
  100% {
    -webkit-transform: rotateY(0deg);
    -moz-transform: rotateY(0deg);
    transform: rotateY(0deg);
  }
}
@-webkit-keyframes rotate {
  0% {
    -webkit-transform: rotateY(0deg);
    -moz-transform: rotateY(0deg);
    transform: rotateY(0deg);
  }
  50% {
    -webkit-transform: rotateY(180deg);
    -moz-transform: rotateY(180deg);
    transform: rotateY(180deg);
  }
  100% {
    -webkit-transform: rotateY(0deg);
    -moz-transform: rotateY(0deg);
    transform: rotateY(0deg);
  }
}
@keyframes rotate {
  0% {
    -webkit-transform: rotateY(0deg);
    -moz-transform: rotateY(0deg);
    transform: rotateY(0deg);
  }
  50% {
    -webkit-transform: rotateY(180deg);
    -moz-transform: rotateY(180deg);
    transform: rotateY(180deg);
  }
  100% {
    -webkit-transform: rotateY(0deg);
    -moz-transform: rotateY(0deg);
    transform: rotateY(0deg);
  }
}
.woocommerce .product-wrapper .onsale,
.woocommerce .single-product-image .onsale {
  background: #cf5c7c;
  border-radius: 100%;
  box-shadow: none;
  font-family: Open Sans, Arial, Helvetica, sans-serif;
  font-size: 11px;
  height: 45px;
  left: auto;
  right: 10px;
  line-height: 45px;
  position: absolute;
  text-align: center;
  text-shadow: none;
  text-transform: uppercase;
  top: 10px;
  width: 45px;
  z-index: 3;
}
.woocommerce .product-wrapper .onsale .sale-bg,
.woocommerce .single-product-image .onsale .sale-bg {
  display: none;
}
.woocommerce .product-wrapper .onsale .sale-text,
.woocommerce .single-product-image .onsale .sale-text {
  color: #ffffff;
}
.price-box-small {
  display: none;
}
.actions-listview {
  display: none;
}
.widgettitleMixin {
  font-size: 14px;
  margin: 0 0 25px;
  text-transform: uppercase;
  width: 100%;
}
.widget-title,
.widgettitle {
  font-size: 14px;
  margin: 0 0 25px;
  text-transform: uppercase;
  width: 100%;
}
.woocommerce .ratings,
.woocommerce .woocommerce-product-rating,
.woocommerce-page .ratings,
.woocommerce-page .woocommerce-product-rating {
  margin: 0 0 10px;
  line-height: 1;
}
.woocommerce .ratings .star-rating,
.woocommerce .woocommerce-product-rating .star-rating,
.woocommerce-page .ratings .star-rating,
.woocommerce-page .woocommerce-product-rating .star-rating {
  display: inline-block;
  float: none;
  height: 15px;
  width: 68px;
  margin: 0;
}
.woocommerce .ratings .star-rating:before,
.woocommerce .woocommerce-product-rating .star-rating:before,
.woocommerce-page .ratings .star-rating:before,
.woocommerce-page .woocommerce-product-rating .star-rating:before {
  content: "\f005\f005\f005\f005\f005";
  font-family: FontAwesome;
  font-size: 12px;
  letter-spacing: 3px;
}
.woocommerce .ratings .star-rating span,
.woocommerce .woocommerce-product-rating .star-rating span,
.woocommerce-page .ratings .star-rating span,
.woocommerce-page .woocommerce-product-rating .star-rating span {
  display: inline-block;
  height: 21px;
  width: 120px;
}
.woocommerce .ratings .star-rating span:before,
.woocommerce .woocommerce-product-rating .star-rating span:before,
.woocommerce-page .ratings .star-rating span:before,
.woocommerce-page .woocommerce-product-rating .star-rating span:before {
  color: #cf5c7c;
  content: "\f005\f005\f005\f005\f005";
  font-family: FontAwesome;
  font-size: 12px;
  letter-spacing: 3px;
}
#yith-wcwl-popup-message {
  background: #cf5c7c;
  border: none;
  border-radius: 0;
  color: #fff;
  padding: 0 20px;
}
.atc-notice-wrapper {
  background: #fff;
  border-radius: 3px;
  box-shadow: 0 0 15px rgba(0,0,0,0.8);
  display: none;
  left: 50%;
  margin-left: -160px;
  max-width: 100%;
  position: fixed;
  top: 40%;
  width: 320px;
  z-index: 1000;
}
.atc-notice-wrapper .close {
  color: #999999;
  font-size: 22px;
  opacity: 1;
  position: absolute;
  right: 5px;
  top: 5px;
  -webkit-transition: color 0.3s ease;
  transition: color 0.3s ease;
}
.atc-notice-wrapper .close:hover {
  color: #cf5c7c;
}
.atc-notice-wrapper h3 {
  border-bottom: 1px solid #e5e5e5;
  font-size: 16px;
  margin: 0 0 10px;
  padding: 10px 0;
  text-align: center;
  text-transform: uppercase;
}
.atc-notice-wrapper .product-wrapper {
  float: left;
  padding: 0 10px;
  width: 100%;
}
.atc-notice-wrapper .product-image {
  float: left;
  width: 25%;
}
.atc-notice-wrapper .product-info {
  float: left;
  padding-left: 20px;
  width: 75%;
}
.atc-notice-wrapper .product-info h4 {
  font-size: 15px;
  font-weight: 600;
  margin: 0 0 10px;
}
.atc-notice-wrapper .product-info .price {
  float: left;
  margin: 0;
  width: 100%;
}
.atc-notice-wrapper .product-info .price .special-price {
  color: #cf5c7c;
  font-size: 18px;
  font-weight: bold;
}
.atc-notice-wrapper .product-info .price .old-price {
  color: #bababa;
  font-size: 16px;
  margin-left: 10px;
  text-decoration: line-through;
}
.atc-notice-wrapper .buttons {
  background: #e5e5e5;
  border-radius: 0 0 3px 3px;
  float: left;
  margin: 10px 0 0;
  padding: 10px;
  width: 100%;
}
.atc-notice-wrapper .buttons .button {
  background: #cf5c7c;
  border: none;
  border-radius: 0;
  box-shadow: none;
  color: #fff;
  display: inline-block;
  float: right;
  font-weight: 400;
  height: 30px;
  line-height: 34px;
  padding: 0 20px;
  text-shadow: none;
  text-transform: uppercase;
}
.atc-notice-wrapper .buttons .button:hover {
  background: #c0385e;
  color: #fff;
}
body.quickview {
  overflow: hidden;
}
.quickview-wrapper {
  background: rgba(0,0,0,0.7);
  bottom: 0;
  height: 100%;
  left: 0;
  opacity: 0;
  overflow-y: auto;
  position: fixed;
  right: 0;
  top: 0;
  visibility: hidden;
  width: 100%;
  z-index: 12000;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
.quickview-wrapper.open {
  opacity: 1;
  visibility: visible;
}
.quickview-wrapper.open .quick-modal {
  top: 0;
}
.quickview-wrapper .qvbtn {
  border: 1px solid #fff;
  border-radius: 3px;
  color: #fff;
  cursor: pointer;
  display: block;
  font-size: 32px;
  height: 50px;
  left: 30px;
  position: absolute;
  text-align: center;
  top: 30%;
  width: 50px;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.quickview-wrapper .qvbtn:hover {
  background: #cf5c7c;
}
.quickview-wrapper .qvbtn.qvnext {
  left: auto;
  right: 30px;
}
.quickview-wrapper .qvbtn i {
  line-height: 48px;
}
.quickview-wrapper .quick-modal {
  background: #fff;
  border-radius: 3px;
  box-shadow: 0 0 10px rgba(0,0,0,0.8);
  margin: 5% auto;
  max-width: 96%;
  min-height: 300px;
  padding: 20px;
  position: relative;
  top: -500px;
  width: 870px;
  z-index: 1000;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
.quickview-wrapper .quick-modal .qvloading {
  background: #fff url('../images/loading.gif') no-repeat center center;
  display: none;
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
  opacity: 0.7;
  z-index: 1;
}
.quickview-wrapper .quick-modal .closeqv {
  border: 1px solid #999999;
  border-radius: 3px;
  color: #999999;
  cursor: pointer;
  display: block;
  height: 30px;
  line-height: 28px;
  position: absolute;
  right: 10px;
  text-align: center;
  top: 10px;
  width: 30px;
  z-index: 2;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.quickview-wrapper .quick-modal .closeqv:hover {
  border: 1px solid #cf5c7c;
  color: #cf5c7c;
}
.quickview-wrapper #quickview-content {
  background: #fff;
}
.quickview-wrapper #quickview-content .product-images {
  float: left;
  width: 40%;
}
.quickview-wrapper #quickview-content .product-images .quick-thumbnails {
  float: left;
  margin: 0;
  width: 100%;
}
.quickview-wrapper #quickview-content .product-images .quick-thumbnails .slick-dots {
  bottom: auto;
  margin: 10px 0 0;
  position: static;
  padding: 0;
  list-style: none;
  text-align: center;
}
.quickview-wrapper #quickview-content .product-images .quick-thumbnails .slick-dots li {
  display: inline-block;
  height: 13px;
  margin: 0 2px;
  width: 13px;
}
.quickview-wrapper #quickview-content .product-images .quick-thumbnails .slick-dots li button {
  background: none;
  border: 2px solid #e5e5e5;
  border-radius: 100%;
  height: 100%;
  margin: 0;
  opacity: 1;
  overflow: hidden;
  padding: 0;
  position: static;
  text-indent: -9999px;
  visibility: visible;
  width: 100%;
}
.quickview-wrapper #quickview-content .product-images .quick-thumbnails .slick-dots li button:hover {
  background: #e5e5e5;
}
.quickview-wrapper #quickview-content .product-images .quick-thumbnails .slick-dots li button:before {
  display: none;
}
.quickview-wrapper #quickview-content .product-images .quick-thumbnails .slick-dots li.slick-active button {
  background: #e5e5e5;
}
.quickview-wrapper #quickview-content .product-images .quick-thumbnails .slick-slide a {
  float: left;
  padding: 0 5px 5px;
  width: 100%;
}
.quickview-wrapper #quickview-content .product-images .quick-thumbnails .slick-slide a img {
  border: 1px solid #e5e5e5;
}
.quickview-wrapper #quickview-content .product-images .main-image {
  float: left;
  margin-bottom: 10px;
  width: 100%;
}
.quickview-wrapper #quickview-content .product-images .main-image img {
  box-shadow: none;
}
.quickview-wrapper #quickview-content .product-info {
  float: left;
  padding-left: 30px;
  width: 60%;
}
.quickview-wrapper #quickview-content .product-info h1 {
  font-size: 22px;
  font-weight: normal;
  margin: 0 0 20px;
}
.quickview-wrapper #quickview-content .product-info .price-box {
  float: left;
  font-weight: 700;
  margin: 0 0 12px;
  width: 100%;
}
.quickview-wrapper #quickview-content .product-info .price-box p {
  margin: 0;
}
.quickview-wrapper #quickview-content .product-info .price-box .special-price {
  color: #cf5c7c;
  font-size: 24px;
}
.quickview-wrapper #quickview-content .product-info .price-box .old-price {
  font-size: 14px;
  color: #999999;
  font-weight: normal;
  text-decoration: line-through;
  margin-left: 12px;
}
.quickview-wrapper #quickview-content .product-info .see-all {
  color: #999999;
  display: inline-block;
  margin-bottom: 40px;
  text-decoration: underline;
  width: 100%;
}
.quickview-wrapper #quickview-content .product-info .see-all:hover {
  color: #cf5c7c;
}
.quickview-wrapper #quickview-content .product-info .quick-add-to-cart {
  border-bottom: 1px solid #e5e5e5;
  float: left;
  margin: 0 0 20px;
  padding: 0 0 38px;
  width: 100%;
}
.quickview-wrapper #quickview-content .product-info .quick-add-to-cart .product_title,
.quickview-wrapper #quickview-content .product-info .quick-add-to-cart .price-box {
  display: none;
}
.quickview-wrapper #quickview-content .product-info .quick-add-to-cart .woocommerce-product-rating {
  float: left;
  margin: 0 0 20px;
  width: 100%;
}
.quickview-wrapper #quickview-content .product-info .quick-add-to-cart .woocommerce-product-rating .star-rating {
  color: #cf5c7c;
  float: left;
  font-size: 10px;
  height: 12px;
  margin-right: 5px;
  margin-top: 3px;
}
.quickview-wrapper #quickview-content .product-info .quick-add-to-cart .woocommerce-product-rating .star-rating:before {
  color: #b7b7b7;
}
.quickview-wrapper #quickview-content .product-info .quick-add-to-cart .woocommerce-product-rating a.woocommerce-review-link {
  color: #999999;
  float: left;
  font-style: italic;
  line-height: 14px;
  text-decoration: underline;
}
.quickview-wrapper #quickview-content .product-info .quick-add-to-cart .woocommerce-product-rating a.woocommerce-review-link:hover {
  color: #cf5c7c;
}
.quickview-wrapper #quickview-content .product-info .quick-add-to-cart .group-row {
  margin-bottom: 20px;
}
.quickview-wrapper #quickview-content .product-info .quick-add-to-cart .group-row .label a {
  font-size: 13px;
  font-weight: normal;
  color: #363636;
}
.quickview-wrapper #quickview-content .product-info .quick-add-to-cart .group-row .label a:hover {
  color: #cf5c7c;
}
.quickview-wrapper #quickview-content .product-info .quick-add-to-cart .group-row .price {
  line-height: 1;
}
.quickview-wrapper #quickview-content .product-info .quick-add-to-cart .cart {
  float: left;
  margin-bottom: 10px;
  width: 100%;
}
.quickview-wrapper #quickview-content .product-info .quick-add-to-cart .cart .quantity {
  border: 1px solid #e5e5e5;
  float: left;
  margin-right: 5px;
  width: auto;
}
.quickview-wrapper #quickview-content .product-info .quick-add-to-cart .cart .quantity .input-text {
  border: none;
  color: #363636;
  font-family: Poppins, Arial, Helvetica, sans-serif;
  font-size: 14px;
  font-weight: normal;
  height: 41px;
  line-height: 41px;
  width: 50px;
}
.quickview-wrapper #quickview-content .product-info .quick-add-to-cart .cart .button {
  background: #cf5c7c;
  border: 2px solid #cf5c7c;
  border-radius: 0px;
  box-shadow: none;
  color: #fff;
  display: inline-block;
  font-family: Open Sans, Arial, Helvetica, sans-serif;
  font-size: 12px;
  font-weight: bold;
  height: 42px;
  line-height: 42px;
  padding: 0 30px;
  text-shadow: none;
  text-transform: uppercase;
  white-space: nowrap;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.quickview-wrapper #quickview-content .product-info .quick-add-to-cart .cart .button:hover {
  background: #ac3354;
  border-color: #ac3354;
  color: #fff;
}
.quickview-wrapper #quickview-content .product-info .quick-add-to-cart .cart .variations {
  float: left;
  width: 100%;
}
.quickview-wrapper #quickview-content .product-info .quick-add-to-cart .cart .variations .variant {
  float: left;
  padding: 0 0 17px;
  width: 100%;
}
.quickview-wrapper #quickview-content .product-info .quick-add-to-cart .cart .variations .label {
  display: block;
  font-size: 14px;
  padding: 0 0 5px;
  text-align: left;
}
.quickview-wrapper #quickview-content .product-info .quick-add-to-cart .cart .variations .label label {
  color: #363636;
  font-weight: normal;
  line-height: 27px;
  margin: 0;
  text-transform: capitalize;
}
.quickview-wrapper #quickview-content .product-info .quick-add-to-cart .cart .variations select {
  border: 1px solid #e5e5e5;
  height: 27px;
  line-height: 27px;
  margin-right: 10px;
  width: auto;
}
.quickview-wrapper #quickview-content .product-info .quick-add-to-cart .cart .variations .reset_variations {
  line-height: 27px;
  font-size: 0.8em;
  display: block;
  margin-top: 5px;
}
.quickview-wrapper #quickview-content .product-info .quick-add-to-cart .cart .single_variation {
  float: left;
  margin-bottom: 15px;
  width: 100%;
}
.quickview-wrapper #quickview-content .product-info .quick-add-to-cart .cart .single_variation .price {
  color: #888888;
}
.quickview-wrapper #quickview-content .product-info .quick-add-to-cart .cart .single_variation .price del {
  color: #999999;
  font-size: 18px;
  text-decoration: line-through;
}
.quickview-wrapper #quickview-content .product-info .quick-add-to-cart .cart .single_variation .price ins {
  color: #cf5c7c;
  font-size: 24px;
  text-decoration: none;
}
.quickview-wrapper #quickview-content .product-info .quick-add-to-cart .product_meta {
  display: none;
}
.quickview-wrapper #quickview-content .product-info .quick-add-to-cart .yith-wcwl-add-to-wishlist {
  color: #999999;
  float: left;
  font-size: 12px;
  margin: 0;
  width: 100%;
}
.quickview-wrapper #quickview-content .product-info .quick-add-to-cart .yith-wcwl-add-to-wishlist .feedback {
  display: none;
}
.quickview-wrapper #quickview-content .product-info .quick-add-to-cart .yith-wcwl-add-to-wishlist a {
  color: #999999;
  float: left;
  text-decoration: underline;
}
.quickview-wrapper #quickview-content .product-info .quick-add-to-cart .yith-wcwl-add-to-wishlist a:hover {
  color: #cf5c7c;
}
.quickview-wrapper #quickview-content .product-info .quick-desc {
  border-bottom: 1px solid #e5e5e5;
  color: #363636;
  float: left;
  font-size: 14px;
  line-height: 21px;
  margin: 0 0 25px;
  padding: 0 0 15px;
  width: 100%;
}
.quickview-wrapper #quickview-content .product-info .quick-desc ul,
.quickview-wrapper #quickview-content .product-info .quick-desc ol {
  margin: 0 0 10px;
  padding: 0;
}
.quickview-wrapper #quickview-content .product-info .quick-desc ul li,
.quickview-wrapper #quickview-content .product-info .quick-desc ol li {
  list-style: none;
  margin: 0 0 5px;
}
.quickview-wrapper #quickview-content .product-info .quick-desc ul li:before,
.quickview-wrapper #quickview-content .product-info .quick-desc ol li:before {
  content: "\f00c";
  display: inline-block;
  font-family: FontAwesome;
  margin-right: 6px;
}
.quickview-wrapper #quickview-content .widget {
  float: left;
  width: 100%;
}
.quickview-wrapper #quickview-content .widget .widget-title {
  background: none;
  color: #999999;
  float: left;
  line-height: 30px;
  margin: 0 0 5px;
  text-align: left;
  text-transform: uppercase;
  width: 100%;
}
.quickview-wrapper #quickview-content .widget .social-icons {
  float: left;
  margin: 0;
  padding: 0;
}
.quickview-wrapper #quickview-content .widget .social-icons li {
  float: left;
  line-height: 30px;
  list-style: none;
  margin-right: 10px;
}
.quickview-wrapper #quickview-content .widget .social-icons li .social-icon {
  border: 1px solid #e5e5e5;
  color: #999999;
  display: inline-block;
  font-size: 18px;
  line-height: 28px;
  text-align: center;
  width: 40px;
}
.quickview-wrapper #quickview-content .widget .social-icons li .social-icon:hover {
  color: #fff;
}
.quickview-wrapper #quickview-content .widget .social-icons li .social-icon.facebook:hover {
  background: #3B579D;
  border: 1px solid #3B579D;
}
.quickview-wrapper #quickview-content .widget .social-icons li .social-icon.twitter:hover {
  background: #3ACAFF;
  border: 1px solid #3ACAFF;
}
.quickview-wrapper #quickview-content .widget .social-icons li .social-icon.pinterest:hover {
  background: #CB2027;
  border: 1px solid #CB2027;
}
.quickview-wrapper #quickview-content .widget .social-icons li .social-icon.tumblr:hover {
  background: #304E6C;
  border: 1px solid #304E6C;
}
.quickview-wrapper #quickview-content .widget .social-icons li .social-icon.gplus:hover {
  background: #D11717;
  border: 1px solid #D11717;
}
.quickview-wrapper #quickview-content .widget .social-icons li .social-icon.linkedin:hover {
  background: #0097BD;
  border: 1px solid #0097BD;
}
.main-container .toolbar {
  float: left;
  margin: 0 0 30px;
  padding: 0 15px 10px;
  position: relative;
  text-align: right;
  width: 100%;
}
.main-container .toolbar.tb-bottom {
  margin: 0 0 80px 0;
  padding: 0;
}
.main-container .toolbar .view-mode {
  float: left;
}
.main-container .toolbar .view-mode label {
  display: none;
}
.main-container .toolbar .view-mode a {
  color: #999999;
  float: left;
  font-size: 18px;
  margin-right: 8px;
  width: 40px;
  height: 40px;
  text-align: center;
  line-height: 40px;
  border: 1px solid #e5e5e5;
}
.main-container .toolbar .view-mode a:hover,
.main-container .toolbar .view-mode a.active {
  color: #cf5c7c;
  border-color: #cf5c7c;
}
.main-container .toolbar .woocommerce-result-count {
  color: #3e3e3e;
  margin-bottom: 0;
  float: right;
  height: 40px;
  line-height: 40px;
  font-size: 12px;
  position: relative;
  padding-left: 20px;
}
.main-container .toolbar .woocommerce-result-count:before {
  content: "";
  display: block;
  width: 1px;
  height: 20px;
  background: #363636;
  position: absolute;
  left: 0;
  top: 50%;
  margin-top: -11px;
}
.main-container .toolbar .woocommerce-ordering {
  float: right;
  margin: 0;
  position: relative;
}
.main-container .toolbar .woocommerce-ordering .orderby-wrapper {
  padding: 0 0 0 10px;
  height: 40px;
  line-height: 40px;
  font-size: 12px;
}
.main-container .toolbar .woocommerce-ordering .orderby-wrapper label {
  color: #3e3e3e;
  float: left;
  margin-right: 10px;
}
.main-container .toolbar .woocommerce-ordering .orderby-wrapper select {
  display: none;
  font-family: Open Sans, Arial, Helvetica, sans-serif;
  font-size: 12px;
  text-transform: uppercase;
}
.main-container .toolbar .woocommerce-ordering .orderby-wrapper .chosen-container {
  padding: 0 0 0 15px;
}
.main-container .toolbar .woocommerce-ordering .orderby-wrapper .chosen-container .chosen-single {
  background: none;
  border: none;
  border-radius: 0;
  box-shadow: none;
  color: #3e3e3e;
  font-size: 12px;
  padding: 0 30px 0 0;
}
.main-container .toolbar .woocommerce-ordering .orderby-wrapper .chosen-container .chosen-single:hover {
  color: #cf5c7c;
}
.main-container .toolbar .woocommerce-ordering .orderby-wrapper .chosen-container .chosen-single span {
  margin-right: 10px;
}
.main-container .toolbar .woocommerce-ordering .orderby-wrapper .chosen-container .chosen-single div {
  right: 15px;
}
.main-container .toolbar .woocommerce-ordering .orderby-wrapper .chosen-container .chosen-single div b {
  background: none !important;
}
.main-container .toolbar .woocommerce-ordering .orderby-wrapper .chosen-container .chosen-single div b:before {
  content: "\f107";
  font-family: FontAwesome;
  font-size: 13px;
  margin-top: -1px;
  float: left;
}
.main-container .toolbar .woocommerce-ordering .orderby-wrapper .chosen-container.chosen-with-drop .chosen-single {
  color: #cf5c7c;
}
.main-container .toolbar .woocommerce-ordering .orderby-wrapper .chosen-container.chosen-with-drop .chosen-drop {
  left: auto;
  right: 0;
}
.main-container .toolbar .woocommerce-ordering .orderby-wrapper .chosen-container .chosen-drop {
  border: 1px solid #e5e5e5;
  box-shadow: 0px 0px 4px 0px rgba(0,0,0,0.14);
  font-family: Poppins, Arial, Helvetica, sans-serif;
  margin-top: 10px;
  width: 240px;
}
.main-container .toolbar .woocommerce-ordering .orderby-wrapper .chosen-container .chosen-drop ul {
  margin: 10px 0;
  padding: 0;
}
.main-container .toolbar .woocommerce-ordering .orderby-wrapper .chosen-container .chosen-drop ul li {
  font-size: 12px;
  margin: 0;
  padding: 10px 24px 10px 0;
  text-align: right;
}
.main-container .toolbar .woocommerce-ordering .orderby-wrapper .chosen-container .chosen-drop ul li.highlighted {
  background: #db839c;
}
.main-container .toolbar .woocommerce-pagination {
  float: right;
  width: 100%;
}
.main-container .toolbar .woocommerce-pagination ul.page-numbers {
  float: left;
  padding: 20px 0;
  text-align: center;
  width: 100%;
  border: 1px solid #e3e3e3;
  border-left: none;
  border-right: none;
}
.main-container .toolbar .woocommerce-pagination ul.page-numbers li {
  border: none;
  display: inline-block;
  float: none;
  margin: 0 5px;
}
.main-container .toolbar .woocommerce-pagination ul.page-numbers li a,
.main-container .toolbar .woocommerce-pagination ul.page-numbers li span {
  background: none;
  color: #363636;
  display: inline-block;
  vertical-align: middle;
  font-family: Poppins, Arial, Helvetica, sans-serif;
  font-size: 12px;
  font-weight: 700;
  line-height: 32px;
  height: 32px;
  border: 1px solid #dcdcdc;
  padding: 0;
  width: 32px;
}
.main-container .toolbar .woocommerce-pagination ul.page-numbers li a.current,
.main-container .toolbar .woocommerce-pagination ul.page-numbers li a:hover,
.main-container .toolbar .woocommerce-pagination ul.page-numbers li span.current,
.main-container .toolbar .woocommerce-pagination ul.page-numbers li span:hover {
  color: #fff;
  border-color: #cf5c7c;
  background-color: #cf5c7c;
}
.main-container .toolbar .woocommerce-pagination ul.page-numbers li a.next,
.main-container .toolbar .woocommerce-pagination ul.page-numbers li a.prev,
.main-container .toolbar .woocommerce-pagination ul.page-numbers li span.next,
.main-container .toolbar .woocommerce-pagination ul.page-numbers li span.prev {
  text-indent: -9999px;
  overflow: hidden;
}
.main-container .toolbar .woocommerce-pagination ul.page-numbers li a.next:before,
.main-container .toolbar .woocommerce-pagination ul.page-numbers li a.prev:before,
.main-container .toolbar .woocommerce-pagination ul.page-numbers li span.next:before,
.main-container .toolbar .woocommerce-pagination ul.page-numbers li span.prev:before {
  display: block;
  text-indent: 0;
  font-family: FontAwesome;
}
.main-container .toolbar .woocommerce-pagination ul.page-numbers li a.next:before,
.main-container .toolbar .woocommerce-pagination ul.page-numbers li span.next:before {
  content: "\f105";
}
.main-container .toolbar .woocommerce-pagination ul.page-numbers li a.prev:before,
.main-container .toolbar .woocommerce-pagination ul.page-numbers li span.prev:before {
  content: "\f104";
}
.main-container .shop-products {
  margin: 0 -15px;
  padding: 0;
}
.main-container .shop-products.slick-slider:hover .slick-prev {
  left: 15px;
}
.main-container .shop-products.slick-slider:hover .slick-next {
  right: 15px;
}
.main-container .shop-products .product-layout4 {
  display: none;
}
.main-container .shop-products .product-category {
  float: left;
  width: 100%;
  margin: 0 0 30px;
}
.main-container .shop-products .product-category .category-image {
  float: left;
  width: 60%;
}
.main-container .shop-products .product-category .category-info {
  float: left;
  padding: 0 0 0 70px;
  width: 40%;
}
.main-container .shop-products .product-category .category-info label {
  font-size: 30px;
}
.main-container .shop-products .product-category .category-info h1 {
  color: #cf5c7c;
  font-size: 40px;
  font-weight: 700;
  line-height: 1;
  text-transform: uppercase;
}
.main-container .shop-products .product-category .category-info .category-desc {
  font-size: 18px;
  margin: 0 0 40px;
}
.main-container .shop-products .product-category .category-info a {
  font-size: 14px;
  text-decoration: underline;
  text-transform: uppercase;
}
.main-container .shop-products .product-category .category-info a:hover {
  text-decoration: none;
}
.main-container .shop-products .product-category.even .category-image {
  float: right;
}
.main-container .shop-products .item-col {
  margin: 0 0 20px;
  padding: 0 15px;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.main-container .shop-products .item-col.first {
  clear: both;
}
.main-container .shop-products .item-col .product-wrapper {
  float: left;
  position: relative;
  width: 100%;
  text-align: left;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
.main-container .shop-products .item-col .product-wrapper a {
  display: block;
}
.main-container .shop-products .item-col .product-wrapper:hover .shadow {
  opacity: 0.6;
}
.main-container .shop-products .item-col .product-wrapper:hover .product-image a img.secondary_image {
  opacity: 1;
}
.main-container .shop-products .item-col .product-wrapper:hover .actions {
  visibility: visible;
}
.main-container .shop-products .item-col .product-wrapper:hover .actions .add-to-links li {
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  transform: scale(1);
}
.main-container .shop-products .item-col .product-wrapper .roadtip {
  top: -40px;
}
.main-container .shop-products .item-col .product-wrapper .product-image {
  display: block;
  position: relative;
  text-align: center;
}
.main-container .shop-products .item-col .product-wrapper .product-image a {
  display: block;
  position: relative;
}
.main-container .shop-products .item-col .product-wrapper .product-image a img {
  box-shadow: none;
  float: none;
  margin: 0;
  width: 100%;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.main-container .shop-products .item-col .product-wrapper .product-image a img.secondary_image {
  left: 0;
  opacity: 0;
  position: absolute;
  top: 0;
  z-index: 1;
}
.main-container .shop-products .item-col .product-wrapper .price-box {
  color: #363636;
  font-size: 12px;
  font-weight: bold;
}
.main-container .shop-products .item-col .product-wrapper .price-box .special-price {
  display: inline-block;
}
.main-container .shop-products .item-col .product-wrapper .price-box .old-price {
  display: inline-block;
  font-size: 10px;
  font-weight: normal;
  margin-left: 12px;
  color: #999999;
  text-decoration: line-through;
}
.main-container .shop-products .item-col .product-wrapper .list-col4 {
  position: relative;
  margin-bottom: 16px;
}
.main-container .shop-products .item-col .product-wrapper .list-col8 {
  float: left;
}
.main-container .shop-products .item-col .product-wrapper .list-col8 .gridview {
  display: block;
}
.main-container .shop-products .item-col .product-wrapper .list-col8 .listview {
  display: none;
}
.main-container .shop-products .item-col .product-wrapper h2.product-name {
  font-size: 12px;
  font-weight: normal;
  margin: 0;
}
.main-container .shop-products .item-col .product-wrapper h2.product-name a {
  color: #a5a5a5;
}
.main-container .shop-products .item-col .product-wrapper h2.product-name a:hover {
  color: #cf5c7c;
}
.main-container .shop-products .item-col .product-wrapper .actions {
  left: 0;
  margin: 0;
  position: absolute;
  z-index: 99;
  top: 50%;
  visibility: hidden;
  text-align: center;
  width: 100%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  transform: translateY(-50%);
}
.main-container .shop-products .item-col .product-wrapper .actions .add-to-links {
  list-style: none;
  display: inline-block;
  margin: 0;
  padding: 0;
}
.main-container .shop-products .item-col .product-wrapper .actions .add-to-links li {
  float: left;
  margin-right: 13px;
  -webkit-transform: scale(0);
  -moz-transform: scale(0);
  transform: scale(0);
}
.main-container .shop-products .item-col .product-wrapper .actions .add-to-links li.first {
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.main-container .shop-products .item-col .product-wrapper .actions .add-to-links li.second {
  -webkit-transition: all 0.45s ease;
  transition: all 0.45s ease;
}
.main-container .shop-products .item-col .product-wrapper .actions .add-to-links li.three {
  -webkit-transition: all 0.6s ease;
  transition: all 0.6s ease;
}
.main-container .shop-products .item-col .product-wrapper .actions .add-to-links li.last {
  margin: 0;
  -webkit-transition: all 0.75s ease;
  transition: all 0.75s ease;
}
.main-container .shop-products .item-col .product-wrapper .actions .add-to-links .clear {
  display: none;
}
.main-container .shop-products .item-col .product-wrapper .actions .add-to-links .add-to-cart {
  float: left;
}
.main-container .shop-products .item-col .product-wrapper .actions .add-to-links .add-to-cart .add_to_cart_inline {
  border: none !important;
  float: left;
  margin: 0;
  padding: 0 !important;
  position: relative;
}
.main-container .shop-products .item-col .product-wrapper .actions .add-to-links .add-to-cart .add_to_cart_inline .special-price,
.main-container .shop-products .item-col .product-wrapper .actions .add-to-links .add-to-cart .add_to_cart_inline .old-price {
  display: none;
}
.main-container .shop-products .item-col .product-wrapper .actions .add-to-links .add-to-cart .add_to_cart_inline a.button {
  background: transparent;
  height: 41px;
  line-height: 41px;
  border: 1px dotted #fff;
  color: #fff;
  font-size: 20px;
  display: block;
  padding: 0;
  text-indent: -9999px;
  width: 41px;
  overflow: hidden;
  text-align: center;
}
.main-container .shop-products .item-col .product-wrapper .actions .add-to-links .add-to-cart .add_to_cart_inline a.button:before {
  content: "\e66e";
  font-family: 'Pe-icon-7-stroke';
  text-indent: 0;
  display: block;
}
.main-container .shop-products .item-col .product-wrapper .actions .add-to-links .add-to-cart .add_to_cart_inline a.button:hover,
.main-container .shop-products .item-col .product-wrapper .actions .add-to-links .add-to-cart .add_to_cart_inline a.button.added {
  background: #fff;
  border-color: transparent;
  color: #cf5c7c;
}
.main-container .shop-products .item-col .product-wrapper .actions .add-to-links .add-to-cart .add_to_cart_inline a.added_to_cart {
  display: none;
}
.main-container .shop-products .item-col .product-wrapper .actions .add-to-links .yith-wcwl-add-to-wishlist {
  float: left;
  margin: 0;
}
.main-container .shop-products .item-col .product-wrapper .actions .add-to-links .yith-wcwl-add-to-wishlist .show {
  float: left;
  position: relative;
  width: 100%;
}
.main-container .shop-products .item-col .product-wrapper .actions .add-to-links .yith-wcwl-add-to-wishlist .show .feedback {
  display: none;
}
.main-container .shop-products .item-col .product-wrapper .actions .add-to-links .yith-wcwl-add-to-wishlist a,
.main-container .shop-products .item-col .product-wrapper .actions .add-to-links .yith-wcwl-add-to-wishlist a.add_to_wishlist {
  background: transparent;
  display: block;
  height: 41px;
  line-height: 41px;
  border: 1px dotted #fff;
  color: #fff;
  font-size: 20px;
  padding: 0;
  text-indent: -9999px;
  width: 41px;
  overflow: hidden;
  text-align: center;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
}
.main-container .shop-products .item-col .product-wrapper .actions .add-to-links .yith-wcwl-add-to-wishlist a:before,
.main-container .shop-products .item-col .product-wrapper .actions .add-to-links .yith-wcwl-add-to-wishlist a.add_to_wishlist:before {
  content: "\e642";
  font-family: 'Pe-icon-7-stroke';
  text-indent: 0;
  display: block;
}
.main-container .shop-products .item-col .product-wrapper .actions .add-to-links .yith-wcwl-add-to-wishlist a:hover,
.main-container .shop-products .item-col .product-wrapper .actions .add-to-links .yith-wcwl-add-to-wishlist a.add_to_wishlist:hover {
  background: #fff;
  border-color: transparent;
  color: #cf5c7c;
}
.main-container .shop-products .item-col .product-wrapper .actions .add-to-links .yith-wcwl-add-to-wishlist .yith-wcwl-wishlistexistsbrowse a,
.main-container .shop-products .item-col .product-wrapper .actions .add-to-links .yith-wcwl-add-to-wishlist .yith-wcwl-wishlistaddedbrowse a {
  background: #fff;
  display: block;
  height: 41px;
  line-height: 41px;
  border: 1px solid transparent;
  color: #cf5c7c;
  font-size: 20px;
  padding: 0;
  text-indent: -9999px;
  width: 41px;
  overflow: hidden;
  text-align: center;
}
.main-container .shop-products .item-col .product-wrapper .actions .add-to-links .compare-button {
  float: left;
  position: relative;
}
.main-container .shop-products .item-col .product-wrapper .actions .add-to-links .compare-button a.compare {
  background: transparent;
  display: block;
  height: 41px;
  line-height: 41px;
  border: 1px dotted #fff;
  color: #fff;
  font-size: 20px;
  padding: 0;
  text-indent: -9999px;
  width: 41px;
  overflow: hidden;
  text-align: center;
}
.main-container .shop-products .item-col .product-wrapper .actions .add-to-links .compare-button a.compare:before {
  content: "\e665";
  font-family: 'Pe-icon-7-stroke';
  text-indent: 0;
  display: block;
}
.main-container .shop-products .item-col .product-wrapper .actions .add-to-links .compare-button a.compare:hover {
  background: #fff;
  border-color: transparent;
  color: #cf5c7c;
}
.main-container .shop-products .item-col .product-wrapper .actions .add-to-links .compare-button a.compare.added {
  color: #cf5c7c;
}
.main-container .shop-products .item-col .product-wrapper .actions .add-to-links .compare-button a.compare.added:hover {
  color: #fff;
  background: #cf5c7c;
  border-color: #cf5c7c;
}
.main-container .shop-products .item-col .product-wrapper .actions .add-to-links .quickviewbtn a.quickview {
  background: transparent;
  display: block;
  height: 41px;
  line-height: 41px;
  border: 1px dotted #fff;
  color: #fff;
  font-size: 20px;
  padding: 0;
  text-indent: -9999px;
  width: 41px;
  overflow: hidden;
  text-align: center;
}
.main-container .shop-products .item-col .product-wrapper .actions .add-to-links .quickviewbtn a.quickview:before {
  content: "\e618";
  font-family: 'Pe-icon-7-stroke';
  text-indent: 0;
  display: block;
}
.main-container .shop-products .item-col .product-wrapper .actions .add-to-links .quickviewbtn a.quickview:hover {
  background: #fff;
  border-color: transparent;
  color: #cf5c7c;
}
.main-container .shop-products .item-col .product-wrapper .price-ratings:before,
.main-container .shop-products .item-col .product-wrapper .price-ratings:after {
  content: " ";
  display: table;
}
.main-container .shop-products .item-col .product-wrapper .price-ratings:after {
  clear: both;
}
.main-container .shop-products .item-col .product-wrapper .price-ratings .price-box {
  float: left;
}
.main-container .shop-products .item-col .product-wrapper .price-ratings .ratings {
  float: right;
  margin: 0;
  height: 29px;
}
.main-container .shop-products .item-col .product-wrapper .price-ratings .ratings .star-rating {
  position: relative;
  top: 9px;
}
.main-container .shop-products.grid-view .item-col .product-wrapper .list-col8 {
  width: 100%;
}
.main-container .shop-products.list-view .item-col {
  margin: 0 0 40px;
  width: 100%;
}
.main-container .shop-products.list-view .item-col .product-wrapper {
  width: auto;
}
.main-container .shop-products.list-view .item-col .product-wrapper:hover {
  box-shadow: none;
}
.main-container .shop-products.list-view .item-col .product-wrapper .shadow {
  display: none;
}
.main-container .shop-products.list-view .item-col .product-wrapper .list-col4 {
  margin: 0;
}
.main-container .shop-products.list-view .item-col .product-wrapper .list-col4 .actions {
  display: none;
}
.main-container .shop-products.list-view .item-col .product-wrapper .list-col8 .gridview {
  display: none;
}
.main-container .shop-products.list-view .item-col .product-wrapper .list-col8 .listview {
  display: block;
}
.main-container .shop-products.list-view .item-col .product-wrapper .product-name {
  margin-bottom: 20px;
}
.main-container .shop-products.list-view .item-col .product-wrapper .product-name a {
  display: block;
  font-size: 18px;
  color: #363636;
  font-weight: 500;
}
.main-container .shop-products.list-view .item-col .product-wrapper .product-name a:hover {
  color: #cf5c7c;
}
.main-container .shop-products.list-view .item-col .product-wrapper .price-ratings {
  padding-bottom: 15px;
  margin-bottom: 15px;
  border-bottom: 1px solid #e5e5e5;
}
.main-container .shop-products.list-view .item-col .product-wrapper .price-ratings .price-box {
  font-size: 16px;
}
.main-container .shop-products.list-view .item-col .product-wrapper .price-ratings .price-box .old-price {
  font-size: 12px;
}
.main-container .shop-products.list-view .item-col .product-wrapper .product-desc {
  font-size: 13px;
  margin: 0 0 25px 0;
  color: #a5a5a5;
}
.main-container .shop-products.list-view .item-col .product-wrapper .actions {
  height: auto;
  padding: 0;
  position: static;
  visibility: visible;
  -webkit-transform: none;
  -moz-transform: none;
  transform: none;
}
.main-container .shop-products.list-view .item-col .product-wrapper .actions .add-to-links {
  display: block;
}
.main-container .shop-products.list-view .item-col .product-wrapper .actions .add-to-links li {
  -webkit-transform: scale(1);
  transform: scale(1);
}
.main-container .shop-products.list-view .item-col .product-wrapper .actions .add-to-links .add-to-cart {
  float: left;
}
.main-container .shop-products.list-view .item-col .product-wrapper .actions .add-to-links .add-to-cart .add_to_cart_inline a.button {
  border: 1px dotted #363636;
  color: #363636;
  text-indent: 0;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 14px;
  width: auto;
  padding: 0 20px;
}
.main-container .shop-products.list-view .item-col .product-wrapper .actions .add-to-links .add-to-cart .add_to_cart_inline a.button:before {
  float: left;
  font-size: 20px;
  margin-right: 5px;
  position: relative;
  top: -3px;
}
.main-container .shop-products.list-view .item-col .product-wrapper .actions .add-to-links .add-to-cart .add_to_cart_inline a.button:hover,
.main-container .shop-products.list-view .item-col .product-wrapper .actions .add-to-links .add-to-cart .add_to_cart_inline a.button.added {
  background: #cf5c7c;
  border-color: #cf5c7c;
  color: #fff;
}
.main-container .shop-products.list-view .item-col .product-wrapper .actions .add-to-links .yith-wcwl-add-to-wishlist a,
.main-container .shop-products.list-view .item-col .product-wrapper .actions .add-to-links .yith-wcwl-add-to-wishlist a.add_to_wishlist {
  border: 1px dotted #363636;
  color: #363636;
}
.main-container .shop-products.list-view .item-col .product-wrapper .actions .add-to-links .yith-wcwl-add-to-wishlist a:hover,
.main-container .shop-products.list-view .item-col .product-wrapper .actions .add-to-links .yith-wcwl-add-to-wishlist a.add_to_wishlist:hover {
  background: #cf5c7c;
  border-color: #cf5c7c;
  color: #fff;
}
.main-container .shop-products.list-view .item-col .product-wrapper .actions .add-to-links .yith-wcwl-add-to-wishlist .yith-wcwl-wishlistexistsbrowse a,
.main-container .shop-products.list-view .item-col .product-wrapper .actions .add-to-links .yith-wcwl-add-to-wishlist .yith-wcwl-wishlistaddedbrowse a {
  background: #cf5c7c;
  border-color: #cf5c7c;
  color: #fff;
}
.main-container .shop-products.list-view .item-col .product-wrapper .actions .add-to-links .compare-button {
  float: left;
  position: relative;
}
.main-container .shop-products.list-view .item-col .product-wrapper .actions .add-to-links .compare-button a.compare {
  border: 1px dotted #363636;
  color: #363636;
}
.main-container .shop-products.list-view .item-col .product-wrapper .actions .add-to-links .compare-button a.compare:hover {
  background: #cf5c7c;
  border-color: #cf5c7c;
  color: #fff;
}
.main-container .shop-products.list-view .item-col .product-wrapper .actions .add-to-links .compare-button a.compare.added {
  color: #cf5c7c;
}
.main-container .shop-products.list-view .item-col .product-wrapper .actions .add-to-links .compare-button a.compare.added:hover {
  color: #fff;
  background: #cf5c7c;
  border-color: #cf5c7c;
}
.main-container .shop-products.list-view .item-col .product-wrapper .actions .add-to-links .quickviewbtn a.quickview {
  border: 1px dotted #363636;
  color: #363636;
}
.main-container .shop-products.list-view .item-col .product-wrapper .actions .add-to-links .quickviewbtn a.quickview:hover {
  background: #cf5c7c;
  border-color: #cf5c7c;
  color: #fff;
}
.main-container .product-page {
  float: left;
  width: 100%;
}
.main-container .product-view {
  float: left;
  width: 100%;
}
.main-container .product-view .single-product-image {
  float: left;
  margin-bottom: 10px;
  padding-right: 0;
  position: relative;
  width: 100%;
}
.main-container .product-view .single-product-image .onsale {
  display: none;
}
.main-container .product-view .single-product-image .images {
  float: left;
  margin: 0;
  position: relative;
  width: 100%;
}
.main-container .product-view .single-product-image .images .yith_magnifier_zoom_wrap a img {
  box-shadow: none;
}
.main-container .product-view .single-product-image .images .yith_magnifier_zoom_wrap .yith_magnifier_lens {
  background: #fff;
}
.main-container .product-view .single-product-image .images .yith_magnifier_zoom_wrap .yith_magnifier_mousetrap {
  cursor: move !important;
}
.main-container .product-view .single-product-image .images .zoom_in_marker {
  background: none;
  border: 2px double #000;
  border-radius: 5px;
  bottom: 10px;
  color: #000;
  cursor: pointer;
  font-size: 20px;
  height: 50px;
  line-height: 50px;
  position: absolute;
  right: 10px;
  text-align: center;
  width: 50px;
  z-index: 1000;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
}
.main-container .product-view .single-product-image .images .zoom_in_marker:hover {
  border-color: #cf5c7c;
  color: #cf5c7c;
}
.main-container .product-view .single-product-image .images.nothumb {
  padding: 0;
}
.main-container .product-view .single-product-image .thumbnails.slider {
  float: left;
  width: 100%;
  padding: 30px 0;
}
.main-container .product-view .single-product-image .thumbnails.slider .caroufredsel_wrapper {
  margin: auto !important;
}
.main-container .product-view .single-product-image .thumbnails.slider .caroufredsel_wrapper ul {
  margin: auto !important;
  right: 0 !important;
}
.main-container .product-view .single-product-image .thumbnails.slider .caroufredsel_wrapper ul li {
  padding: 5px 0;
}
.main-container .product-view .single-product-image .thumbnails.slider .caroufredsel_wrapper ul li:hover a img {
  border-color: #cf5c7c;
}
.main-container .product-view .single-product-image .thumbnails.slider .caroufredsel_wrapper ul li a {
  margin: 0;
  text-align: center;
}
.main-container .product-view .single-product-image .thumbnails.slider .caroufredsel_wrapper ul li a img {
  border: 2px solid #fff;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
}
.main-container .product-view .single-product-image .thumbnails.slider #slider-prev,
.main-container .product-view .single-product-image .thumbnails.slider #slider-next {
  color: #363636;
  background: none;
  border: 1px solid #363636;
  display: block !important;
  font-size: 14px;
  height: 30px;
  line-height: 30px;
  text-align: center;
  top: 50%;
  width: 30px;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  transform: translateY(-50%);
}
.main-container .product-view .single-product-image .thumbnails.slider #slider-prev:hover,
.main-container .product-view .single-product-image .thumbnails.slider #slider-next:hover {
  border-color: #cf5c7c;
  color: #cf5c7c;
}
.main-container .product-view .single-product-image .thumbnails.slider #slider-prev {
  left: 0;
  right: auto;
}
.main-container .product-view .single-product-image .thumbnails.slider #slider-next {
  left: auto;
  right: 0;
}
.main-container .product-view .summary.single-product-info {
  float: left;
  margin: 0 0 60px;
  width: 100%;
}
.main-container .product-view .summary.single-product-info .product-nav {
  float: right;
  margin: -5px 0 0 0;
}
.main-container .product-view .summary.single-product-info .product-nav .next-prev {
  float: right;
}
.main-container .product-view .summary.single-product-info .product-nav .next-prev a {
  border: 1px solid #d1d1d1;
  border-radius: 100%;
  color: #d1d1d1;
  display: block;
  float: left;
  font-size: 15px;
  height: 30px;
  line-height: 28px;
  overflow: hidden;
  position: relative;
  text-align: center;
  text-indent: 9999px;
  width: 30px;
}
.main-container .product-view .summary.single-product-info .product-nav .next-prev a:after {
  content: "\f177";
  display: block;
  font-family: FontAwesome;
  left: 0;
  position: absolute;
  text-indent: 0;
  top: 0;
  height: 28px;
  width: 28px;
}
.main-container .product-view .summary.single-product-info .product-nav .next-prev a:hover {
  background: #cf5c7c;
  border-color: #cf5c7c;
  color: #fff;
}
.main-container .product-view .summary.single-product-info .product-nav .next-prev .prev {
  float: left;
}
.main-container .product-view .summary.single-product-info .product-nav .next-prev .next {
  float: left;
  margin-left: 5px;
}
.main-container .product-view .summary.single-product-info .product-nav .next-prev .next a:after {
  content: "\f178";
}
.main-container .product-view .summary.single-product-info h1.product_title {
  color: #363636;
  font-size: 25px;
  font-weight: 600;
  margin: 0 0 12px 0;
  text-transform: capitalize;
}
.main-container .product-view .summary.single-product-info .roadtip {
  top: -40px;
}
.main-container .product-view .summary.single-product-info .price-box {
  clear: both;
  float: left;
  margin: 0 0 25px;
  width: 100%;
}
.main-container .product-view .summary.single-product-info .price-box:after {
  content: "";
  display: block;
  height: 1px;
  width: 100%;
  background: #e5e5e5;
  margin-top: 5px;
}
.main-container .product-view .summary.single-product-info .price-box .price {
  color: #363636;
  font-size: 18px;
  font-weight: bold;
  margin: 0;
}
.main-container .product-view .summary.single-product-info .price-box .price .special-price {
  display: inline-block;
}
.main-container .product-view .summary.single-product-info .price-box .price .old-price {
  display: inline-block;
  color: #aeaeae;
  font-size: 14px;
  text-decoration: line-through;
  font-weight: 600;
}
.main-container .product-view .summary.single-product-info .price-box .price .old-price .amount {
  margin-left: 15px;
}
.main-container .product-view .summary.single-product-info .stock-status {
  color: #cf5c7c;
  float: left;
  margin: 0 0 20px;
  width: 100%;
}
.main-container .product-view .summary.single-product-info .stock-status p {
  margin: 0;
}
.main-container .product-view .summary.single-product-info .woocommerce-product-rating {
  float: left;
  margin: 0 0 25px 0;
  text-align: left;
  width: 50%;
}
.main-container .product-view .summary.single-product-info .woocommerce-product-rating .star-rating {
  margin: 5px 0 0;
}
.main-container .product-view .summary.single-product-info .woocommerce-product-rating .woocommerce-review-link {
  display: none;
}
.main-container .product-view .summary.single-product-info .short-description {
  color: #a5a5a5;
  float: left;
  font-size: 13px;
  margin: 0 0 25px;
  width: 100%;
}
.main-container .product-view .summary.single-product-info .short-description p {
  margin: 0;
}
.main-container .product-view .summary.single-product-info .stock {
  color: #888888;
  float: left;
  width: 100%;
  font-size: 12px;
  text-transform: uppercase;
  font-weight: bold;
  margin-bottom: 25px;
}
.main-container .product-view .summary.single-product-info .stock.in-stock:before,
.main-container .product-view .summary.single-product-info .stock.out-of-stock:before {
  color: #81ca33;
  content: "\f058";
  font-family: FontAwesome;
  float: left;
  margin: -2px 8px 0 0;
  font-size: 14px;
}
.main-container .product-view .summary.single-product-info .stock.out-of-stock:before {
  color: #FA0001;
}
.main-container .product-view .summary.single-product-info .cart {
  margin: 0 0 30px;
  float: left;
  width: 100%;
}
.main-container .product-view .summary.single-product-info .cart .variations {
  float: left;
  margin: 0 0 20px 0;
  width: 100%;
}
.main-container .product-view .summary.single-product-info .cart .variations .variant {
  float: left;
  margin: 0 0 20px;
  width: 100%;
}
.main-container .product-view .summary.single-product-info .cart .variations .label {
  color: #444444;
  float: left;
  font-size: 14px;
  margin: 0 0 10px;
  padding: 0;
  text-align: left;
  text-transform: capitalize;
}
.main-container .product-view .summary.single-product-info .cart .variations .value select {
  border: 1px solid #e5e5e5;
  height: 42px;
  padding: 5px 5px 5px 15px;
  width: 100%;
  background-color: #f2f2f2;
}
.main-container .product-view .summary.single-product-info .cart .variations .reset_variations {
  color: #999999;
  float: left;
  margin-top: 10px;
  font-size: 12px;
}
.main-container .product-view .summary.single-product-info .cart .variations .reset_variations:hover {
  color: #cf5c7c;
}
.main-container .product-view .summary.single-product-info .cart .single_variation_wrap {
  float: left;
  width: 100%;
  margin-bottom: 25px;
}
.main-container .product-view .summary.single-product-info .cart .single_variation_wrap .single_variation {
  float: left;
  margin-bottom: 20px;
  width: 100%;
}
.main-container .product-view .summary.single-product-info .cart .single_variation_wrap .variations_button {
  float: left;
}
.main-container .product-view .summary.single-product-info .cart .single_variation_wrap .price {
  border-bottom: 2px solid #444444;
  border-top: 2px solid #444444;
  color: #444444;
  float: left;
  font-family: Open Sans, Arial, Helvetica, sans-serif;
  font-size: 26px;
  font-weight: 400;
  margin: 0;
  padding: 8px 0;
}
.main-container .product-view .summary.single-product-info .cart .single_variation_wrap .price ins {
  display: inline-block;
  text-decoration: none;
}
.main-container .product-view .summary.single-product-info .cart .single_variation_wrap .price del {
  display: inline-block;
  color: #999999;
  font-size: 20px;
  text-decoration: line-through;
}
.main-container .product-view .summary.single-product-info .cart .single_variation_wrap .price del .amount {
  margin-right: 10px;
}
.main-container .product-view .summary.single-product-info .cart .quantity {
  background: none;
  border: 1px solid #e5e5e5;
  float: left;
  height: 50px;
  line-height: 48px;
  margin-right: 15px;
}
.main-container .product-view .summary.single-product-info .cart .quantity .input-text {
  background: none;
  border: none;
  color: #444444;
  font-family: Open Sans, Arial, Helvetica, sans-serif;
  font-size: 16px;
  font-weight: normal;
  height: 100%;
  padding: 0;
  width: 60px;
  outline: none;
}
.main-container .product-view .summary.single-product-info .cart .single_add_to_cart_button {
  margin: 0;
  height: 50px;
  line-height: 50px;
}
.main-container .product-view .summary.single-product-info .cart .single_add_to_cart_button:before {
  content: "\e66e";
  font-family: 'Pe-icon-7-stroke';
  font-size: 20px;
  font-weight: normal;
  text-indent: 0;
  display: block;
  float: left;
  margin-right: 10px;
  margin-top: -2px;
}
.main-container .product-view .summary.single-product-info .cart .group_table {
  margin-bottom: 20px;
}
.main-container .product-view .summary.single-product-info .cart .group_table .quantity-row {
  float: left;
  margin-right: 10px;
}
.main-container .product-view .summary.single-product-info .cart .group_table .label {
  display: inline-block;
  font-size: 14px;
  padding: 0;
}
.main-container .product-view .summary.single-product-info .cart .group_table .label a {
  color: #363636;
  font-weight: 500;
}
.main-container .product-view .summary.single-product-info .cart .group_table .label a:hover {
  color: #cf5c7c;
}
.main-container .product-view .summary.single-product-info .cart .group_table .price {
  font-size: 14px;
  font-weight: 600;
}
.main-container .product-view .summary.single-product-info .compare {
  float: left;
  border: none;
  padding: 0;
  line-height: 40px;
  background: none;
  color: #363636;
  text-transform: none;
}
.main-container .product-view .summary.single-product-info .compare .roadtip {
  text-transform: capitalize;
  font-weight: normal;
}
.main-container .product-view .summary.single-product-info .compare span.comparetip {
  font-size: 13px;
  font-weight: normal;
  float: left;
  position: relative;
}
.main-container .product-view .summary.single-product-info .compare span.comparetip:before {
  content: "\e665";
  font-family: 'Pe-icon-7-stroke';
  display: inline-block;
  vertical-align: middle;
  font-size: 20px;
  color: #363636;
  margin-right: 5px;
  margin-top: -4px;
}
.main-container .product-view .summary.single-product-info .compare:hover span.comparetip {
  color: #cf5c7c;
}
.main-container .product-view .summary.single-product-info .compare:hover span.comparetip:before {
  color: #cf5c7c;
}
.main-container .product-view .summary.single-product-info .clear {
  clear: none;
}
.main-container .product-view .summary.single-product-info .yith-wcwl-add-to-wishlist {
  float: left;
  margin: 0 20px 0 0;
  position: relative;
}
.main-container .product-view .summary.single-product-info .yith-wcwl-add-to-wishlist a {
  font-size: 13px;
  height: 40px;
  line-height: 40px;
  overflow: hidden;
  font-weight: normal;
  color: #363636;
}
.main-container .product-view .summary.single-product-info .yith-wcwl-add-to-wishlist a:before {
  content: "\e642";
  font-family: 'Pe-icon-7-stroke';
  font-size: 20px;
  color: #363636;
  display: inline-block;
  vertical-align: middle;
  margin-right: 5px;
  margin-top: -4px;
}
.main-container .product-view .summary.single-product-info .yith-wcwl-add-to-wishlist a:hover {
  color: #cf5c7c;
}
.main-container .product-view .summary.single-product-info .yith-wcwl-add-to-wishlist a:hover:before {
  color: #cf5c7c;
}
.main-container .product-view .summary.single-product-info .yith-wcwl-add-to-wishlist .feedback {
  display: none;
}
.main-container .product-view .summary.single-product-info .product_meta {
  float: left;
  margin-top: 15px;
  width: 100%;
}
.main-container .product-view .summary.single-product-info .product_meta .chosen-container,
.main-container .product-view .summary.single-product-info .product_meta .wcml_currency_switcher {
  display: none;
}
.main-container .product-view .summary.single-product-info .product_meta .sku_wrapper,
.main-container .product-view .summary.single-product-info .product_meta .posted_in,
.main-container .product-view .summary.single-product-info .product_meta .tagged_as {
  font-size: 14px;
  font-weight: 600;
  margin-right: 35px;
  text-transform: uppercase;
}
.main-container .product-view .summary.single-product-info .product_meta .sku_wrapper a,
.main-container .product-view .summary.single-product-info .product_meta .sku_wrapper span,
.main-container .product-view .summary.single-product-info .product_meta .posted_in a,
.main-container .product-view .summary.single-product-info .product_meta .posted_in span,
.main-container .product-view .summary.single-product-info .product_meta .tagged_as a,
.main-container .product-view .summary.single-product-info .product_meta .tagged_as span {
  color: #b5b5b5;
  font-family: Poppins, Arial, Helvetica, sans-serif;
  font-weight: normal;
  font-size: 14px;
  text-transform: none;
}
.main-container .product-view .summary.single-product-info .product_meta .sku_wrapper a:hover,
.main-container .product-view .summary.single-product-info .product_meta .posted_in a:hover,
.main-container .product-view .summary.single-product-info .product_meta .tagged_as a:hover {
  color: #cf5c7c;
}
.main-container .product-view .summary.single-product-info .share_buttons {
  border-top: 1px solid #ececec;
  float: left;
  padding-top: 15px;
  margin-bottom: 15px;
  width: 100%;
}
.main-container .product-view .summary.single-product-info .share_buttons .stButton,
.main-container .product-view .summary.single-product-info .share_buttons .stMainServices {
  height: auto;
}
.main-container .product-view .summary.single-product-info .share_buttons .stButton .stFb,
.main-container .product-view .summary.single-product-info .share_buttons .stButton .stTwbutton,
.main-container .product-view .summary.single-product-info .share_buttons .stButton .stArrow,
.main-container .product-view .summary.single-product-info .share_buttons .stButton .stButton_gradient,
.main-container .product-view .summary.single-product-info .share_buttons .stMainServices .stFb,
.main-container .product-view .summary.single-product-info .share_buttons .stMainServices .stTwbutton,
.main-container .product-view .summary.single-product-info .share_buttons .stMainServices .stArrow,
.main-container .product-view .summary.single-product-info .share_buttons .stMainServices .stButton_gradient {
  height: auto;
}
.main-container .product-view .single-product-sharing {
  float: left;
  width: 100%;
}
.main-container .product-view .single-product-sharing .widget-title {
  font-size: 14px;
  color: #363636;
  font-weight: 600;
  margin-bottom: 15px;
}
.main-container .product-view .single-product-sharing ul.social-icons {
  list-style: none;
  padding: 0;
}
.main-container .product-view .single-product-sharing ul.social-icons li {
  display: inline-block;
  margin-right: 10px;
  position: relative;
}
.main-container .product-view .single-product-sharing ul.social-icons li a {
  display: block;
  border: 1px solid #d1d1d1;
  border-radius: 100%;
  color: #888888;
  height: 35px;
  line-height: 33px;
  width: 35px;
  text-align: center;
}
.main-container .product-view .single-product-sharing ul.social-icons li a:hover {
  background: #cf5c7c;
  border-color: #cf5c7c;
  color: #fff;
}
.main-container .product-view .single-product-sharing ul.social-icons li a i {
  line-height: 33px;
}
.main-container .product-view .product .woocommerce-tabs {
  float: left;
  margin: 0;
  width: 100%;
}
.main-container .product-view .product .woocommerce-tabs ul.tabs {
  float: left;
  padding: 0;
  text-align: left;
  width: 100%;
  border-top: 1px solid #e5e5e5;
  border-bottom: 1px solid #e5e5e5;
}
.main-container .product-view .product .woocommerce-tabs ul.tabs:before {
  display: none;
}
.main-container .product-view .product .woocommerce-tabs ul.tabs li {
  background: none;
  border: none;
  box-shadow: none;
  list-style: none;
  margin: 0 40px 0 0;
}
.main-container .product-view .product .woocommerce-tabs ul.tabs li.active,
.main-container .product-view .product .woocommerce-tabs ul.tabs li:hover {
  background: none;
}
.main-container .product-view .product .woocommerce-tabs ul.tabs li.active a,
.main-container .product-view .product .woocommerce-tabs ul.tabs li:hover a {
  color: #484848;
}
.main-container .product-view .product .woocommerce-tabs ul.tabs li:before,
.main-container .product-view .product .woocommerce-tabs ul.tabs li:after {
  display: none;
}
.main-container .product-view .product .woocommerce-tabs ul.tabs li:last-child {
  margin: 0;
}
.main-container .product-view .product .woocommerce-tabs ul.tabs li a {
  color: #999999;
  display: inline-block;
  font-size: 14px;
  font-weight: bold;
  padding: 10px 0;
  text-transform: uppercase;
  text-decoration: none;
  text-shadow: none;
}
.main-container .product-view .product .woocommerce-tabs .panel {
  border: none;
  box-shadow: none;
  border-radius: 0;
  float: left;
  margin: 0 0 30px 0;
  padding: 32px 35px;
  width: 100%;
  min-height: 160px;
  border: 1px solid #e5e5e5;
}
.main-container .product-view .product .woocommerce-tabs .panel h2 {
  font-size: 16px;
  font-weight: normal;
  margin: 0 0 20px;
  text-transform: uppercase;
}
.main-container .product-view .product .woocommerce-tabs .panel h3 {
  font-size: 14px;
  font-weight: normal;
  margin: 0 0 20px;
  text-transform: uppercase;
}
.main-container .product-view .product .woocommerce-tabs .panel p {
  margin: 0;
}
.main-container .product-view .product .woocommerce-tabs .panel .shop_attributes {
  border-bottom: none;
  border-left: 1px solid #e5e5e5;
  border-right: none;
  border-top: 1px solid #e5e5e5;
}
.main-container .product-view .product .woocommerce-tabs .panel .shop_attributes th {
  color: #444444;
  font-family: Open Sans, Arial, Helvetica, sans-serif;
  font-size: 12px;
  font-weight: normal;
  text-transform: uppercase;
}
.main-container .product-view .product .woocommerce-tabs .panel .shop_attributes td {
  padding: 8px;
}
.main-container .product-view .product .woocommerce-tabs #tab-reviews #reviews h3 {
  font-size: 13px;
  font-weight: bold;
  margin: 0 0 20px;
}
.main-container .product-view .product .woocommerce-tabs #tab-reviews #reviews #comments {
  margin: 0 auto;
  max-width: 650px;
  width: 100%;
}
.main-container .product-view .product .woocommerce-tabs #tab-reviews #reviews #comments h2 {
  font-size: 14px;
  font-weight: bold;
}
.main-container .product-view .product .woocommerce-tabs #tab-reviews #reviews #comments .commentlist {
  margin: 0 0 25px;
  padding: 0;
}
.main-container .product-view .product .woocommerce-tabs #tab-reviews #reviews #comments .commentlist li .avatar {
  background: none;
  border: none;
  padding: 0;
  width: 60px;
}
.main-container .product-view .product .woocommerce-tabs #tab-reviews #reviews #comments .commentlist li .comment-text {
  border: 1px solid #e5e5e5;
  border-radius: 3px;
  margin-left: 80px;
  position: relative;
}
.main-container .product-view .product .woocommerce-tabs #tab-reviews #reviews #comments .commentlist li .comment-text:before {
  background: #fff;
  border-bottom: 1px solid #e5e5e5;
  border-left: 1px solid #e5e5e5;
  content: "";
  display: block;
  height: 10px;
  left: -6px;
  position: absolute;
  top: 10px;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  width: 10px;
}
.main-container .product-view .product .woocommerce-tabs #tab-reviews #reviews #comments .commentlist li .comment-text p.meta {
  font-size: 12px;
}
.main-container .product-view .product .woocommerce-tabs #tab-reviews #reviews #comments .commentlist li .comment-text strong {
  font-family: Open Sans, Arial, Helvetica, sans-serif;
  text-transform: uppercase;
}
.main-container .product-view .product .woocommerce-tabs #tab-reviews #reviews #comments .commentlist li .comment-text .star-rating {
  font-size: 13px;
  height: 16px;
  color: #cf5c7c;
}
.main-container .product-view .product .woocommerce-tabs #tab-reviews #reviews #review_form_wrapper {
  margin: 0 auto;
  max-width: 650px;
  width: 100%;
}
.main-container .product-view .product .woocommerce-tabs #tab-reviews #reviews #review_form_wrapper .comment-form label {
  font-family: Open Sans, Arial, Helvetica, sans-serif;
  font-weight: normal;
  margin: 0 0 5px;
  width: 100%;
}
.main-container .product-view .product .woocommerce-tabs #tab-reviews #reviews #review_form_wrapper .comment-form textarea {
  border: 1px solid #e5e5e5;
  border-radius: 3px;
  height: 80px;
  padding: 10px;
  width: 100%;
}
.main-container .product-view .product .woocommerce-tabs #tab-reviews #reviews #review_form_wrapper .comment-form .stars a {
  border: none;
  line-height: 14px;
}
.main-container .product-view .product .woocommerce-tabs #tab-reviews #reviews #review_form_wrapper .comment-form .stars a:after {
  color: #bababa;
  font-family: FontAwesome;
  font-weight: normal;
}
.main-container .product-view .product .woocommerce-tabs #tab-reviews #reviews #review_form_wrapper .comment-form .stars a.star-1:after {
  content: "\f006";
}
.main-container .product-view .product .woocommerce-tabs #tab-reviews #reviews #review_form_wrapper .comment-form .stars a.star-2:after {
  content: "\f006\f006";
}
.main-container .product-view .product .woocommerce-tabs #tab-reviews #reviews #review_form_wrapper .comment-form .stars a.star-3:after {
  content: "\f006\f006\f006";
}
.main-container .product-view .product .woocommerce-tabs #tab-reviews #reviews #review_form_wrapper .comment-form .stars a.star-4:after {
  content: "\f006\f006\f006\f006";
}
.main-container .product-view .product .woocommerce-tabs #tab-reviews #reviews #review_form_wrapper .comment-form .stars a.star-5:after {
  content: "\f006\f006\f006\f006\f006";
}
.main-container .product-view .product .woocommerce-tabs #tab-reviews #reviews #review_form_wrapper .comment-form .stars a.active:after,
.main-container .product-view .product .woocommerce-tabs #tab-reviews #reviews #review_form_wrapper .comment-form .stars a:hover:after {
  color: #cf5c7c;
}
.main-container .product-view .product .woocommerce-tabs #tab-reviews #reviews #review_form_wrapper .comment-form .form-submit #submit {
  background: #cf5c7c;
  border: 2px solid #cf5c7c;
  border-radius: 0px;
  box-shadow: none;
  color: #fff;
  display: inline-block;
  font-family: Open Sans, Arial, Helvetica, sans-serif;
  font-size: 12px;
  font-weight: bold;
  height: 42px;
  line-height: 42px;
  padding: 0 30px;
  text-shadow: none;
  text-transform: uppercase;
  white-space: nowrap;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.main-container .product-view .product .woocommerce-tabs #tab-reviews #reviews #review_form_wrapper .comment-form .form-submit #submit:hover {
  background: #ac3354;
  border-color: #ac3354;
  color: #fff;
}
.main-container .product-view .related_products_widget .widget-title {
  border-bottom: 1px solid #e5e5e5;
  margin-bottom: 35px;
  font-size: 18px;
  color: #363636;
  font-weight: 600;
}
.main-container .product-view .related_products_widget .widget-title span {
  text-align: left;
  line-height: 40px;
}
.main-container .product-view .related_products_widget .widget-title span:after {
  width: 55px;
  height: 1px;
  content: "";
  display: block;
  background: #cf5c7c;
}
.main-container .product-view .related_products_widget .item-col {
  margin-bottom: 5px;
}
.main-container .product-view .related_products_widget .item-col .product-wrapper .list-col4 {
  float: left;
  width: 34%;
  max-width: 115px;
}
.main-container .product-view .related_products_widget .item-col .product-wrapper .list-col4 .actions,
.main-container .product-view .related_products_widget .item-col .product-wrapper .list-col4 .onsale {
  display: none;
}
.main-container .product-view .related_products_widget .item-col .product-wrapper .list-col8 {
  float: left;
  width: 66%;
  padding-left: 20px;
}
.main-container .product-view .related_products_widget .item-col .product-wrapper .list-col8 .product-name {
  font-weight: 500;
}
.main-container .product-view .related_products_widget .item-col .product-wrapper .list-col8 .price-box,
.main-container .product-view .related_products_widget .item-col .product-wrapper .list-col8 .ratings {
  float: none;
}
.main-container .product-view .related_products_widget .item-col .product-wrapper .list-col8 .old-price {
  font-weight: 600;
}
.main-container .product-view .related_products_widget .item-col .product-wrapper .list-col8 .ratings {
  margin-top: 10px;
}
.main-container .product-view .upsells_products_widget {
  float: left;
  width: 100%;
  padding-top: 25px;
  margin-bottom: 50px;
}
.main-container .product-view .upsells_products_widget .widget-title {
  text-align: center;
  margin-bottom: 35px;
}
.main-container .product-view .upsells_products_widget .widget-title span {
  display: inline-block;
  color: #444444;
  position: relative;
  font-weight: 600;
  font-size: 18px;
  text-transform: uppercase;
  letter-spacing: 5.5px;
  padding-bottom: 30px;
}
.main-container .product-view .upsells_products_widget .widget-title span:before {
  border: 2px double #ebebeb;
  border-left: 2px double #fff;
  border-right: 2px double #fff;
  bottom: 8px;
  content: "";
  display: block;
  height: 7px;
  left: 0;
  margin: 0 auto;
  position: absolute;
  right: 0;
}
.main-container .product-view .upsells_products_widget .widget-title span:after {
  content: "\e650";
  font-family: "Pe-icon-7-stroke";
  display: block;
  background: #fff;
  color: #cf5c7c;
  font-size: 18px;
  position: absolute;
  left: 0;
  margin: 0 auto;
  bottom: 0;
  right: 0;
  text-align: center;
  width: 30px;
}
.main-container .product-view .upsells_products_widget .upsells.products {
  border: none;
  box-shadow: none;
  float: left;
  width: 100%;
}
.main-container .product-view .upsells_products_widget .shop-products {
  margin-bottom: 0;
}
.main-container .product-view .upsells_products_widget .shop-products .slick-list {
  padding: 0;
}
.main-container .product-view .upsells_products_widget .shop-products .item-col {
  width: 300px;
}
.main-container .product-view .upsells_products_widget .shop-products .item-col.first {
  clear: none;
}
.main-container .product-view .related_products_widget {
  margin-bottom: 10px;
}
.main-container .woocommerce form h3 {
  font-size: 20px;
  font-weight: bold;
  margin: 0 0 20px;
  text-transform: uppercase;
}
.main-container .woocommerce form label {
  font-family: Open Sans, Arial, Helvetica, sans-serif;
  margin: 0 0 5px;
}
.main-container .woocommerce form label[for='rememberme'] {
  margin-left: 15px;
}
.main-container .woocommerce form fieldset {
  float: left;
  margin: 20px 0;
  width: 100%;
}
.main-container .woocommerce form fieldset legend {
  border-bottom: none;
  color: #cf5c7c;
  font-family: Open Sans, Arial, Helvetica, sans-serif;
  font-size: 14px;
  margin: 0 0 10px;
  padding: 0;
  text-transform: uppercase;
}
.main-container .shop_table {
  background: #fff;
  border-color: #e5e5e5;
  border-width: 1px 0 0 1px;
  border-style: solid;
  border-radius: 0;
  margin: 0 0 50px;
  color: #363636;
}
.main-container .shop_table.cart {
  border-bottom: none;
}
.main-container .shop_table.cart thead {
  background: #f2f2f2;
}
.main-container .shop_table.cart th,
.main-container .shop_table.cart td {
  border-top: none;
  font-size: 15px;
  padding: 20px 10px;
}
.main-container .shop_table th {
  border-top: none;
  font-family: Open Sans, Arial, Helvetica, sans-serif;
  font-weight: normal;
  padding: 20px 10px;
  vertical-align: middle;
  white-space: nowrap;
  font-size: 15px;
  text-transform: uppercase;
  text-align: center;
  font-weight: bold;
}
.main-container .shop_table th.product-remove {
  text-align: right;
  border-right: none;
}
.main-container .shop_table td {
  font-size: 12px;
  padding: 20px 10px;
  vertical-align: middle;
  text-align: center;
  font-weight: 500;
}
.main-container .shop_table td.product-thumbnail img {
  width: 75px;
}
.main-container .shop_table td.product-name {
  width: 550px;
  text-align: center;
}
.main-container .shop_table td.product-name a {
  color: #363636;
  font-size: 16px;
}
.main-container .shop_table td.product-name a:hover {
  color: #cf5c7c;
}
.main-container .shop_table td.product-name .variation {
  color: #888888;
  font-size: 12px;
  margin: 5px 0 0;
}
.main-container .shop_table td.product-name .variation dt {
  font-weight: normal;
  float: none;
}
.main-container .shop_table td.product-name .variation dd {
  float: none;
  margin: 0 0 3px;
  padding: 0;
}
.main-container .shop_table td.product-price {
  color: #363636;
}
.main-container .shop_table td.product-price .old-price {
  font-size: 0.8em;
  color: #aeaeae;
  text-decoration: line-through;
  margin-left: 10px;
}
.main-container .shop_table td.product-subtotal {
  color: #cf5c7c;
  font-size: 15px;
  font-weight: bold;
}
.main-container .shop_table td.product-remove {
  border-right: none;
  text-align: center;
}
.main-container .shop_table td.product-add-to-cart .button.add_to_cart {
  margin: 0 25px;
}
.main-container .shop_table .order .order-actions {
  text-align: center;
}
.main-container .shop_table .cart_item:hover {
  background: #f9f9f9;
}
.main-container .shop_table a.remove {
  background: none;
  color: #363636 !important;
  display: inline-block;
  font-size: 20px;
}
.main-container .shop_table a.remove:hover {
  color: #cf5c7c !important;
}
.main-container .shop_table .quantity {
  height: 35px;
  width: 68px;
  margin: auto;
}
.main-container .shop_table .quantity .input-text {
  background: none;
  border: 2px solid #e5e5e5;
  border-radius: 0;
  color: #363636;
  font-family: Open Sans, Arial, Helvetica, sans-serif;
  font-size: 15px;
  font-weight: normal;
}
.main-container .shop_table .cart-subtotal th,
.main-container .shop_table .shipping th,
.main-container .shop_table .order-total th {
  font-size: 14px;
}
.main-container .buttons-cart {
  float: left;
  margin: 0 0 35px !important;
  width: 100%;
}
.main-container .buttons-cart .button {
  float: left;
  margin-right: 15px;
}
.main-container .buttons-cart .continue {
  float: left;
}
.main-container .return-to-shop .button {
  margin-bottom: 80px;
}
.main-container .coupon {
  border: 1px solid #e5e5e5;
  float: left;
  margin: 0 0 30px;
  padding: 15px 25px;
  width: 100%;
}
.main-container .coupon h3 {
  font-size: 14px;
  font-weight: 400;
}
.main-container .coupon p {
  color: #999999;
  font-size: 13px;
  margin-bottom: 20px;
}
.main-container .coupon label {
  display: block;
  font-size: 18px;
  font-weight: bold;
  margin: 0 0 10px;
  text-transform: uppercase;
  width: 100%;
}
.main-container .coupon .input-text {
  border: 1px solid #e5e5e5;
  float: left;
  height: 42px;
  margin: 0 0 22px;
  max-width: 100%;
  padding: 0 0 0 10px;
  width: 100%;
}
.main-container .cart_totals {
  border: 1px solid #e5e5e5;
  float: left;
  padding: 15px 25px;
  text-align: right;
  width: 100%;
}
.main-container .cart_totals h2 {
  display: inline-block;
  font-size: 20px;
  font-weight: bold;
  margin: 0 0 20px;
  text-transform: uppercase;
}
.main-container .cart_totals table {
  border: none;
  float: right;
  margin: 0;
  text-align: right;
  color: #363636;
}
.main-container .cart_totals table th {
  border: none;
  font-size: 12px;
  font-weight: bold;
  padding: 0 20px 12px 0;
  text-align: right;
  text-transform: uppercase;
  vertical-align: top;
}
.main-container .cart_totals table td {
  border: none;
  padding: 0 0 12px;
  vertical-align: top;
}
.main-container .cart_totals table td .amount {
  color: #cf5c7c;
  float: right;
  font-size: 12px;
  font-weight: bold;
  text-align: right;
  text-transform: uppercase;
}
.main-container .cart_totals table td label {
  display: inline;
  margin: 0;
  white-space: normal;
}
.main-container .cart_totals table .shipping {
  text-align: left;
}
.main-container .cart_totals table .shipping ul#shipping_method li {
  float: left;
  margin: 0 0 10px;
  padding: 0;
  text-indent: 0;
  width: 100%;
}
.main-container .cart_totals table .shipping ul#shipping_method li .shipping_method {
  margin: 0;
  position: relative;
  top: 2px;
}
.main-container .cart_totals table .shipping ul#shipping_method li .amount {
  text-align: left;
}
.main-container .cart_totals table .order-total th,
.main-container .cart_totals table .order-total .amount {
  font-size: 20px;
  text-transform: uppercase;
  white-space: nowrap;
}
.main-container .cart_totals .wc-proceed-to-checkout .button {
  background: #cf5c7c;
  color: #fff;
  font-size: 15px;
  margin-top: 20px;
  border-color: #cf5c7c;
}
.main-container .cart_totals .wc-proceed-to-checkout .button:hover {
  background: #c0385e;
  border-color: #c0385e;
}
.main-container .shipping-calculator-form {
  background: #f2f2f2;
  border-radius: 3px;
  float: right;
  margin-top: 20px;
  max-width: 100%;
  padding: 10px;
}
.main-container .shipping-calculator-form .form-row {
  margin-bottom: 10px;
  padding: 0;
}
.main-container .shipping-calculator-form input,
.main-container .shipping-calculator-form select {
  background: #fff;
  border: none;
  height: 32px;
  padding: 0 0 0 10px;
}
.main-container .cart-form {
  position: relative;
}
.main-container .cart-form .loading {
  background-color: #fff;
  background-image: url('../images/loader.gif');
  background-repeat: no-repeat;
  background-position: center center;
  display: none;
  height: 100%;
  left: 0;
  opacity: 0.7;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 2;
}
.main-container .cart-form.loading .loading {
  display: block;
}
.main-container .cross-sells {
  border: 1px solid #e5e5e5;
  float: left;
  margin-bottom: 30px;
  padding: 15px 25px;
  width: 100%;
}
.main-container .cross-sells h3 {
  font-size: 14px;
  font-weight: 400;
}
.main-container .cross-sells .cross-carousel {
  float: left;
  width: 100%;
}
.main-container .cross-sells .shop-products .item-col {
  margin: 0;
  width: 150px;
}
.main-container .cross-sells .shop-products .item-col.first {
  clear: none;
}
.main-container .cross-sells .shop-products .item-col .product-wrapper .product-image .price-rate {
  bottom: 50px;
}
.main-container .cross-sells .shop-products .item-col .product-wrapper .product-image .price-rate .price-box {
  display: none;
}
.main-container .cross-sells .shop-products .item-col .product-wrapper .product-image .actions {
  display: none;
}
.main-container .cross-sells .shop-products .item-col .product-wrapper h2.product-name {
  font-weight: 400;
  margin: 10px 0 0;
  text-transform: none;
}
.main-container .cross-sells .shop-products .slick-dots li {
  margin: 0 2px;
}
.main-container .woocommerce-checkout .woocommerce-billing-fields,
.main-container .woocommerce-checkout .woocommerce-shipping-fields {
  margin: 0 0 30px;
}
.main-container .woocommerce-checkout .woocommerce-billing-fields h3,
.main-container .woocommerce-checkout .woocommerce-shipping-fields h3 {
  border-bottom: 1px solid #e5e5e5;
  font-size: 20px;
  margin: 0 0 20px;
  padding-bottom: 10px;
  text-transform: none;
  width: 100%;
}
.main-container .woocommerce-checkout .woocommerce-billing-fields h3 label,
.main-container .woocommerce-checkout .woocommerce-shipping-fields h3 label {
  margin-right: 5px;
  font-weight: 700;
}
.main-container .woocommerce-checkout .woocommerce-billing-fields .form-row,
.main-container .woocommerce-checkout .woocommerce-shipping-fields .form-row {
  margin: 0 0 40px;
}
.main-container .woocommerce-checkout .woocommerce-billing-fields label,
.main-container .woocommerce-checkout .woocommerce-shipping-fields label {
  color: #444444;
  font-family: Open Sans, Arial, Helvetica, sans-serif;
  margin: 0 0 5px;
}
.main-container .woocommerce-checkout .woocommerce-billing-fields .input-text,
.main-container .woocommerce-checkout .woocommerce-shipping-fields .input-text {
  height: 42px;
}
.main-container .woocommerce-checkout .woocommerce-billing-fields select,
.main-container .woocommerce-checkout .woocommerce-shipping-fields select {
  border: 1px solid #e5e5e5;
  height: 42px;
}
.main-container .woocommerce-checkout .woocommerce-billing-fields #order_comments,
.main-container .woocommerce-checkout .woocommerce-shipping-fields #order_comments {
  height: 90px;
  padding: 15px;
}
.main-container .order-box {
  background: #f2f2f2;
  padding: 30px 40px 45px;
}
.main-container #order_review_heading {
  border-bottom: 1px solid #d8d8d8;
  font-size: 24px;
  margin: 0 0 20px;
  padding-bottom: 10px;
  text-transform: uppercase;
  width: 100%;
}
.main-container #order_review .shop_table {
  background: none;
  border: none;
}
.main-container #order_review .shop_table th,
.main-container #order_review .shop_table td {
  border-bottom: 1px solid #d8d8d8;
  border-right: none;
  border-top: none;
  font-size: 14px;
  padding: 15px 0;
}
.main-container #order_review .shop_table .shipping th,
.main-container #order_review .shop_table .shipping td {
  vertical-align: top;
}
.main-container #order_review .shop_table .shipping #shipping_method {
  width: 250px;
}
.main-container #order_review .shop_table .shipping #shipping_method li {
  float: left;
  margin: 0 0 10px;
  padding: 0;
  text-indent: 0;
  width: 100%;
}
.main-container #order_review .shop_table .shipping #shipping_method li .shipping_method {
  position: relative;
  top: 2px;
}
.main-container #order_review .shop_table .order-total th,
.main-container #order_review .shop_table .order-total td {
  border-bottom: none;
  font-size: 18px;
}
.main-container #order_review .shop_table .order-total th .amount,
.main-container #order_review .shop_table .order-total td .amount {
  color: #cf5c7c;
}
.main-container #order_review #payment {
  background: none;
}
.main-container #order_review #payment a.about_paypal {
  margin-left: 15px;
}
.main-container #order_review #payment .payment_methods {
  border: none;
  padding: 0;
}
.main-container #order_review #payment .payment_methods li {
  margin: 0 0 15px;
}
.main-container #order_review #payment .payment_methods label {
  font-family: Open Sans, Arial, Helvetica, sans-serif;
}
.main-container #order_review #payment .payment_methods .payment_box {
  background: none;
  box-shadow: none;
  font-size: 12px;
  margin: 0;
  padding: 0;
  text-shadow: none;
  width: 100%;
}
.main-container #order_review #payment .payment_methods .payment_box:after {
  display: none;
}
.main-container #order_review #payment .payment_methods .input-radio {
  position: relative;
  top: 2px;
}
.main-container #order_review #payment .place-order {
  margin: 0;
  padding: 0;
}
.main-container #order_review #payment .place-order #place_order {
  background: #cf5c7c;
  font-size: 14px;
  height: 50px;
  margin: 0;
  padding: 0;
  width: 100%;
}
.main-container #order_review #payment .place-order #place_order:hover {
  background: #c0385e;
}
.main-container .checkout_coupon {
  border: none;
  padding: 0;
}
.main-container .checkout_coupon .form-row {
  float: left;
  margin: 0;
  width: auto;
}
.main-container .checkout_coupon .input-text {
  height: 36px;
  width: 170px;
}
.main-container .checkout_coupon .button {
  background: #444444;
  border: none;
  border-radius: 0;
  color: #fff;
  margin-left: 6px;
}
.main-container .checkout_coupon .button:hover {
  background: #2b2b2b;
}
.main-container .checkout-login form.login {
  background: #fff;
  border: 1px solid #e5e5e5;
  border-radius: 0;
  margin: 0 0 20px;
}
.main-container .checkout-login form.login .form-row {
  float: left;
  margin: 0;
  padding: 0;
  width: 100%;
}
.main-container .checkout-login form.login label {
  font-family: Open Sans, Arial, Helvetica, sans-serif;
  margin-bottom: 5px;
}
.main-container .checkout-login form.login #rememberme {
  margin: 0 3px 0 15px;
}
.main-container .checkout-login form.login .lost_password {
  float: left;
  margin: 10px 0 0;
}
.main-container .checkout-login form.login .input-text {
  border: 1px solid #e5e5e5;
  height: 36px;
  margin: 0 0 14px;
  max-width: 100%;
  padding: 0 0 0 10px;
  width: 370px;
}
.main-container .checkout-done > p: first-child {
  font-family: Open Sans, Arial, Helvetica, sans-serif;
  font-size: 20px;
  font-weight: 700;
  line-height: 1.35;
}
.main-container .checkout-done > p: first-child:before {
  content: "\f00c";
  display: inline-block;
  font-family: FontAwesome;
  margin-right: 8px;
}
.main-container .checkout-done h2,
.main-container .checkout-done h2.title {
  font-size: 20px;
  margin: 50px 0 15px;
  padding-bottom: 0;
  text-transform: uppercase;
}
.main-container .checkout-done h3 {
  font-size: 13px;
  margin: 0 0 20px;
  padding: 0 0 0;
  width: 100%;
}
.main-container .checkout-done .order_summary {
  background: #f2f2f2;
  float: left;
  font-size: 15px;
  margin: 20px 0 30px;
  padding: 25px;
  width: 100%;
}
.main-container .checkout-done .order_summary strong {
  font-family: Open Sans, Arial, Helvetica, sans-serif;
  font-weight: normal;
  margin-top: 5px;
}
.main-container .checkout-done .order_summary li {
  margin: 0;
  padding-left: 10px;
}
.main-container .checkout-done .bacs_details {
  padding: 0;
}
.main-container .checkout-done .shop_table {
  border: none;
  max-width: 650px;
  table-layout: fixed;
}
.main-container .checkout-done .shop_table th,
.main-container .checkout-done .shop_table td {
  border: 1px solid #e5e5e5;
  border-right: none;
  border-top: none;
  font-size: 15px;
  padding: 15px 0;
}
.main-container .checkout-done .shop_table tr th:last-child,
.main-container .checkout-done .shop_table tr td:last-child {
  border-right: 1px solid #e5e5e5;
}
.main-container .checkout-done .shop_table tr:first-child th,
.main-container .checkout-done .shop_table tr:first-child td {
  border-top: 1px solid #e5e5e5 !important;
}
.main-container .checkout-done .shop_table th {
  font-weight: 700;
}
.main-container .checkout-done .shop_table .product-name a {
  color: #cf5c7c;
}
.main-container .checkout-done .shop_table thead th,
.main-container .checkout-done .shop_table thead td {
  border-bottom: none;
}
.main-container .checkout-done .shop_table tfoot th {
  font-weight: 400;
  padding-right: 30px;
  text-align: right;
}
.main-container .customer_login form.login,
.main-container .customer_login form.register {
  border: none;
  float: left;
  margin: 0 0 30px;
  padding: 0;
  width: 100%;
}
.main-container .customer_login form.login .form-fields,
.main-container .customer_login form.register .form-fields {
  border-bottom: none;
  border-left: 1px solid #e5e5e5;
  border-right: 1px solid #e5e5e5;
  border-top: 1px solid #e5e5e5;
  float: left;
  padding: 20px 25px;
  width: 100%;
}
.main-container .customer_login form.login .form-fields h2,
.main-container .customer_login form.register .form-fields h2 {
  border-bottom: 1px solid #e5e5e5;
  font-size: 18px;
  margin: 0 0 15px;
  padding: 0 0 5px;
  text-transform: uppercase;
}
.main-container .customer_login form.login .form-fields .form-row,
.main-container .customer_login form.register .form-fields .form-row {
  margin: 0 0 8px;
  padding: 0;
}
.main-container .customer_login form.login .form-action,
.main-container .customer_login form.register .form-action {
  background: #f2f2f2;
  border-bottom: 1px solid #e5e5e5;
  border-left: 1px solid #e5e5e5;
  border-right: 1px solid #e5e5e5;
  border-top: none;
  float: left;
  padding: 15px 10px;
  width: 100%;
}
.main-container .customer_login form.login .form-action .lost_password,
.main-container .customer_login form.register .form-action .lost_password {
  float: left;
  line-height: 36px;
  margin: 0;
}
.main-container .customer_login form.login .form-action label,
.main-container .customer_login form.register .form-action label {
  float: right;
  font-weight: normal;
  line-height: 36px;
  margin: 0 20px 0 0;
}
.main-container .customer_login form.login .form-action label #rememberme,
.main-container .customer_login form.register .form-action label #rememberme {
  margin-right: 3px;
  margin-top: 0;
  position: relative;
  top: 1px;
}
.main-container .customer_login form.login .form-action .button,
.main-container .customer_login form.register .form-action .button {
  float: right;
}
.main-container .recent-orders-title {
  font-size: 18px;
  margin: 0 0 20px;
  text-transform: uppercase;
}
.main-container .address-box {
  float: left;
  margin: 0 0 30px;
  width: 100%;
}
.main-container .address-box.recent-orders,
.main-container .address-box.my-address {
  border: none;
  padding: 0;
}
.main-container .address-box h2,
.main-container .address-box h2.title {
  font-size: 18px;
  text-transform: uppercase;
}
.main-container .address-box table.shop_table {
  font-size: 14px;
}
.main-container .address-box table.shop_table th,
.main-container .address-box table.shop_table td {
  text-align: center;
  vertical-align: middle;
}
.main-container .address-box table.shop_table .order-number {
  border-left: none;
}
.main-container .address-box table.shop_table .button {
  margin: 0;
  padding: 0 30px;
}
.main-container .address-box table.shop_table.order_details th,
.main-container .address-box table.shop_table.order_details .product-name {
  text-align: left;
}
.main-container .address-box table.shop_table.order_details td,
.main-container .address-box table.shop_table.order_details .product-total {
  text-align: right;
}
.main-container .address-box table.shop_table.order_details .product-name {
  border-left: none;
}
.main-container .address-box table.shop_table.order_details tfoot th {
  border-left: none;
  border-top: none;
}
.main-container .address-box .lost_reset_password {
  float: left;
  width: 100%;
}
.main-container .address-box .lost_reset_password .form-row .button {
  float: left;
}
.main-container .addresses {
  line-height: 2;
}
.main-container .addresses .title h3 {
  border-bottom: 1px solid #e5e5e5;
  font-size: 16px;
  margin: 0 0 10px;
  padding: 15px 0;
  width: 100%;
}
.main-container .addresses address {
  line-height: 2;
}
.main-container .myaccount_user {
  color: #666;
  margin: 0 0 30px;
  padding: 0;
}
.main-container .myaccount_user a {
  text-decoration: underline;
}
.main-container #yith-wcwl-form .wishlist_table {
  border-right: none;
  border-bottom: none;
}
.main-container #yith-wcwl-form .wishlist_table .product-remove {
  border-left: none;
}
.main-container #yith-wcwl-form .wishlist_table tr td.product-stock-status span.wishlist-in-stock {
  color: #cf5c7c;
}
.main-container #yith-wcwl-form .yith-wcwl-share ul {
  margin: 0;
  padding: 0;
}
