@-moz-keyframes rotate {
  0% {
    -webkit-transform: rotateY(0deg);
    -moz-transform: rotateY(0deg);
    transform: rotateY(0deg);
  }
  50% {
    -webkit-transform: rotateY(180deg);
    -moz-transform: rotateY(180deg);
    transform: rotateY(180deg);
  }
  100% {
    -webkit-transform: rotateY(0deg);
    -moz-transform: rotateY(0deg);
    transform: rotateY(0deg);
  }
}
@-webkit-keyframes rotate {
  0% {
    -webkit-transform: rotateY(0deg);
    -moz-transform: rotateY(0deg);
    transform: rotateY(0deg);
  }
  50% {
    -webkit-transform: rotateY(180deg);
    -moz-transform: rotateY(180deg);
    transform: rotateY(180deg);
  }
  100% {
    -webkit-transform: rotateY(0deg);
    -moz-transform: rotateY(0deg);
    transform: rotateY(0deg);
  }
}
@keyframes rotate {
  0% {
    -webkit-transform: rotateY(0deg);
    -moz-transform: rotateY(0deg);
    transform: rotateY(0deg);
  }
  50% {
    -webkit-transform: rotateY(180deg);
    -moz-transform: rotateY(180deg);
    transform: rotateY(180deg);
  }
  100% {
    -webkit-transform: rotateY(0deg);
    -moz-transform: rotateY(0deg);
    transform: rotateY(0deg);
  }
}
.heightzero {
  height: 0px;
  overflow: hidden;
}
.wrapper.box-layout .home-slider {
  margin-left: 0;
  margin-right: 0;
}
.main-container .full-width .row-container {
  margin-left: 0;
  margin-right: 0;
  max-width: 100%;
  width: 100%;
  padding-left: 15px;
  padding-right: 15px;
}
.main-container .home-slider.full-width {
  padding-top: 0;
  margin-left: 0;
  margin-right: 0;
  padding-left: 0;
  padding-right: 0;
}
.main-container .home-slider.full-width .wpb_content_element {
  margin-bottom: 0;
}
.main-container .home-slider.full-width .row-container {
  padding-right: 0;
  padding-left: 0;
}
.main-container .home-slider.full-width .vc_column_container {
  padding-right: 0;
  padding-left: 0;
}
.main-container .no-gap {
  margin: 0;
}
.main-container .no-gap .row-container {
  max-width: 1170px;
}
.main-container .no-gap .vc_column_container {
  padding: 0;
}
.main-container .no-gap img {
  width: 100%;
}
.main-container .wpb_revslider_element .tp-caption a {
  color: inherit;
  -webkit-transition: inherit;
  -moz-transition: inherit;
  -ms-transition: inherit;
  -o-transition: inherit;
  transition: inherit;
}
.main-container .wpb_revslider_element .tp-caption a:hover {
  color: inherit;
}
.front-page .wpb_content_element.wpb_revslider_element {
  margin-bottom: 0;
}
.front-page .wpb_content_element.wpb_revslider_element .tparrows.custom {
  height: 50px;
  width: 50px;
  text-align: center;
  display: block;
  border: 2px solid #363636;
  background: none;
}
.front-page .wpb_content_element.wpb_revslider_element .tparrows.custom:before {
  display: block;
  color: #363636;
  font-family: FontAwesome;
  font-size: 24px;
  line-height: 50px;
}
.front-page .wpb_content_element.wpb_revslider_element .tparrows.custom:hover {
  border-color: #FFB548;
}
.front-page .wpb_content_element.wpb_revslider_element .tparrows.custom:hover:before {
  color: #FFB548;
}
.front-page .wpb_content_element.wpb_revslider_element .tp-leftarrow.custom:before {
  content: "\f0d9";
}
.front-page .wpb_content_element.wpb_revslider_element .tp-rightarrow.custom:before {
  content: "\f0da";
}
.front-page .wpb_single_image {
  margin-bottom: 0;
}
.front-page .wpb_single_image a {
  display: inline-block;
  position: relative;
}
.front-page .wpb_single_image a:before {
  background: rgba(255,255,255,0.1);
  bottom: 15px;
  content: "";
  left: 15px;
  position: absolute;
  right: 15px;
  top: 15px;
  -webkit-transform: scale(0);
  -moz-transform: scale(0);
  transform: scale(0);
  -webkit-transition: 0.3s ease;
  -moz-transition: 0.3s ease;
  -ms-transition: 0.3s ease;
  -o-transition: 0.3s ease;
  transition: 0.3s ease;
}
.front-page .wpb_single_image a:hover:before {
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  transform: scale(1);
}
.single-image {
  display: inline-block;
  position: relative;
}
.single-image:before {
  background: rgba(255,255,255,0.1);
  bottom: 15px;
  content: "";
  left: 15px;
  position: absolute;
  right: 15px;
  top: 15px;
  -webkit-transform: scale(0);
  -moz-transform: scale(0);
  transform: scale(0);
  -webkit-transition: 0.3s ease;
  -moz-transition: 0.3s ease;
  -ms-transition: 0.3s ease;
  -o-transition: 0.3s ease;
  transition: 0.3s ease;
}
.single-image:hover:before {
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  transform: scale(1);
}
.banner .wpb_wrapper {
  width: 100%;
}
.banner .wpb_wrapper a,
.banner .wpb_wrapper img {
  width: 100%;
}
.main-container .home-tabs .wpb_content_element {
  margin-bottom: 0;
}
.main-container .home-tabs .wpb_content_element .wpb_wrapper > h3 {
  display: none;
}
.main-container .home-tabs .home-tabs-title {
  height: auto;
  line-height: 30px;
  margin: -8px 0 38px 0;
  padding: 0;
  text-align: center;
}
.main-container .home-tabs .home-tabs-title li {
  display: inline-block;
  list-style: none;
  margin: 0 40px 0 0;
  padding: 0;
}
.main-container .home-tabs .home-tabs-title li:last-child {
  margin-right: 0;
}
.main-container .home-tabs .home-tabs-title li a {
  color: #a4a4a4;
  font-size: 12px;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: 600;
}
.main-container .home-tabs .home-tabs-title li a:hover,
.main-container .home-tabs .home-tabs-title li a.active {
  color: #FFB548;
}
.main-container .home-tabs .shop-products .item-col {
  margin-bottom: 20px;
  max-width: 500px;
  width: 100%;
}
.main-container .home-tabs .shop-products .item-col.first {
  clear: none;
}
.main-container .home-tabs.layout3 .home-tabs-title {
  border-bottom: 1px solid #e5e5e5;
  text-align: left;
  margin: 0 0 35px 0;
}
.main-container .home-tabs.layout3 .home-tabs-title li {
  margin: 0 60px 0 0;
}
.main-container .home-tabs.layout3 .home-tabs-title li:last-child {
  margin-right: 0;
}
.main-container .home-tabs.layout3 .home-tabs-title li a {
  color: #848484;
  font-size: 16px;
  position: relative;
}
.main-container .home-tabs.layout3 .home-tabs-title li a:after {
  content: "";
  display: block;
  width: 0;
  height: 1px;
  background: #FFB548;
  position: absolute;
  left: 0;
  bottom: -5px;
  -webkit-transition: 0.3s ease;
  -moz-transition: 0.3s ease;
  -ms-transition: 0.3s ease;
  -o-transition: 0.3s ease;
  transition: 0.3s ease;
}
.main-container .home-tabs.layout3 .home-tabs-title li a:hover:after,
.main-container .home-tabs.layout3 .home-tabs-title li a.active:after {
  width: 55px;
}
.main-container .products-carousel .shop-products {
  margin: 0 -5px;
}
.main-container .products-carousel .shop-products .item-col {
  margin-bottom: 30px;
  width: 400px;
  padding: 0 6px;
}
.main-container .products-carousel .shop-products .item-col.first {
  clear: none;
}
.main-container .products-carousel .shop-products .item-col a {
  display: block;
}
.main-container .products-carousel .shop-products .item-col .product-wrapper:hover h2.product-name {
  opacity: 1;
  filter: alpha(opacity=100);
}
.main-container .products-carousel .shop-products .item-col .product-wrapper:hover .price-ratings .price-box .old-price {
  color: #ffffff;
}
.main-container .products-carousel .shop-products .item-col .product-wrapper h2.product-name {
  text-align: center;
  margin-bottom: 8px;
  opacity: 0;
  filter: alpha(opacity=0);
  -webkit-transition: 0.3s ease;
  -moz-transition: 0.3s ease;
  -ms-transition: 0.3s ease;
  -o-transition: 0.3s ease;
  transition: 0.3s ease;
}
.main-container .products-carousel .shop-products .item-col .product-wrapper h2.product-name a {
  color: #ffffff;
}
.main-container .products-carousel .shop-products .item-col .product-wrapper .price-ratings .price-box {
  font-size: 17px;
  font-weight: 600;
  width: 100%;
  text-align: center;
}
.main-container .products-carousel .shop-products .item-col .product-wrapper .price-ratings .price-box .old-price {
  color: #aeaeae;
  font-size: 12px;
  font-weight: 500;
}
.main-container .products-carousel .shop-products .item-col .product-wrapper .price-ratings .ratings {
  display: none;
}
.main-container .products-carousel .shop-products .item-col .product-wrapper .list-col4 {
  margin: 0;
}
.main-container .products-carousel .shop-products .item-col .product-wrapper .list-col8 {
  position: absolute;
  z-index: 101;
  bottom: 25px;
  display: inline-block;
  width: auto;
  left: 50%;
  -webkit-transform: translate(-50%);
  -moz-transform: translate(-50%);
  transform: translate(-50%);
}
.main-container .products-carousel .shop-products.slick-slider:hover button.slick-prev {
  left: 6px;
}
.main-container .products-carousel .shop-products.slick-slider:hover button.slick-next {
  right: 4px;
}
.main-container .products-carousel2 .shop-products .item-col {
  margin-bottom: 20px;
}
.main-container .products-carousel2 .shop-products .item-col.first {
  clear: none;
}
.main-container .products-carousel2 .shop-products .group .item-col {
  max-width: 500px;
  width: 100%;
}
.main-container .products-carousel2 .shop-products .group .item-col .product-name {
  padding: 0;
}
.main-container .products-carousel2 .shop-products .group .item-col .product-name:after {
  display: none;
}
.main-container .products-carousel3 .shop-products {
  margin: 0 -5px;
}
.main-container .products-carousel3 .shop-products .item-col {
  margin-bottom: 30px;
  width: 400px;
  padding: 0 6px;
}
.main-container .products-carousel3 .shop-products .item-col.first {
  clear: none;
}
.main-container .products-carousel3 .shop-products .item-col a {
  display: block;
}
.main-container .products-carousel3 .shop-products.slick-slider:hover button.slick-prev {
  left: 6px;
}
.main-container .products-carousel3 .shop-products.slick-slider:hover button.slick-next {
  right: 4px;
}
.main-container .products-carousel4 .shop-products .item-col {
  margin-bottom: 20px;
}
.main-container .products-carousel4 .shop-products .item-col.first {
  clear: none;
}
.main-container .products-carousel4 .shop-products .group .item-col {
  max-width: 500px;
  width: 100%;
}
.main-container .products-carousel4 .shop-products .group .item-col .product-name {
  padding: 0;
}
.main-container .products-carousel4 .shop-products .group .item-col .product-name:after {
  display: none;
}
.home-single-product .shop-products .item-col {
  width: 100%;
}
.home-single-product .shop-products .item-col .product-wrapper .list-col4 {
  margin-bottom: 43px;
}
.home-single-product .shop-products .item-col .product-wrapper h2.product-name {
  margin-bottom: 20px;
}
.home-single-product .shop-products .item-col .product-wrapper h2.product-name a {
  font-size: 16px;
}
.home-single-product .shop-products .item-col .product-wrapper .price-box {
  font-size: 16px;
}
.home-single-product .shop-products .item-col .product-wrapper .price-box .old-price {
  font-size: 13px;
}
.latest-posts .posts-carousel {
  margin-left: -15px;
  margin-right: -15px;
}
.latest-posts .posts-carousel .item-col {
  padding: 0 15px;
}
.latest-posts .posts-carousel.slick-slider .slick-prev,
.latest-posts .posts-carousel.slick-slider .slick-next {
  top: 40%;
}
.latest-posts .posts-carousel.slick-slider:hover .slick-prev {
  left: 15px;
}
.latest-posts .posts-carousel.slick-slider:hover .slick-next {
  right: 15px;
}
.latest-posts .post-thumb {
  position: relative;
  margin-bottom: 22px;
  overflow: hidden;
}
.latest-posts .post-thumb a.link {
  width: 100%;
}
.latest-posts .post-thumb a.link:hover img {
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  transform: scale(1.1);
}
.latest-posts .post-thumb a.link img {
  width: 100%;
  -webkit-transition: 0.3s ease;
  -moz-transition: 0.3s ease;
  -ms-transition: 0.3s ease;
  -o-transition: 0.3s ease;
  transition: 0.3s ease;
}
.latest-posts .post-thumb .post-date {
  background: #FFB548;
  text-align: center;
  position: absolute;
  bottom: 0;
  left: 0;
  padding: 8px 20px;
  line-height: 1.35;
}
.latest-posts .post-thumb .post-date .day {
  font-size: 20px;
  color: #ffffff;
  font-weight: bold;
  display: block;
}
.latest-posts .post-thumb .post-date .month {
  font-size: 14px;
  color: #ffffff;
  text-transform: uppercase;
  display: block;
}
.latest-posts .post-info {
  text-align: left;
}
.latest-posts .post-info .post-title {
  margin-bottom: 15px;
}
.latest-posts .post-info .post-title a {
  display: block;
  font-size: 12px;
  color: #484848;
  font-weight: 600;
  text-transform: uppercase;
}
.latest-posts .post-info .post-title a:hover {
  color: #FFB548;
}
.latest-posts .post-info .post-title:after {
  content: "";
  display: block;
  width: 32px;
  height: 3px;
  background: #484848;
  margin-top: 8px;
}
.latest-posts .post-info .post-meta {
  display: none;
}
.latest-posts .post-info .post-excerpt {
  line-height: 2;
}
.latest-posts .post-info a.readmore {
  color: #484848;
  font-size: 10px;
  font-weight: 600;
  display: inline-block;
  border-bottom: 1px solid #484848;
  line-height: 1.7;
}
.latest-posts .post-info a.readmore:hover {
  color: #FFB548;
  border-bottom: 1px dashed #FFB548;
}
.latest-posts2 .posts-carousel {
  margin-left: -15px;
  margin-right: -15px;
}
.latest-posts2 .posts-carousel .item-col {
  padding: 0 15px;
}
.latest-posts2 .posts-carousel.slick-slider:hover .slick-prev {
  left: 15px;
}
.latest-posts2 .posts-carousel.slick-slider:hover .slick-next {
  right: 15px;
}
.latest-posts2 .post-thumb {
  float: left;
  width: 52%;
  padding-right: 25px;
}
.latest-posts2 .post-thumb a.link {
  position: relative;
  overflow: hidden;
  width: 100%;
}
.latest-posts2 .post-thumb a.link:hover img {
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  transform: scale(1.1);
}
.latest-posts2 .post-thumb a.link img {
  width: 100%;
  -webkit-transition: 0.3s ease;
  -moz-transition: 0.3s ease;
  -ms-transition: 0.3s ease;
  -o-transition: 0.3s ease;
  transition: 0.3s ease;
}
.latest-posts2 .post-thumb .post-date {
  background: #FFB548;
  text-align: center;
  position: absolute;
  top: 0;
  right: 0;
  padding: 5px 20px;
}
.latest-posts2 .post-thumb .post-date .day {
  font-size: 20px;
  color: #ffffff;
  font-weight: bold;
  display: block;
}
.latest-posts2 .post-thumb .post-date .month {
  font-size: 14px;
  color: #ffffff;
  text-transform: uppercase;
  display: block;
}
.latest-posts2 .post-info {
  float: right;
  text-align: left;
  width: 48%;
}
.latest-posts2 .post-info .post-title {
  margin-bottom: 15px;
}
.latest-posts2 .post-info .post-title a {
  display: block;
  font-size: 12px;
  color: #484848;
  font-weight: 600;
  text-transform: uppercase;
}
.latest-posts2 .post-info .post-title a:hover {
  color: #FFB548;
}
.latest-posts2 .post-info .post-title:after {
  content: "";
  display: block;
  width: 32px;
  height: 3px;
  background: #484848;
  margin-top: 8px;
}
.latest-posts2 .post-info .post-excerpt {
  line-height: 2;
}
.latest-posts2 .post-info .post-meta {
  text-align: right;
}
.latest-posts2 .post-info .post-meta .post-author {
  display: inline-block;
  margin-right: 40px;
}
.latest-posts2 .post-info .post-meta .post-comment {
  display: inline-block;
}
.latest-posts2 .post-info .post-meta a {
  font-size: 10px;
  font-style: italic;
}
.latest-posts2 .post-info .post-meta .fa {
  margin-right: 7px;
}
.latest-posts2 .post-info a.readmore {
  color: #484848;
  font-size: 10px;
  font-weight: 600;
  display: inline-block;
  border-bottom: 1px solid #484848;
  line-height: 1.7;
  margin-top: 10px;
}
.latest-posts2 .post-info a.readmore:hover {
  color: #FFB548;
  border-bottom: 1px dashed #FFB548;
}
.main-container .policy {
  max-width: 1170px;
  margin-left: auto;
  margin-right: auto;
}
.main-container .policy .wpb_text_column {
  margin-bottom: 0;
}
.box-policy {
  text-align: center;
}
.box-policy:hover .box-inner .icon {
  -webkit-animation: rotate 2s infinite;
  -moz-animation: rotate 2s infinite;
  -o-animation: rotate 2s infinite;
  animation: rotate 2s infinite;
}
.box-policy:hover .box-inner .icon span:before {
  color: #FFB548;
}
.box-policy:hover .box-inner .text h4,
.box-policy:hover .box-inner .text p {
  color: #FFB548;
}
.box-policy .box-inner {
  display: inline-block;
  vertical-align: middle;
}
.box-policy .box-inner:before,
.box-policy .box-inner:after {
  content: " ";
  display: table;
}
.box-policy .box-inner:after {
  clear: both;
}
.box-policy .box-inner .icon {
  float: left;
  margin-right: 25px;
}
.box-policy .box-inner .icon span {
  font-size: 0;
}
.box-policy .box-inner .icon span:before {
  font-size: 48px;
  color: #484848;
}
.box-policy .box-inner .text {
  float: left;
  text-align: left;
  max-width: 205px;
}
.box-policy .box-inner .text h4 {
  font-size: 12px;
  font-weight: 600;
  color: #545454;
  text-transform: uppercase;
  letter-spacing: 2px;
  margin-bottom: 12px;
}
.box-policy .box-inner .text p {
  font-size: 11px;
  color: #afafaf;
  line-height: 1.8;
  word-spacing: 6px;
}
.main-container .brands {
  max-width: 1170px;
  margin-left: auto;
  margin-right: auto;
}
.main-container .brands .vc_column-inner {
  padding-left: 0;
  padding-right: 0;
}
.main-container .brands.layout2 {
  max-width: 100%;
}
.main-container .brands .brands-carousel:hover .slick-prev {
  left: 10px;
}
.main-container .brands .brands-carousel:hover .slick-next {
  right: 10px;
}
.brands-logo.other-page {
  padding: 30px 0;
  border-top: 1px dashed #e5e5e5;
  border-bottom: 1px dashed #e5e5e5;
}
.newsletter {
  text-align: center;
}
.newsletter .wpb_content_element .wpb_wrapper > h3 {
  margin-bottom: 0;
}
.newsletter.other-page {
  margin: 66px 0;
}
.newsletter.other-page .newsletter-title {
  color: #363636;
  font-size: 18px;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 5.5px;
  margin-bottom: 18px;
}
.newsletter.other-page .newsletter-text {
  color: #868686;
  margin-bottom: 45px;
}
.newsletter.other-page .widget_wysija .widgettitle {
  display: none;
}
.widget_wysija_cont .widget_wysija {
  display: inline-block;
  vertical-align: middle;
}
.widget_wysija_cont .widget_wysija:before,
.widget_wysija_cont .widget_wysija:after {
  content: " ";
  display: table;
}
.widget_wysija_cont .widget_wysija:after {
  clear: both;
}
.widget_wysija_cont .widget_wysija .wysija-paragraph {
  float: left;
  position: relative;
  margin: 0;
}
.widget_wysija_cont .widget_wysija .wysija-paragraph:before {
  content: "\e629";
  font-family: 'Pe-icon-7-stroke';
  font-size: 24px;
  color: #565555;
  width: 43px;
  height: 43px;
  display: block;
  text-align: center;
  line-height: 43px;
  position: absolute;
  right: 0;
  top: 0;
}
.widget_wysija_cont .widget_wysija .wysija-paragraph label {
  float: left;
  line-height: 43px;
  margin-right: 10px;
}
.widget_wysija_cont .widget_wysija .wysija-paragraph input {
  width: 420px;
  height: 43px;
  border: 2px dashed #a5a5a5;
  outline: none;
  font-size: 13px;
  font-weight: 300;
  letter-spacing: 0.5px;
  color: #565555;
  padding: 0 50px 0 15px;
}
.widget_wysija_cont .widget_wysija .wysija-paragraph .formErrorContent {
  top: 15px;
}
.widget_wysija_cont .widget_wysija .wysija-submit {
  float: left;
  margin: 0 0 0 15px;
  border: 2px solid #282a40;
  text-align: center;
  height: 43px;
  line-height: 43px;
  padding: 0 40px;
  font-size: 14px;
  color: #282a40;
  text-transform: uppercase;
  background: #ffffff;
  font-weight: bold;
  -webkit-transition: 0.2s ease;
  -moz-transition: 0.2s ease;
  -ms-transition: 0.2s ease;
  -o-transition: 0.2s ease;
  transition: 0.2s ease;
}
.widget_wysija_cont .widget_wysija .wysija-submit:hover {
  border-color: #FFB548;
  background: #FFB548;
  color: #ffffff;
}
.testimonials {
  border: 1px solid #e5e5e5;
}
.testimonials .testimonials-text {
  border: none;
  font-size: 12px;
  color: #999999;
  font-style: italic;
  text-align: left;
  padding: 18px 45px;
}
.testimonials .quote {
  position: relative;
}
.testimonials .quote .author {
  width: 100%;
  display: block;
  background: #f4f4f4;
  padding: 40px 47px 30px 135px;
  text-align: left;
  position: relative;
}
.testimonials .quote .author:before {
  content: "";
  display: block;
  background: #ffffff;
  height: 14px;
  left: 80px;
  position: absolute;
  top: -7px;
  width: 14px;
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  transform: rotate(45deg);
}
.testimonials .quote .author span[itemprop="name"] {
  font-size: 12px;
  font-weight: 600;
  color: #FFB548;
  text-transform: uppercase;
}
.testimonials .quote .author span[itemprop="jobTitle"] {
  font-size: 10px;
  color: #999999;
  margin-left: 5px;
}
.testimonials .quote .author span[itemprop="jobTitle"]:before {
  content: "-";
  font-weight: bold;
  margin-right: 8px;
  color: #FFB548;
  position: relative;
  top: 1px;
}
.testimonials .quote .author .url {
  display: block;
  position: absolute;
  bottom: 9px;
}
.testimonials .quote .author .url a {
  color: #FFB548;
}
.testimonials .quote .author .url a:hover {
  text-decoration: underline;
}
.testimonials .quote .avatar-link,
.testimonials .quote .avatar {
  position: absolute;
  z-index: 99;
  left: 52px;
  bottom: 15px;
  display: block;
  width: 61px;
  height: 61px;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  border-radius: 100%;
}
.testimonials .quote .avatar-link img {
  position: static;
}
.testimonials .quote .avatar {
  overflow: hidden;
  -webkit-transition: 0.3s ease;
  -moz-transition: 0.3s ease;
  -ms-transition: 0.3s ease;
  -o-transition: 0.3s ease;
  transition: 0.3s ease;
}
.testimonials .quote .avatar:hover {
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  transform: scale(1.1);
}
.static-block-4 {
  text-align: center;
}
.static-block-4 .wpb_text_column.wpb_content_element {
  margin-bottom: 0;
}
.static-block-4 .static-block-box {
  background: #ffffff;
  text-align: center;
  max-width: 750px;
  display: inline-block;
  padding: 32px 75px 36px 75px;
}
.static-block-4 .static-block-box h4 {
  font-size: 14px;
  font-weight: normal;
  color: #3f3f3f;
  text-transform: uppercase;
  margin-bottom: 20px;
}
.static-block-4 .static-block-box h2 {
  font-size: 40px;
  color: #3f3f3f;
  text-transform: uppercase;
  margin-bottom: 20px;
}
.static-block-4 .static-block-box p {
  font-size: 12px;
  color: #848484;
  line-height: 25px;
  margin-bottom: 30px;
}
.static-block-4 .static-block-box .static-button {
  text-align: center;
}
.static-block-4 .static-block-box .static-button a {
  font-size: 14px;
  color: #FFB548;
  display: inline-block;
  font-weight: bold;
  text-transform: uppercase;
  padding: 0 50px;
  height: 46px;
  line-height: 46px;
  border: 2px dashed #FFB548;
  margin-right: 30px;
}
.static-block-4 .static-block-box .static-button a:last-child {
  margin-right: 0;
  padding: 0 42px;
}
.static-block-4 .static-block-box .static-button a:hover {
  background: #FFB548;
  border-color: #FFB548;
  color: #ffffff;
}
.brand-newsletter {
  float: left;
  width: 100%;
}
.footer .footer-middle .widget.widget-social .social-icons li a i {
  line-height: 35px;
}
.footer.layout6,
.footer.layout7 {
  border-top: 4px solid #FFB548;
}
.footer.layout6 .widget.widget_menu ul li a,
.footer.layout7 .widget.widget_menu ul li a {
  font-size: 14px;
  text-transform: capitalize;
}
.footer.layout6 .widget.widget_corporate_about,
.footer.layout7 .widget.widget_corporate_about {
  float: left;
  width: 100%;
  border-bottom: 1px solid #292929;
}
.footer.layout6 .widget.widget_corporate_about ul,
.footer.layout7 .widget.widget_corporate_about ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
.footer.layout6 .widget.widget_corporate_about ul li,
.footer.layout7 .widget.widget_corporate_about ul li {
  float: left;
  width: 25%;
  letter-spacing: 0.5px;
  text-align: left;
  padding: 46px 0;
}
.footer.layout6 .widget.widget_corporate_about ul li i,
.footer.layout7 .widget.widget_corporate_about ul li i {
  float: left;
  width: 50px;
  height: 50px;
  text-align: center;
  line-height: 50px;
  background-color: #db527f;
  color: #fff;
  border-radius: 100%;
  margin-right: 15px;
}
.footer.layout6 .widget.widget_corporate_about ul li h3,
.footer.layout7 .widget.widget_corporate_about ul li h3 {
  color: #fff;
  font-size: 15px;
  text-transform: uppercase;
}
.footer.layout6 .widget.widget_corporate_about ul li p,
.footer.layout7 .widget.widget_corporate_about ul li p {
  font-size: 14px;
  margin: 0;
}
.footer.layout6 .widget.widget_corporate_about ul li:nth-child(2) i,
.footer.layout7 .widget.widget_corporate_about ul li:nth-child(2) i {
  background-color: #3792d0;
}
.footer.layout6 .widget.widget_corporate_about ul li:nth-child(3) i,
.footer.layout7 .widget.widget_corporate_about ul li:nth-child(3) i {
  background-color: #79b425;
}
.footer.layout6 .widget.widget_corporate_about ul li:nth-child(4) i,
.footer.layout7 .widget.widget_corporate_about ul li:nth-child(4) i {
  background-color: #bf6cce;
}
.footer.layout6 .footer-middle .widget.widget_wysija,
.footer.layout7 .footer-middle .widget.widget_wysija {
  margin-bottom: 10px;
}
.footer.layout6 .footer-middle .widget.widget_wysija form.widget_wysija .widget_wysija,
.footer.layout6 .footer-middle .widget.widget_wysija .widget_wysija_cont .widget_wysija,
.footer.layout7 .footer-middle .widget.widget_wysija form.widget_wysija .widget_wysija,
.footer.layout7 .footer-middle .widget.widget_wysija .widget_wysija_cont .widget_wysija {
  width: 100%;
  display: inline-block;
  position: relative;
}
.footer.layout6 .footer-middle .widget.widget_wysija form.widget_wysija .widget_wysija .wysija-paragraph,
.footer.layout6 .footer-middle .widget.widget_wysija .widget_wysija_cont .widget_wysija .wysija-paragraph,
.footer.layout7 .footer-middle .widget.widget_wysija form.widget_wysija .widget_wysija .wysija-paragraph,
.footer.layout7 .footer-middle .widget.widget_wysija .widget_wysija_cont .widget_wysija .wysija-paragraph {
  float: left;
}
.footer.layout6 .footer-middle .widget.widget_wysija form.widget_wysija .widget_wysija .wysija-paragraph .wysija-input,
.footer.layout6 .footer-middle .widget.widget_wysija .widget_wysija_cont .widget_wysija .wysija-paragraph .wysija-input,
.footer.layout7 .footer-middle .widget.widget_wysija form.widget_wysija .widget_wysija .wysija-paragraph .wysija-input,
.footer.layout7 .footer-middle .widget.widget_wysija .widget_wysija_cont .widget_wysija .wysija-paragraph .wysija-input {
  width: 218px;
}
.footer.layout7 {
  border: none;
  background: #fff;
}
.footer.layout7 .widget-title,
.footer.layout7 .widgettitle {
  color: #888888;
}
.footer.layout7 a {
  color: #c0c0c0;
}
.footer.layout7 a:hover {
  color: #FFB548;
}
.footer.layout7 .footer-top {
  background: #f4f4f4;
}
.footer.layout7 .footer-top .widget.widget_corporate_about {
  border: none;
  color: #5a5a5a;
}
.footer.layout7 .footer-top .widget.widget_corporate_about ul li h3 {
  color: #888888;
}
.footer.layout7 .footer-middle .widget.widget_about_us ul li {
  color: #c0c0c0;
}
.footer.layout7 .footer-middle .widget.widget-social .social-icons li a {
  border: 1px solid #d6d6d6;
}
.footer.layout7 .footer-middle .widget.widget-social .social-icons li a:hover {
  border-color: #FFB548;
}
.footer.layout7 .footer-middle .widget.widget_wysija form.widget_wysija .widget_wysija,
.footer.layout7 .footer-middle .widget.widget_wysija .widget_wysija_cont .widget_wysija {
  width: 100%;
  display: inline-block;
  position: relative;
}
.footer.layout7 .footer-middle .widget.widget_wysija form.widget_wysija .widget_wysija .wysija-paragraph,
.footer.layout7 .footer-middle .widget.widget_wysija .widget_wysija_cont .widget_wysija .wysija-paragraph {
  float: left;
}
.footer.layout7 .footer-middle .widget.widget_wysija form.widget_wysija .widget_wysija .wysija-paragraph .wysija-input,
.footer.layout7 .footer-middle .widget.widget_wysija .widget_wysija_cont .widget_wysija .wysija-paragraph .wysija-input {
  width: 230px;
  border-radius: 0;
  border-color: #d6d6d6;
}
.footer.layout7 .footer-middle .widget.widget_wysija form.widget_wysija .widget_wysija .wysija-submit,
.footer.layout7 .footer-middle .widget.widget_wysija .widget_wysija_cont .widget_wysija .wysija-submit {
  background-color: #d6d6d6;
  background-position: 0 100%;
  float: left;
  border-radius: 0;
}
.footer.layout7 .footer-middle .widget.widget_wysija form.widget_wysija .widget_wysija .wysija-submit:hover,
.footer.layout7 .footer-middle .widget.widget_wysija .widget_wysija_cont .widget_wysija .wysija-submit:hover {
  background-color: #FFB548;
}
.footer.layout7 .footer-bottom .footer-bottom-inner {
  border-top-color: #e9e9e9;
}
.main-container .collapse-menu .widget_nav_menu {
  text-align: left;
  padding-left: 40px;
}
.main-container .collapse-menu ul.menu {
  margin: 0;
  padding: 0;
}
.main-container .collapse-menu ul.menu li {
  list-style: none;
  margin: 0;
  padding-left: 25px;
  position: relative;
}
.main-container .collapse-menu ul.menu li a {
  color: #fff;
  display: block;
  font-family: Poppins, Arial, Helvetica, sans-serif;
  font-size: 12px;
  font-weight: bold;
  letter-spacing: 0.5px;
  text-transform: uppercase;
}
.main-container .collapse-menu ul.menu li:hover > a,
.main-container .collapse-menu ul.menu li.current-menu-ancestor > a,
.main-container .collapse-menu ul.menu li.current-menu-item > a {
  color: #FFB548;
}
.main-container .collapse-menu ul.menu ul.sub-menu {
  display: none;
  margin: 0;
  padding: 10px 0 0 0;
}
.main-container .collapse-menu ul.menu ul.sub-menu li {
  line-height: 38px;
}
.main-container .collapse-menu ul.menu ul.sub-menu li a {
  font-weight: normal;
  font-size: 14px;
  text-transform: none;
}
.main-container .collapse-menu ul.menu ul.sub-menu li .fa {
  top: 5px;
}
.main-container .collapse-menu ul.menu > li {
  padding: 20px 0 16px;
  border-bottom: 1px solid #3c3c3c;
}
.main-container .collapse-menu ul.menu > li > a {
  font-size: 14px;
  text-transform: uppercase;
  z-index: 2;
}
.main-container .collapse-menu ul.menu .fa {
  color: #fff;
  cursor: pointer;
  display: block;
  float: right;
  height: 20px;
  right: 0;
  line-height: 20px;
  position: absolute;
  text-align: center;
  top: 20px;
  width: 10px;
  font-size: 10px;
}
.main-container .collapse-menu ul.menu .fa:hover {
  color: #FFB548;
}
.main-container .products-category .shop-products {
  margin-bottom: 0;
}
.main-container .products-category .shop-products .slick-list {
  padding-top: 0;
}
.main-container .allen-icon-box .ibox-icon {
  font-size: 0;
  width: 70px;
  height: 70px;
  line-height: 70px;
  text-align: center;
  color: #FFB548;
  margin-right: 10px;
  -webkit-transition: all 0.4s ease-out;
  -moz-transition: all 0.4s ease-out;
  -ms-transition: all 0.4s ease-out;
  -o-transition: all 0.4s ease-out;
  transition: all 0.4s ease-out;
}
.main-container .allen-icon-box .ibox-icon:before {
  font-size: 35px;
}
.main-container .allen-icon-box:hover .ibox-icon {
  background: #FFB548;
  color: #fff;
  border-radius: 100%;
}
.main-container .allen-icon-box h3 {
  font-size: 15px !important;
}
.main-container .allen-button {
  position: relative;
  display: inline-block;
  -webkit-transition: all 0.2s linear;
  -moz-transition: all 0.2s linear;
  -ms-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
  transition: all 0.2s linear;
  font-size: 15px;
  line-height: 1.6;
  font-weight: 400;
  text-align: center;
}
.main-container .allen-button.style1 {
  border: 2px solid #fff;
  background: #FFB548;
  color: #fff;
}
.main-container .allen-button.style1:hover {
  background: #363636;
}
.main-container .allen-button.style2 {
  background: none;
  border: 2px solid #e5e5e5;
  color: #888888;
}
.main-container .allen-button.style2:hover {
  background: #FFB548;
  color: #fff;
  border-color: #FFB548;
}
.main-container .allen-button.button-1x {
  min-width: 140px;
  padding: 4px 15px;
}
.main-container .allen-button.button-2x {
  min-width: 140px;
  padding: 7px 20px;
}
.main-container .allen-button.button-3x {
  min-width: 160px;
  padding: 10px 20px;
}
.main-container .allen-call-action.style2 h4 {
  color: #fff;
  margin: 10px 0 0;
}
.main-container .allen-call-action.style2 .allen-button {
  background: #fff;
  border-color: #fff;
}
.main-container .allen-call-action.style2 .allen-button:hover {
  background: #FFB548;
  color: #fff;
  border-color: #FFB548;
}
