.heightzero {
  height: 0px;
  overflow: hidden;
}
.wrapper.box-layout .home-slider {
  margin-left: 0;
  margin-right: 0;
}
.main-container .full-width .row-container {
  margin-left: 0;
  margin-right: 0;
  max-width: 100%;
  width: 100%;
}
.main-container .home-slider.full-width {
  padding-top: 0;
  margin-left: 0;
  margin-right: 0;
  padding-left: 0;
  padding-right: 0;
}
.main-container .home-slider.full-width .wpb_content_element {
  margin-bottom: 0;
}
.main-container .home-slider.full-width .row-container {
  padding-right: 0;
  padding-left: 0;
}
.main-container .home-slider.full-width .vc_column_container {
  padding-right: 0;
  padding-left: 0;
}
.main-container .home-slider.layout1 {
  margin-bottom: 40px;
}
.main-container .home-slider.layout2 {
  margin-bottom: 70px;
}
.main-container .home-slider.layout3 {
  margin-bottom: 60px;
}
.main-container .home-slider.layout4 {
  margin-bottom: 20px;
}
.main-container .home-slider.layout7 {
  margin-bottom: 10px;
}
.header-container.layout2 {
  background: rgba(37,37,37,0.6);
  position: absolute;
}
.header-container.layout2 .header .horizontal-menu #mega_main_menu_first > .menu_holder {
  width: 100%;
}
.header-container.layout2 .header .horizontal-menu #mega_main_menu_first > .menu_holder .menu_inner {
  width: 100%;
}
.header-container.layout2 .header .horizontal-menu #mega_main_menu_first > .menu_holder .menu_inner .nav_logo {
  display: none;
}
.header-container.layout2 .header .horizontal-menu #mega_main_menu_first > .menu_holder .menu_inner > ul {
  text-align: right;
}
.header-container.layout2 .header .horizontal-menu #mega_main_menu_first > .menu_holder .menu_inner > ul > li {
  float: left;
}
.header-container.layout2 .header .horizontal-menu #mega_main_menu_first > .menu_holder .menu_inner > ul > li.nav_search_box {
  display: none;
}
.header-container.layout2 .header .horizontal-menu #mega_main_menu_first > .menu_holder .menu_inner > ul > li.first > a.item_link {
  padding-left: 0;
}
.header-container.layout2 .header .horizontal-menu #mega_main_menu_first > .menu_holder .menu_inner > ul > li:hover > a.item_link .link_text {
  color: #fff;
}
.header-container.layout2 .header .horizontal-menu #mega_main_menu_first > .menu_holder .menu_inner > ul > li:hover > a.item_link .link_text:before {
  display: block;
}
.header-container.layout2 .header .horizontal-menu #mega_main_menu_first > .menu_holder .menu_inner > ul > li > a.item_link .link_text {
  color: #fff;
  position: relative;
}
.header-container.layout2 .header .horizontal-menu #mega_main_menu_first > .menu_holder .menu_inner > ul > li > a.item_link .link_text:before {
  content: "";
  border-bottom: 1px solid #fff;
  display: none;
  position: absolute;
  width: 100%;
  bottom: 5px;
  -webkit-transition: 0.5s ease;
  transition: 0.5s ease;
}
.header-container.layout2 .header .horizontal-menu #mega_main_menu_first > .menu_holder .menu_inner > ul > li > a.item_link:hover .link_text {
  color: #fff;
}
.header-container.layout2 .header .horizontal-menu #mega_main_menu_first > .menu_holder .menu_inner > ul > li.current-menu-ancestor:hover > a.item_link .link_text,
.header-container.layout2 .header .horizontal-menu #mega_main_menu_first > .menu_holder .menu_inner > ul > li.current-menu-item:hover > a.item_link .link_text {
  color: #fff;
}
.header-container.layout2 .header .horizontal-menu #mega_main_menu_first > .menu_holder .menu_inner > ul > li.current-menu-ancestor:hover > a.item_link .link_text:before,
.header-container.layout2 .header .horizontal-menu #mega_main_menu_first > .menu_holder .menu_inner > ul > li.current-menu-item:hover > a.item_link .link_text:before {
  display: block;
}
.header-container.layout2 .header .horizontal-menu #mega_main_menu_first > .menu_holder .menu_inner > ul > li.current-menu-ancestor > a.item_link .link_text,
.header-container.layout2 .header .horizontal-menu #mega_main_menu_first > .menu_holder .menu_inner > ul > li.current-menu-item > a.item_link .link_text {
  color: #fff;
}
.header-container.layout2 .header .horizontal-menu #mega_main_menu_first > .menu_holder .menu_inner > ul > li.current-menu-ancestor > a.item_link .link_text:before,
.header-container.layout2 .header .horizontal-menu #mega_main_menu_first > .menu_holder .menu_inner > ul > li.current-menu-item > a.item_link .link_text:before {
  display: block;
}
.header-container.layout2 .header .horizontal-menu #mega_main_menu_first > .menu_holder .menu_inner > ul > li.menu-item-has-children > a.item_link:hover .link_text {
  color: #fff;
}
.header-container.layout2 .header-search .search-icon {
  background-image: url(../images/icon-search2.png);
}
.header-container.layout2 .widget_shopping_cart:hover .widget_shopping_cart_content .cart-toggler a {
  color: #3ACF87;
}
.header-container.layout2 .widget_shopping_cart .widget_shopping_cart_content {
  background-image: url(../images/icon-cart2.png);
}
.header-container.layout2 .widget_shopping_cart .widget_shopping_cart_content:hover {
  color: #3ACF87;
}
.header-container.layout2 .widget_shopping_cart .widget_shopping_cart_content .cart-toggler a {
  color: #fff;
}
.header-container.layout2 .widget_shopping_cart .widget_shopping_cart_content .cart-toggler a:hover {
  color: #3ACF87;
}
.header-container.layout2 .vmenu-toggler:hover .vmenu-toggler-button {
  color: #3ACF87;
}
.header-container.layout2 .vmenu-toggler .vmenu-toggler-button {
  color: #fff;
}
.header-container.layout3 {
  background: transparent;
  position: absolute;
}
.header-container.layout3 .content-header {
  border: none;
}
.header-container.layout4 {
  border-bottom: 2px solid #e3e3e3;
}
.header-container.layout4 .header .header-sticky.ontop .logo-small {
  display: none;
}
.header-container.layout4 .logo {
  float: none;
  padding: 60px 0 40px;
}
.header-container.layout4 .header .horizontal-menu #mega_main_menu_first > .menu_holder {
  width: 100%;
}
.header-container.layout4 .header .horizontal-menu #mega_main_menu_first > .menu_holder .menu_inner {
  width: 100%;
}
.header-container.layout4 .header .horizontal-menu #mega_main_menu_first > .menu_holder .menu_inner .nav_logo {
  display: none;
}
.header-container.layout4 .header .horizontal-menu #mega_main_menu_first > .menu_holder .menu_inner > ul {
  text-align: left;
}
.header-container.layout4 .header .horizontal-menu #mega_main_menu_first > .menu_holder .menu_inner > ul > li:hover > a.item_link .link_text:before {
  display: block;
}
.header-container.layout4 .header .horizontal-menu #mega_main_menu_first > .menu_holder .menu_inner > ul > li > a.item_link {
  padding: 0 30px;
}
.header-container.layout4 .header .horizontal-menu #mega_main_menu_first > .menu_holder .menu_inner > ul > li > a.item_link .link_text {
  padding: 10px 0;
  position: relative;
}
.header-container.layout4 .header .horizontal-menu #mega_main_menu_first > .menu_holder .menu_inner > ul > li > a.item_link .link_text:before {
  content: "";
  border-bottom: 2px solid #3ACF87;
  display: none;
  position: absolute;
  width: 100%;
  bottom: -2px;
  -webkit-transition: 0.5s ease;
  transition: 0.5s ease;
}
.header-container.layout4 .header .horizontal-menu #mega_main_menu_first > .menu_holder .menu_inner > ul > li.current-menu-ancestor:hover > a.item_link .link_text:before,
.header-container.layout4 .header .horizontal-menu #mega_main_menu_first > .menu_holder .menu_inner > ul > li.current-menu-item:hover > a.item_link .link_text:before {
  display: block;
}
.header-container.layout4 .header .horizontal-menu #mega_main_menu_first > .menu_holder .menu_inner > ul > li.current-menu-ancestor > a.item_link .link_text:before,
.header-container.layout4 .header .horizontal-menu #mega_main_menu_first > .menu_holder .menu_inner > ul > li.current-menu-item > a.item_link .link_text:before {
  display: block;
}
.header-container.layout4 .content-header {
  border: none;
}
.header-container.layout4 .widget.widget_product_search {
  top: 60px;
}
.header-container.layout4 .header-search {
  padding: 12px 18px;
}
.header-container.layout4 .widget.widget_shopping_cart {
  padding: 12px 18px;
}
.header-container.layout4 .vmenu-toggler {
  padding: 12px 0 12px 18px;
}
.header-container.layout4 .vmenu-toggler .vmenu-content {
  top: 60px;
}
.header-container.layout7 {
  background: transparent;
  position: absolute;
  top: 0;
}
.header-container.layout7 .logo {
  float: none;
  padding: 60px 0 40px;
}
.header-container.layout7 .header .header-sticky.ontop .logo-small {
  display: none;
}
.header-container.layout7 .header .horizontal-menu #mega_main_menu_first > .menu_holder {
  width: 100%;
}
.header-container.layout7 .header .horizontal-menu #mega_main_menu_first > .menu_holder .menu_inner {
  width: 100%;
}
.header-container.layout7 .header .horizontal-menu #mega_main_menu_first > .menu_holder .menu_inner .nav_logo {
  display: none;
}
.header-container.layout7 .header .horizontal-menu #mega_main_menu_first > .menu_holder .menu_inner > ul {
  text-align: left;
}
.header-container.layout7 .header .horizontal-menu #mega_main_menu_first > .menu_holder .menu_inner > ul > li:hover > a.item_link .link_text {
  color: #3ACF87;
}
.header-container.layout7 .header .horizontal-menu #mega_main_menu_first > .menu_holder .menu_inner > ul > li:hover > a.item_link:after {
  color: #3ACF87;
}
.header-container.layout7 .header .horizontal-menu #mega_main_menu_first > .menu_holder .menu_inner > ul > li > a.item_link {
  padding: 0 30px;
}
.header-container.layout7 .header .horizontal-menu #mega_main_menu_first > .menu_holder .menu_inner > ul > li > a.item_link .link_text {
  padding: 10px 0;
  position: relative;
  color: #fff;
}
.header-container.layout7 .header .horizontal-menu #mega_main_menu_first > .menu_holder .menu_inner > ul > li > a.item_link:hover .link_text {
  color: #3ACF87;
}
.header-container.layout7 .header .horizontal-menu #mega_main_menu_first > .menu_holder .menu_inner > ul > li.current-menu-ancestor:hover > a.item_link .link_text,
.header-container.layout7 .header .horizontal-menu #mega_main_menu_first > .menu_holder .menu_inner > ul > li.current-menu-item:hover > a.item_link .link_text {
  color: #3ACF87;
}
.header-container.layout7 .header .horizontal-menu #mega_main_menu_first > .menu_holder .menu_inner > ul > li.current-menu-ancestor:hover > a.item_link:after,
.header-container.layout7 .header .horizontal-menu #mega_main_menu_first > .menu_holder .menu_inner > ul > li.current-menu-item:hover > a.item_link:after {
  color: #3ACF87;
}
.header-container.layout7 .header .horizontal-menu #mega_main_menu_first > .menu_holder .menu_inner > ul > li.current-menu-ancestor > a.item_link .link_text,
.header-container.layout7 .header .horizontal-menu #mega_main_menu_first > .menu_holder .menu_inner > ul > li.current-menu-item > a.item_link .link_text {
  color: #3ACF87;
}
.header-container.layout7 .header .horizontal-menu #mega_main_menu_first > .menu_holder .menu_inner > ul > li.current-menu-ancestor > a.item_link:after,
.header-container.layout7 .header .horizontal-menu #mega_main_menu_first > .menu_holder .menu_inner > ul > li.current-menu-item > a.item_link:after {
  color: #3ACF87;
}
.header-container.layout7 .header .horizontal-menu #mega_main_menu_first > .menu_holder .menu_inner > ul > li.menu-item-has-children > a.item_link:after {
  content: "\f078";
  font-family: Fontawesome;
  float: left;
  display: inline-block;
  font-size: 8px;
  top: 10px;
  right: 15px;
}
.header-container.layout7 .header .horizontal-menu #mega_main_menu_first > .menu_holder .menu_inner > ul > li.menu-item-has-children > a.item_link:hover .link_text {
  color: #3ACF87;
}
.header-container.layout7 .header .horizontal-menu #mega_main_menu_first > .menu_holder .menu_inner > ul > li.menu-item-has-children > a.item_link:hover:after {
  color: #3ACF87;
}
.header-container.layout7 .widget.widget_product_search {
  top: 60px;
}
.header-container.layout7 .header-search {
  padding: 12px 18px;
}
.header-container.layout7 .header-search:hover .search-icon {
  background-image: url(../images/icon-search4.png);
}
.header-container.layout7 .header-search .search-icon {
  background-image: url(../images/icon-search2.png);
}
.header-container.layout7 .widget.widget_shopping_cart {
  padding: 12px 18px;
}
.header-container.layout7 .widget.widget_shopping_cart:hover .widget_shopping_cart_content {
  background: url(../images/icon-cart4.png) no-repeat center 100%;
}
.header-container.layout7 .widget.widget_shopping_cart:hover .widget_shopping_cart_content .cart-toggler a {
  color: #3ACF87;
}
.header-container.layout7 .widget.widget_shopping_cart .widget_shopping_cart_content {
  background-image: url(../images/icon-cart2.png);
}
.header-container.layout7 .widget.widget_shopping_cart .widget_shopping_cart_content:hover {
  color: #3ACF87;
}
.header-container.layout7 .widget.widget_shopping_cart .widget_shopping_cart_content .cart-toggler a {
  color: #fff;
}
.header-container.layout7 .widget.widget_shopping_cart .widget_shopping_cart_content .cart-toggler a:hover {
  color: #3ACF87;
}
.header-container.layout7 .vmenu-toggler {
  padding: 12px 0 12px 18px;
}
.header-container.layout7 .vmenu-toggler:hover .vmenu-toggler-button {
  color: #3ACF87;
}
.header-container.layout7 .vmenu-toggler .vmenu-content {
  top: 60px;
}
.header-container.layout7 .vmenu-toggler .vmenu-toggler-button {
  color: #fff;
}
.header-container.layout7 .content-header {
  border: none;
}
.main-container .home-static1 .content {
  float: left;
  width: 100%;
  overflow: hidden;
  position: relative;
}
.main-container .home-static1 .content:hover img {
  opacity: 0.8;
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}
.main-container .home-static1 .content a.link-popup {
  background: rgba(254,254,255,0.9);
  border-radius: 100%;
  height: 120px;
  width: 120px;
  margin: auto;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  text-align: center;
  position: absolute;
  text-transform: uppercase;
  font-size: 18px;
  font-weight: bold;
}
.main-container .home-static1 .content a.link-popup i {
  display: block;
  margin: 33px 0 10px;
  font-size: 25px;
}
.main-container .home-static1 img {
  -webkit-transition: all 1s ease;
  transition: all 1s ease;
  width: 100%;
}
.main-container .home-static2 {
  min-height: 250px;
  padding: 72px 0 0 0;
}
.main-container .home-static2.layout3 {
  padding: 0;
  min-height: auto;
}
.main-container .home-static2.layout3 .content {
  color: #222222;
}
.main-container .home-static2.layout3 .content .icon {
  height: 100px;
  margin-bottom: 30px;
}
.main-container .home-static2.layout3 .content h4 {
  color: #222222;
}
.main-container .home-static2.layout3 .content i {
  background: #3ACF87;
  display: inline-block;
  width: 100px;
  height: 100px;
  color: #fff;
  border-radius: 100%;
  line-height: 100px;
  text-indent: -9999px;
  margin: 0;
}
.main-container .home-static2.layout3 .content i:before {
  text-indent: 0;
  display: block;
}
.main-container .home-static2.layout4 {
  padding: 0;
  min-height: auto;
}
.main-container .home-static2 .content {
  color: #fff;
  font-size: 16px;
  text-align: center;
}
.main-container .home-static2 .content h4 {
  color: #fff;
  font-size: 20px;
  letter-spacing: 1.5px;
  margin-bottom: 8px;
  text-transform: uppercase;
}
.main-container .home-static2 .content i {
  color: #3ACF87;
  display: block;
  font-size: 30px;
  margin-bottom: 30px;
}
.main-container .home-static3 {
  background: #3ACF87 url(../images/static4.png) no-repeat center center;
  margin: 0;
  padding: 35px 0;
  float: left;
  width: 100%;
}
.main-container .home-static3 h2 {
  color: #fff;
  font-weight: 300;
  font-size: 35px;
  float: left;
  margin: 3px 0 0 0;
}
.main-container .home-static3 a.button {
  float: right;
  background: none;
  border: 2px solid #e5e5e5;
  border-radius: 35px;
  box-shadow: none;
  color: #fff;
  display: inline-block;
  font-family: Raleway, Arial, Helvetica, sans-serif;
  font-size: 16px;
  font-weight: bold;
  height: 45px;
  line-height: 45px;
  padding: 0 30px;
  text-shadow: none;
  text-transform: uppercase;
  white-space: nowrap;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.main-container .home-static3 a.button:hover {
  background: none;
  border-color: #222222;
  color: #222222;
}
.main-container .home-static4 .wpb_column {
  padding: 0 10px;
}
.main-container .home-static4 .vc_row {
  margin: 0 -10px;
}
.main-container .home-static4 .wpb_text_column {
  margin-bottom: 20px;
  overflow: hidden;
}
.main-container .home-static4 .wpb_text_column:hover img {
  opacity: 0.8;
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}
.main-container .home-static4 img {
  width: 100%;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
.main-container .home-static4 .home-static4-right {
  margin-top: 20px;
}
.main-container .home-static5 .wpb_text_column {
  overflow: hidden;
}
.main-container .home-static5 .wpb_text_column:hover img {
  opacity: 0.8;
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}
.main-container .home-static5 img {
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  width: 100%;
}
.main-container .home-static6 ul {
  list-style: none;
  padding: 0;
}
.main-container .home-static6 ul li {
  overflow: hidden;
  list-style: none;
  margin-bottom: 20px;
}
.main-container .home-static6 ul li:hover img {
  opacity: 0.8;
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}
.main-container .home-static6 ul li.last {
  margin-bottom: 0;
}
.main-container .home-static6 img {
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
.main-container .home-static7 .row-container:before {
  content: "";
  border-bottom: 1px solid #ccc;
  border-top: 1px solid #ccc;
}
.main-container .home-static7 h4 {
  font-size: 12px;
  text-transform: uppercase;
  text-align: center;
  color: #fff;
  height: 40px;
  line-height: 42px;
}
.main-container .home-static7 h4.last {
  color: #3ACF87;
}
.main-container .home-static7 h4.last strong {
  color: #222222;
}
.main-container .home-static8 {
  margin: 0 -5px 10px -5px;
}
.main-container .home-static8.full-width .row-container {
  padding: 0 10px;
}
.main-container .home-static8 .vc_column_container {
  padding-left: 5px;
  padding-right: 5px;
}
.main-container .home-static8 .wpb_text_column {
  margin-bottom: 10px;
}
.main-container .home-static8 .wpb_wrapper {
  position: relative;
}
.main-container .home-static8 .wpb_wrapper .text-container {
  background: rgba(255,255,255,0.8);
  bottom: 20px;
  height: 110px;
  left: 0;
  padding: 20px;
  pointer-events: none;
  position: absolute;
  text-align: center;
  width: 100%;
  transition: all 0.4s ease-out 0s;
  -webkit-transition: all 0.4s ease-in-out 0s;
}
.main-container .home-static8 .wpb_wrapper .text-container.small {
  height: 80px;
}
.main-container .home-static8 .wpb_wrapper .text-container:before {
  display: block;
  content: "";
  position: absolute;
  top: -15px;
  left: 50%;
  margin-left: -7px;
  width: 0;
  height: 0;
  opacity: 0;
  border-left: 15px solid transparent;
  border-right: 15px solid transparent;
  border-bottom: 15px solid rgba(255,255,255,0.6);
  transition: all 0.4s ease-out 0s;
  -webkit-transition: all 0.4s ease-in-out 0s;
}
.main-container .home-static8 .wpb_wrapper:hover .text-container {
  background: rgba(255,255,255,0.6);
  bottom: 0;
}
.main-container .home-static8 .wpb_wrapper:hover .text-container:before {
  opacity: 1;
}
.main-container .home-static8 a {
  display: inline-block;
  overflow: hidden;
  position: relative;
  max-width: 100%;
}
.main-container .home-static8 a:hover img {
  transform: scale(1.1);
  -webkit-transform: scale(1.1);
}
.main-container .home-static8 img {
  width: 100%;
  transition: all 0.4s ease-out 0s;
  -webkit-transition: all 0.4s ease-in-out 0s;
}
.sidebar-home.collapse-menu.layout6 .sidebar-home-inner {
  background: rgba(83,83,83,0.9);
}
.sidebar-home.collapse-menu.layout6 .widget.widget_product_search form {
  background: url(../images/bg-search.png) repeat;
  border: 1px solid #ccc;
}
.sidebar-home.collapse-menu.layout6 .widget.widget_product_search form #ws {
  background: url(../images/bg-search.png) repeat;
  color: #dadada;
}
.sidebar-home.collapse-menu.layout6 .widget.widget_product_search form .btn.btn-primary {
  background: url(../images/icon-search3.png) no-repeat center 5px;
  border-radius: 0;
}
.sidebar-home.collapse-menu.layout6 .widget.widget_product_search form .btn.btn-primary:hover {
  background: url(../images/icon-search3.png) no-repeat center -31px;
}
.sidebar-home.collapse-menu.layout6 .widget.widget_shopping_cart {
  border-color: #aaa;
}
.sidebar-home.collapse-menu.layout6 .widget.widget_shopping_cart:hover .widget_shopping_cart_content .cart-toggler a {
  background: url(../images/icon-cart3.png) no-repeat center 100%;
}
.sidebar-home.collapse-menu.layout6 #mega_main_menu > .menu_holder {
  width: 100%;
}
.sidebar-home.collapse-menu.layout6 #mega_main_menu > .menu_holder .menu_inner {
  width: 100%;
}
.sidebar-home.collapse-menu.layout6 #mega_main_menu > .menu_holder .menu_inner .nav_logo {
  display: none;
}
.sidebar-home.collapse-menu.layout6 #mega_main_menu > .menu_holder .menu_inner > ul {
  text-align: right;
}
.sidebar-home.collapse-menu.layout6 #mega_main_menu > .menu_holder .menu_inner > ul > li {
  float: left;
  width: 100%;
  padding: 7px 0 3px;
  border-bottom: 1px solid #888;
}
.sidebar-home.collapse-menu.layout6 #mega_main_menu > .menu_holder .menu_inner > ul > li.nav_search_box {
  display: none;
}
.sidebar-home.collapse-menu.layout6 #mega_main_menu > .menu_holder .menu_inner > ul > li.first > a.item_link {
  padding-left: 0;
}
.sidebar-home.collapse-menu.layout6 #mega_main_menu > .menu_holder .menu_inner > ul > li:hover > a.item_link .link_text {
  color: #3ACF87;
}
.sidebar-home.collapse-menu.layout6 #mega_main_menu > .menu_holder .menu_inner > ul > li:hover > a.item_link:after {
  color: #3ACF87;
}
.sidebar-home.collapse-menu.layout6 #mega_main_menu > .menu_holder .menu_inner > ul > li.current-menu-ancestor:hover > a.item_link .link_text,
.sidebar-home.collapse-menu.layout6 #mega_main_menu > .menu_holder .menu_inner > ul > li.current-menu-item:hover > a.item_link .link_text {
  color: #3ACF87;
}
.sidebar-home.collapse-menu.layout6 #mega_main_menu > .menu_holder .menu_inner > ul > li.current-menu-ancestor > a.item_link .link_text,
.sidebar-home.collapse-menu.layout6 #mega_main_menu > .menu_holder .menu_inner > ul > li.current-menu-item > a.item_link .link_text {
  color: #3ACF87;
}
.sidebar-home.collapse-menu.layout6 #mega_main_menu > .menu_holder .menu_inner > ul > li.current-menu-ancestor > a.item_link i,
.sidebar-home.collapse-menu.layout6 #mega_main_menu > .menu_holder .menu_inner > ul > li.current-menu-item > a.item_link i {
  color: #3ACF87;
}
.sidebar-home.collapse-menu.layout6 #mega_main_menu > .menu_holder .menu_inner > ul > li.menu-item-has-children > a.item_link:after {
  display: block !important;
  border: none;
  color: #fff;
  content: "\f054";
  display: none;
  font-family: FontAwesome;
  font-size: 10px;
  margin: 0;
  position: absolute;
  right: 5px;
  top: 3px;
  width: auto;
}
.sidebar-home.collapse-menu.layout6 #mega_main_menu > .menu_holder .menu_inner > ul > li.menu-item-has-children > a.item_link:hover:after {
  color: #3ACF87;
}
.sidebar-home.collapse-menu.layout6 #mega_main_menu > .menu_holder .menu_inner > ul > li.menu-item-has-children:hover > a.item_link:after {
  color: #3ACF87;
}
.sidebar-home.collapse-menu.layout6 #mega_main_menu > .menu_holder .menu_inner > ul > li > a.item_link {
  background: none;
  float: left;
  line-height: 40px;
  min-height: 40px;
  padding: 0;
  width: 100%;
}
.sidebar-home.collapse-menu.layout6 #mega_main_menu > .menu_holder .menu_inner > ul > li > a.item_link .link_text {
  color: #fff;
  font-family: Raleway, Arial, Helvetica, sans-serif;
  font-size: 14px;
  font-weight: 700;
  line-height: 40px;
  min-height: 40px;
  text-transform: uppercase;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
}
.sidebar-home.collapse-menu.layout6 #mega_main_menu > .menu_holder .menu_inner > ul > li > a.item_link:before {
  background: none;
}
.sidebar-home.collapse-menu.layout6 #mega_main_menu > .menu_holder .menu_inner > ul > li > a.item_link:after {
  display: none;
}
.sidebar-home.collapse-menu.layout6 #mega_main_menu > .menu_holder .menu_inner > ul > li > a.item_link:hover .link_text {
  color: #3ACF87;
}
.sidebar-home.collapse-menu.layout6 #mega_main_menu > .menu_holder .menu_inner > ul > li > a.item_link:hover:after {
  color: #3ACF87;
}
.sidebar-home.collapse-menu.layout6 #mega_main_menu > .menu_holder .menu_inner > ul > li ul.mega_dropdown .post_item {
  padding-bottom: 10px;
}
.sidebar-home.collapse-menu.layout6 #mega_main_menu > .menu_holder .menu_inner > ul > li ul.mega_dropdown .post_item .processed_image a.icon i {
  position: absolute;
}
.sidebar-home.collapse-menu.layout6 #mega_main_menu > .menu_holder .menu_inner > ul > li ul.mega_dropdown .post_item .processed_image a.icon:hover {
  background: rgba(58,207,135,0.4);
}
.sidebar-home.collapse-menu.layout6 #mega_main_menu > .menu_holder .menu_inner > ul > li ul.mega_dropdown .post_details {
  background: #252525;
  box-shadow: none;
  padding: 0 10px 10px;
}
.sidebar-home.collapse-menu.layout6 #mega_main_menu > .menu_holder .menu_inner > ul > li ul.mega_dropdown .post_details .processed_image:hover img {
  opacity: 0.7;
}
.sidebar-home.collapse-menu.layout6 #mega_main_menu > .menu_holder .menu_inner > ul > li ul.mega_dropdown .post_details .processed_image img {
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
}
.sidebar-home.collapse-menu.layout6 #mega_main_menu > .menu_holder .menu_inner > ul > li ul.mega_dropdown .post_details .post_title {
  color: #aaaaaa;
  font-size: 14px;
  margin-bottom: 5px;
  text-transform: uppercase;
}
.sidebar-home.collapse-menu.layout6 #mega_main_menu > .menu_holder .menu_inner > ul > li ul.mega_dropdown .post_details .post_description {
  color: #aaaaaa;
}
.sidebar-home.collapse-menu.layout6 #mega_main_menu > .menu_holder .menu_inner > ul > li ul.mega_dropdown .post_details .post_icon,
.sidebar-home.collapse-menu.layout6 #mega_main_menu > .menu_holder .menu_inner > ul > li ul.mega_dropdown .post_details .post_icon * {
  color: #aaaaaa;
}
.sidebar-home.collapse-menu.layout6 #mega_main_menu > .menu_holder .menu_inner > ul > li ul.mega_dropdown .recent-posts ul li {
  float: left;
  list-style: none;
  margin: 0 0 25px;
  width: 100%;
}
.sidebar-home.collapse-menu.layout6 #mega_main_menu > .menu_holder .menu_inner > ul > li ul.mega_dropdown .recent-posts ul li .post-thumb {
  float: left;
  width: 25%;
}
.sidebar-home.collapse-menu.layout6 #mega_main_menu > .menu_holder .menu_inner > ul > li ul.mega_dropdown .recent-posts ul li .post-thumb a {
  padding: 0;
}
.sidebar-home.collapse-menu.layout6 #mega_main_menu > .menu_holder .menu_inner > ul > li ul.mega_dropdown .recent-posts ul li .post-thumb a img {
  width: 100%;
}
.sidebar-home.collapse-menu.layout6 #mega_main_menu > .menu_holder .menu_inner > ul > li ul.mega_dropdown .recent-posts ul li .post-info {
  float: left;
  padding-left: 30px;
  width: 75%;
}
.sidebar-home.collapse-menu.layout6 #mega_main_menu > .menu_holder .menu_inner > ul > li ul.mega_dropdown .recent-posts ul li .post-info .post-title {
  line-height: 1;
}
.sidebar-home.collapse-menu.layout6 #mega_main_menu > .menu_holder .menu_inner > ul > li ul.mega_dropdown .recent-posts ul li .post-info .post-title a {
  color: #aaaaaa;
  font-size: 14px;
  font-weight: normal;
  padding: 3px 0;
}
.sidebar-home.collapse-menu.layout6 #mega_main_menu > .menu_holder .menu_inner > ul > li ul.mega_dropdown .recent-posts ul li .post-info .post-date {
  color: #aaaaaa;
  font-size: 12px;
}
.sidebar-home.collapse-menu.layout6 #mega_main_menu > .menu_holder .menu_inner > ul > li ul.mega_dropdown .product_list_widget li {
  margin: 0 0 25px;
  padding: 0;
}
.sidebar-home.collapse-menu.layout6 #mega_main_menu > .menu_holder .menu_inner > ul > li ul.mega_dropdown .product_list_widget li .product-image {
  float: left;
  width: 25%;
}
.sidebar-home.collapse-menu.layout6 #mega_main_menu > .menu_holder .menu_inner > ul > li ul.mega_dropdown .product_list_widget li .product-image a {
  display: block;
  float: left;
  padding: 0;
  width: 100%;
}
.sidebar-home.collapse-menu.layout6 #mega_main_menu > .menu_holder .menu_inner > ul > li ul.mega_dropdown .product_list_widget li .product-image a img {
  width: 100%;
}
.sidebar-home.collapse-menu.layout6 #mega_main_menu > .menu_holder .menu_inner > ul > li ul.mega_dropdown .product_list_widget li .product-info {
  float: left;
  padding-left: 30px;
  width: 75%;
}
.sidebar-home.collapse-menu.layout6 #mega_main_menu > .menu_holder .menu_inner > ul > li ul.mega_dropdown .product_list_widget li .product-info a {
  font-size: 14px;
  font-weight: normal;
  margin: 0 0 5px;
  padding: 3px 0;
  text-transform: uppercase;
}
.sidebar-home.collapse-menu.layout6 #mega_main_menu > .menu_holder .menu_inner > ul > li ul.mega_dropdown .product_list_widget li .product-info a .product-title {
  color: #aaaaaa;
}
.sidebar-home.collapse-menu.layout6 #mega_main_menu > .menu_holder .menu_inner > ul > li ul.mega_dropdown .product_list_widget li .product-info .star-rating {
  height: 22px;
}
.sidebar-home.collapse-menu.layout6 #mega_main_menu > .menu_holder .menu_inner > ul > li ul.mega_dropdown .product_list_widget li .product-info .star-rating > * {
  color: #aaaaaa;
}
.sidebar-home.collapse-menu.layout6 #mega_main_menu > .menu_holder .menu_inner > ul > li ul.mega_dropdown .product_list_widget li .product-info .special-price .amount {
  color: #aaaaaa;
  font-size: 14px;
  font-weight: bold;
}
.sidebar-home.collapse-menu.layout6 #mega_main_menu > .menu_holder .menu_inner > ul > li ul.mega_dropdown .product_list_widget li .product-info .old-price .amount {
  color: #aaaaaa;
  font-size: 13px;
  margin-left: 10px;
  text-decoration: line-through;
}
.sidebar-home.collapse-menu.layout6 #mega_main_menu > .menu_holder .menu_inner > ul > li.default_dropdown ul.mega_dropdown {
  background: #252525;
  box-shadow: none;
  margin: 0;
  min-width: 255px;
}
.sidebar-home.collapse-menu.layout6 #mega_main_menu > .menu_holder .menu_inner > ul > li.default_dropdown ul.mega_dropdown li {
  width: auto;
}
.sidebar-home.collapse-menu.layout6 #mega_main_menu > .menu_holder .menu_inner > ul > li.default_dropdown ul.mega_dropdown li:first-child {
  border-top: none;
}
.sidebar-home.collapse-menu.layout6 #mega_main_menu > .menu_holder .menu_inner > ul > li.default_dropdown ul.mega_dropdown li a.item_link {
  background: none;
  border: none;
  padding: 12px 25px;
  text-transform: none;
}
.sidebar-home.collapse-menu.layout6 #mega_main_menu > .menu_holder .menu_inner > ul > li.default_dropdown ul.mega_dropdown li a.item_link .link_text {
  color: #aaaaaa;
  font-family: Lato, Arial, Helvetica, sans-serif;
  font-size: 12px;
  font-weight: bold;
  text-transform: uppercase;
}
.sidebar-home.collapse-menu.layout6 #mega_main_menu > .menu_holder .menu_inner > ul > li.default_dropdown ul.mega_dropdown li a.item_link i {
  color: #aaaaaa;
  font-size: 12px;
  line-height: 18px;
  padding-right: 6px;
  position: static;
  margin: 15px 0 0 0;
}
.sidebar-home.collapse-menu.layout6 #mega_main_menu > .menu_holder .menu_inner > ul > li.default_dropdown ul.mega_dropdown li a.item_link:hover i {
  color: #3ACF87;
}
.sidebar-home.collapse-menu.layout6 #mega_main_menu > .menu_holder .menu_inner > ul > li.default_dropdown ul.mega_dropdown li a.item_link:focus {
  background: none;
}
.sidebar-home.collapse-menu.layout6 #mega_main_menu > .menu_holder .menu_inner > ul > li.default_dropdown ul.mega_dropdown li a.item_link:before {
  display: none;
}
.sidebar-home.collapse-menu.layout6 #mega_main_menu > .menu_holder .menu_inner > ul > li.default_dropdown ul.mega_dropdown li a.item_link:hover {
  color: #3ACF87;
}
.sidebar-home.collapse-menu.layout6 #mega_main_menu > .menu_holder .menu_inner > ul > li.default_dropdown ul.mega_dropdown li:hover > a.item_link .link_text,
.sidebar-home.collapse-menu.layout6 #mega_main_menu > .menu_holder .menu_inner > ul > li.default_dropdown ul.mega_dropdown li.current-menu-ancestor > a.item_link .link_text,
.sidebar-home.collapse-menu.layout6 #mega_main_menu > .menu_holder .menu_inner > ul > li.default_dropdown ul.mega_dropdown li.current-menu-item > a.item_link .link_text {
  color: #3ACF87;
}
.sidebar-home.collapse-menu.layout6 #mega_main_menu > .menu_holder .menu_inner > ul > li.multicolumn_dropdown > ul.mega_dropdown {
  background: #252525;
  box-shadow: none;
  margin: 0;
  padding: 30px 0;
}
.sidebar-home.collapse-menu.layout6 #mega_main_menu > .menu_holder .menu_inner > ul > li.multicolumn_dropdown > ul.mega_dropdown > li {
  padding: 0 3px;
}
.sidebar-home.collapse-menu.layout6 #mega_main_menu > .menu_holder .menu_inner > ul > li.multicolumn_dropdown > ul.mega_dropdown > li a {
  background: none;
  padding: 0 15px;
  text-transform: none;
}
.sidebar-home.collapse-menu.layout6 #mega_main_menu > .menu_holder .menu_inner > ul > li.multicolumn_dropdown > ul.mega_dropdown > li a .link_text {
  border-bottom: 1px solid #303030;
  color: #aaaaaa;
  display: block;
  font-family: Lato, Arial, Helvetica, sans-serif;
  font-size: 12px;
  font-weight: bold;
  line-height: normal;
  padding: 18px 0;
  text-transform: uppercase;
}
.sidebar-home.collapse-menu.layout6 #mega_main_menu > .menu_holder .menu_inner > ul > li.multicolumn_dropdown > ul.mega_dropdown > li a:focus {
  background: none;
}
.sidebar-home.collapse-menu.layout6 #mega_main_menu > .menu_holder .menu_inner > ul > li.multicolumn_dropdown > ul.mega_dropdown > li a:before {
  display: none;
}
.sidebar-home.collapse-menu.layout6 #mega_main_menu > .menu_holder .menu_inner > ul > li.multicolumn_dropdown > ul.mega_dropdown > li a:hover .link_text {
  color: #3ACF87;
}
.sidebar-home.collapse-menu.layout6 #mega_main_menu > .menu_holder .menu_inner > ul > li.multicolumn_dropdown > ul.mega_dropdown > li a i {
  color: #aaaaaa;
  font-size: 12px;
  line-height: 18px;
  padding-right: 6px;
  position: static;
  margin: 15px 0 0 0;
}
.sidebar-home.collapse-menu.layout6 #mega_main_menu > .menu_holder .menu_inner > ul > li.multicolumn_dropdown > ul.mega_dropdown > li a:hover i {
  color: #3ACF87;
}
.sidebar-home.collapse-menu.layout6 #mega_main_menu > .menu_holder .menu_inner > ul > li.multicolumn_dropdown > ul.mega_dropdown > li > a {
  background: url(../images/bg-titlemenu.png) no-repeat 15px bottom;
  margin: 0 0 15px;
  padding-bottom: 25px;
  text-transform: uppercase;
}
.sidebar-home.collapse-menu.layout6 #mega_main_menu > .menu_holder .menu_inner > ul > li.multicolumn_dropdown > ul.mega_dropdown > li > a .link_text {
  border: none;
  color: #fff;
  font-size: 15px;
  font-weight: bold;
  padding: 0;
}
.sidebar-home.collapse-menu.layout6 #mega_main_menu > .menu_holder .menu_inner > ul > li.multicolumn_dropdown > ul.mega_dropdown > li > a:before {
  display: none;
}
.sidebar-home.collapse-menu.layout6 #mega_main_menu > .menu_holder .menu_inner > ul > li.multicolumn_dropdown > ul.mega_dropdown > li > a:hover {
  color: #3ACF87;
}
.sidebar-home.collapse-menu.layout6 #mega_main_menu > .menu_holder .menu_inner > ul > li.tabs_dropdown > ul.mega_dropdown,
.sidebar-home.collapse-menu.layout6 #mega_main_menu > .menu_holder .menu_inner > ul > li.widgets_dropdown > ul.mega_dropdown,
.sidebar-home.collapse-menu.layout6 #mega_main_menu > .menu_holder .menu_inner > ul > li.post_type_dropdown > ul.mega_dropdown {
  background: #252525;
  box-shadow: none;
  margin: 0;
  padding: 10px 0;
}
.sidebar-home.collapse-menu.layout6 #mega_main_menu > .menu_holder .menu_inner > ul > li.tabs_dropdown > ul.mega_dropdown > li,
.sidebar-home.collapse-menu.layout6 #mega_main_menu > .menu_holder .menu_inner > ul > li.widgets_dropdown > ul.mega_dropdown > li,
.sidebar-home.collapse-menu.layout6 #mega_main_menu > .menu_holder .menu_inner > ul > li.post_type_dropdown > ul.mega_dropdown > li {
  padding: 0 10px;
}
.sidebar-home.collapse-menu.layout6 #mega_main_menu > .menu_holder .menu_inner > ul > li.tabs_dropdown > ul.mega_dropdown > li.post_item,
.sidebar-home.collapse-menu.layout6 #mega_main_menu > .menu_holder .menu_inner > ul > li.widgets_dropdown > ul.mega_dropdown > li.post_item,
.sidebar-home.collapse-menu.layout6 #mega_main_menu > .menu_holder .menu_inner > ul > li.post_type_dropdown > ul.mega_dropdown > li.post_item {
  padding-bottom: 20px;
}
.sidebar-home.collapse-menu.layout6 #mega_main_menu > .menu_holder .menu_inner > ul > li.tabs_dropdown > ul.mega_dropdown > li a,
.sidebar-home.collapse-menu.layout6 #mega_main_menu > .menu_holder .menu_inner > ul > li.widgets_dropdown > ul.mega_dropdown > li a,
.sidebar-home.collapse-menu.layout6 #mega_main_menu > .menu_holder .menu_inner > ul > li.post_type_dropdown > ul.mega_dropdown > li a {
  background: none;
  padding: 12px 15px;
  text-transform: none;
}
.sidebar-home.collapse-menu.layout6 #mega_main_menu > .menu_holder .menu_inner > ul > li.tabs_dropdown > ul.mega_dropdown > li a .link_text,
.sidebar-home.collapse-menu.layout6 #mega_main_menu > .menu_holder .menu_inner > ul > li.widgets_dropdown > ul.mega_dropdown > li a .link_text,
.sidebar-home.collapse-menu.layout6 #mega_main_menu > .menu_holder .menu_inner > ul > li.post_type_dropdown > ul.mega_dropdown > li a .link_text {
  color: #aaaaaa;
  font-family: Lato, Arial, Helvetica, sans-serif;
  font-size: 12px;
  font-weight: normal;
}
.sidebar-home.collapse-menu.layout6 #mega_main_menu > .menu_holder .menu_inner > ul > li.tabs_dropdown > ul.mega_dropdown > li a i,
.sidebar-home.collapse-menu.layout6 #mega_main_menu > .menu_holder .menu_inner > ul > li.widgets_dropdown > ul.mega_dropdown > li a i,
.sidebar-home.collapse-menu.layout6 #mega_main_menu > .menu_holder .menu_inner > ul > li.post_type_dropdown > ul.mega_dropdown > li a i {
  color: #aaaaaa;
  font-size: 12px;
  line-height: 18px;
  padding-right: 6px;
  position: static;
  margin: 15px 0 0 0;
}
.sidebar-home.collapse-menu.layout6 #mega_main_menu > .menu_holder .menu_inner > ul > li.tabs_dropdown > ul.mega_dropdown > li a:hover i,
.sidebar-home.collapse-menu.layout6 #mega_main_menu > .menu_holder .menu_inner > ul > li.widgets_dropdown > ul.mega_dropdown > li a:hover i,
.sidebar-home.collapse-menu.layout6 #mega_main_menu > .menu_holder .menu_inner > ul > li.post_type_dropdown > ul.mega_dropdown > li a:hover i {
  color: #3ACF87;
}
.sidebar-home.collapse-menu.layout6 #mega_main_menu > .menu_holder .menu_inner > ul > li.tabs_dropdown > ul.mega_dropdown > li a:focus,
.sidebar-home.collapse-menu.layout6 #mega_main_menu > .menu_holder .menu_inner > ul > li.widgets_dropdown > ul.mega_dropdown > li a:focus,
.sidebar-home.collapse-menu.layout6 #mega_main_menu > .menu_holder .menu_inner > ul > li.post_type_dropdown > ul.mega_dropdown > li a:focus {
  background: none;
}
.sidebar-home.collapse-menu.layout6 #mega_main_menu > .menu_holder .menu_inner > ul > li.tabs_dropdown > ul.mega_dropdown > li a:before,
.sidebar-home.collapse-menu.layout6 #mega_main_menu > .menu_holder .menu_inner > ul > li.widgets_dropdown > ul.mega_dropdown > li a:before,
.sidebar-home.collapse-menu.layout6 #mega_main_menu > .menu_holder .menu_inner > ul > li.post_type_dropdown > ul.mega_dropdown > li a:before {
  display: none;
}
.sidebar-home.collapse-menu.layout6 #mega_main_menu > .menu_holder .menu_inner > ul > li.tabs_dropdown > ul.mega_dropdown > li a:hover,
.sidebar-home.collapse-menu.layout6 #mega_main_menu > .menu_holder .menu_inner > ul > li.widgets_dropdown > ul.mega_dropdown > li a:hover,
.sidebar-home.collapse-menu.layout6 #mega_main_menu > .menu_holder .menu_inner > ul > li.post_type_dropdown > ul.mega_dropdown > li a:hover {
  background: #2d2d2d;
}
.sidebar-home.collapse-menu.layout6 #mega_main_menu > .menu_holder .menu_inner > ul > li.tabs_dropdown > ul.mega_dropdown > li > a,
.sidebar-home.collapse-menu.layout6 #mega_main_menu > .menu_holder .menu_inner > ul > li.widgets_dropdown > ul.mega_dropdown > li > a,
.sidebar-home.collapse-menu.layout6 #mega_main_menu > .menu_holder .menu_inner > ul > li.post_type_dropdown > ul.mega_dropdown > li > a {
  background: none;
  margin: 0 0 10px;
  text-transform: uppercase;
}
.sidebar-home.collapse-menu.layout6 #mega_main_menu > .menu_holder .menu_inner > ul > li.tabs_dropdown > ul.mega_dropdown > li > a .link_text,
.sidebar-home.collapse-menu.layout6 #mega_main_menu > .menu_holder .menu_inner > ul > li.widgets_dropdown > ul.mega_dropdown > li > a .link_text,
.sidebar-home.collapse-menu.layout6 #mega_main_menu > .menu_holder .menu_inner > ul > li.post_type_dropdown > ul.mega_dropdown > li > a .link_text {
  font-weight: bold;
}
.sidebar-home.collapse-menu.layout6 #mega_main_menu > .menu_holder .menu_inner > ul > li.tabs_dropdown > ul.mega_dropdown > li > a:before,
.sidebar-home.collapse-menu.layout6 #mega_main_menu > .menu_holder .menu_inner > ul > li.widgets_dropdown > ul.mega_dropdown > li > a:before,
.sidebar-home.collapse-menu.layout6 #mega_main_menu > .menu_holder .menu_inner > ul > li.post_type_dropdown > ul.mega_dropdown > li > a:before {
  display: none;
}
.sidebar-home.collapse-menu.layout6 #mega_main_menu > .menu_holder .menu_inner > ul > li.tabs_dropdown > ul.mega_dropdown > li > a:hover,
.sidebar-home.collapse-menu.layout6 #mega_main_menu > .menu_holder .menu_inner > ul > li.widgets_dropdown > ul.mega_dropdown > li > a:hover,
.sidebar-home.collapse-menu.layout6 #mega_main_menu > .menu_holder .menu_inner > ul > li.post_type_dropdown > ul.mega_dropdown > li > a:hover {
  background: #2d2d2d;
}
.sidebar-home.collapse-menu.layout6 #mega_main_menu > .menu_holder .menu_inner > ul > li.submenu_full_width > ul.mega_dropdown {
  min-width: 800px;
}
.sidebar-home.collapse-menu.layout6 #mega_main_menu > .menu_holder .mmm_fullwidth_container {
  display: none;
}
.main-container .category-products {
  margin-bottom: 28px;
}
.main-container .category-products.layout4 .wpb_text_column h3 {
  background: url(../images/bg-widget-title.png) no-repeat center bottom;
  font-size: 20px;
  padding-bottom: 26px;
  text-align: center;
}
.main-container .home-tabs {
  margin-bottom: 20px;
}
.main-container .home-tabs.layout4 {
  margin-bottom: 15px;
}
.main-container .home-tabs.layout4 .home-tabs-title {
  margin-bottom: 35px;
}
.main-container .home-tabs .wpb_content_element {
  margin-bottom: 0;
}
.main-container .home-tabs .wpb_content_element .wpb_wrapper > h3 {
  display: none;
}
.main-container .home-tabs .home-tabs-title {
  float: left;
  height: auto;
  line-height: 30px;
  margin: 0 0 5px;
  min-height: 34px;
  padding: 0;
  text-align: center;
  width: 100%;
}
.main-container .home-tabs .home-tabs-title li {
  display: inline-block;
  list-style: none;
  margin: 0 60px 0 0;
  padding: 0;
}
.main-container .home-tabs .home-tabs-title li a {
  border: 1px solid #fff;
  border-left: none;
  border-right: none;
  display: inline-block;
  font-size: 16px;
  font-weight: 700;
  padding: 3px 0 0 0;
  text-transform: uppercase;
}
.main-container .home-tabs .home-tabs-title li a:hover,
.main-container .home-tabs .home-tabs-title li a.active {
  border-color: #C43B68;
  color: #C43B68;
}
.main-container .home-tabs .shop-products .item-col {
  margin-bottom: 30px;
  width: 400px;
}
.main-container .home-tabs .shop-products .item-col.first {
  clear: none;
}
.main-container .no-gap {
  margin: 0;
}
.main-container .no-gap .row-container {
  max-width: 1170px;
}
.main-container .no-gap .vc_column_container {
  padding: 0;
}
.main-container .no-gap img {
  width: 100%;
}
.main-container .products-carousel {
  margin-bottom: 0;
}
.main-container .products-carousel .wpb_text_column {
  margin-bottom: 15px;
}
.main-container .products-carousel .shop-products .item-col {
  margin-bottom: 30px;
  width: 400px;
}
.main-container .products-carousel .shop-products .item-col.first {
  clear: none;
}
.main-container .products-carousel .shop-products .group {
  width: 400px;
}
.main-container .products-carousel .shop-products .group .item-col {
  margin: 0 0 20px;
  max-width: 400px;
  width: 100%;
}
.main-container .products-carousel .shop-products .group .item-col.last {
  margin: 0;
}
.main-container .products-carousel .shop-products .group .item-col .product-name {
  padding: 0;
}
.main-container .products-carousel .shop-products .group .item-col .product-name:after {
  display: none;
}
.main-container .products-carousel2 {
  margin-bottom: 20px;
}
.main-container .products-carousel2 .shop-products .item-col {
  margin-bottom: 30px;
}
.main-container .products-carousel2 .shop-products .item-col.first {
  clear: none;
}
.main-container .products-carousel2 .shop-products .group .item-col {
  max-width: 400px;
  width: 100%;
}
.main-container .products-carousel2 .shop-products .group .item-col .product-name {
  padding: 0;
}
.main-container .products-carousel2 .shop-products .group .item-col .product-name:after {
  display: none;
}
.main-container .products-carousel3 .shop-products .group .item-col {
  max-width: 400px;
  width: 100%;
}
.main-container .products-carousel3 .shop-products .group .item-col .product-name {
  padding: 0;
}
.main-container .products-carousel3 .shop-products .group .item-col .product-name:after {
  display: none;
}
.main-container .home-tabs.layout4 .container,
.main-container .products-carousel3.layout4 .container {
  position: relative;
  z-index: 2;
}
.main-container .home-tabs.layout4 .wpb_text_column h3,
.main-container .products-carousel3.layout4 .wpb_text_column h3 {
  background: url(../images/bg-widget-title.png) no-repeat center bottom;
  font-size: 20px;
  padding-bottom: 26px;
  text-align: center;
}
.main-container .home-tabs.layout4 .tab-title-container .home-tabs-title,
.main-container .products-carousel3.layout4 .tab-title-container .home-tabs-title {
  position: absolute;
  width: auto;
  right: 15px;
  top: -86px;
}
.main-container .home-tabs.layout4 .tab-title-container .home-tabs-title li,
.main-container .products-carousel3.layout4 .tab-title-container .home-tabs-title li {
  padding: 0 20px 0 0;
  margin: 0 20px 0 0;
  position: relative;
}
.main-container .home-tabs.layout4 .tab-title-container .home-tabs-title li:after,
.main-container .products-carousel3.layout4 .tab-title-container .home-tabs-title li:after {
  content: "";
  height: 22px;
  width: 1px;
  float: right;
  background: #e0e0e0;
  position: absolute;
  top: 5px;
  right: 0;
}
.main-container .home-tabs.layout4 .tab-title-container .home-tabs-title li.last,
.main-container .products-carousel3.layout4 .tab-title-container .home-tabs-title li.last {
  border: none;
  padding: 0;
  margin: 0;
}
.main-container .home-tabs.layout4 .tab-title-container .home-tabs-title li.last:after,
.main-container .products-carousel3.layout4 .tab-title-container .home-tabs-title li.last:after {
  display: none;
}
.main-container .home-tabs.layout4 .tab-title-container .home-tabs-title li a,
.main-container .products-carousel3.layout4 .tab-title-container .home-tabs-title li a {
  border: none;
  border-bottom: 1px solid #fff;
  color: #222222;
}
.main-container .home-tabs.layout4 .tab-title-container .home-tabs-title li a:hover,
.main-container .home-tabs.layout4 .tab-title-container .home-tabs-title li a.active,
.main-container .products-carousel3.layout4 .tab-title-container .home-tabs-title li a:hover,
.main-container .products-carousel3.layout4 .tab-title-container .home-tabs-title li a.active {
  border-color: #3ACF87;
  color: #3ACF87;
}
.main-container .home-tabs.layout4 .shop-products .product-layout4,
.main-container .products-carousel3.layout4 .shop-products .product-layout4 {
  display: block;
}
.main-container .home-tabs.layout4 .shop-products .slick-list,
.main-container .products-carousel3.layout4 .shop-products .slick-list {
  padding: 0;
}
.main-container .home-tabs.layout4 .shop-products .item-col .product-wrapper:hover .product-image .buton-layout4,
.main-container .products-carousel3.layout4 .shop-products .item-col .product-wrapper:hover .product-image .buton-layout4 {
  -webkit-transform: scale(1);
  transform: scale(1);
}
.main-container .home-tabs.layout4 .shop-products .item-col .product-wrapper .product-image,
.main-container .products-carousel3.layout4 .shop-products .item-col .product-wrapper .product-image {
  position: relative;
}
.main-container .home-tabs.layout4 .shop-products .item-col .product-wrapper .product-image .buton-layout4,
.main-container .products-carousel3.layout4 .shop-products .item-col .product-wrapper .product-image .buton-layout4 {
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  -webkit-transform: scale(0);
  transform: scale(0);
  width: 35px;
  height: 35px;
  position: absolute;
  margin: auto;
  z-index: 3;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
.main-container .home-tabs.layout4 .shop-products .item-col .product-wrapper .product-image .buton-layout4 a.quickview,
.main-container .products-carousel3.layout4 .shop-products .item-col .product-wrapper .product-image .buton-layout4 a.quickview {
  background: #222222;
  border-radius: 100%;
  display: block;
  height: 35px;
  line-height: 35px;
  border: none;
  color: #fff;
  font-size: 18px;
  padding: 0;
  text-indent: -9999px;
  width: 35px;
  overflow: hidden;
  text-align: center;
}
.main-container .home-tabs.layout4 .shop-products .item-col .product-wrapper .product-image .buton-layout4 a.quickview:before,
.main-container .products-carousel3.layout4 .shop-products .item-col .product-wrapper .product-image .buton-layout4 a.quickview:before {
  content: "\e087";
  font-family: 'simple-line-icons';
  text-indent: 0;
  display: block;
}
.main-container .home-tabs.layout4 .shop-products .item-col .product-wrapper .product-image .buton-layout4 a.quickview:hover,
.main-container .products-carousel3.layout4 .shop-products .item-col .product-wrapper .product-image .buton-layout4 a.quickview:hover {
  color: #fff;
  background: #3ACF87;
  border-color: #3ACF87;
}
.main-container .home-tabs.layout4 .shop-products .item-col .product-wrapper .actions,
.main-container .products-carousel3.layout4 .shop-products .item-col .product-wrapper .actions {
  display: none;
}
.main-container .home-tabs.layout4 .shop-products .item-col .product-wrapper .actions.product-layout4,
.main-container .products-carousel3.layout4 .shop-products .item-col .product-wrapper .actions.product-layout4 {
  display: block;
}
.main-container .home-tabs.layout4 .shop-products .item-col .product-wrapper .actions.product-layout4 .add-to-links li,
.main-container .products-carousel3.layout4 .shop-products .item-col .product-wrapper .actions.product-layout4 .add-to-links li {
  margin-right: 10px;
}
.main-container .home-tabs.layout4 .shop-products .item-col .product-wrapper .actions.product-layout4 .add-to-links li.first,
.main-container .products-carousel3.layout4 .shop-products .item-col .product-wrapper .actions.product-layout4 .add-to-links li.first {
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
}
.main-container .home-tabs.layout4 .shop-products .item-col .product-wrapper .actions.product-layout4 .add-to-links li.second,
.main-container .products-carousel3.layout4 .shop-products .item-col .product-wrapper .actions.product-layout4 .add-to-links li.second {
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
}
.main-container .home-tabs.layout4 .shop-products .item-col .product-wrapper .actions.product-layout4 .add-to-links li.last,
.main-container .products-carousel3.layout4 .shop-products .item-col .product-wrapper .actions.product-layout4 .add-to-links li.last {
  margin: 0;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
}
.main-container .home-tabs.layout4 .shop-products .item-col .product-wrapper .actions.product-layout4 .add-to-links .add-to-cart .add_to_cart_inline a.button,
.main-container .products-carousel3.layout4 .shop-products .item-col .product-wrapper .actions.product-layout4 .add-to-links .add-to-cart .add_to_cart_inline a.button {
  background: none;
  width: auto;
  text-indent: 0;
  padding: 0 20px;
  font-size: 12px;
  border-radius: 0;
  border: 1px solid #222222;
  color: #222222;
}
.main-container .home-tabs.layout4 .shop-products .item-col .product-wrapper .actions.product-layout4 .add-to-links .add-to-cart .add_to_cart_inline a.button:before,
.main-container .products-carousel3.layout4 .shop-products .item-col .product-wrapper .actions.product-layout4 .add-to-links .add-to-cart .add_to_cart_inline a.button:before {
  display: none;
}
.main-container .home-tabs.layout4 .shop-products .item-col .product-wrapper .actions.product-layout4 .add-to-links .add-to-cart .add_to_cart_inline a.button:hover,
.main-container .home-tabs.layout4 .shop-products .item-col .product-wrapper .actions.product-layout4 .add-to-links .add-to-cart .add_to_cart_inline a.button.added,
.main-container .products-carousel3.layout4 .shop-products .item-col .product-wrapper .actions.product-layout4 .add-to-links .add-to-cart .add_to_cart_inline a.button:hover,
.main-container .products-carousel3.layout4 .shop-products .item-col .product-wrapper .actions.product-layout4 .add-to-links .add-to-cart .add_to_cart_inline a.button.added {
  background: #3ACF87;
  border-color: #3ACF87;
  color: #fff;
}
.main-container .home-tabs.layout4 .shop-products .item-col .product-wrapper .actions.product-layout4 .add-to-links .add-to-cart .add_to_cart_inline a.added_to_cart,
.main-container .products-carousel3.layout4 .shop-products .item-col .product-wrapper .actions.product-layout4 .add-to-links .add-to-cart .add_to_cart_inline a.added_to_cart {
  display: none;
}
.main-container .home-tabs.layout4 .shop-products .item-col .product-wrapper .actions.product-layout4 .add-to-links .yith-wcwl-add-to-wishlist a,
.main-container .home-tabs.layout4 .shop-products .item-col .product-wrapper .actions.product-layout4 .add-to-links .yith-wcwl-add-to-wishlist a.add_to_wishlist,
.main-container .products-carousel3.layout4 .shop-products .item-col .product-wrapper .actions.product-layout4 .add-to-links .yith-wcwl-add-to-wishlist a,
.main-container .products-carousel3.layout4 .shop-products .item-col .product-wrapper .actions.product-layout4 .add-to-links .yith-wcwl-add-to-wishlist a.add_to_wishlist {
  background: none;
  border-radius: 0;
  border: 1px solid #222222;
  color: #222222;
}
.main-container .home-tabs.layout4 .shop-products .item-col .product-wrapper .actions.product-layout4 .add-to-links .yith-wcwl-add-to-wishlist a:hover,
.main-container .home-tabs.layout4 .shop-products .item-col .product-wrapper .actions.product-layout4 .add-to-links .yith-wcwl-add-to-wishlist a.add_to_wishlist:hover,
.main-container .products-carousel3.layout4 .shop-products .item-col .product-wrapper .actions.product-layout4 .add-to-links .yith-wcwl-add-to-wishlist a:hover,
.main-container .products-carousel3.layout4 .shop-products .item-col .product-wrapper .actions.product-layout4 .add-to-links .yith-wcwl-add-to-wishlist a.add_to_wishlist:hover {
  color: #fff;
  background: #3ACF87;
  border-color: #3ACF87;
}
.main-container .home-tabs.layout4 .shop-products .item-col .product-wrapper .actions.product-layout4 .add-to-links .yith-wcwl-add-to-wishlist .yith-wcwl-wishlistexistsbrowse a,
.main-container .home-tabs.layout4 .shop-products .item-col .product-wrapper .actions.product-layout4 .add-to-links .yith-wcwl-add-to-wishlist .yith-wcwl-wishlistaddedbrowse a,
.main-container .products-carousel3.layout4 .shop-products .item-col .product-wrapper .actions.product-layout4 .add-to-links .yith-wcwl-add-to-wishlist .yith-wcwl-wishlistexistsbrowse a,
.main-container .products-carousel3.layout4 .shop-products .item-col .product-wrapper .actions.product-layout4 .add-to-links .yith-wcwl-add-to-wishlist .yith-wcwl-wishlistaddedbrowse a {
  color: #fff;
  background: #3ACF87;
  border-radius: 0;
  border: 1px solid #3ACF87;
}
.main-container .home-tabs.layout4 .shop-products .item-col .product-wrapper .actions.product-layout4 .add-to-links .compare-button a.compare,
.main-container .products-carousel3.layout4 .shop-products .item-col .product-wrapper .actions.product-layout4 .add-to-links .compare-button a.compare {
  background: none;
  border-radius: 0;
  border: 1px solid #222222;
  color: #222222;
}
.main-container .home-tabs.layout4 .shop-products .item-col .product-wrapper .actions.product-layout4 .add-to-links .compare-button a.compare:hover,
.main-container .products-carousel3.layout4 .shop-products .item-col .product-wrapper .actions.product-layout4 .add-to-links .compare-button a.compare:hover {
  color: #fff;
  background: #3ACF87;
  border-color: #3ACF87;
}
.main-container .home-tabs.layout4 .shop-products .item-col .product-wrapper .actions.product-layout4 .add-to-links .compare-button a.compare.added,
.main-container .products-carousel3.layout4 .shop-products .item-col .product-wrapper .actions.product-layout4 .add-to-links .compare-button a.compare.added {
  border-color: #3ACF87;
  color: #fff;
  background: #3ACF87;
}
.main-container .product-layout5 {
  padding: 60px 0 0 0;
  margin: 0 0 40px 0;
}
.main-container .product-layout5 .row-container {
  max-width: 1400px;
}
.main-container .product-layout5 .wpb_text_column {
  text-align: center;
}
.main-container .product-layout5 .wpb_text_column a.button {
  display: inline-block;
  border: 1px solid #dfdfdf;
  border-radius: 0;
  margin: 30px 0 20px;
}
.main-container .product-layout5 .wpb_text_column a.button:hover {
  border-color: #3ACF87;
}
.main-container .product-layout5 .shop-products {
  margin: 0;
}
.main-container .product-layout5 .shop-products .item-col {
  margin-bottom: 30px;
  padding: 0 15px;
}
.main-container .product-layout5 .shop-products .item-col .product-wrapper {
  padding: 0;
}
.main-container .product-layout5 .shop-products .item-col .product-wrapper:hover {
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
.main-container .product-layout5 .shop-products .item-col .product-wrapper:hover .list-col8 {
  -webkit-transform: scale(1);
  transform: scale(1);
}
.main-container .product-layout5 .shop-products .item-col .product-wrapper .product-image {
  margin: 0;
}
.main-container .product-layout5 .shop-products .item-col .product-wrapper h2.product-name {
  margin: 0 0 5px;
}
.main-container .product-layout5 .shop-products .item-col .product-wrapper .ratings {
  margin: 0 0 5px;
}
.main-container .product-layout5 .shop-products .item-col .product-wrapper .list-col8 {
  width: 100%;
  position: absolute;
  height: 50%;
  margin: auto;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 8;
  -webkit-transform: scale(0);
  transform: scale(0);
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
.main-container .product-layout5 .shop-products .item-col .product-wrapper .actions {
  display: none;
}
.main-container .product-layout5 .shop-products .item-col .product-wrapper .actions.product-layout4 {
  display: block;
}
.main-container .product-layout5 .shop-products .item-col .product-wrapper .actions.product-layout4 .add-to-links li {
  margin-right: 5px;
}
.main-container .product-layout5 .shop-products .item-col .product-wrapper .actions.product-layout4 .add-to-links li.first {
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
}
.main-container .product-layout5 .shop-products .item-col .product-wrapper .actions.product-layout4 .add-to-links li.second {
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
}
.main-container .product-layout5 .shop-products .item-col .product-wrapper .actions.product-layout4 .add-to-links li.last {
  margin: 0;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
}
.main-container .product-layout5 .shop-products .item-col .product-wrapper .actions.product-layout4 .add-to-links .add-to-cart .add_to_cart_inline .hugeshoptip {
  display: none !important;
}
.main-container .product-layout5 .shop-products .item-col .product-wrapper .actions.product-layout4 .add-to-links .add-to-cart .add_to_cart_inline a.button {
  background: none;
  width: auto;
  text-indent: 0;
  padding: 0 20px;
  font-size: 12px;
  border-radius: 0;
  border: 1px solid #222222;
  color: #222222;
}
.main-container .product-layout5 .shop-products .item-col .product-wrapper .actions.product-layout4 .add-to-links .add-to-cart .add_to_cart_inline a.button:before {
  display: none;
}
.main-container .product-layout5 .shop-products .item-col .product-wrapper .actions.product-layout4 .add-to-links .add-to-cart .add_to_cart_inline a.button:hover,
.main-container .product-layout5 .shop-products .item-col .product-wrapper .actions.product-layout4 .add-to-links .add-to-cart .add_to_cart_inline a.button.added {
  background: #3ACF87;
  border-color: #3ACF87;
  color: #fff;
}
.main-container .product-layout5 .shop-products .item-col .product-wrapper .actions.product-layout4 .add-to-links .add-to-cart .add_to_cart_inline a.added_to_cart {
  display: none;
}
.main-container .product-layout5 .shop-products .item-col .product-wrapper .actions.product-layout4 .add-to-links .yith-wcwl-add-to-wishlist a,
.main-container .product-layout5 .shop-products .item-col .product-wrapper .actions.product-layout4 .add-to-links .yith-wcwl-add-to-wishlist a.add_to_wishlist {
  background: none;
  border-radius: 0;
  border: 1px solid #222222;
  color: #222222;
}
.main-container .product-layout5 .shop-products .item-col .product-wrapper .actions.product-layout4 .add-to-links .yith-wcwl-add-to-wishlist a:hover,
.main-container .product-layout5 .shop-products .item-col .product-wrapper .actions.product-layout4 .add-to-links .yith-wcwl-add-to-wishlist a.add_to_wishlist:hover {
  color: #fff;
  background: #3ACF87;
  border-color: #3ACF87;
}
.main-container .product-layout5 .shop-products .item-col .product-wrapper .actions.product-layout4 .add-to-links .yith-wcwl-add-to-wishlist .yith-wcwl-wishlistexistsbrowse a,
.main-container .product-layout5 .shop-products .item-col .product-wrapper .actions.product-layout4 .add-to-links .yith-wcwl-add-to-wishlist .yith-wcwl-wishlistaddedbrowse a {
  color: #fff;
  background: #3ACF87;
  border-radius: 0;
  border: 1px solid #3ACF87;
}
.main-container .product-layout5 .shop-products .item-col .product-wrapper .actions.product-layout4 .add-to-links .compare-button a.compare {
  background: none;
  border-radius: 0;
  border: 1px solid #222222;
  color: #222222;
}
.main-container .product-layout5 .shop-products .item-col .product-wrapper .actions.product-layout4 .add-to-links .compare-button a.compare:hover {
  color: #fff;
  background: #3ACF87;
  border-color: #3ACF87;
}
.main-container .product-layout5 .shop-products .item-col .product-wrapper .actions.product-layout4 .add-to-links .compare-button a.compare.added {
  border-color: #3ACF87;
  color: #fff;
  background: #3ACF87;
}
.main-container .home-allproducts {
  padding: 60px 0;
}
.main-container .home-allproducts.layout3 .wpb_wrapper {
  border: none;
  padding: 0;
}
.main-container .home-allproducts.layout3 .shop-products {
  margin: 0;
}
.main-container .home-allproducts.layout4 {
  padding: 0;
}
.main-container .home-allproducts.layout4 .wpb_wrapper {
  border: none;
  padding: 0;
}
.main-container .home-allproducts .wpb_text_column.wpb_content_element {
  margin-bottom: 40px;
}
.main-container .home-allproducts .wpb_text_column.wpb_content_element .wpb_wrapper {
  border: none;
  padding: 0;
}
.main-container .home-allproducts .wpb_text_column.wpb_content_element h3 {
  background: url(../images/bg-widget-title.png) no-repeat left bottom;
  text-align: left;
  font-size: 20px;
  padding-bottom: 26px;
}
.main-container .home-allproducts .wpb_wrapper {
  border: 1px solid #e6e6e6;
  padding: 40px 25px;
}
.main-container .home-allproducts .onsale {
  display: none;
}
.main-container .home-allproducts .shop-products .item-col {
  margin: 0 0 20px 0;
  padding: 0;
}
.main-container .home-allproducts .shop-products .item-col:last-child {
  margin-bottom: 0;
}
.main-container .home-allproducts .shop-products .item-col .product-wrapper {
  padding: 0;
}
.main-container .home-allproducts .shop-products .item-col .product-wrapper:hover {
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
.main-container .home-allproducts .shop-products .item-col .product-wrapper .list-col4 {
  float: left;
  width: 30%;
}
.main-container .home-allproducts .shop-products .item-col .product-wrapper .list-col4 .product-image {
  margin: 0;
}
.main-container .home-allproducts .shop-products .item-col .product-wrapper .list-col8 {
  float: left;
  width: 70%;
  padding-left: 22px;
  text-align: left;
}
.main-container .home-allproducts .shop-products .item-col .product-wrapper .actions {
  display: none;
}
.home-testimonials .wpb_content_element.wpb_text_column {
  margin-bottom: 60px;
}
.home-testimonials .wpb_content_element.wpb_text_column h3 {
  background: url(../images/icon-title2.png) no-repeat center bottom;
  color: #fff;
}
.home-testimonials .slick-slider .slick-list {
  padding-top: 0;
}
.home-testimonials .slick-slider .slick-dots {
  margin-top: 45px;
}
.home-testimonials blockquote {
  border: none;
  font-size: 18px;
  line-height: 1.5;
  letter-spacing: 0.5px;
  color: #fff;
  font-weight: 300;
  font-style: italic;
  padding-top: 0;
  margin-bottom: 60px;
}
.home-testimonials img {
  display: inline-block;
  border: 3px solid #fff;
  margin-top: -26px;
  border-radius: 100%;
}
.home-testimonials .author {
  display: inline-block;
  margin-left: 20px;
  font-size: 15px;
  text-transform: uppercase;
  color: #fff;
}
.home-testimonials .author span {
  display: block;
  text-align: left;
}
.home-testimonials .author span.title {
  color: #b3bbcd;
  font-size: 14px;
  text-transform: capitalize;
}
.main-container .home-categories-carousel .wpb_text_column {
  margin-bottom: 30px;
}
.main-container .home-categories-carousel .categories-carousel .slick-list {
  padding: 30px 0;
}
.main-container .home-categories-carousel .categories-carousel.slick-slider button.slick-next {
  right: -22px;
}
.main-container .home-categories-carousel .categories-carousel.slick-slider button.slick-prev {
  left: -22px;
}
.main-container .home-categories-carousel .categories-carousel .slick-slide {
  position: relative;
  z-index: 1;
}
.main-container .home-categories-carousel .categories-carousel .slick-slide:hover {
  z-index: 2;
}
.main-container .home-categories-carousel .categories-carousel .slick-slide:hover a.image {
  -webkit-transform: scale(1.2);
  transform: scale(1.2);
}
.main-container .home-categories-carousel .categories-carousel .slick-slide:hover a.image:before {
  display: block;
}
.main-container .home-categories-carousel .categories-carousel .slick-slide:hover .description {
  -webkit-transform: scale(1);
  transform: scale(1);
}
.main-container .home-categories-carousel .categories-carousel .slick-slide a.image {
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  width: 100%;
}
.main-container .home-categories-carousel .categories-carousel .slick-slide a.image:before {
  content: "";
  height: 100%;
  width: 100%;
  background: #3ACF87;
  opacity: 0.5;
  display: none;
  float: left;
  position: absolute;
  top: 0;
  left: 0;
}
.main-container .home-categories-carousel .categories-carousel .slick-slide a.image img {
  width: 100%;
}
.main-container .home-categories-carousel .categories-carousel .slick-slide span {
  display: none;
}
.main-container .home-categories-carousel .categories-carousel .slick-slide .description {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  width: 80%;
  height: 30%;
  margin: auto;
  -webkit-transform: scale(0);
  transform: scale(0);
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
.main-container .home-categories-carousel .categories-carousel .slick-slide .description h2 {
  color: #fff;
  font-size: 35px;
  text-transform: uppercase;
}
.main-container .home-categories-carousel .categories-carousel .slick-slide .description p {
  color: #fff;
  font-size: 18px;
  text-transform: uppercase;
}
.main-container .home-categories-carousel .categories-carousel .slick-slide .description a.button {
  border: 1px solid #fff;
  color: #fff;
  height: 40px;
  line-height: 40px;
  margin-top: 15px;
}
.main-container .home-categories-carousel .categories-carousel .slick-slide .description a.button:hover {
  border-color: #3ACF87;
}
.main-container .latest-posts,
.main-container .latest-posts2 {
  margin-bottom: 60px;
}
.main-container .latest-posts.layout3 .wpb_text_column.wpb_content_element,
.main-container .latest-posts2.layout3 .wpb_text_column.wpb_content_element {
  margin-bottom: 8px;
}
.main-container .latest-posts.layout3 .wpb_text_column.wpb_content_element .wpb_wrapper,
.main-container .latest-posts2.layout3 .wpb_text_column.wpb_content_element .wpb_wrapper {
  border: none;
  padding: 0;
}
.main-container .latest-posts.layout3 .wpb_text_column.wpb_content_element h3,
.main-container .latest-posts2.layout3 .wpb_text_column.wpb_content_element h3 {
  background: url(../images/bg-widget-title.png) no-repeat left bottom;
  text-align: left;
  font-size: 20px;
  padding-bottom: 26px;
}
.main-container .latest-posts.layout3 .layout3,
.main-container .latest-posts2.layout3 .layout3 {
  display: block;
}
.main-container .latest-posts.layout3 .posts-carousel .item-col .post-thumb .post-date.layout1,
.main-container .latest-posts2.layout3 .posts-carousel .item-col .post-thumb .post-date.layout1 {
  display: none;
}
.main-container .latest-posts.layout3 .posts-carousel .item-col .post-info,
.main-container .latest-posts2.layout3 .posts-carousel .item-col .post-info {
  text-align: left;
}
.main-container .latest-posts.layout3 .posts-carousel .item-col .post-info .category,
.main-container .latest-posts2.layout3 .posts-carousel .item-col .post-info .category {
  float: left;
}
.main-container .latest-posts.layout3 .posts-carousel .item-col .post-info .category.layout1,
.main-container .latest-posts2.layout3 .posts-carousel .item-col .post-info .category.layout1 {
  display: none;
}
.main-container .latest-posts.layout3 .posts-carousel .item-col .post-info span,
.main-container .latest-posts2.layout3 .posts-carousel .item-col .post-info span {
  font-weight: bold;
  font-size: 11px;
  float: right;
  margin-right: 20px;
  text-transform: uppercase;
}
.main-container .latest-posts.layout3 .posts-carousel .item-col .post-info span.author,
.main-container .latest-posts2.layout3 .posts-carousel .item-col .post-info span.author {
  color: #3ACF87;
}
.main-container .latest-posts.layout3 .posts-carousel .item-col .post-info span.post-date i,
.main-container .latest-posts2.layout3 .posts-carousel .item-col .post-info span.post-date i {
  float: left;
  line-height: 22px;
}
.main-container .latest-posts.layout3 .posts-carousel .item-col .post-info span.post-date span,
.main-container .latest-posts2.layout3 .posts-carousel .item-col .post-info span.post-date span {
  float: left;
  margin-right: 5px;
}
.main-container .latest-posts.layout3 .posts-carousel .item-col .post-info span.comment,
.main-container .latest-posts2.layout3 .posts-carousel .item-col .post-info span.comment {
  margin: 0;
}
.main-container .latest-posts.layout3 .posts-carousel .item-col .post-info span.comment span,
.main-container .latest-posts2.layout3 .posts-carousel .item-col .post-info span.comment span {
  float: left;
  margin-right: 5px;
}
.main-container .latest-posts.layout3 .posts-carousel .item-col .post-info i,
.main-container .latest-posts2.layout3 .posts-carousel .item-col .post-info i {
  color: #222222;
  margin-right: 5px;
}
.main-container .latest-posts.layout3 .posts-carousel .item-col .post-info h3.post-title,
.main-container .latest-posts2.layout3 .posts-carousel .item-col .post-info h3.post-title {
  float: left;
  width: 100%;
}
.main-container .latest-posts.layout3 .posts-carousel .item-col .post-info .post-excerpt,
.main-container .latest-posts2.layout3 .posts-carousel .item-col .post-info .post-excerpt {
  float: left;
  width: 100%;
}
.main-container .latest-posts.layout3 .posts-carousel .item-col .post-info a.readmore.button,
.main-container .latest-posts2.layout3 .posts-carousel .item-col .post-info a.readmore.button {
  float: left;
  border-color: #222222;
  border-radius: 0;
  padding: 0 15px;
}
.main-container .latest-posts.layout3 .posts-carousel .item-col .post-info a.readmore.button:hover,
.main-container .latest-posts2.layout3 .posts-carousel .item-col .post-info a.readmore.button:hover {
  border-color: #3ACF87;
}
.main-container .latest-posts.layout3 .posts-carousel .item-col .post-info a.readmore.button span,
.main-container .latest-posts2.layout3 .posts-carousel .item-col .post-info a.readmore.button span {
  margin: 0;
}
.main-container .latest-posts .layout3,
.main-container .latest-posts2 .layout3 {
  display: none;
}
.main-container .latest-posts .slick-slider:hover button,
.main-container .latest-posts2 .slick-slider:hover button {
  opacity: 1;
  right: -5px;
}
.main-container .latest-posts .slick-slider:hover button.slick-prev,
.main-container .latest-posts2 .slick-slider:hover button.slick-prev {
  left: -5px;
}
.main-container .latest-posts .posts-carousel,
.main-container .latest-posts2 .posts-carousel {
  margin: 0 -15px;
}
.main-container .latest-posts .posts-carousel .item-col .post-wrapper,
.main-container .latest-posts2 .posts-carousel .item-col .post-wrapper {
  padding: 0 15px;
}
.main-container .latest-posts .posts-carousel .item-col .post-thumb,
.main-container .latest-posts2 .posts-carousel .item-col .post-thumb {
  float: left;
  margin-bottom: 25px;
  position: relative;
  width: 100%;
}
.main-container .latest-posts .posts-carousel .item-col .post-thumb a,
.main-container .latest-posts2 .posts-carousel .item-col .post-thumb a {
  display: block;
}
.main-container .latest-posts .posts-carousel .item-col .post-thumb img,
.main-container .latest-posts2 .posts-carousel .item-col .post-thumb img {
  width: 100%;
}
.main-container .latest-posts .posts-carousel .item-col .post-thumb .post-date,
.main-container .latest-posts2 .posts-carousel .item-col .post-thumb .post-date {
  background: #3ACF87;
  border-radius: 100%;
  color: #fff;
  display: block;
  height: 60px;
  padding-top: 13px;
  position: absolute;
  right: 10px;
  text-transform: uppercase;
  top: 10px;
  width: 60px;
}
.main-container .latest-posts .posts-carousel .item-col .post-thumb .post-date span,
.main-container .latest-posts2 .posts-carousel .item-col .post-thumb .post-date span {
  display: block;
  line-height: 18px;
}
.main-container .latest-posts .posts-carousel .item-col .post-thumb .post-date span.day,
.main-container .latest-posts2 .posts-carousel .item-col .post-thumb .post-date span.day {
  font-size: 20px;
}
.main-container .latest-posts .posts-carousel .item-col .post-thumb .post-date span.month,
.main-container .latest-posts2 .posts-carousel .item-col .post-thumb .post-date span.month {
  font-size: 12px;
}
.main-container .latest-posts .posts-carousel .item-col .post-info,
.main-container .latest-posts2 .posts-carousel .item-col .post-info {
  float: left;
  width: 100%;
}
.main-container .latest-posts .posts-carousel .item-col .post-info .category,
.main-container .latest-posts2 .posts-carousel .item-col .post-info .category {
  display: block;
  font-size: 12px;
  margin-bottom: 20px;
  text-transform: uppercase;
}
.main-container .latest-posts .posts-carousel .item-col .post-info .category a:hover,
.main-container .latest-posts2 .posts-carousel .item-col .post-info .category a:hover {
  text-decoration: underline;
}
.main-container .latest-posts .posts-carousel .item-col .post-info h3.post-title,
.main-container .latest-posts2 .posts-carousel .item-col .post-info h3.post-title {
  font-size: 18px;
  text-transform: uppercase;
  margin-bottom: 20px;
}
.main-container .latest-posts .posts-carousel .item-col .post-info h3.post-title a,
.main-container .latest-posts2 .posts-carousel .item-col .post-info h3.post-title a {
  display: block;
}
.main-container .latest-posts .posts-carousel .item-col .post-info .post-excerpt,
.main-container .latest-posts2 .posts-carousel .item-col .post-info .post-excerpt {
  color: #222222;
  line-height: 26px;
  margin-bottom: 20px;
}
.main-container .latest-posts .posts-carousel .item-col .post-info .post-excerpt p,
.main-container .latest-posts2 .posts-carousel .item-col .post-info .post-excerpt p {
  margin: 0;
}
.main-container .latest-posts .posts-carousel .item-col .post-info a.readmore.button,
.main-container .latest-posts2 .posts-carousel .item-col .post-info a.readmore.button {
  border-width: 1px;
  font-size: 11px;
  height: 32px;
  line-height: 32px;
}
.main-container .brands-logo {
  background: #f9f9f9;
  margin: 0;
  padding: 35px 0;
  float: left;
  width: 100%;
}
.main-container .brands-logo.layout7 {
  background: none;
  padding: 70px 0 80px;
}
.main-container .brands-logo:hover .slick-slider button {
  opacity: 1;
  margin-top: -31px;
  right: -11px;
}
.main-container .brands-logo:hover .slick-slider button.slick-prev {
  left: -11px;
}
.main-container .brands-logo .slick-list {
  padding: 5px 0;
}
.main-container .brands-logo .slick-slider {
  margin: 0;
}
.main-container .brands-logo .slick-slider button {
  margin-top: -31px;
}
.main-container .brands-logo .slick-slider .slick-slide a {
  display: block;
  padding: 0 10px;
}
.main-container .brands-logo .slick-slider .slick-slide a img {
  width: 100%;
}
.footer .footer-middle .widget.widget-social .social-icons li a i {
  line-height: 35px;
}
.footer.layout6,
.footer.layout7 {
  border-top: 4px solid #3ACF87;
}
.footer.layout6 .widget.widget_menu ul li a,
.footer.layout7 .widget.widget_menu ul li a {
  font-size: 14px;
  text-transform: capitalize;
}
.footer.layout6 .widget.widget_corporate_about,
.footer.layout7 .widget.widget_corporate_about {
  float: left;
  width: 100%;
  border-bottom: 1px solid #292929;
}
.footer.layout6 .widget.widget_corporate_about ul,
.footer.layout7 .widget.widget_corporate_about ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
.footer.layout6 .widget.widget_corporate_about ul li,
.footer.layout7 .widget.widget_corporate_about ul li {
  float: left;
  width: 25%;
  letter-spacing: 0.5px;
  text-align: left;
  padding: 46px 0;
}
.footer.layout6 .widget.widget_corporate_about ul li i,
.footer.layout7 .widget.widget_corporate_about ul li i {
  float: left;
  width: 50px;
  height: 50px;
  text-align: center;
  line-height: 50px;
  background-color: #db527f;
  color: #fff;
  border-radius: 100%;
  margin-right: 15px;
}
.footer.layout6 .widget.widget_corporate_about ul li h3,
.footer.layout7 .widget.widget_corporate_about ul li h3 {
  color: #fff;
  font-size: 15px;
  text-transform: uppercase;
}
.footer.layout6 .widget.widget_corporate_about ul li p,
.footer.layout7 .widget.widget_corporate_about ul li p {
  font-size: 14px;
  margin: 0;
}
.footer.layout6 .widget.widget_corporate_about ul li:nth-child(2) i,
.footer.layout7 .widget.widget_corporate_about ul li:nth-child(2) i {
  background-color: #3792d0;
}
.footer.layout6 .widget.widget_corporate_about ul li:nth-child(3) i,
.footer.layout7 .widget.widget_corporate_about ul li:nth-child(3) i {
  background-color: #79b425;
}
.footer.layout6 .widget.widget_corporate_about ul li:nth-child(4) i,
.footer.layout7 .widget.widget_corporate_about ul li:nth-child(4) i {
  background-color: #bf6cce;
}
.footer.layout6 .footer-middle .widget.widget_wysija,
.footer.layout7 .footer-middle .widget.widget_wysija {
  margin-bottom: 10px;
}
.footer.layout6 .footer-middle .widget.widget_wysija form.widget_wysija .widget_wysija,
.footer.layout6 .footer-middle .widget.widget_wysija .widget_wysija_cont .widget_wysija,
.footer.layout7 .footer-middle .widget.widget_wysija form.widget_wysija .widget_wysija,
.footer.layout7 .footer-middle .widget.widget_wysija .widget_wysija_cont .widget_wysija {
  width: 100%;
  display: inline-block;
  position: relative;
}
.footer.layout6 .footer-middle .widget.widget_wysija form.widget_wysija .widget_wysija .wysija-paragraph,
.footer.layout6 .footer-middle .widget.widget_wysija .widget_wysija_cont .widget_wysija .wysija-paragraph,
.footer.layout7 .footer-middle .widget.widget_wysija form.widget_wysija .widget_wysija .wysija-paragraph,
.footer.layout7 .footer-middle .widget.widget_wysija .widget_wysija_cont .widget_wysija .wysija-paragraph {
  float: left;
}
.footer.layout6 .footer-middle .widget.widget_wysija form.widget_wysija .widget_wysija .wysija-paragraph .wysija-input,
.footer.layout6 .footer-middle .widget.widget_wysija .widget_wysija_cont .widget_wysija .wysija-paragraph .wysija-input,
.footer.layout7 .footer-middle .widget.widget_wysija form.widget_wysija .widget_wysija .wysija-paragraph .wysija-input,
.footer.layout7 .footer-middle .widget.widget_wysija .widget_wysija_cont .widget_wysija .wysija-paragraph .wysija-input {
  width: 218px;
}
.footer.layout7 {
  border: none;
  background: #fff;
}
.footer.layout7 .widget-title,
.footer.layout7 .widgettitle {
  color: #222222;
}
.footer.layout7 a {
  color: #5a5a5a;
}
.footer.layout7 a:hover {
  color: #3ACF87;
}
.footer.layout7 .footer-top {
  background: #f4f4f4;
}
.footer.layout7 .footer-top .widget.widget_corporate_about {
  border: none;
  color: #5a5a5a;
}
.footer.layout7 .footer-top .widget.widget_corporate_about ul li h3 {
  color: #222222;
}
.footer.layout7 .footer-middle .widget.widget_about_us ul li {
  color: #5a5a5a;
}
.footer.layout7 .footer-middle .widget.widget-social .social-icons li a {
  border: 1px solid #d6d6d6;
}
.footer.layout7 .footer-middle .widget.widget-social .social-icons li a:hover {
  border-color: #3ACF87;
}
.footer.layout7 .footer-middle .widget.widget_wysija form.widget_wysija .widget_wysija,
.footer.layout7 .footer-middle .widget.widget_wysija .widget_wysija_cont .widget_wysija {
  width: 100%;
  display: inline-block;
  position: relative;
}
.footer.layout7 .footer-middle .widget.widget_wysija form.widget_wysija .widget_wysija .wysija-paragraph,
.footer.layout7 .footer-middle .widget.widget_wysija .widget_wysija_cont .widget_wysija .wysija-paragraph {
  float: left;
}
.footer.layout7 .footer-middle .widget.widget_wysija form.widget_wysija .widget_wysija .wysija-paragraph .wysija-input,
.footer.layout7 .footer-middle .widget.widget_wysija .widget_wysija_cont .widget_wysija .wysija-paragraph .wysija-input {
  width: 230px;
  border-radius: 0;
  border-color: #d6d6d6;
}
.footer.layout7 .footer-middle .widget.widget_wysija form.widget_wysija .widget_wysija .wysija-submit,
.footer.layout7 .footer-middle .widget.widget_wysija .widget_wysija_cont .widget_wysija .wysija-submit {
  background-color: #d6d6d6;
  background-position: 0 100%;
  float: left;
  border-radius: 0;
}
.footer.layout7 .footer-middle .widget.widget_wysija form.widget_wysija .widget_wysija .wysija-submit:hover,
.footer.layout7 .footer-middle .widget.widget_wysija .widget_wysija_cont .widget_wysija .wysija-submit:hover {
  background-color: #3ACF87;
}
.footer.layout7 .footer-bottom .footer-bottom-inner {
  border-top-color: #e9e9e9;
}
.main-container .collapse-menu .widget_nav_menu {
  text-align: left;
  padding-left: 40px;
}
.main-container .collapse-menu ul.menu {
  margin: 0;
  padding: 0;
}
.main-container .collapse-menu ul.menu li {
  list-style: none;
  margin: 0;
  padding-left: 25px;
  position: relative;
}
.main-container .collapse-menu ul.menu li a {
  color: #fff;
  display: block;
  font-family: Raleway, Arial, Helvetica, sans-serif;
  font-size: 12px;
  font-weight: bold;
  letter-spacing: 0.5px;
  text-transform: uppercase;
}
.main-container .collapse-menu ul.menu li:hover > a,
.main-container .collapse-menu ul.menu li.current-menu-ancestor > a,
.main-container .collapse-menu ul.menu li.current-menu-item > a {
  color: #3ACF87;
}
.main-container .collapse-menu ul.menu ul.sub-menu {
  display: none;
  margin: 0;
  padding: 10px 0 0 0;
}
.main-container .collapse-menu ul.menu ul.sub-menu li {
  line-height: 38px;
}
.main-container .collapse-menu ul.menu ul.sub-menu li a {
  font-weight: normal;
  font-size: 14px;
  text-transform: none;
}
.main-container .collapse-menu ul.menu ul.sub-menu li .fa {
  top: 5px;
}
.main-container .collapse-menu ul.menu > li {
  padding: 20px 0 16px;
  border-bottom: 1px solid #3c3c3c;
}
.main-container .collapse-menu ul.menu > li > a {
  font-size: 14px;
  text-transform: uppercase;
  z-index: 2;
}
.main-container .collapse-menu ul.menu .fa {
  color: #fff;
  cursor: pointer;
  display: block;
  float: right;
  height: 20px;
  right: 0;
  line-height: 20px;
  position: absolute;
  text-align: center;
  top: 20px;
  width: 10px;
  font-size: 10px;
}
.main-container .collapse-menu ul.menu .fa:hover {
  color: #3ACF87;
}
.main-container .products-category .shop-products {
  margin-bottom: 0;
}
.main-container .products-category .shop-products .slick-list {
  padding-top: 0;
}
.main-container .allen-icon-box .ibox-icon {
  font-size: 0;
  width: 70px;
  height: 70px;
  line-height: 70px;
  text-align: center;
  color: #3ACF87;
  margin-right: 10px;
  -webkit-transition: all 0.4s ease-out;
  -moz-transition: all 0.4s ease-out;
  -ms-transition: all 0.4s ease-out;
  -o-transition: all 0.4s ease-out;
  transition: all 0.4s ease-out;
}
.main-container .allen-icon-box .ibox-icon:before {
  font-size: 35px;
}
.main-container .allen-icon-box:hover .ibox-icon {
  background: #3ACF87;
  color: #fff;
  border-radius: 100%;
}
.main-container .allen-icon-box h3 {
  font-size: 15px !important;
}
.main-container .allen-button {
  position: relative;
  display: inline-block;
  -webkit-transition: all 0.2s linear;
  -moz-transition: all 0.2s linear;
  -ms-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
  transition: all 0.2s linear;
  font-size: 15px;
  line-height: 1.6;
  font-weight: 400;
  text-align: center;
}
.main-container .allen-button.style1 {
  border: 2px solid #fff;
  background: #3ACF87;
  color: #fff;
}
.main-container .allen-button.style1:hover {
  background: #2f2f2f;
}
.main-container .allen-button.style2 {
  background: none;
  border: 2px solid #e5e5e5;
  color: #222222;
}
.main-container .allen-button.style2:hover {
  background: #3ACF87;
  color: #fff;
  border-color: #3ACF87;
}
.main-container .allen-button.button-1x {
  min-width: 140px;
  padding: 4px 15px;
}
.main-container .allen-button.button-2x {
  min-width: 140px;
  padding: 7px 20px;
}
.main-container .allen-button.button-3x {
  min-width: 160px;
  padding: 10px 20px;
}
.main-container .allen-call-action.style2 h4 {
  color: #fff;
  margin: 10px 0 0;
}
.main-container .allen-call-action.style2 .allen-button {
  background: #fff;
  border-color: #fff;
}
.main-container .allen-call-action.style2 .allen-button:hover {
  background: #3ACF87;
  color: #fff;
  border-color: #3ACF87;
}
