.main-container.full-width .wpb_row {
  margin-bottom: 0;
}
.main-container.full-width blockquote {
  background: #f7f7f7;
  border: none;
  font-size: 14px;
  font-style: italic;
  margin: 20px 0;
  padding: 30px 45px;
}
.main-container.about-page .title-breadcrumb {
  margin-bottom: 0;
}
.main-container.about-page img {
  margin: 0;
}
.main-container.about-page h3 {
  background: url(../images/bg-widget-title.png) no-repeat left bottom;
  font-size: 20px;
  margin: 0 0 40px;
  padding-bottom: 15px;
  text-transform: uppercase;
  width: 100%;
}
.main-container.about-page .our-works ul li {
  padding-left: 60px;
}
.main-container.about-page .our-works ul li i {
  background: #DB6163;
  border: 3px solid #e99fa1;
  border-radius: 84px;
  color: #fff;
  display: inline-block;
  float: left;
  font-family: Ubuntu;
  font-size: 16px;
  font-style: normal;
  font-weight: bold;
  height: 48px;
  left: 0;
  line-height: 42px;
  margin-right: 15px;
  position: absolute;
  text-align: center;
  top: 0;
  width: 48px;
}
.main-container.about-page .our-works ul li strong {
  display: block;
}
.main-container.about-page .about-intro {
  font-size: 15px;
  color: #222222;
}
.main-container.about-page .about-intro p {
  margin-bottom: 15px;
}
.main-container.about-page .about-intro a.button {
  border-width: 1px;
  height: 36px;
  margin-top: 26px;
  line-height: 36px;
}
.main-container.about-page .about-skill {
  background: url(../images/bg-about.png) repeat;
}
.main-container.about-page .about-skill h3 {
  background-image: url(../images/bg-about-title.png);
  padding-left: 15px;
  color: #fff;
  background-position: 15px bottom;
}
.main-container.about-page .about-skill .vc_progress_bar .vc_single_bar {
  margin-bottom: 35px;
}
.main-container.about-page .about-skill .vc_progress_bar .vc_single_bar:last-child {
  margin-bottom: 0;
}
.main-container.about-page .about-skill .vc_progress_bar .vc_single_bar .vc_label {
  padding: 0 0 0 10px;
  text-transform: uppercase;
}
.main-container.about-page .about-team .vc_column_container .wpb_wrapper .wpb_text_column {
  text-align: center;
}
.main-container.about-page .about-team .vc_column_container .wpb_wrapper .wpb_text_column img {
  margin-bottom: 25px;
}
.main-container.about-page .about-team .vc_column_container .wpb_wrapper .wpb_text_column h3 {
  text-align: left;
}
.main-container.about-page .about-team .vc_column_container .wpb_wrapper .wpb_text_column h4 {
  font-size: 15px;
  color: #222222;
  margin: 0 0 5px;
  text-transform: uppercase;
}
.main-container.about-page .about-team .vc_column_container .wpb_wrapper .wpb_text_column h5 {
  color: #999999;
  font-size: 13px;
  margin-top: 0;
  text-transform: capitalize;
}
.main-container.about-page .about-team .vc_column_container .wpb_wrapper .wpb_text_column p {
  margin: 0;
}
.main-container.about-page .about-team .vc_column_container .wpb_wrapper .wpb_text_column ul {
  list-style: none;
  padding: 0;
  margin-top: 15px;
}
.main-container.about-page .about-team .vc_column_container .wpb_wrapper .wpb_text_column ul li {
  display: inline-block;
  margin: 0 5px;
}
.main-container.about-page .about-team .vc_column_container .wpb_wrapper .wpb_text_column ul li a {
  display: block;
  overflow: hidden;
  text-align: center;
}
.main-container.about-page .about-team .vc_column_container .wpb_wrapper .wpb_text_column ul li a i {
  color: #fff;
  height: 40px;
  font-size: 18px;
  line-height: 40px;
  width: 40px;
  display: block;
  background: #ccc;
  border-radius: 100%;
  text-indent: -9999px;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
.main-container.about-page .about-team .vc_column_container .wpb_wrapper .wpb_text_column ul li a i:hover {
  background: #DB6163 !important;
}
.main-container.about-page .about-team .vc_column_container .wpb_wrapper .wpb_text_column ul li a i.fa-facebook {
  background: #2b80e0;
}
.main-container.about-page .about-team .vc_column_container .wpb_wrapper .wpb_text_column ul li a i.fa-twitter {
  background: #1fb8ff;
}
.main-container.about-page .about-team .vc_column_container .wpb_wrapper .wpb_text_column ul li a i.fa-youtube {
  background: #da2c2c;
}
.main-container.about-page .about-team .vc_column_container .wpb_wrapper .wpb_text_column ul li a i.fa-dribbble {
  background: #2595cf;
}
.main-container.about-page .about-team .vc_column_container .wpb_wrapper .wpb_text_column ul li a i:before {
  display: block;
  text-indent: 0;
}
.main-container.about-page .about-us2 {
  text-align: center;
}
.main-container.about-page .about-us2 .vc_column_container .wpb_wrapper h4 {
  margin-bottom: 5px;
}
.main-container.about-page .about-us2 .vc_icon_element {
  display: inline-block;
  margin: 0;
}
.main-container.about-page .about-us2 .vc_icon_element > div {
  width: 20px;
  height: 20px;
  margin: 0 5px;
}
.main-container.about-page .about-us2 .vc_icon_element > div:hover .vc_icon_element-icon {
  color: #DB6163;
}
.main-container.about-page .vc_column_container .wpb_wrapper h3 {
  border: none;
  font-size: 21px;
  margin: 0 0 10px;
}
.main-container.about-page .vc_column_container .wpb_wrapper .wpb_heading,
.main-container.about-page .vc_column_container .wpb_wrapper h4 {
  font-size: 16px;
  margin: 0 0 25px;
  padding: 0 0 5px;
}
.main-container.about-page .vc_column_container .vc_progress_bar .vc_single_bar {
  box-shadow: none;
  margin: 0 0 40px;
}
.main-container.about-page .vc_column_container .vc_progress_bar .vc_single_bar .vc_label {
  color: #000;
  font-size: 12px;
  height: 30px;
  line-height: 30px;
  padding-bottom: 0;
  padding-left: 30px;
  padding-top: 0;
}
.main-container.about-page .vc_column_container .vc_progress_bar .vc_single_bar .vc_label .vc_label_units {
  background: #DB6163;
  border-radius: 100%;
  color: #fff;
  display: block;
  font-size: 16px;
  font-weight: 700;
  height: 50px;
  left: -10px;
  line-height: 50px;
  position: absolute;
  text-align: center;
  text-shadow: none;
  top: -10px;
  width: 50px;
}
.main-container.about-page .vc_column_container ul {
  padding: 0;
}
.main-container.about-page .vc_column_container ul li {
  list-style: none;
  padding-left: 0;
  position: relative;
}
.main-container .blog-page .large-only {
  display: none;
}
.main-container .blog-page .large-only.post-author {
  display: none;
}
.main-container .blog-page.blog-sidebar.right-sidebar {
  padding: 0;
}
.main-container .blog-page.blog-sidebar.left-sidebar {
  padding: 0;
}
.main-container .blog-page.blog-sidebar .post-thumbnail {
  margin: 0 0 50px;
  width: 100%;
}
.main-container .blog-page.blog-nosidebar article {
  float: left;
  width: 100%;
  margin: 0 0 40px 0;
  padding-bottom: 40px;
  border-bottom: 1px solid #e5e5e5;
}
.main-container .blog-page.blog-nosidebar .post-thumbnail {
  float: left;
  width: 36%;
  margin-bottom: 20px;
  position: relative;
}
.main-container .blog-page.blog-nosidebar .postinfo-wrapper {
  float: left;
  width: 64%;
  padding: 0 0 0 35px;
}
.main-container .blog-page.blog-nosidebar .postinfo-wrapper.no-thumbnail {
  padding-left: 0;
}
.main-container .blog-page.blog-nosidebar .post-date {
  background: #DB6163;
  border-radius: 100%;
  color: #fff;
  display: block;
  height: 60px;
  padding-top: 13px;
  position: absolute;
  left: 10px;
  text-transform: uppercase;
  top: 10px;
  width: 60px;
  text-align: center;
  z-index: 2;
}
.main-container .blog-page.blog-nosidebar .post-date span {
  display: block;
  line-height: 18px;
  padding: 0;
}
.main-container .blog-page.blog-nosidebar .post-date span.day {
  font-size: 20px;
}
.main-container .blog-page.blog-nosidebar .post-date span.month {
  font-size: 12px;
}
.main-container .blog-page.blog-large .large-only {
  display: inline-block;
}
.main-container .blog-page.blog-large .post .post-thumbnail {
  margin: 0 0 25px;
  width: 100%;
}
.main-container .blog-page.blog-large .post .postinfo-wrapper {
  padding: 0;
  width: 100%;
}
.main-container .blog-page.blog-large .post .post-category {
  display: inline-block;
}
.main-container .blog-page.blog-large .post .post-author {
  display: none;
}
.main-container .blog-page.blog-large .post .post-author.large-only {
  display: inline-block;
}
.main-container .blog-page.blog-large .post .post-author:after {
  display: none;
}
.main-container .blog-page.blog-large .post .post-separator {
  display: inline-block;
  margin: 0 20px;
}
.main-container .blog-page.blog-large .post .entry-title {
  font-size: 25px;
}
.main-container .blog-page.blog-large .post .entry-title:after {
  background: #e9e9e9;
  content: "";
  display: block;
  height: 1px;
  margin-top: 12px;
  width: 60px;
}
.main-container .blog-page .post {
  float: left;
  margin: 0 0 40px;
  width: 100%;
  padding-bottom: 40px;
  border-bottom: 1px solid #e9e9e9;
}
.main-container .blog-page .post.sticky .entry-title a {
  color: #DB6163;
}
.main-container .blog-page .post .post-thumbnail {
  float: left;
  margin: 0;
  position: relative;
  width: 35%;
}
.main-container .blog-page .post .post-thumbnail .post-date {
  background: #DB6163;
  border-radius: 100%;
  color: #fff;
  display: block;
  height: 60px;
  padding-top: 13px;
  position: absolute;
  right: 10px;
  text-transform: uppercase;
  top: 10px;
  width: 60px;
  text-align: center;
  z-index: 2;
}
.main-container .blog-page .post .post-thumbnail .post-date span {
  display: block;
  line-height: 18px;
  padding: 0;
}
.main-container .blog-page .post .post-thumbnail .post-date span.day {
  font-size: 20px;
}
.main-container .blog-page .post .post-thumbnail .post-date span.month {
  font-size: 12px;
}
.main-container .blog-page .post .post-thumbnail .su-slider-centered {
  margin-bottom: 0;
}
.main-container .blog-page .post .post-thumbnail .su-responsive-media-yes {
  margin-bottom: 0;
}
.main-container .blog-page .post .post-thumbnail .su-slider-slide-title {
  display: none;
}
.main-container .blog-page .post .postinfo-wrapper {
  float: left;
  padding: 0 0 0 35px;
  width: 65%;
}
.main-container .blog-page .post .postinfo-wrapper.no-thumbnail {
  padding: 0;
  width: 100%;
}
.main-container .blog-page .entry-header {
  background: none;
  border: none;
  margin: 0 0 20px;
  position: relative;
  text-align: left;
}
.main-container .blog-page .entry-title {
  font-size: 20px;
  text-align: left;
  text-transform: none;
  margin: 10px 0;
  padding: 0;
  text-transform: uppercase;
}
.main-container .blog-page .entry-title:after {
  display: none;
}
.main-container .blog-page .su-responsive-media-yes {
  margin-bottom: 0;
}
.main-container .blog-page .player {
  float: left;
  margin-bottom: 20px;
  width: 100%;
}
.main-container .blog-page .archive-title {
  font-size: 22px;
  margin: 0 0 10px;
  padding: 0;
}
.main-container .blog-page .entry-summary {
  color: #222222;
}
.main-container .blog-page .entry-summary,
.main-container .blog-page .entry-content {
  float: left;
  font-size: 15px;
  margin: 0;
  width: 100%;
}
.main-container .blog-page blockquote {
  font-size: 18px;
  font-style: italic;
  margin: 40px 0 40px 40px;
  padding: 30px 45px;
  border: 1px solid #e5e5e5;
  border-left: 5px solid #DB6163;
  line-height: 26px;
}
.main-container .blog-page .post-date {
  font-size: 12px;
  display: inline-block;
}
.main-container .blog-page .post-date span {
  padding-right: 5px;
}
.main-container .blog-page .post-category,
.main-container .blog-page .post-author {
  text-transform: uppercase;
  font-size: 12px;
  display: block;
  color: #DB6163;
}
.main-container .blog-page .post-category .post-by,
.main-container .blog-page .post-author .post-by {
  color: #999999;
}
.main-container .blog-page .post-category a,
.main-container .blog-page .post-author a {
  color: #DB6163;
}
.main-container .blog-page .post-author:after {
  content: "";
  width: 60px;
  height: 1px;
  background: #e9e9e9;
  display: block;
  margin-top: 12px;
}
.main-container .blog-page a.button {
  border-width: 1px;
  font-size: 11px;
  height: 35px;
  line-height: 35px;
  margin-top: 11px;
}
.main-container .blog-page .entry-meta {
  border-bottom: 1px solid #e5e5e5;
  border-top: 1px solid #e5e5e5;
  color: #999999;
  float: left;
  font-family: Raleway, Arial, Helvetica, sans-serif;
  font-size: 12px;
  margin: 0 0 30px;
  padding: 5px 0;
  width: 100%;
}
.main-container .blog-page .entry-meta a {
  color: #999999;
}
.main-container .blog-page .entry-meta a:hover {
  color: #DB6163;
}
.main-container .blog-page .entry-meta {
  margin: 0 0 40px;
}
.main-container .blog-page .social-sharing {
  float: left;
  margin: 0 0 40px;
  width: 100%;
}
.main-container .blog-page .social-sharing .widget-title {
  background: none;
  float: left;
  font-size: 14px;
  line-height: 40px;
  margin: 0 20px 0 0;
  text-transform: uppercase;
  width: auto;
}
.main-container .blog-page .social-sharing .social-icons {
  float: left;
  margin: 0;
  padding: 0;
}
.main-container .blog-page .social-sharing .social-icons li {
  float: left;
  list-style: none;
  position: relative;
}
.main-container .blog-page .social-sharing .social-icons li:first-child {
  border-left: none;
}
.main-container .blog-page .social-sharing .social-icons li .roadtip {
  line-height: 1.5;
}
.main-container .blog-page .social-sharing .social-icons li .social-icon {
  display: inline-block;
  font-size: 18px;
  line-height: 40px;
  height: 40px;
  width: 40px;
  text-align: center;
  color: #fff;
  border-radius: 100%;
  margin-right: 10px;
}
.main-container .blog-page .social-sharing .social-icons li .social-icon:hover {
  background: #DB6163 !important;
}
.main-container .blog-page .social-sharing .social-icons li .social-icon i {
  line-height: 40px;
}
.main-container .blog-page .social-sharing .social-icons li .social-icon.facebook {
  background: #3B579D;
}
.main-container .blog-page .social-sharing .social-icons li .social-icon.twitter {
  background: #3ACAFF;
}
.main-container .blog-page .social-sharing .social-icons li .social-icon.pinterest {
  background: #CB2027;
}
.main-container .blog-page .social-sharing .social-icons li .social-icon.gplus {
  background: #D11717;
}
.main-container .blog-page .social-sharing .social-icons li .social-icon.linkedin {
  background: #0097BD;
}
.main-container .blog-page .author-info {
  float: left;
  margin: 0;
  width: 100%;
}
.main-container .blog-page .author-info h2 {
  font-size: 16px;
  margin: 0 0 10px;
  text-transform: uppercase;
}
.main-container .blog-page .author-info .author-avatar {
  float: left;
}
.main-container .blog-page .author-info .author-avatar img {
  border-radius: 100%;
}
.main-container .blog-page .author-info .author-description {
  color: #999999;
  margin-left: 100px;
}
.main-container .blog-page .moretag {
  color: #DB6163;
}
.main-container .blog-page .moretag:hover {
  color: #DB6163;
}
.main-container .blog-page .navigation .newer {
  float: left;
}
.main-container .blog-page .navigation .newer a:before {
  content: "\f177";
  display: inline-block;
  font-family: FontAwesome;
  font-size: 12px;
  margin-right: 5px;
}
.main-container .blog-page .navigation .older {
  float: right;
}
.main-container .blog-page .navigation .older a:after {
  content: "\f178";
  display: inline-block;
  font-family: FontAwesome;
  font-size: 12px;
  margin-left: 5px;
}
.main-container .blog-page .pagination {
  border-radius: 0;
  float: right;
  margin: 0 0 50px;
  padding: 6px 0 0;
  position: relative;
  text-align: center;
}
.main-container .blog-page .pagination a,
.main-container .blog-page .pagination span {
  background: none;
  color: #222222;
  display: inline-block;
  font-family: Lato, Arial, Helvetica, sans-serif;
  font-size: 14px;
  font-weight: 700;
  line-height: 36px;
  height: 36px;
  border: 1px solid #dcdcdc;
  padding: 0;
  width: 36px;
  border-radius: 100%;
  margin: 0 5px;
  float: left;
}
.main-container .blog-page .pagination a:hover,
.main-container .blog-page .pagination a.current,
.main-container .blog-page .pagination span:hover,
.main-container .blog-page .pagination span.current {
  color: #fff;
  border-color: #DB6163;
  background-color: #DB6163;
}
.main-container .blog-page .pagination a.next,
.main-container .blog-page .pagination a.prev,
.main-container .blog-page .pagination span.next,
.main-container .blog-page .pagination span.prev {
  text-indent: -9999px;
  overflow: hidden;
}
.main-container .blog-page .pagination a.next:before,
.main-container .blog-page .pagination a.prev:before,
.main-container .blog-page .pagination span.next:before,
.main-container .blog-page .pagination span.prev:before {
  content: "\f178";
  display: block;
  text-indent: 0;
  font-family: FontAwesome;
}
.main-container .blog-page .pagination a.prev:before,
.main-container .blog-page .pagination span.prev:before {
  content: "\f177";
}
.main-container .blog-page .page-links {
  margin: 15px 0;
}
.main-container .blog-page .page-links a {
  background: none;
  border-bottom: 2px solid transparent;
  color: #444444;
  display: inline-block;
  font-family: Raleway, Arial, Helvetica, sans-serif;
  font-size: 12px;
  line-height: 34px;
  padding: 0 8px;
  text-transform: uppercase;
}
.main-container .blog-page .page-links a:hover {
  color: #DB6163;
  border-bottom: 2px solid #DB6163;
}
.main-container .blog-page .page-links > span {
  background: none;
  border-bottom: 2px solid transparent;
  color: #444444;
  display: inline-block;
  font-family: Raleway, Arial, Helvetica, sans-serif;
  font-size: 12px;
  line-height: 34px;
  padding: 0 8px;
  text-transform: uppercase;
}
.main-container .blog-page .comments-area {
  float: left;
  margin: 0 0 60px;
  width: 100%;
}
.main-container .blog-page .comments-area .comments-title,
.main-container .blog-page .comments-area .comment-reply-title {
  font-size: 20px;
  margin: 0 0 30px;
  background: url(../images/bg-widget-title.png) no-repeat left bottom;
  position: relative;
  display: inline-block;
  padding: 0 0 20px;
  text-transform: uppercase;
  border: none;
}
.main-container .blog-page .comments-area .commentlist {
  margin: 0;
  padding: 0;
}
.main-container .blog-page .comments-area .commentlist li.comment {
  list-style: none;
}
.main-container .blog-page .comments-area .commentlist li.comment article.comment {
  margin: 0 0 20px;
  border: 1px solid #e5e5e5;
  padding: 30px;
}
.main-container .blog-page .comments-area .commentlist li.comment article.comment .comment-avatar {
  float: left;
}
.main-container .blog-page .comments-area .commentlist li.comment article.comment .comment-info {
  border: none;
  margin-left: 75px;
  position: relative;
}
.main-container .blog-page .comments-area .commentlist li.comment article.comment .comment-info .reply {
  float: right;
  display: inline-block;
  margin-left: 10px;
  position: absolute;
  right: 0;
  top: 0;
}
.main-container .blog-page .comments-area .commentlist li.comment article.comment .comment-info .reply a {
  background: none;
  border: 2px solid #e5e5e5;
  border-radius: 20px;
  box-shadow: none;
  color: #DB6163;
  display: inline-block;
  font-family: Raleway, Arial, Helvetica, sans-serif;
  font-size: 11px;
  font-weight: bold;
  height: 28px;
  line-height: 28px;
  padding: 0 20px;
  text-shadow: none;
  text-transform: uppercase;
  white-space: nowrap;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.main-container .blog-page .comments-area .commentlist li.comment article.comment .comment-info .reply a:hover {
  border-color: #DB6163;
  background: #DB6163;
  color: #fff;
}
.main-container .blog-page .comments-area .commentlist .comment-meta {
  color: #999999;
  font-size: 15px;
  line-height: 1;
  margin: 0 0 15px;
  float: left;
  width: 100%;
}
.main-container .blog-page .comments-area .commentlist .comment-meta img {
  margin-right: 10px;
}
.main-container .blog-page .comments-area .commentlist .comment-meta cite {
  float: left;
  margin-bottom: 15px;
}
.main-container .blog-page .comments-area .commentlist .comment-meta cite .fn {
  font-size: 14px;
  text-transform: uppercase;
}
.main-container .blog-page .comments-area .commentlist .comment-meta cite span {
  display: none;
}
.main-container .blog-page .comments-area .commentlist .comment-meta time {
  float: left;
  clear: both;
}
.main-container .blog-page .comments-area .commentlist .comment-content {
  color: #999999;
  font-size: 15px;
}
.main-container .blog-page .comments-area .commentlist .comment-content p:last-child {
  margin-bottom: 0;
}
.main-container .blog-page .comments-area .pagination {
  margin: 15px 0;
  width: 100%;
}
.main-container .blog-page .comments-area .pagination .next,
.main-container .blog-page .comments-area .pagination .prev {
  position: relative;
  text-indent: -9999px;
}
.main-container .blog-page .comments-area .pagination .next:after,
.main-container .blog-page .comments-area .pagination .prev:after {
  content: "\f054";
  display: inline-block;
  font-family: FontAwesome;
  height: 34px;
  left: 0;
  position: absolute;
  text-align: center;
  text-indent: 0;
  top: 0;
  width: 34px;
}
.main-container .blog-page .comments-area .pagination .prev:after {
  content: "\f053";
}
.main-container .blog-page .comments-area .comment-respond {
  float: left;
  margin-top: 45px;
  width: 100%;
}
.main-container .blog-page .comments-area .comment-respond .comment-form label {
  color: #999999;
  display: block;
  margin: 0 0 5px;
}
.main-container .blog-page .comments-area .comment-respond .comment-form .comment-notes,
.main-container .blog-page .comments-area .comment-respond .comment-form .form-allowed-tags {
  color: #999999;
  font-size: 12px;
}
.main-container .blog-page .comments-area .comment-respond .comment-form .comment-input {
  margin: 0 -10px;
}
.main-container .blog-page .comments-area .comment-respond .comment-form .comment-form-author,
.main-container .blog-page .comments-area .comment-respond .comment-form .comment-form-email,
.main-container .blog-page .comments-area .comment-respond .comment-form .comment-form-url {
  float: left;
  padding: 0 10px;
  width: 33.3333%;
}
.main-container .blog-page .comments-area .comment-respond .comment-form .comment-form-author input,
.main-container .blog-page .comments-area .comment-respond .comment-form .comment-form-email input,
.main-container .blog-page .comments-area .comment-respond .comment-form .comment-form-url input {
  width: 100%;
}
.main-container .blog-page .comments-area .comment-respond .comment-form #comment {
  width: 100%;
  height: 130px;
}
.main-container .blog-page .nav-single {
  border-bottom: 1px solid #e5e5e5;
  border-top: 1px solid #e5e5e5;
  float: left;
  font-size: 13px;
  padding: 10px 0;
  width: 100%;
}
.main-container .blog-page .nav-single a {
  color: #999999;
}
.main-container .blog-page .nav-single a:hover {
  color: #DB6163;
}
.main-container .blog-page .nav-single .nav-previous {
  float: left;
}
.main-container .blog-page .nav-single .nav-next {
  float: right;
}
.main-container .blog-page .btn,
.main-container .blog-page .btn-primary,
.main-container .blog-page #searchsubmit,
.main-container .blog-page #wsearchsubmit {
  background: #DB6163;
  border: none;
  border-radius: 2px;
  box-shadow: none;
  color: #fff;
  font-size: 14px;
  font-weight: normal;
  height: 26px;
  line-height: 26px;
  padding: 0 10px;
  text-shadow: none;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
}
.main-container .blog-page .btn:hover,
.main-container .blog-page .btn-primary:hover,
.main-container .blog-page #searchsubmit:hover,
.main-container .blog-page #wsearchsubmit:hover {
  background: #999999;
}
.main-container .blog-page .archive-header {
  border-bottom: 1px solid #e5e5e5;
  margin-bottom: 30px;
}
.main-container .blog-page .archive-header span {
  text-transform: uppercase;
}
.main-container .blog-page .author-info.archives {
  margin: 0 0 60px;
}
.main-container .blog-page .author-info.archives .author-avatar {
  margin-right: 0;
}
.main-container .blog-page .author-info.archives .author-description {
  margin-left: 82px;
}
.main-container .blog-page .author-info.archives .author-description h2 {
  border-bottom: 1px solid #e5e5e5;
  margin: 0 0 10px;
}
.main-container .blog-page .attachment .navigation {
  border-bottom: 1px solid #e5e5e5;
  border-top: 1px solid #e5e5e5;
  margin: 0 0 25px;
  padding: 5px 0;
}
.main-container .blog-page.single .author-info {
  padding-bottom: 40px;
  border-bottom: 1px solid #e5e5e5;
  margin-bottom: 40px;
}
.main-container .blog-page.single .relatedposts {
  margin: 0 0 20px 0;
  float: left;
  font-size: 12px;
  width: 100%;
}
.main-container .blog-page.single .relatedposts h3 {
  font-size: 20px;
  margin: 0 0 30px;
  background: url(../images/bg-widget-title.png) no-repeat left bottom;
  position: relative;
  display: inline-block;
  padding: 0 0 20px;
  text-transform: uppercase;
}
.main-container .blog-page.single .relatedthumb {
  float: left;
  text-align: center;
}
.main-container .blog-page.single .relatedthumb .image {
  margin-bottom: 25px;
}
.main-container .blog-page.single .relatedthumb .post-category {
  margin-bottom: 15px;
}
.main-container .blog-page.single .relatedthumb .post-category a {
  font-size: 12px;
  color: #C43B68;
}
.main-container .blog-page.single .relatedthumb .post-category a:hover {
  text-decoration: underline;
}
.main-container .blog-page.single .relatedthumb .post-date {
  background: #DB6163;
  border-radius: 100%;
  color: #fff;
  display: block;
  height: 60px;
  left: auto;
  padding-top: 13px;
  position: absolute;
  right: 20px;
  text-transform: uppercase;
  top: 10px;
  width: 60px;
  text-align: center;
  z-index: 2;
}
.main-container .blog-page.single .relatedthumb .post-date span {
  display: block;
  line-height: 18px;
  padding: 0;
}
.main-container .blog-page.single .relatedthumb .post-date span.day {
  font-size: 20px;
}
.main-container .blog-page.single .relatedthumb .post-date span.month {
  font-size: 12px;
}
.main-container .blog-page.single .relatedthumb .short-description {
  font-size: 13px;
  color: #727272;
  margin-bottom: 15px;
}
.main-container .blog-page.single .relatedthumb h4 {
  font-size: 18px;
  text-transform: uppercase;
  margin-bottom: 15px;
}
.main-container .blog-page.single .relatedthumb img {
  padding: 0;
  width: 100%;
}
.main-container .blog-page.single .relatedthumb a {
  text-decoration: none;
  display: inline-block;
}
.main-container .blog-page.single .post {
  background: none;
}
.main-container .blog-page.single .post .player {
  float: right;
  max-width: none;
  padding: 0;
}
.main-container .blog-page.single .post-thumbnail {
  width: 100%;
}
.main-container .blog-page.single .post-thumbnail .post-date {
  left: 10px;
  right: auto;
}
.main-container .blog-page.single .postinfo-wrapper {
  padding: 0;
  float: right;
  width: 100%;
}
.main-container .blog-page.single .postinfo-wrapper .entry-header {
  padding-top: 0;
  margin: 30px 0 20px;
}
.main-container .blog-page.single .postinfo-wrapper .entry-header:after {
  content: "";
  width: 60px;
  height: 1px;
  background: #e9e9e9;
  display: block;
  margin-top: 15px;
}
.main-container .blog-page.single .postinfo-wrapper .entry-header .entry-title {
  color: #444444;
  margin-top: 15px;
}
.main-container .blog-page.single .postinfo-wrapper .entry-header .entry-title:after {
  max-width: 180px;
}
.main-container .blog-page.single .postinfo-wrapper .entry-header .post-category,
.main-container .blog-page.single .postinfo-wrapper .entry-header .post-author {
  display: inline-block;
}
.main-container .blog-page.single .postinfo-wrapper .entry-header .post-category:after,
.main-container .blog-page.single .postinfo-wrapper .entry-header .post-author:after {
  display: none;
}
.main-container .blog-page.single .postinfo-wrapper .entry-header .post-separator {
  color: #999999;
  display: inline-block;
  margin: 0 25px;
}
.main-container .blog-page.single .entry-meta {
  padding: 15px 0;
  font-size: 13px;
  text-transform: uppercase;
}
.main-container .blog-page.single .entry-meta a {
  text-transform: uppercase;
  font-size: 13px;
}
.main-container .blog-page.single .comments-area {
  max-width: none;
  float: right;
  padding: 0;
}
.main-container.contact-page .page-content {
  padding-bottom: 0;
}
.main-container.contact-page .contact-infor ul {
  list-style: none;
  background: #f8f8f8;
  padding: 50px 0;
  float: left;
  width: 100%;
}
.main-container.contact-page .contact-infor ul li {
  clear: both;
  float: left;
  text-align: center;
  font-size: 13px;
  text-transform: uppercase;
  margin-bottom: 46px;
  width: 100%;
}
.main-container.contact-page .contact-infor ul li:last-child {
  margin-bottom: 0;
}
.main-container.contact-page .contact-infor ul li.call-contact h4 {
  font-size: 18px;
}
.main-container.contact-page .contact-infor ul li i {
  display: inline-block;
  height: 52px;
  width: 52px;
  line-height: 48px;
  text-align: center;
  color: #222222;
  border: 2px solid #e6e6e6;
  background: #fff;
  font-size: 20px;
  border-radius: 100%;
  margin-bottom: 26px;
}
.main-container.contact-page .contact-infor ul li h4 {
  font-size: 15px;
  font-weight: 500;
}
.main-container.contact-page .contact-form h3 {
  background: url(../images/bg-widget-title.png) no-repeat left bottom;
  font-size: 20px;
  margin: 0 0 40px;
  padding-bottom: 15px;
  text-transform: uppercase;
  width: 100%;
}
.main-container.contact-page .wpcf7 {
  margin: 0 0 50px;
}
.main-container.contact-page .contact-input {
  display: block;
  margin: 0 -10px;
}
.main-container.contact-page .contact-input:after {
  clear: both;
  content: "";
  display: table;
}
.main-container.contact-page .contact-input span {
  float: left;
  margin: 0 0 20px;
  padding: 0 10px;
  width: 50%;
}
.main-container.contact-page .contact-input span.wpcf7-not-valid-tip {
  margin: 0;
}
.main-container.contact-page .contact-input span.your-subject {
  width: 100%;
}
.main-container.contact-page .contact-input span span {
  width: 100%;
}
.main-container.contact-page .contact-input span input,
.main-container.contact-page .contact-input span .wpcf7-text {
  background: none;
  border: 1px solid #e3e3e3;
  border-radius: 0;
  height: 46px;
  padding-left: 15px;
  width: 100%;
}
.main-container.contact-page .contact-message {
  float: left;
  margin: 0 0 20px;
  width: 100%;
}
.main-container.contact-page .contact-message span {
  float: left;
  width: 100%;
}
.main-container.contact-page .contact-message textarea,
.main-container.contact-page .contact-message .wpcf7-textarea {
  background: none;
  border: 1px solid #e3e3e3;
  border-radius: 0;
  height: 135px;
  padding: 15px;
  width: 100%;
}
.main-container.contact-page .wpcf7-submit {
  background: #DB6163;
  border-radius: 0;
  color: #fff;
  float: right;
  font-family: Raleway, Arial, Helvetica, sans-serif;
  font-size: 14px;
  font-weight: 700;
  height: 42px;
  line-height: 45px;
  padding: 0 36px;
  text-transform: uppercase;
  width: 100%;
  border: none;
  border-radius: 20px;
}
.main-container.contact-page .wpcf7-submit:hover {
  background: #999999;
}
.main-container.default-page blockquote {
  background: #e0e0e0;
  border: none;
  font-size: 14px;
  font-style: italic;
  margin: 20px 0;
  padding: 30px 45px;
}
.main-container.default-page .comments-area {
  clear: both;
  float: left;
  margin: 0 0 60px;
  width: 100%;
}
.main-container.default-page .comments-area .comments-title,
.main-container.default-page .comments-area .comment-reply-title {
  border-top: 1px solid #e5e5e5;
  font-size: 24px;
  margin: 0 0 50px;
  padding: 22px 0 0;
  text-transform: uppercase;
}
.main-container.default-page .comments-area .commentlist {
  margin: 0 0 60px;
  padding: 0;
}
.main-container.default-page .comments-area .commentlist li.comment {
  list-style: none;
}
.main-container.default-page .comments-area .commentlist li.comment article.comment {
  margin: 0 0 20px;
}
.main-container.default-page .comments-area .commentlist li.comment article.comment .comment-avatar {
  float: left;
}
.main-container.default-page .comments-area .commentlist li.comment article.comment .comment-info {
  border: 1px solid #ececec;
  border-radius: 3px;
  margin-left: 60px;
  padding: 10px;
  position: relative;
}
.main-container.default-page .comments-area .commentlist li.comment article.comment .comment-info :before {
  background: #fff;
  border-bottom: 1px solid #ececec;
  border-left: 1px solid #ececec;
  content: "";
  display: block;
  height: 10px;
  left: -5px;
  position: absolute;
  top: 10px;
  transform: rotate(45deg);
  width: 10px;
}
.main-container.default-page .comments-area .commentlist li.comment article.comment .comment-info .reply {
  display: inline-block;
  margin-left: 10px;
}
.main-container.default-page .comments-area .commentlist li.comment article.comment .comment-info .reply .comment-reply-link {
  color: #999;
}
.main-container.default-page .comments-area .commentlist li.comment article.comment .comment-info .reply .comment-reply-link:hover {
  color: #DB6163;
}
.main-container.default-page .comments-area .commentlist li.comment article.comment .comment-info .reply .comment-reply-link:after {
  content: "\f112";
  display: inline-block;
  font-family: FontAwesome;
  margin-left: 5px;
}
.main-container.default-page .comments-area .commentlist .comment-meta {
  color: #999999;
  font-size: 12px;
  line-height: 1;
  margin: 0 0 15px;
}
.main-container.default-page .comments-area .commentlist .comment-meta img {
  margin-right: 10px;
}
.main-container.default-page .comments-area .commentlist .comment-meta cite {
  margin-right: 10px;
}
.main-container.default-page .comments-area .commentlist .comment-content {
  color: #999999;
  font-size: 13px;
}
.main-container.default-page .comments-area .comment-respond {
  float: left;
  margin-top: 25px;
  width: 100%;
}
.main-container.default-page .comments-area .comment-form label {
  color: #999999;
  display: block;
}
.main-container.default-page .comments-area .comment-form .comment-notes,
.main-container.default-page .comments-area .comment-form .form-allowed-tags {
  color: #999999;
  font-size: 12px;
}
.main-container.default-page .comments-area .comment-form .comment-input {
  margin: 0 -10px;
}
.main-container.default-page .comments-area .comment-form .comment-form-author,
.main-container.default-page .comments-area .comment-form .comment-form-email,
.main-container.default-page .comments-area .comment-form .comment-form-url {
  float: left;
  padding: 0 10px;
  width: 33.3333%;
}
.main-container.default-page .comments-area .comment-form .comment-form-author input,
.main-container.default-page .comments-area .comment-form .comment-form-email input,
.main-container.default-page .comments-area .comment-form .comment-form-url input {
  width: 100%;
}
.main-container.default-page .comments-area .comment-form #comment {
  width: 100%;
  height: 130px;
}
.main-container.error404 {
  min-height: 200px;
  text-align: center;
  border-top: 1px solid #f0f0f0;
}
.main-container.error404 .search-form-wrapper {
  padding: 112px 0;
}
.main-container.error404 .search-form-wrapper h1 {
  font-size: 200px;
  line-height: 160px;
  font-weight: 300;
  color: #DB6163;
}
.main-container.error404 .search-form-wrapper h2 {
  color: #222222;
  font-size: 35px;
  text-transform: uppercase;
}
.main-container.error404 .search-form-wrapper p {
  font-size: 22px;
  width: 60%;
  text-align: center;
  margin: 20px auto 30px;
  font-weight: 300;
  color: #151515;
}
.main-container.error404 .search-form-wrapper .form-input {
  margin: 0 auto;
  position: relative;
  height: 45px;
  background: #f8f8f8;
  width: 450px;
  border-radius: 30px;
  border: 1px solid #e9e9e9;
}
.main-container.error404 .search-form-wrapper .form-input .input_text {
  height: 100%;
  width: 100%;
  background: none;
  border: 0;
  padding-left: 20px;
  padding-right: 80px;
}
.main-container.error404 .search-form-wrapper .form-input .button {
  position: absolute;
  right: 0;
  top: 0;
  height: 100%;
  width: 50px;
  border: 0;
  background: none;
  color: #4f4f4f;
  font-size: 18px;
}
.main-container.error404 .search-form-wrapper .form-input .button:hover {
  color: #DB6163;
}
.main-container.error404 .search-form-wrapper a.button {
  background: #DB6163;
  border-radius: 35px;
  box-shadow: none;
  color: #fff;
  display: inline-block;
  font-family: Josefin Sans, Arial, Helvetica, sans-serif;
  font-size: 12px;
  font-weight: bold;
  height: 40px;
  line-height: 40px;
  padding: 0 30px;
  text-shadow: none;
  text-transform: uppercase;
  white-space: nowrap;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  margin-top: 60px;
}
.main-container.error404 .search-form-wrapper a.button:hover {
  background: #d2373a;
}
