@-moz-keyframes rotate {
  0% {
    -webkit-transform: rotateY(0deg);
    -moz-transform: rotateY(0deg);
    transform: rotateY(0deg);
  }
  50% {
    -webkit-transform: rotateY(180deg);
    -moz-transform: rotateY(180deg);
    transform: rotateY(180deg);
  }
  100% {
    -webkit-transform: rotateY(0deg);
    -moz-transform: rotateY(0deg);
    transform: rotateY(0deg);
  }
}
@-webkit-keyframes rotate {
  0% {
    -webkit-transform: rotateY(0deg);
    -moz-transform: rotateY(0deg);
    transform: rotateY(0deg);
  }
  50% {
    -webkit-transform: rotateY(180deg);
    -moz-transform: rotateY(180deg);
    transform: rotateY(180deg);
  }
  100% {
    -webkit-transform: rotateY(0deg);
    -moz-transform: rotateY(0deg);
    transform: rotateY(0deg);
  }
}
@keyframes rotate {
  0% {
    -webkit-transform: rotateY(0deg);
    -moz-transform: rotateY(0deg);
    transform: rotateY(0deg);
  }
  50% {
    -webkit-transform: rotateY(180deg);
    -moz-transform: rotateY(180deg);
    transform: rotateY(180deg);
  }
  100% {
    -webkit-transform: rotateY(0deg);
    -moz-transform: rotateY(0deg);
    transform: rotateY(0deg);
  }
}
body {
  overflow-x: hidden;
  color: #888888;
  font-family: Poppins, Arial, Helvetica, sans-serif;
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  line-height: 29px;
  visibility: visible;
}
::selection {
  background: #91b2c3;
  color: #ffffff;
}
::-moz-selection {
  background: #91b2c3;
  color: #ffffff;
}
a {
  color: #999999;
  -webkit-transition: all 0.4s ease 0s;
  transition: all 0.4s ease 0s;
}
a:hover {
  color: #3ACF87;
  text-decoration: none;
}
a:focus {
  color: #3ACF87;
  outline: none;
  text-decoration: none;
}
a:active {
  color: #3ACF87;
}
img {
  max-width: 100%;
  height: auto;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  color: #444444;
  font-family: Open Sans, Arial, Helvetica, sans-serif;
  font-weight: 700;
  line-height: 1.35;
  margin: 0 0 5px;
}
big {
  font-size: 125%;
}
dd {
  margin-bottom: 24px;
}
ul,
ol {
  padding-left: 15px;
}
ul {
  list-style: disc;
}
ol {
  list-style: decimal;
}
li > ul,
li > ol {
  margin: 0 0 0 20px;
}
table {
  border-collapse: separate;
  border-color: #e5e5e5;
  border-spacing: 0;
  border-style: solid;
  border-width: 1px 0 0 1px;
  margin-bottom: 24px;
  width: 100%;
}
table th,
table td {
  border-bottom: 1px solid #e5e5e5;
  border-right: 1px solid #e5e5e5;
  padding: 10px;
}
caption {
  padding: 10px;
}
