@-moz-keyframes rotate {
  0% {
    -webkit-transform: rotateY(0deg);
    -moz-transform: rotateY(0deg);
    transform: rotateY(0deg);
  }
  50% {
    -webkit-transform: rotateY(180deg);
    -moz-transform: rotateY(180deg);
    transform: rotateY(180deg);
  }
  100% {
    -webkit-transform: rotateY(0deg);
    -moz-transform: rotateY(0deg);
    transform: rotateY(0deg);
  }
}
@-webkit-keyframes rotate {
  0% {
    -webkit-transform: rotateY(0deg);
    -moz-transform: rotateY(0deg);
    transform: rotateY(0deg);
  }
  50% {
    -webkit-transform: rotateY(180deg);
    -moz-transform: rotateY(180deg);
    transform: rotateY(180deg);
  }
  100% {
    -webkit-transform: rotateY(0deg);
    -moz-transform: rotateY(0deg);
    transform: rotateY(0deg);
  }
}
@keyframes rotate {
  0% {
    -webkit-transform: rotateY(0deg);
    -moz-transform: rotateY(0deg);
    transform: rotateY(0deg);
  }
  50% {
    -webkit-transform: rotateY(180deg);
    -moz-transform: rotateY(180deg);
    transform: rotateY(180deg);
  }
  100% {
    -webkit-transform: rotateY(0deg);
    -moz-transform: rotateY(0deg);
    transform: rotateY(0deg);
  }
}
.visible-large {
  display: block;
}
.visible-small {
  display: none;
}
@media screen and (max-width: 1199px) {
  .front-page .vc_row {
    margin-left: 0;
    margin-right: 0;
  }
  .front-page .vc_row .row-container {
    max-width: 970px;
  }
  .front-page .vc_row.full-width .row-container {
    max-width: 100%;
  }
}
@media screen and (min-width: 992px) and (max-width: 1199px) {
  .header-container .header .horizontal-menu #mega_main_menu_first > .menu_holder .menu_inner > ul > li > a.item_link {
    padding-left: 15px;
    padding-right: 15px;
  }
  .header-container .header .horizontal-menu #mega_main_menu_first > .menu_holder .menu_inner > ul > li > a.item_link .link_text {
    font-size: 13px;
  }
  .footer .widget_contact_us ul li {
    padding-left: 50px;
  }
}
@media screen and (max-width: 991px) {
  .front-page .vc_row .row-container {
    max-width: 750px;
  }
  .main-container {
    max-width: 100%;
    overflow: hidden;
  }
  .yith_magnifier_mousetrap {
    display: none;
  }
  .visible-large {
    display: none;
  }
  .visible-small {
    display: block;
  }
  .mobile-menu {
    background: #ed257a;
    float: left;
    height: 60px;
    position: relative;
    z-index: 6000;
    width: 100%;
    margin: 0 0 30px 0;
  }
  .mobile-menu .mbmenu-toggler {
    color: #fff;
    cursor: pointer;
    float: right;
    font-family: Neucha, Arial, Helvetica, sans-serif;
    font-size: 21px;
    font-weight: 400;
    height: 60px;
    line-height: 60px;
    padding: 0 12px;
    text-transform: uppercase;
    text-align: left;
    width: 100%;
  }
  .mobile-menu .mbmenu-toggler span.mbmenu-icon {
    display: block;
    float: right;
    margin-left: 5px;
    width: 22px;
  }
  .mobile-menu .mobile-menu-container {
    background: #fff;
    border-radius: 3px;
    box-shadow: 0 3px 5px rgba(0,0,0,0.6);
    float: left;
    height: 0;
    max-width: 100%;
    overflow: hidden;
    padding: 0 12px;
    -webkit-transition: all 0.5s ease;
    transition: all 0.5s ease;
    position: absolute;
    left: 0;
    top: 60px;
  }
  .mobile-menu .mobile-menu-container.open {
    display: block;
  }
  .mobile-menu .mobile-menu-container ul.nav-menu {
    float: left;
    margin: 5px 0;
    padding: 0;
    width: 100%;
  }
  .mobile-menu .mobile-menu-container ul.nav-menu > li {
    float: left;
    list-style: none;
    position: relative;
    width: 100%;
  }
  .mobile-menu .mobile-menu-container ul.nav-menu > li > a {
    border-top: 1px solid #e5e5e5;
    color: #999999;
    display: block;
    float: left;
    font-size: 16px;
    height: 40px;
    line-height: 40px;
    text-transform: uppercase;
    width: 100%;
  }
  .mobile-menu .mobile-menu-container ul.nav-menu > li > a:hover {
    color: #ed257a;
  }
  .mobile-menu .mobile-menu-container ul.nav-menu > li:first-child a {
    border-top: none;
  }
  .mobile-menu .mobile-menu-container ul.nav-menu > li .fa {
    color: #999999;
    cursor: pointer;
    float: right;
    height: 40px;
    line-height: 40px;
    position: absolute;
    right: 0;
    text-align: center;
    top: 0;
    width: 40px;
    z-index: 2;
  }
  .mobile-menu .mobile-menu-container ul.nav-menu > li .fa:hover {
    color: #ed257a;
  }
  .mobile-menu .mobile-menu-container ul.nav-menu > li > ul.sub-menu > li > a {
    color: #999999;
  }
  .mobile-menu .mobile-menu-container ul.nav-menu > li > ul.sub-menu > li > a:hover {
    color: #ed257a;
  }
  .mobile-menu .mobile-menu-container ul.nav-menu > li ul.sub-menu {
    float: left;
    margin: 0;
    padding: 0 0 0 10px;
    width: 100%;
  }
  .mobile-menu .mobile-menu-container ul.nav-menu > li ul.sub-menu li {
    float: left;
    list-style: none;
    position: relative;
    width: 100%;
  }
  .mobile-menu .mobile-menu-container ul.nav-menu > li ul.sub-menu li a {
    border-top: 1px solid #ddd;
    color: #999999;
    display: block;
    float: left;
    font-family: Neucha, Arial, Helvetica, sans-serif;
    height: 40px;
    line-height: 40px;
    width: 100%;
  }
  .main-container #archive-product .shop-products .item-col.first {
    clear: none;
  }
  .main-container #archive-product .shop-products .item-col:nth-of-type(3n+1) {
    clear: both;
  }
  .single-product {
    margin-top: 30px;
  }
  .header-container .content-header {
    padding-top: 0;
  }
  .header-container .logo-wrap .global-table {
    height: auto;
  }
  .footer .footer-col {
    margin-bottom: 50px;
  }
  .footer .widget-title,
  .footer .widgettitle {
    margin-bottom: 15px;
  }
  .footer .footer-main {
    padding-bottom: 0;
  }
  .about-page .about-intro {
    padding-left: 15px !important;
  }
  .about-page .about-skill {
    padding-bottom: 0 !important;
  }
  .about-page .about-skill .wpb_column {
    margin-bottom: 40px;
  }
  .about-page .about-team .wpb_text_column {
    margin-bottom: 40px !important;
  }
  .main-container .blog-page.single .relatedposts .relatedthumb {
    margin-bottom: 40px;
  }
  .main-container.error404 .search-form-wrapper {
    padding: 80px 0;
  }
  .main-container.error404 .search-form-wrapper h1 {
    font-size: 100px;
    line-height: 100px;
  }
  .main-container.error404 .search-form-wrapper h2 {
    font-size: 20px;
  }
  .main-container.error404 .search-form-wrapper p {
    font-size: 16px;
  }
  .main-container.error404 .search-form-wrapper .form-input {
    width: 300px;
  }
  .main-container.error404 .search-form-wrapper a.button {
    margin-top: 40px;
  }
  .latest-posts2 .post-info .post-meta .post-author {
    margin-right: 30px;
  }
  .header-container.layout2 {
    position: static;
  }
}
@media screen and (min-widtH: 768px) and (max-width: 991px) {
  .box-policy .box-inner .icon {
    margin: 0 auto 15px auto;
    float: none;
  }
  .box-policy .box-inner .text {
    text-align: center;
  }
}
@media screen and (max-width: 767px) {
  .front-page .vc_row {
    margin-left: 0;
    margin-right: 0;
  }
  .front-page .vc_row .row-container {
    padding: 0;
  }
  .global-table {
    display: block;
  }
  .global-table .global-row {
    display: block;
  }
  .global-table .global-row .global-cell {
    display: block;
  }
  .title-breadcrumb h1 {
    font-size: 28px;
  }
  .wrapper .slick-slider button {
    display: none !important;
  }
  .box-banner {
    margin-bottom: 15px;
  }
  .box-banner:last-child {
    margin-bottom: 0;
  }
  .box-banner .vc_column-inner {
    padding: 0 15px !important;
  }
  .box-banner .wpb_single_image .wpb_wrapper {
    width: 100%;
  }
  .box-banner .wpb_single_image .wpb_wrapper a,
  .box-banner .wpb_single_image .wpb_wrapper img {
    width: 100%;
  }
  .quickview-wrapper #quickview-content .product-images {
    width: 100%;
  }
  .quickview-wrapper #quickview-content .product-info {
    margin: 30px 0 0;
    padding-left: 0;
    width: 100%;
  }
  .main-container.contact-page .contact-input span {
    width: 100% !important;
  }
  .main-container.contact-page .contact-desc .wpb_text_column {
    padding: 0;
  }
  .main-container.contact-page .contact-desc .wpb_text_column h2 {
    font-size: 40px !important;
  }
  .main-container .product-view .product .woocommerce-tabs ul.tabs {
    width: 100%;
  }
  .main-container .product-view .product .woocommerce-tabs ul.tabs li {
    padding: 0 15px;
  }
  .main-container .product-view .product .woocommerce-tabs ul.tabs li:after {
    display: none;
  }
  .main-container .product-view .product .woocommerce-tabs ul.tabs li:hover a,
  .main-container .product-view .product .woocommerce-tabs ul.tabs li.active a {
    border: none;
  }
  .main-container .product-view .product .woocommerce-tabs .panel {
    width: 100%;
  }
  .main-container .blog-page .post .post-thumbnail {
    width: 100%;
    margin-bottom: 30px;
  }
  .main-container .blog-page .post .post-thumbnail img {
    width: 100%;
  }
  .main-container .blog-page .post .postinfo-wrapper {
    padding: 20px 0 0 0;
    width: 100%;
  }
  .main-container .blog-page.single .postinfo-wrapper {
    padding: 0;
  }
  .main-container .blog-page.single .comments-area {
    max-width: 100%;
    padding: 40px 0;
  }
  .main-container .blog-page.blog-nosidebar .post-thumbnail {
    width: 100%;
  }
  .main-container .blog-page.blog-nosidebar .postinfo-wrapper {
    padding: 0;
    width: 100%;
  }
  .main-container .page-content .entry-content .shop_table th {
    font-size: 14px;
    padding: 10px 5px;
  }
  .main-container .page-content .entry-content .shop_table .product-stock-status {
    display: none;
  }
  .main-container .page-content .entry-content .shop_table td.product-name a {
    margin-left: 0;
  }
  .main-container .page-content.blog-page .comments-area .comment-form .comment-form-author,
  .main-container .page-content.blog-page .comments-area .comment-form .comment-form-email,
  .main-container .page-content.blog-page .comments-area .comment-form .comment-form-url {
    width: 100%;
  }
  .main-container .vc_column_container {
    float: left;
    width: 100%;
  }
  .main-container .policy {
    padding-bottom: 20px !important;
  }
  .box-policy {
    text-align: left;
    padding: 0 60px;
    margin-bottom: 30px !important;
  }
  .box-policy .box-inner .text {
    margin-top: 8px;
    max-width: 100%;
  }
  .footer .footer-col {
    margin-bottom: 35px;
  }
  .footer .widget_contact_us ul li {
    min-height: 45px;
  }
  .footer .widget_contact_us ul li.address p {
    line-height: 33px;
  }
  .latest-posts2 {
    margin-top: 60px;
  }
  .static-block-4 .static-block-box .static-button a {
    padding: 0 20px;
    margin-right: 10px;
  }
  .static-block-4 .static-block-box .static-button a:last-child {
    padding: 0 20px;
  }
}
@media screen and (max-width: 639px) {
  .header-container .logo-wrap {
    float: none;
    margin-top: 30px;
    text-align: center;
  }
  .header-container .logo-wrap .logo {
    display: inline-block;
    float: none;
  }
  .header-container .content-header {
    float: none;
    padding: 0;
    text-align: center;
  }
  .header-container .content-header .header-search,
  .header-container .content-header .widget_shopping_cart,
  .header-container .content-header .vmenu-toggler {
    float: none;
    display: inline-block;
  }
  .header-container .content-header .widget_shopping_cart_content,
  .header-container .content-header .search-icon,
  .header-container .content-header .vmenu-toggler-button {
    padding-left: 33px;
    padding-right: 33px;
  }
  .header-container .widget.widget_product_search {
    left: 0;
    right: auto;
  }
  .header-container .widget.widget_product_search #searchform #ws {
    width: 265px;
  }
  .header-container .widget_shopping_cart .widget_shopping_cart_content .mini_cart_content {
    left: 50px;
    right: auto;
    -webkit-transform: translate(-50%);
    -moz-transform: translate(-50%);
    transform: translate(-50%);
  }
  .header-container .vmenu-toggler .vmenu-content {
    text-align: left;
  }
  .main-container .home-tabs .home-tabs-title li {
    margin: 0 0 5px 0;
    width: 100%;
    text-align: center;
  }
  .main-container .home-tabs .home-tabs-title li:last-child {
    margin: 0;
  }
  .main-container .home-tabs.layout3 .home-tabs-title li {
    text-align: left;
    margin-bottom: 15px;
  }
  .main-container .home-tabs.layout3 .home-tabs-title li:last-child {
    margin: 0;
  }
  .box-policy .box-inner .icon {
    float: none;
    margin: 0;
    text-align: center;
  }
  .box-policy .box-inner .text {
    text-align: center;
  }
  .widget_wysija_cont .widget_wysija .wysija-paragraph {
    float: none;
  }
  .widget_wysija_cont .widget_wysija .wysija-paragraph input {
    width: 280px;
    margin-bottom: 20px;
  }
  .widget_wysija_cont .widget_wysija .wysija-submit {
    margin: 0;
  }
  .footer .footer-bottom .widget-copyright,
  .footer .footer-bottom .widget-payment {
    float: none;
    text-align: center;
  }
  .footer .footer-bottom .widget-copyright {
    line-height: 25px;
    margin-bottom: 15px;
  }
  .static-block-4 .static-block-box {
    padding: 30px 20px;
  }
  .static-block-4 .static-block-box a {
    margin: 0 0 15px 0;
  }
}
@media screen and (max-width: 479px) {
  .quickview-wrapper #quickview-content .product-info .quick-add-to-cart .cart .quantity {
    margin-bottom: 10px;
    margin-right: 10px;
  }
  .quickview-wrapper #quickview-content .product-info .quick-add-to-cart .cart .button {
    margin-bottom: 10px;
    padding: 0 20px;
  }
  .quickview-wrapper #quickview-content .widget_socialsharing_widget ul.social-icons li {
    margin-bottom: 9px;
  }
  .widget_wysija_cont .widget_wysija .wysija-submit {
    margin: 0;
  }
  .latest-posts2 .post-thumb {
    width: 100%;
    padding: 0;
    margin-bottom: 25px;
  }
  .latest-posts2 .post-info {
    width: 100%;
  }
}
