/*
 Theme Name:   Toucan Blue - a Bachas child theme
 Theme URI:    http://demo.roadthemes.com/bachas/
 Description:  Toucan Blue - a Bachas child theme
 Author:       Ash Bryant
 Author URI:   http://ashbryant.com
 Template:     bachas
 Version:      1.0.0
 License:      GNU General Public License v2 or later
 License URI:  http://www.gnu.org/licenses/gpl-2.0.html
 Tags:         light, dark, two-columns, right-sidebar, responsive-layout, accessibility-ready
 Text Domain:  toucanblue
*/

#secondary a.show-hide {
  border-radius: 0;
}

#secondary a.show-hide.active {
  margin-bottom: 15px;
  border-radius: 0;
}

/* For MOBILES */
@media screen and (max-width: 639px) {
    .main-container.front-page {
        margin-top: 268px;
    }
}


/* For TABLETS */
@media screen and (min-width: 426px) {
    .main-container.front-page {
        margin-top: 167px;
    }
}


/* For DESKTOPS */
@media screen and (min-width: 1024px) {
    .main-container.front-page {
        margin-top: 0;
    }

    #secondary .show-hide {
      display: none !important;
    }
    #secondary .widget {
      display: block !important;
    }
}




/* FORMS */
.gform_wrapper input:hover,
.gform_wrapper input:focus
.gform_wrapper input:active {
  border: 2px solid #ed257a
}



.gform_wrapper input[type=email],
.gform_wrapper input[type=number],
.gform_wrapper input[type=tel]{
  background: #f2f2f2;
  border: none;
  border-radius: 0;
  height: 32px;
  max-width: 100%;
}

#gform_wrapper_2 input[type=email] {
  width: 100% !important;
}

#gform_wrapper_2 .gform_footer.top_label {
  text-align: center;
}
